{% load humanize %}
<!-- Header -->
<div class="card-header">
    <span class="js-notas-filtro">
        NOTAS PENDENTE
    </span>
    <input type="hidden" class="js-tipo-sort" value="reduzida">
</div>
<!-- Body -->
<div class="card-body">
    <div id="reduzida-exist"></div>
    <div class="card-body-item">
        <div class="div-flex
        font-menor">
            <!-- Orderner por nota -->
            <i class="bi bi-file-text
            i-button
            js-sort-notas"
            data-idcliente="{{ idcliente }}"
            data-sort="NumeroNota"
            title="Ordernar por nota">
                <span>NOTA</span>
            </i>
            <!-- Orderner por emitente -->
            <i class="bi bi-pencil
            i-button
            js-sort-notas"
            data-idcliente="{{ idcliente }}"
            data-sort="Emitente"
            title="Ordernar por emitente">
                <span>EMITENTE</span>
            </i>
            <!-- Orderner por destinatário -->
            <i class="bi bi-shop
            i-button
            js-sort-notas"
            data-idcliente="{{ idcliente }}"
            data-sort="Destinatario"
            title="Ordernar por destinatário">
                <span>DESTINATARIO</span>
            </i>
            <!-- Orderner por endereço -->
            <i class="bi bi-geo
            i-button
            js-sort-notas"
            data-idcliente="{{ idcliente }}"
            data-sort="Endereco"
            title="Ordernar por endereço">
                <span>ENDEREÇO</span>
            </i>
            <!-- Orderner por bairro -->
            <i class="bi bi-geo
            i-button
            js-sort-notas"
            data-idcliente="{{ idcliente }}"
            data-sort="Bairro"
            title="Ordernar por bairro">
                <span>BAIRRO</span>
            </i>
            <!-- Orderner por CEP -->
            <i class="bi bi-geo
            i-button
            js-sort-notas"
            data-idcliente="{{ idcliente }}"
            data-sort="CEP"
            title="Ordernar por CEP">
                <span>CEP</span>
            </i>
            <!-- Orderner por cidade -->
            <i class="bi bi-geo
            i-button
            js-sort-notas"
            data-idcliente="{{ idcliente }}"
            data-sort="Cidade"
            title="Ordernar por cidade">
                <span>CIDADE</span>
            </i>
            <!-- Orderner por estado -->
            <i class="bi bi-geo
            i-button
            js-sort-notas"
            data-idcliente="{{ idcliente }}"
            data-sort="Estado"
            title="Ordernar por estado">
                <span>ESTADO</span>
            </i>
            <!-- Orderner por status da nota -->
            <i class="bi bi-trash
            i-button
            js-sort-notas"
            data-idcliente="{{ idcliente }}"
            data-sort="-StatusNota"
            title="Ordernar por status da nota">
                <span>STATUS</span>
            </i>
        </div>
    </div>
    {% for nota in notas %}
    <div class="card-body-item">
        <div class="input-group">
            <div class="input-group-addon
            addon-my-color">
                {% if nota.statusnota == "NOTA CADASTRADA" %}
                    <i class="i-button
                    js-nota-pendente"
                    data-idnotaclientes="{{ nota.id_nota_clientes }}"
                    title="Número Nota">
                        {{ forloop.counter|stringformat:".2d" }}
                    </i>
                {% else %}
                    <i class="i-button-null">
                        {{ forloop.counter|stringformat:".2d" }}
                    </i>
                {% endif %}
            </div>
            <div class="input-fake
            div-flex
            div-direction-column
            font-menor-2
            linhas-3"
            id="nota-{{ nota.id_nota_clientes }}">
                <div class="div-flex">
                    <i class="bi bi-file-text
                    i-button-null
                    tamanho-15
                    text-left"
                    title="Número Nota">
                        <span>
                            {{ nota.numero_nota }}
                        </span>
                    </i>
                    <i class="bi bi-currency-dollar
                    i-button-null
                    tamanho-15
                    text-left"
                    title="Valor">
                        <span>
                            {{ nota.valor }}
                        </span>
                    </i>
                    <i class="bi bi-truck-flatbed
                    i-button-null
                    tamanho-15
                    text-left"
                    title="Peso">
                        <span>
                            {{ nota.peso }}
                        </span>
                    </i>
                    <i class="bi bi-grid-fill
                    i-button-null
                    tamanho-10
                    text-left"
                    title="Volume">
                        <span>
                            {{ nota.volume }}
                        </span>
                    </i>
                    <div class="tamanho-10 text-left">
                        {% if nota.romaneio %}
                        <i class="bi bi-list-check
                        i-button
                        tamanho-35
                        js-seleciona-romaneio"
                        data-idromaneio="{{ nota.romaneio.0.idRomaneio.idRomaneio }}"
                        data-idcliente="{{ idcliente }}"
                        title="Número Romaneio">
                            <span>
                                {{ nota.romaneio.0.idRomaneio.Romaneio|stringformat:"05d" }}
                            </span>
                        </i>
                        {% endif %}
                    </div>
                    <div class="tamanho-40 text-left">
                        {% if nota.romaneio %}
                        <i class="bi bi-calendar
                        i-button-null
                        tamanho-35
                        js-seleciona-romaneio"
                        title="Número Romaneio">
                            <span>
                                {{ nota.romaneio.0.idRomaneio.DataRomaneio }}
                            </span>
                        </i>
                        {% endif %}
                    </div>
                </div>
                <div class="div-flex">
                    <i class="bi bi-pencil
                    i-button-null
                    tamanho-25
                    text-left"
                    title="Emitente: {{ nota.emitente }}">
                        <span>
                            {{ nota.emitente_curto|slice:"0:16" }}
                        </span>
                    </i>
                    <i class="bi bi-geo-alt
                    i-button-null
                    tamanho-75
                    text-left"
                    title="Endereço Emitente: {{ nota.endereco_compl_emi }}">
                        <span>
                            {{ nota.endereco_compl_emi|slice:"0:60" }}
                        </span>
                    </i>
                </div>
                <div class="div-flex">
                    <i class="bi bi-shop
                    i-button-null
                    tamanho-25
                    text-left"
                    title="Destinatario: {{ nota.destinatario }}">
                        <span>
                            {{ nota.destinatario_curto|slice:"0:16" }}
                        </span>
                    </i>
                    <i class="bi bi-geo-alt
                    i-button-null
                    tamanho-75
                    text-left"
                    title="Endereço Destinatario: {{ nota.endereco_compl }}">
                        <span>
                            {{ nota.endereco_compl|slice:"0:60" }}
                        </span>
                    </i>
                </div>
            </div>
            <div class="input-group-addon
            addon-my-color addon-larger">
                <!-- Botão ocorrencia -->
                <i class="bi bi-folder i-button
                js-ocorrencia-notas-cliente" title="Seleciona Nota"
                data-idnota={{ nota.id_nota_clientes }}
                data-idcliente={{ nota.idcliente }}></i>
                <!-- Botão edita nota -->
                <i class="bi bi-pencil-square i-button
                js-edita-notas-cliente" title="Edita Nota"
                data-idnota={{ nota.id_nota_clientes }}
                data-idcliente={{ nota.idcliente }}></i>
                <!-- Botão exclui nota -->
                {% if nota.statusnota == "NOTA CADASTRADA" or nota.statusnota == "PENDENTE" %}
                    <i class="bi bi-trash
                    i-button
                    js-exclui-notas-cliente"
                    title="Exclui Nota"
                    data-idnota={{ nota.id_nota_clientes }}
                    data-idcliente={{ nota.idcliente }}></i>
                {% endif %}
                <!-- Botão adiciona nota no romaneio aberto -->
                {% if nota.statusnota == "PENDENTE" or nota.statusnota == "RECUSADA" %}
                    <i class="bi bi-check-square
                    i-button
                    js-adiciona-nota-romaneio"
                    title="Adiciona no Romaneio"
                    data-idnota={{ nota.id_nota_clientes }}
                    data-idcliente={{ nota.idcliente }}></i>
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>
<!-- Footer -->
<div class="card-footer">
    <div class="div-flex">
        {% if notas %}
            <div class="botoes">
                <a class="bi bi-printer i-button js-print-relatorio"
                href="{% url 'imprime_notas_status' %}?StatusNota={{ sort_status }}&idCliente={{ idcliente }}"
                title="Imprime Romaneio" target="_blank"></a>
                <i class="bi bi-cursor i-button js-envia-telegram-relatorio"
                data-idcliente="{{ idcliente }}" title="Envia Relatorio no Telegram"></i>
            </div>
            <div class="peso">
                <span><b></b>PESO: {{ peso_total|intcomma }} kg</span>
            </div>
            <div class="quantidade">
                {% for nota in notas %}
                {% if forloop.last %}
                <span><b>{{ forloop.counter|stringformat:"02d" }} NOTA{{ forloop.counter|pluralize|upper }}</b></span>
                {% endif %}
                {% endfor %}
            </div>
        {% endif %}
    </div>
</div>