<form class="js-gera-romaneios" method="post" action="">
    {% csrf_token %}
    <!-- Header -->
    <div class="card-header">
        <span>
            ROMANEIO
        </span>
        <i class="bi bi-chevron-down i-button js-mostra-oculta-form-romaneio"></i>
    </div>
    <div class="card-body js-mostra-form-romaneio">
        <div class="card-body-item">
            <div class="input-group">
                <div class="input-group-addon
                addon-my-color"
                title="DATA DO ROMANEIO">
                    <i class="bi bi-calendar
                    i-button-null"></i>
                </div>
                <div>
                    {% if romaneio %}
                        <input type="date"
                        class="form-control
                        form-control-minuta"
                        id="data_romaneio"
                        name="data_romaneio"
                        value="{{ romaneio.DataRomaneio }}" />
                    {% else %}
                        <input type="date"
                        class="form-control
                        form-control-minuta"
                        id="data_romaneio"
                        name="data_romaneio"
                        value="{{ hoje }}" />
                    {% endif %}
                </div>
                <div class="input-group-addon
                addon-my-color">
                    <i class="icofont-keyboard
                    i-button-null"></i>
                </div>
            </div>
        </div>
        <div class="card-body-item">
            <div class="input-group">
                <div class="input-group-addon
                addon-my-color"
                title="MOTORISTA">
                    <i class="bi bi-person-square
                    i-button-null"></i>
                </div>
                <div>
                    <select class="form-control
                    form-control-minuta"
                    id="motorista"
                    name="motorista">
                        <option value="">
                            SELECIONE O MOTORISTA
                        </option>
                        {% for moto in motoristas %}
                            <option value="{{ moto.idPessoal }}">
                                {{ moto.Nome }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
                <div class="input-group-addon
                addon-my-color">
                    <i class="icofont-keyboard
                    i-button-null"></i>
                </div>
            </div>
        </div>
        <div class="card-body-item">
            <div class="input-group">
                <div class="input-group-addon
                addon-my-color"
                title="VEÍCULO">
                    <i class="bi bi-truck
                    i-button-null"></i>
                </div>
                <div>
                    <select class="form-control
                    form-control-minuta"
                    id="veiculo"
                    name="veiculo">
                        <option value="Ol">
                            SELECIONE O VEÍCULO
                        </option>
                        {% for veic in veiculos %}
                            <option value="{{ veic.idVeiculo }}">
                                {{ veic.Veiculo }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
                <div class="input-group-addon
                addon-my-color">
                    <i class="icofont-keyboard
                    i-button-null"></i>
                </div>
            </div>
        </div>
        <input type="hidden" name="idRomaneio" value="{{ romaneio.idromaneio }}">
        <input type="hidden" name="idCliente" value="{{ idcliente }}">
    </div>
    <div class="card-footer">
        <button class="bi bi-save2
        i-button
        js-mostra-form-romaneio"
        title="Salva Romaneio"></button>
    </div>
</form>