<form class="js-gera-romaneios" method="post" action="">
    {% csrf_token %}
    <div class="article-card-titulo">
        <i class="bi bi-plus-circle i-button js-mostra-body-romaneio"></i>
        <i class="bi bi-dash-circle i-button js-oculta-body-romaneio"></i>
        <span class="titulo-retrai-card">ROMANEIO</span>
    </div>
    <div class="article-card-body body-romaneio">
        <div class="item-romaneio">
            <div class="item-form">
                <div class="button" title="DATA DO ROMANEIO">
                    <i class="bi bi-calendar i-button-null"></i>
                </div>
                <div class="item-field">
                    <input class="form-control" type="date"
                    value="{{ hoje }}" id="data_romaneio" name="data_romaneio">
                </div>
            </div>
            <div class="item-form">
                <div class="button" title="MOTORISTA">
                    <i class="bi bi-person-square i-button-null"></i>
                </div>
                <div class="item-field">
                    <select class="form-control" id="motorista" name="motorista">
                        <option value="SEM MOTORISTA">SELECIONE O MOTORISTA</option>
                        {% for moto in motoristas %}
                        <option value="{{ moto.idPessoal }}">{{ moto.Nome }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="item-form">
                <div class="button" title="VEÍCULO">
                    <i class="bi bi-truck i-button-null"></i>
                </div>
                <div class="item-field">
                    <select class="form-control" id="veiculo" name="veiculo">
                        <option value="SEM VEICULO">SELECIONE O VEÍCULO</option>
                        {% for veic in veiculos %}
                        <option value="{{ veic.idVeiculo }}">{{ veic.Veiculo }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="article-card-footer">
        <button class="bi bi-save2 i-button body-romaneio"></button>
    </div>
</form>