{% load humanize %}
<div class="card-header">
    <span>
        OCORRÊNCIAS
    </span>
</div>
<form class="js-gera-ocorrencia" method="post" action="">
{% csrf_token %}
    <div class="card-body">
        {% for nota in notas %}
            <div class="card-body-item">
                <div class="input-group">
                    <div class="input-group-addon
                    addon-my-color">
                        <i class="bi bi-file-text
                        i-button-null"></i>
                    </div>
                    <div class="input-fake
                    div-flex
                    div-direction-column
                    font-menor-2
                    linhas-3"
                    id="nota-{{ nota.id_nota_clientes }}">
                        <div class="div-flex">
                            <i class="bi bi-file-text
                            i-button-null
                            tamanho-15
                            text-left"
                            title="Número Nota">
                                <span>
                                    {{ nota.numero_nota }}
                                </span>
                            </i>
                            <i class="bi bi-currency-dollar
                            i-button-null
                            tamanho-15
                            text-left"
                            title="Valor">
                                <span>
                                    {{ nota.valor }}
                                </span>
                            </i>
                            <i class="bi bi-truck-flatbed
                            i-button-null
                            tamanho-15
                            text-left"
                            title="Peso">
                                <span>
                                    {{ nota.peso }}
                                </span>
                            </i>
                            <i class="bi bi-grid-fill
                            i-button-null
                            tamanho-10
                            text-left"
                            title="Volume">
                                <span>
                                    {{ nota.volume }}
                                </span>
                            </i>
                            <div class="tamanho-50 text-left">
                                {% if nota.romaneio_numero %}
                                <i class="bi bi-file-text
                                i-button-null
                                tamanho-35"
                                title="Número Romaneio">
                                    <span>
                                        {{ nota.romaneio_numero|stringformat:"05d" }}
                                    </span>
                                </i>
                                {% endif %}
                            </div>
                        </div>
                        <div class="div-flex">
                            <i class="bi bi-pencil
                            i-button-null
                            tamanho-25
                            text-left"
                            title="Emitente: {{ nota.emitente }}">
                                <span>
                                    {{ nota.emitente_curto|slice:"0:16" }}
                                </span>
                            </i>
                            <i class="bi bi-geo-alt
                            i-button-null
                            tamanho-75
                            text-left"
                            title="Endereço Emitente: {{ nota.endereco_compl_emi }}">
                                <span>
                                    {{ nota.endereco_compl_emi|slice:"0:60" }}
                                </span>
                            </i>
                        </div>
                        <div class="div-flex">
                            <i class="bi bi-shop
                            i-button-null
                            tamanho-25
                            text-left"
                            title="Destinatario: {{ nota.destinatario }}">
                                <span>
                                    {{ nota.destinatario_curto|slice:"0:16" }}
                                </span>
                            </i>
                            <i class="bi bi-geo-alt
                            i-button-null
                            tamanho-75
                            text-left"
                            title="Endereço Destinatario: {{ nota.endereco_compl }}">
                                <span>
                                    {{ nota.endereco_compl|slice:"0:60" }}
                                </span>
                            </i>
                        </div>
                        {% if nota.informa %}
                        <div class="div-flex">
                            <i class="bi bi-info-square
                            i-button-null
                            tamanho-100
                            text-left"
                            title="Informações">
                                <span>
                                    {{ nota.informa }}
                                </span>
                            </i>
                        </div>
                        {% endif %}
                        <div class="div-flex">
                            <i class="bi bi-exclamation-circle
                            i-button-null
                            tamanho-100
                            text-center"
                            title="Status da Nota">
                                <span>
                                    {{ nota.statusnota }}
                                </span>
                            </i>
                        </div>
                    </div>
                    <div class="input-group-addon
                    addon-my-color addon-larger">
                        <!-- Botão retorna -->
                        <i class="bi bi-arrow-left-circle i-button
                        js-retorna-lista-notas" title="Retorna Lista"
                        data-idnota={{ nota.id_nota_clientes }}
                        data-idcliente={{ nota.idcliente }}></i>
                    </div>
                </div>
            </div>
        {% endfor %}
        {% for ocorrencia in ocorrencias %}
            <div class="card-body-item">
                <div class="input-group">
                    <div class="input-group-addon
                    addon-my-color">
                        <i class="i-button-null">
                            {{ forloop.counter|stringformat:".2d" }}
                        </i>
                    </div>
                    <div class="input-fake
                    div-flex
                    div-direction-column
                    font-menor-2
                    fundo-destaque
                    linhas-3"
                    id="nota-{{ nota.id_nota_clientes }}">
                        <div class="div-flex">
                            <span>
                                {{ ocorrencia.data_ocorrencia }}
                            </span>
                            <span>
                                {{ ocorrencia.tipo_ocorrencia }}
                            </span>
                        </div>
                        <div class="div-flex">
                            <span>
                                {{ ocorrencia.ocorrencia}}
                            </span>
                        </div>
                        <div class="div-flex">
                            <span>
                                {{ ocorrencia.id_nota_clientes}}
                            </span>
                        </div>
                        <i class="bi bi-" data-idnotasocorrencia="{{ ocorrencia.id_notas_ocorrencia }}"></i> 
                    </div>
                    <div class="input-group-addon
                    addon-my-color addon-larger">
                        <!-- Botão delete ocorrência -->
                        {% if forloop.last %}
                            <i class="bi bi-x-circle
                            i-button
                            js-exclui-ocorrencia"
                            title="Exclui ocorrência"
                            data-idnotasocorrencia="{{ ocorrencia.id_notas_ocorrencia }}"
                            data-idnota="{{ ocorrencia.id_notas_clientes }}"></i>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
        <div class="linha-divisoria-nova"></div>
        <div class="card-body-item">
            <div class="input-group">
                <div class="input-group-addon
                addon-my-color"
                title="DATA DA OCORRÊNCIA">
                    <i class="bi bi-calendar
                    i-button-null"></i>
                </div>
                <div>
                    {% if nota_form %}
                        <input type="date"
                        class="form-control
                        form-control-minuta"
                        name="data_ocorrencia"
                        value="{{ ocorrencia_form.data_ocorrencia }}" />
                    {% else %}
                        <input type="date"
                        class="form-control
                        form-control-minuta"
                        name="data_ocorrencia"
                        value="{{ hoje }}" />
                    {% endif %}
                </div>
                <div class="input-group-addon
                addon-my-color">
                    <i class="bi bi-check
                    i-button-null"></i>
                </div>
            </div>
        </div>
        <div class="card-body-item">
            <div class="input-group">
                <div class="input-group-addon
                addon-my-color"
                title="TIPO OCORRÊNCIA">
                    <i class="bi bi-calendar
                    i-button-null"></i>
                </div>
                <div>
                    {% if nota_form %}
                        <select class="form-control
                        form-control-minuta"
                        id="tipo_ocorrencia"
                        name="tipo_ocorrencia">
                            <option value="">
                                SELECIONA TIPO OCORRÊNCIA
                            </option>
                            <option value="COLETA CANCELADA">
                                ARMAZENAGEM
                            </option>
                            <option value="COLETA CANCELADA">
                                COLETA CANCELADA
                            </option>
                            <option value="COLETADA">
                                COLETADA
                            </option>
                            <option value="DEVOLVIDA NO CLIENTE">
                                DEVOLVIDA NO CLIENTE
                            </option>
                            <option value="ENTREGUE">
                                ENTREGUE
                            </option>
                            <option value="ENTREGUE NO CLIENTE">
                                ENTREGUE NO CLIENTE
                            </option>
                            <option value="NÃO COLETADA">
                                NÃO COLETADA
                            </option>
                            <option value="RECUSADA">
                                RECUSADA
                            </option>
                        </select>
                    {% else %}
                        <select class="form-control
                        form-control-minuta"
                        id="tipo_ocorrencia"
                        name="tipo_ocorrencia">
                            <option value="">
                                SELECIONA TIPO OCORRÊNCIA
                            </option>
                            <option value="COLETA CANCELADA">
                                ARMAZENAGEM
                            </option>
                            <option value="COLETA CANCELADA">
                                COLETA CANCELADA
                            </option>
                            <option value="COLETADA">
                                COLETADA
                            </option>
                            <option value="DEVOLVIDA NO CLIENTE">
                                DEVOLVIDA NO CLIENTE
                            </option>
                            <option value="ENTREGUE">
                                ENTREGUE
                            </option>
                            <option value="ENTREGUE NO CLIENTE">
                                ENTREGUE NO CLIENTE
                            </option>
                            <option value="NÃO COLETADA">
                                NÃO COLETADA
                            </option>
                            <option value="RECUSADA">
                                RECUSADA
                            </option>
                        </select>
                    {% endif %}
                </div>
                <div class="input-group-addon
                addon-my-color">
                    <i class="bi bi-check
                    i-button-null"></i>
                </div>
                <input class="form-control" type="hidden"
                name="data_agendada" value={{ hoje }}>
            </div>
        </div>
        <div class="card-body-item">
            <div class="input-group">
                <div class="input-group-addon
                addon-my-color"
                title="DESCRIÇÃO DA OCORRÊNCIA">
                    <i class="bi bi-calendar
                    i-button-null"></i>
                </div>
                <div>
                    {% if ocorrencia_form %}
                        <textarea class="form-control
                        form-control-minuta"
                        id="ocorrencia"
                        name="ocorrencia"
                        cols="40" rows="3">
                            {{ ocorrencia_form.ocorrencia }}
                        </textarea>
                    {% else %}
                        <textarea class="form-control
                        form-control-minuta"
                        id="ocorrencia"
                        name="ocorrencia"
                        placeholder="DESCRIÇÃO DA OCORRÊNCIA"
                        cols="40" rows="3"></textarea>
                    {% endif %}
                </div>
                <div class="input-group-addon
                addon-my-color">
                    <i class="bi bi-check
                    i-button-null"></i>
                </div>
            </div>
        </div>
        <input type="hidden"
        name="id_nota_clientes"
        value="{{ id_nota }}">
        <input type="hidden"
        id="idcliente"
        name="idcliente"
        value="{{ idcliente }}">
    </div>
    <div class="card-footer">
        <div class="div-flex">
            {% if ocorrencias %}
                {% if not statusnota == "ENTREGUE" %}
                    <button class="bi bi-save2 i-button"></button>
                {% else %}
                    <div></div>
                {% endif %}
                {% for ocorrencia in ocorrencias %}
                    {% if forloop.last %}
                        <span>
                            <b>
                                {{ forloop.counter|stringformat:"02d" }} OCORRÊNCIA{{ forloop.counter|pluralize|upper }}
                            </b>
                        </span>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </div>
    </div>
</form>
