<!-- Header -->
<div class="card-header">
    <span>QUANTIDADES</span>
</div>
<!-- Body -->
<div class="card-body">
    <div class="card-body-item">
        <div class="input-group">
            <div class="input-group-addon
            addon-my-color">
                <i class="bi bi-file-text
                i-button-null"></i>
            </div>
            <div>
                <span class="form-control input-fake">
                    EM ROTA
                </span>
            </div>
            <div class="input-group-addon
            addon-my-color">
                <span>
                    {{ rotas|stringformat:".3d" }}
                </span>
            </div>
        </div>
    </div>
    <div class="card-body-item">
        <div class="input-group">
            <div class="input-group-addon
            addon-my-color">
                <i class="bi bi-file-text
                i-button-null"></i>
            </div>
            <div>
                <span class="form-control input-fake">
                    NOTAS CADASTRADAS
                </span>
            </div>
            <div class="input-group-addon
            addon-my-color">
                <span>
                    {{ cadastrada|stringformat:".3d" }}
                </span>
            </div>
        </div>
    </div>
    <div class="card-body-item">
        <div class="input-group">
            <div class="input-group-addon
            addon-my-color">
                <i class="bi bi-file-text
                i-button-null"></i>
            </div>
            <div>
                <span class="form-control input-fake">
                    PENDENTE
                </span>
            </div>
            <div class="input-group-addon
            addon-my-color">
                <span>
                    {{ pendente|stringformat:".3d" }}
                </span>
            </div>
        </div>
    </div>
    <div class="card-body-item">
        <div class="input-group">
            <div class="input-group-addon
            addon-my-color">
                <i class="bi bi-file-text
                i-button-null"></i>
            </div>
            <div>
                <span class="form-control input-fake">
                    RECUSADA
                </span>
            </div>
            <div class="input-group-addon
            addon-my-color">
                <span>
                    {{ recusada|stringformat:".3d" }}
                </span>
            </div>
        </div>
    </div>
    <div class="card-body-item">
        <div class="input-group">
            <div class="input-group-addon
            addon-my-color">
                <i class="bi bi-file-text
                i-button-null"></i>
            </div>
            <div>
                <span class="form-control input-fake">
                    COLETADA
                </span>
            </div>
            <div class="input-group-addon
            addon-my-color">
                <span>
                    {{ coletada|stringformat:".3d" }}
                </span>
            </div>
        </div>
    </div>
</div>
<!-- Footer -->
<div class="article-card-footer"></div>