{% load humanize %}
<div class="article-card-titulo">
    <span>ROMANEIO</span>
</div>
<div class="article-card-body">
    {% for rom in romaneios %} {% if forloop.first %}
    <div class="borda-top"></div>
    {% endif %}
    <div class="item-romaneio">
        <input type="hidden" id="id_romaneio" value="{{ rom.idromaneio }}">
        <div class="item-numero" title="Número Romaneio">
            <i class="bi bi-file-text i-button-null"></i> {{ rom.romaneio }}
        </div>
        <div class="item-data" title="Data do Romaneio">
            <i class="bi bi-calendar i-button-null"></i> {{ rom.data_romaneio }}
        </div>
    </div>
    <div class="item-romaneio">
        <div class="item-motorista" title="Motorista">
            {% if rom.motorista %}
            <i class="bi bi-building i-button-null"></i> {{ rom.apelido }}
            {% endif %}
        </div>
        <div class="item-veiculo" title="Veiculo">
            {% if rom.veiculo %}
            <i class="bi bi-truck i-button-null"></i> {{ rom.veiculo }}
            {% endif %}
        </div>
    </div>
    <div class="item-romaneio">
        <div class="item-button">
            <i class="bi bi-arrow-left-circle i-button
            js-retorna-lista-romaneio" title="Lista de Romaneios"></i>
            <a class="bi bi-printer i-button" title="Imprime Romaneio"
            href="{% url 'imprime_romaneio' %}?idRomaneio={{ rom.idromaneio }}&idCliente={{ idcliente }}"
            target="_blank"></a>
            {% if arquivo %}
            <i class="bi bi-cursor i-button
            js-envia-telegram-romaneio" data-romaneio="{{ rom.romaneio }}"
            title="Envia Romaneio no Telegram"></i>
            {% endif %}
        </div>
    </div>
    {% endfor %}
    {% for nr in notas_romaneio %}
    <input type="hidden" id="id_cliente" value="{{ nr.idnotasclientes.idCliente_id }}">
    <div class="item-nr {% cycle 'linha-p' 'linha-i' %}">
        <div class="item-numero-nota" title="Numero da Nota">
            <i class="bi bi-file-text i-button-null"></i> {{ nr.idnotasclientes.NumeroNota }}
        </div>
    </div>
    <div class="item-nr {% cycle 'linha-p' 'linha-i' %}">
        <div class="item-destinatario" title="Destinatario">
            <i class="bi bi-shop i-button-null"></i> {{ nr.idnotasclientes.Destinatario|slice:"0:32" }}
        </div>
    </div>
    <div class="item-nr {% cycle 'linha-p' 'linha-i' %}">
        <div class="item-endereco" title="Endereço">
            <i class="bi bi-geo-alt i-button-null"></i> {{ nr.idnotasclientes.Endereco|slice:"0:32" }}
        </div>
    </div>
    <div class="item-nr {% cycle 'linha-p' 'linha-i' %}">
        <div class="item-endereco-compl" title="Bairro-Cidade">
            <i class="bi bi-geo-alt i-button-null"></i> {{ nr.idnotasclientes.Bairro|slice:"0:18" }} - {{ nr.idnotasclientes.Cidade }}
        </div>
    </div>
    <div class="item-nr {% cycle 'linha-p' 'linha-i' %}">
        <div class="item-endereco-compl" title="Bairro-Cidade">
            <i class="bi bi-exclamation-circle i-button-null"></i> {{ nr.idnotasclientes.StatusNota }}
        </div>
    </div>
    <div class="item-nr {% cycle 'linha-p' 'linha-i' %}">
        <div class="item-button">
            <i class="bi bi-folder i-button
            js-ocorrencia-notas-cliente" title="Seleciona Nota"
            data-idnota={{ nr.idnotasclientes.idNotasClientes }}
            data-idcliente={{ nr.idnotasclientes.idCliente_id }}></i>
            <i class="bi bi-trash i-button js-exclui-nota-romaneio"
            data-idnota={{ nr.idnotasclientes.idNotasClientes }}
            title="Remove Nota do Romaneio"
            data-idromaneionotas="{{ nr.idromaneionotas }}"></i>
        </div>
    </div>
    {% endfor %}
</div>
<div class="article-card-footer">
    {% for rom in notas_romaneio %}
    {% if forloop.last %}
    <span><b>{{ forloop.counter|stringformat:"02d" }} ENTREGA{{ forloop.counter|pluralize|upper }}</b></span>
    {% endif %}
    {% endfor %}
</div>