{% load humanize %}
<form class="js-gera-notas-cliente" method="post" action="">
    {% csrf_token %}
    <div class="article-card-titulo">
        <span>{{ cliente }}</span>
    </div>
    <div class="article-card-body">
        <div class="item-nota">
            <div class="item-form">
                <div class="button" title="LOCAL DE COLETA">
                    <i class="bi bi-building i-button-null"></i>
                </div>
                <div class="item-field">
                    <select class="form-control js-cliente"
                    name="localcoleta" id="localcoleta">
                        <option value="0">SELECIONE LOCAL COLETA</option>
                        {% if notas_form %}
                            {% if despesa.categoria == categoria.idcategoria %}
                            <option value="{{ cliente.idcliente }}" selected>
                                {{ cliente.fantasia }}
                            </option>
                            {% else %}
                            <option value="{{ cliente.idcliente }}">
                                {{ cliente.fantasia }}
                            </option>
                            {% endif %}
                        {% else %}
                            <option value={{ cliente }}>
                                {{ cliente }}
                            </option>
                            <option value="DESTINATÁRIO">
                                DESTINATÁRIO
                            </option>
                        {% endif %}
                    </select>
                </div>
            </div>
            <div class="item-form">
                {% if erro_local_coleta %}
                <div class="error">
                    <span>{{ erro_local_coleta }}<span>
                </div>
                {% endif %}
            </div>



            <div class="item-form">
                <div class="button" title="DATA DA COLETA">
                    <i class="bi bi-calendar i-button-null"></i>
                </div>
                <div class="item-field">
                    {% if nota_form %}
                    <input class="form-control" type="date"
                    name="datacoleta" value={{ nota_form.data_coleta }}>
                    {% else %}
                    <input class="form-control" type="date"
                    name="datacoleta" value={{ hoje }}>
                    {% endif %}
                </div>
            </div>
            <div class="item-form">
                {% if erro_datacoleta %}
                <div class="error">
                    <span>{{ erro_datacoleta }}<span>
                </div>
                {% endif %}
            </div>
            <div class="item-form">
                <div class="button" title="NÚMERO DA NOTA">
                    <i class="bi bi-file-text i-button-null"></i>
                </div>
                <div class="item-field">
                    {% if nota_form %}
                    <input class="form-control" type="text"
                    name="numeronota" placeholder="NÚMERO DA NOTA"
                    value="{{ nota_form.numero_nota }}">
                    {% else %}
                    <input class="form-control" type="text"
                    name="numeronota" placeholder="NÚMERO DA NOTA">
                    {% endif %}
                </div>
            </div>
            <div class="item-form">
                {% if error_numeronota %}
                <div class="error">
                    <span>{{ error_numeronota }}<span>
                </div>
                {% endif %}
            </div>
            <div class="item-form">
                <div class="button" title="LOCAL DA ENTREGA">
                    <i class="bi bi-shop i-button-null"></i>
                </div>
                <div class="item-field">
                    {% if nota_form %}
                    <input class="form-control" type="text"
                    name="destinatario" placeholder="DESTINATÁRIO"
                    value="{{ nota_form.numero_nota }}">
                    {% else %}
                    <input class="form-control" type="text"
                    name="destinatario" placeholder="DESTINATÁRIO">
                    {% endif %}
                </div>
            </div>
            <div class="item-form">
                {% if error_destinatario %}
                <div class="error">
                    <span>{{ error_destinatario }}<span>
                </div>
                {% endif %}
            </div>
            <div class="item-form">
                <div class="button" title="ENDEREÇO DA ENTREGA">
                    <i class="bi bi-geo-alt-fill i-button-null"></i>
                </div>
                <div class="item-field">
                    {% if nota_form %}
                    <input class="form-control" type="text"
                    name="endereco" placeholder="ENDEREÇO"
                    value="{{ nota_form.endereco }}">
                    {% else %}
                    <input class="form-control" type="text"
                    name="endereco" placeholder="ENDEREÇO">
                    {% endif %}
                </div>
            </div>
            <div class="item-form">
                {% if error_endereco %}
                <div class="error">
                    <span>{{ error_endereco }}<span>
                </div>
                {% endif %}
            </div>
            <div class="item-form">
                <div class="button" title="CEP DA ENTREGA">
                    <i class="bi bi-geo-alt-fill i-button-null"></i>
                </div>
                <div class="item-field">
                    {% if nota_form %}
                    <input class="form-control" type="text" maxlength="8"
                    name="cep" placeholder="CEP"
                    value="{{ nota_form.cep }}">
                    {% else %}
                    <input class="form-control" type="text" maxlength="8"
                    name="cep" placeholder="CEP">
                    {% endif %}
                </div>
            </div>
            <div class="item-form">
                {% if error_cep %}
                <div class="error">
                    <span>{{ error_cep }}<span>
                </div>
                {% endif %}
            </div>
            <div class="item-form">
                <div class="button" title="BAIRRO DA ENTREGA">
                    <i class="bi bi-geo-alt-fill i-button-null"></i>
                </div>
                <div class="item-field">
                    {% if nota_form %}
                    <input class="form-control" type="text"
                    name="bairro" placeholder="BAIRRO"
                    value="{{ nota_form.bairro }}">
                    {% else %}
                    <input class="form-control" type="text"
                    name="bairro" placeholder="BAIRRO">
                    {% endif %}
                </div>
            </div>
            <div class="item-form">
                {% if error_bairro %}
                <div class="error">
                    <span>{{ error_bairro }}<span>
                </div>
                {% endif %}
            </div>
            <div class="item-form">
                <div class="button" title="CIDADE DA ENTREGA">
                    <i class="bi bi-geo-alt-fill i-button-null"></i>
                </div>
                <div class="item-field">
                    {% if nota_form %}
                    <input class="form-control" type="text"
                    name="cidade" value="SÃO PAULO"
                    value="{{ nota_form.cidade }}">
                    {% else %}
                    <input class="form-control" type="text"
                    name="cidade" value="SÃO PAULO">
                    {% endif %}
                </div>
            </div>
            <div class="item-form">
                {% if error_cidade %}
                <div class="error">
                    <span>{{ error_cidade }}<span>
                </div>
                {% endif %}
            </div>
            <div class="item-form">
                <div class="button" title="ESTADO DA ENTREGA">
                    <i class="bi bi-geo-alt-fill i-button-null"></i>
                </div>
                <div class="item-field">
                    {% if nota_form %}
                    <input class="form-control" type="text"
                    name="estado" value="{{ nota_form.estado }}">
                    {% else %}
                    <input class="form-control" type="text"
                    name="estado" value="SP">
                    {% endif %}
                </div>
            </div>
            <div class="item-form">
                {% if error_estado %}
                <div class="error">
                    <span>{{ error_estado }}<span>
                </div>
                {% endif %}
            </div>
            <div class="item-form">
                <div class="button" title="VOLUME">
                    <i class="bi bi-grid-fill i-button-null"></i>
                </div>
                <div class="item-field">
                    {% if nota_form %}
                    <input class="form-control" type="number"
                    name="volume" step="1.00" value="{{ nota_form.volume }}">
                    {% else %}
                    <input class="form-control" type="number"
                    name="volume" step="1.00" value="0">
                    {% endif %}
                </div>
            </div>
            <div class="item-form">
                {% if error_volume %}
                <div class="error">
                    <span>{{ error_volume }}<span>
                </div>
                {% endif %}
            </div>
            <div class="item-form">
                <div class="button" title="PESO">
                    <i class="bi bi-truck-flatbed i-button-null"></i>
                </div>
                <div class="item-field">
                    {% if nota_form %}
                    <input class="form-control" type="number"
                    name="peso" step="0.001" value="{{ nota_form.peso|intcomma }}">
                    {% else %}
                    <input class="form-control" type="number"
                    name="peso" step="0.001" value="0.00">
                    {% endif %}
                </div>
            </div>
            <div class="item-form">
                {% if error_peso %}
                <div class="error">
                    <span>{{ error_peso }}<span>
                </div>
                {% endif %}
            </div>
            <div class="item-form">
                <div class="button" title="VALOR">
                    <i class="bi bi-currency-dollar i-button-null"></i>
                </div>
                <div class="item-field">
                    {% if nota_form %}
                    <input class="form-control" type="number"
                    name="valor" step="0.01" value="{{ nota_form.valor|intcomma }}">
                    {% else %}
                    <input class="form-control" type="number"
                    name="valor" step="0.01" value="0.00">
                    {% endif %}
                </div>
            </div>
            <div class="item-form">
                {% if error_valor %}
                <div class="error">
                    <span>{{ error_valor }}<span>
                </div>
                {% endif %}
            </div>
            <input type="hidden" name="cliente" value="{{ idcliente }}">
    </div>
    <div class="article-card-footer">
        <button class="bi bi-save2 i-button"></button>
    </div>
</form>