<div class="article-card-titulo">
    <span>QUANTIDADES</span>
</div>
<div class="article-card-body">
    <div class="itens-quantidade">
        <div class="item-icon">
            <i class="bi bi-file-text i-button-null"></i>
        </div>
        <div class="item-status">
            <span>EM ROTA</span>
        </div>
        <div class="item-quantidade">
            <span>{{ rotas }}</span>
        </div>
    </div>
    <div class="itens-quantidade">
        <div class="item-icon">
            <i class="bi bi-file-text i-button-null"></i>
        </div>
        <div class="item-status">
            <span>NOTAS CADASTRADAS</span>
        </div>
        <div class="item-quantidade">
            <span>{{ cadastrada }}</span>
        </div>
    </div>
    <div class="itens-quantidade">
        <div class="item-icon">
            <i class="bi bi-file-text i-button-null"></i>
        </div>
        <div class="item-status">
            <span>PENDENTE</span>
        </div>
        <div class="item-quantidade">
            <span>{{ pendente }}</span>
        </div>
    </div>
    <div class="itens-quantidade">
        <div class="item-icon">
            <i class="bi bi-file-text i-button-null"></i>
        </div>
        <div class="item-status">
            <span>RECUSADA</span>
        </div>
        <div class="item-quantidade">
            <span>{{ recusada }}</span>
        </div>
    </div>
</div>
<div class="article-card-footer">

</div>