{% load humanize %}
{% load custom_filters %}
<!-- Card Header -->
<div class="card-header">
    <div class="input-group">
        <div class="input-group-addon addon-my-color">
            <i class="icofont-rounded-left-up"></i>
        </div>
        <div class="div-form-control">
    	    <span class="js-notas-filtro">NOTAS PENDENTE</span>
        </div>
        <input type="hidden" class="js-tipo-sort" value="reduzida">
        <div class="input-group-addon addon-my-color">
            <i class="icofont-rounded-right-up"></i>
        </div>
    </div>
</div>
<!-- Card Body -->
<div class="card-body">
    <div class="card-body-item">
        <div class="input-group">
            <div class="input-group-addon addon-my-color">
                <i class="icofont-check"></i>
            </div>
            <div class="div-flex div-form-control">
                <div class="tamanho-100 text-center">
                    <i class="icofont-file-document i-button menu-icones js-sort-notas"
                       data-idcliente="{{ idcliente }}"
                       data-sort="NumeroNota" title="ORDERNAR POR NÚMERO DA NOTA"></i>
                    <i class="icofont-calendar i-button menu-icones js-sort-notas"
                       data-idcliente="{{ idcliente }}"
                       data-sort="DataColeta" title="ORDERNAR POR DATA DA NOTA"></i>
                    <i class="icofont-pencil i-button menu-icones js-sort-notas"
                       data-idcliente="{{ idcliente }}"
                       data-sort="Emitente" title="ORDERNAR POR EMITENTE"></i>
                    <i class="icofont-building-alt i-button menu-icones js-sort-notas"
                       data-idcliente="{{ idcliente }}"
                       data-sort="Destinatario"
                       title="ORDERNAR POR DESTINÁTARIO"></i>
                    <i class="icofont-location-pin i-button menu-icones js-sort-notas"
                       data-idcliente="{{ idcliente }}"
                       data-sort="Endereco" title="ORDERNAR POR ENDEREÇO"></i>
                    <i class="icofont-location-pin i-button menu-icones js-sort-notas"
                       data-idcliente="{{ idcliente }}"
                       data-sort="Bairro" title="ORDERNAR POR BAIRRO"></i>
                    <i class="icofont-location-pin i-button menu-icones js-sort-notas"
                       data-idcliente="{{ idcliente }}"
                       data-sort="CEP" title="ORDERNAR POR CEP"></i>
                    <i class="icofont-flag i-button menu-icones js-sort-notas"
                       data-idcliente="{{ idcliente }}"
                       data-sort="Estado" title="ORDERNAR POR CIDADE"></i>
                    <i class="icofont-shield i-button menu-icones js-sort-notas"
                       data-idcliente="{{ idcliente }}"
                       data-sort="StatusNota" title="ORDERNAR POR STATUS DA NOTA"></i>
                </div>
            </div>
            <div class="input-group-addon addon-my-color">
                <i class="icofont-check"></i>
            </div>
        </div>
    </div>
    {% for nota in notas  %}
    <div class="card-body-item">
        <div class="input-group">
            <div class="input-group-addon addon-my-color">
                <i class="{% if nota.statusnota == "NOTA CADASTRADA" %}
                i-button js-nota-pendente{% else %}i-button-null{% endif %}"
                data-idnotaclientes="{{ nota.id_nota_clientes }}"
                >{{ forloop.counter|stringformat:".2d" }}</i>
            </div>
            <div class="div-flex div-form-control">
                <div class="tamanho-20 text-left">
                    <i class="icofont-file-document i-button-null"></i>
                    <span>{{ nota.numero_nota }}</span>
                </div>
                <div class="tamanho-20 text-left">
                    <i class="icofont-calendar i-button-null"></i>
                    <span>{{ nota.data_nota }}</span>
                </div>
                <div class="tamanho-20 text-left">
                    <i class="icofont-dollar i-button-null"></i>
                    <span>{{ nota.valor|formatar_numero:2 }}</span>
                </div>
                <div class="tamanho-20 text-left">
                    <i class="icofont-calendar i-button-null"></i>
                    <span>{{ nota.peso|formatar_numero:3 }} KG</span>
                </div>
                <div class="tamanho-20 text-left left">
                    <i class="icofont-box i-button-null"></i>
                    <span>{{ nota.volume }}</span>
                </div>
            </div>
            <div class="input-group-addon addon-my-color">
            {% if nota.statusnota in "PENDENTE RECUSADA DEVOLVIDA NO CLIENTE NOTA CADASTRADA" %}
                <i class="icofont-check i-button js-adiciona-nota-romaneio"
                   title="ADICIONAR NO ROMANEIO" data-idnota={{ nota.id_nota_clientes }}
                   data-idcliente={{ nota.idcliente }}></i>
                {% else %}
                <i class="icofont-check"></i>
                {% endif %}
            </div>
            <div class="input-group-addon addon-my-color">
                <i class="icofont-folder i-button js-ocorrencia-notas-cliente"
                   title="SELECIONAR NOTA" data-idnota={{ nota.id_nota_clientes }}
                   data-idcliente={{ nota.idcliente }}></i>
            </div>
        </div>
        <div class="input-group">
            <div class="input-group-addon addon-my-color">
                <i class="icofont-pencil i-button-null"></i>
            </div>
            <div class="div-flex div-form-control">
                <div class="tamanho-25 text-left font-menor">
                    <span>{{ nota.emitente_curto|slice:"0:16" }}</span>
                </div>
                <div class="tamanho-75 text-left font-menor">
                    <i class="icofont-location-pin i-button-null"></i>
                    <span>{{ nota.endereco_compl_emi|slice:"0:60" }}</span>
                </div>
            </div>
            <div class="input-group-addon addon-my-color">
                <i class="icofont-check"></i>
            </div>
            <div class="input-group-addon addon-my-color">
                <i class="icofont-edit i-button js-edita-notas-cliente"
                   title="EDITAR NOTA" data-idnota={{ nota.id_nota_clientes }}
                   data-idcliente={{ nota.idcliente }}></i>
            </div>
        </div>
        <div class="input-group">
            <div class="input-group-addon addon-my-color">
                <i class="icofont-building-alt i-button-null"></i>
            </div>
            <div class="div-flex div-form-control">
                <div class="tamanho-25 text-left font-menor">
                    <span>{{ nota.destinatario_curto|slice:"0:18" }}</span>
                </div>
                <div class="tamanho-75 text-left font-menor">
                    <i class="icofont-location-pin i-button-null"></i>
                    <span>{{ nota.endereco_compl|slice:"0:60" }}</span>
                </div>
            </div>
            <div class="input-group-addon addon-my-color">
                <i class="icofont-check"></i>
            </div>
            <div class="input-group-addon addon-my-color">
                {% if nota.statusnota == "NOTA CADASTRADA" or nota.statusnota == "PENDENTE" %}
                <i class="icofont-trash i-button js-exclui-notas-cliente"
                   title="EXCLUIR NOTA" data-idnota={{ nota.id_nota_clientes }}
                   data-idcliente={{ nota.idcliente }}></i>
                {% else %}
                <i class="icofont-check"></i>
                {% endif %}
            </div>
        </div>
        {% if nota.romaneio %}
        <div class="input-group">
            <div class="input-group-addon addon-my-color">
                <i class="icofont-check i-button-null"></i>
            </div>
            <div class="div-flex div-form-control">
                <div class="tamanho-10 text-left font-menor">
                    <i class="icofont-binary i-button-null"></i>
                    <span>{{ nota.romaneio.0.idRomaneio.Romaneio }}</span>
                </div>
                <div class="tamanho-15 text-left font-menor">
                    <i class="icofont-calendar i-button-null"></i>
                    <span>{{ nota.romaneio.0.idRomaneio.DataRomaneio }}</span>
                </div>
                <div class="tamanho-15 text-left font-menor">
                    <i class="icofont-truck i-button-null"></i>
                    <span>{{ nota.romaneio.0.idRomaneio.idVeiculo }}</span>
                </div>
                <div class="tamanho-60 text-left font-menor">
                    <i class="icofont-male i-button-null"></i>
                    <span>{{ nota.romaneio.0.idRomaneio.idMotorista }}</span>
                </div>
            </div>
            <div class="input-group-addon addon-my-color">
                <i class="icofont-check"></i>
            </div>
            <div class="input-group-addon addon-my-color">
                <i class="icofont-check"></i>
            </div>
        </div>
        {% endif %}
    </div>
    {% endfor %}
</div>
<!-- Card Footer -->
<div class="card-footer">
    <div class="input-group">
        <div class=" input-group-addon addon-my-color">
            <i class="icofont-rounded-left-down"></i>
        </div>
        <div class="div-flex div-form-control">
            <div class="tamanho-33 text-center">
                <a class="icofont-printer i-button js-print-relatorio menu-icones"
                href="{% url 'imprime_notas_status' %}?StatusNota={{ sort_status }}&idCliente={{ idcliente }}" title="IMPRIMIR RELAÇÂO" target="_blank"></a>
                <i class="icofont-telegram i-button js-envia-telegram-relatorio meni-icones"
                data-idcliente="{{ idcliente }}" title="ENVIAR RELAÇÃO NO TELEGRAM"></i>
            </div>
            <div class="tamanho-34 text-center font-menor">
                {% for nota in notas %}
                {% if forloop.last %}
                <span>{{ forloop.counter|stringformat:"02d" }} NOTA{{ forloop.counter|pluralize|upper }}</span>
                {% endif %}
                {% endfor %}
            </div>
            <div class="tamanho-33 text-right font-menor">
                <span>PESO: {{ peso_total|intcomma }} KG</span>
            </div>
        </div>
        <div class=" input-group-addon addon-my-color">
            <i class="icofont-rounded-right-down"></i>
        </div>
    </div>
</div>
