<div class="card-header">
    <span>CONSULTAS</span>
</div>
<div class="card-body">
    <div class="card-body-item">
        <div class="input-group">
            <div class="input-group-addon
            addon-my-color">
                <i class="bi bi-exclamation-circle
                i-button-null"></i>
            </div>
            <div>
                <select class="form-control
                form-control-minuta"
                id="select-status">
                    {% for status in status_nota %}
                    <option value="{{ status.StatusNota }}">
                        {{ status.StatusNota }}
                    </option>
                    {% endfor %}
                </select>
            </div>
            <div class="input-group-addon
            addon-my-color">
                <i class="bi bi-filter-circle i-button
                js-filtro-status"
                data-idcliente="{{ idcliente }}"></i>
            </div>
        </div>
    </div>
    <div class="card-body-item">
        <div class="input-group">
            <div class="input-group-addon
            addon-my-color">
                <i class="bi bi-file-text
                i-button-null"></i>
            </div>
            <div>
                <input type="text"
                class="form-control
                form-control-minuta
                filtra-nota"
                placeholder="BUSCA NOTA">
            </div>
            <div class="input-group-addon
            addon-my-color">
                <i class="bi bi-search
                i-button
                js-filtra-nota"></i>
            </div>
        </div>
    </div>
    <div class="card-body-item">
        <div class="input-group">
            <div class="input-group-addon
            addon-my-color">
                <i class="bi bi-list-check
                i-button-null"></i>
            </div>
            <div>
                <input type="text"
                class="form-control
                form-control-minuta
                filtra-romaneio"
                placeholder="BUSCA ROMANEIO">
            </div>
            <div class="input-group-addon
            addon-my-color">
                <i class="bi bi-search
                i-button
                js-filtra-romaneio"></i>
            </div>
        </div>
    </div>
    <div class="card-body-item">
        <div class="input-group">
            <div class="input-group-addon
            addon-my-color">
                <i class="bi bi-pencil
                i-button-null"></i>
            </div>
            <div>
                <input type="text"
                class="form-control
                form-control-minuta
                filtra-romaneio"
                placeholder="BUSCA EMITENTE">
            </div>
            <div class="input-group-addon
            addon-my-color">
                <i class="bi bi-search
                i-button
                js-filtra-emitente"></i>
            </div>
        </div>
    </div>-
    <div class="card-body-item">
        <div class="input-group">
            <div class="input-group-addon
            addon-my-color">
                <i class="bi bi-shop
                i-button-null"></i>
            </div>
            <div>
                <input type="text"
                class="form-control
                form-control-minuta
                filtra-romaneio"
                placeholder="BUSCA DESTINATÁRIO">
            </div>
            <div class="input-group-addon
            addon-my-color">
                <i class="bi bi-search
                i-button
                js-filtra-destinatario"></i>
            </div>
        </div>
    </div>
</div>
<div class="card-footer"></div>