<form class="js-gera-notas-cliente" method="post" action="">
    {% csrf_token %}
    <input type="hidden" id="filtro" name="filtro" value="">
    <div class="card-header">
        <span>
            {{ cliente }}
        </span>
        <i class="bi bi-chevron-down i-button js-mostra-oculta-form-nota"></i>
        <input type="hidden" id="id_cliente" value="{{ idcliente }}">
    </div>
    <div class="card-body">
        <div class="card-body-item js-mostra-form-nota">
            <!-- LOCAL DE COLETA -->
            <div class="input-group">
                <i class="bi bi-building
                input-group-addon
                addon-my-color
                i-button-null"
                title="LOCAL DE COLETA"></i>
                {% if nota_form %}
                <input type="hidden" name="idnota" value="{{ nota_form.id_nota_clientes }}"> {% endif %}
                <select class="form-control
                form-control-minuta js-cliente" name="localcoleta" id="localcoleta">
                    <option value="">SELECIONE LOCAL COLETA</option>
                    {% if nota_form %}
                        {% if nota_form.local_coleta == cliente %}
                        <option value="{{ cliente }}" selected>
                            {{ cliente }}
                        </option>
                        <option value="DESTINATÁRIO">
                            DESTINATÁRIO
                        </option>
                        {% else %}
                        <option value="{{ cliente }}">
                            {{ cliente }}
                        </option>
                        <option value="DESTINATÁRIO" selected>
                            DESTINATÁRIO
                        </option>
                        {% endif %}
                    {% else %}
                        <option value={{ cliente }}>
                            {{ cliente }}
                        </option>
                        <option value="DESTINATÁRIO">
                            DESTINATÁRIO
                        </option>
                    {% endif %}
                </select>
                <i class="bi bi-check
                input-group-addon
                addon-my-color
                i-button-null"
                ></i>
            </div>
            <!-- LOCAL DE COLETA - ERROR -->
            {% if erro_local_coleta %}
                <div class="error-form">
                    <span>
                        {{ erro_local_coleta }}
                    <span>
                </div>
            {% endif %}
            <!-- EMITENTE -->
            <div class="input-group">
                <i class="bi bi-pencil
                input-group-addon
                addon-my-color
                i-button-null"
                ></i>
                {% if nota_form %}
                    <input type="text"
                    class="form-control form-control--minuta"
                    id="emitente"
                    name="emitente"
                    placeholder="EMITENTE"
                    value="{{ nota_form.emitente }}"
                    list="emitentes" />
                {% else %}
                    <input type="text"
                    class="form-control form-control-minuta"
                    id="emitente"
                    name="emitente"
                    placeholder="EMITENTE"
                    list="emitentes" />
                {% endif %}
                <datalist id="emitentes">
                    {% for local in locais %}
                    <option value="{{ local }}">
                    {% endfor %}
                </datalist>
                <i class="bi bi-check
                input-group-addon
                addon-my-color
                i-button-null"
                ></i>
            </div>
            <!-- Endereço Emitente -->
            <div class="input-group">
                <i class="bi bi-geo-alt-fill
                input-group-addon
                addon-my-color
                i-button-null"
                ></i>
                {% if nota_form %}
                    <input class="form-control
                    form-control-minuta" type="text" name="endereco_emi"
                    list="enderecos" placeholder="ENDEREÇO"
                    id="endereco_emi" value="{{ nota_form.endereco_emi }}">
                    <datalist id="enderecos">
                        {% for ende in enderecos %}
                        <option value="{{ ende }}">
                        {% endfor %}
                    </datalist>
                {% else %}
                    <input class="form-control
                    form-control-minuta" type="text" name="endereco_emi"
                    list="enderecos" placeholder="ENDEREÇO"
                    id="endereco_emi">
                    <datalist id="enderecos">
                        {% for ende in enderecos %}
                        <option value="{{ ende }}">
                        {% endfor %}
                    </datalist>
                {% endif %}
                <i class="bi bi-check
                input-group-addon
                addon-my-color
                i-button-null"
                ></i>
            </div>
            <div class="item-form">
                {% if error_endereco_emi %}
                <div class="error">
                    <span>{{ error_endereco_emi }}<span>
                </div>
                {% endif %}
            </div>
            <!-- CEP Emitente -->
            <div class="input-group">
                <i class="bi bi-geo-alt-fill
                input-group-addon
                addon-my-color
                i-button-null"
                ></i>
                {% if nota_form %}
                    <input class="form-control
                    form-control-minuta" type="text" maxlength="8"
                    name="cep_emi" placeholder="CEP"
                    id="cep_emi" value="{{ nota_form.cep_emi }}">
                {% else %}
                    <input class="form-control
                    form-control-minuta" type="text" maxlength="8"
                    name="cep_emi" placeholder="CEP" id="cep_emi">
                {% endif %}
                <i class="bi bi-check
                input-group-addon
                addon-my-color
                i-button-null"
                ></i>
            </div>
            <div class="item-form">
                {% if error_cep_emi %}
                <div class="error">
                    <span>{{ error_cep_emi }}<span>
                </div>
                {% endif %}
            </div>
            <!-- Bairro Emitente -->
            <div class="input-group">
                <i class="bi bi-geo-alt-fill
                input-group-addon
                addon-my-color
                i-button-null"
                ></i>
                {% if nota_form %}
                    <input class="form-control
                    form-control-minuta" type="text" name="bairro_emi"
                    list="bairros" placeholder="BAIRRO"
                    id="bairro_emi" value="{{ nota_form.bairro_emi }}">
                    <datalist id="bairros">
                        {% for bairro in bairros %}
                        <option value="{{ bairro }}">
                        {% endfor %}
                    </datalist>
                {% else %}
                    <input class="form-control
                    form-control-minuta" type="text" name="bairro_emi"
                    list="bairros" placeholder="BAIRRO" id="bairro_emi">
                    <datalist id="bairros">
                        {% for bairro in bairros %}
                        <option value="{{ bairro }}">
                        {% endfor %}
                    </datalist>
                {% endif %}
                <i class="bi bi-check
                input-group-addon
                addon-my-color
                i-button-null"
                ></i>
            </div>
            <div class="item-form">
                {% if error_bairro_emi %}
                <div class="error">
                    <span>{{ error_bairro_emi }}<span>
                </div>
                {% endif %}
            </div>
            <!-- Cidade Emitente -->
            <div class="input-group">
                <i class="bi bi-geo-alt-fill
                input-group-addon
                addon-my-color
                i-button-null"
                ></i>
                {% if nota_form %}
                    <input class="form-control
                    form-control-minuta" type="text"
                    name="cidade_emi" value="SÃO PAULO"
                    id="cidade_emi" value="{{ nota_form.cidade_emi }}">
                {% else %}
                    <input class="form-control
                    form-control-minuta" type="text"
                    name="cidade_emi" value="SÃO PAULO" id="cidade_emi">
                {% endif %}
                <i class="bi bi-check
                input-group-addon
                addon-my-color
                i-button-null"
                ></i>
            </div>
            <div class="item-form">
                {% if error_cidade_emi %}
                <div class="error">
                    <span>{{ error_cidade_emi }}<span>
                </div>
                {% endif %}
            </div>
            <!-- Estado Emitente -->
            <div class="input-group">
                <i class="bi bi-geo-alt-fill
                input-group-addon
                addon-my-color
                i-button-null"
                ></i>
                {% if nota_form %}
                    <input class="form-control
                    form-control-minuta" type="text"
                    name="estado_emi" value="{{ nota_form.estado_emi }}"
                    id="estado_emi">
                {% else %}
                    <input class="form-control
                    form-control-minuta" type="text"
                    name="estado_emi" value="SP" id="estado_emi">
                {% endif %}
                <i class="bi bi-check
                input-group-addon
                addon-my-color
                i-button-null"
                ></i>
            </div>
            <div class="item-form">
                {% if error_estado_emi %}
                <div class="error">
                    <span>{{ error_estado_emi }}<span>
                </div>
                {% endif %}
            </div>
            <!-- Data da nota -->
            <div class="input-group">
                <i class="bi bi-calendar
                input-group-addon
                addon-my-color
                i-button-null"
                ></i>
                {% if nota_form %}
                    <input class="form-control form-control-minuta" type="date"
                    name="datanota" id="datanota"
                    value={{ nota_form.data_nota }}>
                {% else %}
                    <input class="form-control form-control-minuta" type="date"
                    name="datanota" id="datanota"
                    value={{ hoje }}>
                {% endif %}
                <i class="bi bi-check
                input-group-addon
                addon-my-color
                i-button-null"
                ></i>
            </div>
            {% if erro_datacoleta %}
                <div class="error-form">
                    <span>
                        {{ erro_datacoleta }}
                    <span>
                </div>
            {% endif %}

            <div class="input-group">
                <i class="bi bi-file-earmark-binary
                input-group-addon
                addon-my-color
                i-button-null"
                ></i>
                {% if nota_form %}
                    <input class="form-control
                    form-control-minuta"
                    type="text"
                    name="serienota"
                    placeholder="SÉRIE DA NOTA"
                    id="serienota"
                    value="{{ nota_form.serie_nota }}">
                {% else %}
                    <input class="form-control
                    form-control-minuta"
                    type="text"
                    name="serienota"
                    placeholder="SÉRIE DA NOTA"
                    id="serienota">
                {% endif %}
                <i class="bi bi-check
                input-group-addon
                addon-my-color
                i-button-null"
                ></i>
            </div>
            {% if error_serienota %}
                <div class="error">
                    <span>
                        {{ error_serienota }}
                    <span>
                </div>
            {% endif %}
            <div class="input-group">
                <i class="bi bi-file-text
                input-group-addon
                addon-my-color
                i-button-null"
                ></i>
                {% if nota_form %}
                    <input class="form-control
                    form-control-minuta" type="text"
                    name="numeronota" placeholder="NÚMERO DA NOTA"
                    id="numeronota" value="{{ nota_form.numero_nota }}">
                {% else %}
                    <input class="form-control
                    form-control-minuta" type="text"
                    name="numeronota" placeholder="NÚMERO DA NOTA"
                    id="numeronota">
                {% endif %}
                <i class="bi bi-check
                input-group-addon
                addon-my-color
                i-button-null"
                ></i>
            </div>
            {% if error_numeronota %}
                <div class="error">
                    <span>{{ error_numeronota }}<span>
                </div>
            {% endif %}
            <div class="input-group">
                <i class="bi bi-shop
                input-group-addon
                addon-my-color
                i-button-null"
                ></i>
                {% if nota_form %}
                    <input class="form-control
                    form-control-minuta" type="text" name="destinatario"
                    placeholder="DESTINATÁRIO" list="destinatarios"
                    id="destinatario" value="{{ nota_form.destinatario }}" />
                {% else %}
                    <input class="form-control
                    form-control-minuta" type="text" name="destinatario"
                    placeholder="DESTINATÁRIO" list="destinatarios"
                    id="destinatario" />
                {% endif %}
                <datalist id="destinatarios">
                    {% for local in locais %}
                    <option value="{{ local }}">
                    {% endfor %}
                </datalist>
                <i class="bi bi-check
                input-group-addon
                addon-my-color
                i-button-null"
                ></i>
            </div>
            <div class="item-form">
                {% if error_destinatario %}
                <div class="error">
                    <span>{{ error_destinatario }}<span>
                </div>
                {% endif %}
            </div>
            <div class="input-group">
                <i class="bi bi-window
                input-group-addon
                addon-my-color
                i-button-null"
                ></i>
                {% if nota_form %}
                    <input class="form-control
                    form-control-minuta" type="text" name="cnpj"
                    placeholder="CNPJ" id="cnpj" value="{{ nota_form.cnpj }}">
                {% else %}
                    <input class="form-control
                    form-control-minuta" type="text" name="cnpj"
                    placeholder="CNPJ" id="cnpj">
                {% endif %}
                <i class="bi bi-check
                input-group-addon
                addon-my-color
                i-button-null"
                ></i>
            </div>
            <div class="item-form">
                {% if error_cnpj %}
                <div class="error">
                    <span>{{ error_cnpj }}<span>
                </div>
                {% endif %}
            </div>
            <div class="input-group">
                <i class="bi bi-geo-alt-fill
                input-group-addon
                addon-my-color
                i-button-null"
                ></i>
                {% if nota_form %}
                    <input class="form-control
                    form-control-minuta" type="text" name="endereco"
                    list="enderecos" placeholder="ENDEREÇO"
                    id="endereco" value="{{ nota_form.endereco }}">
                    <datalist id="enderecos">
                        {% for ende in enderecos %}
                        <option value="{{ ende }}">
                        {% endfor %}
                    </datalist>
                {% else %}
                    <input class="form-control
                    form-control-minuta" type="text" name="endereco"
                    list="enderecos" placeholder="ENDEREÇO"
                    id="endereco">
                    <datalist id="enderecos">
                        {% for ende in enderecos %}
                        <option value="{{ ende }}">
                        {% endfor %}
                    </datalist>
                {% endif %}
                <i class="bi bi-check
                input-group-addon
                addon-my-color
                i-button-null"
                ></i>
            </div>
            <div class="item-form">
                {% if error_endereco %}
                <div class="error">
                    <span>{{ error_endereco }}<span>
                </div>
                {% endif %}
            </div>
            <div class="input-group">
                <i class="bi bi-geo-alt-fill
                input-group-addon
                addon-my-color
                i-button-null"
                ></i>
                {% if nota_form %}
                    <input class="form-control
                    form-control-minuta" type="text" maxlength="8"
                    name="cep" placeholder="CEP"
                    id="cep" value="{{ nota_form.cep }}">
                {% else %}
                    <input class="form-control
                    form-control-minuta" type="text" maxlength="8"
                    name="cep" placeholder="CEP" id="cep">
                {% endif %}
                <i class="bi bi-check
                input-group-addon
                addon-my-color
                i-button-null"
                ></i>
            </div>
            <div class="item-form">
                {% if error_cep %}
                <div class="error">
                    <span>{{ error_cep }}<span>
                </div>
                {% endif %}
            </div>
            <div class="input-group">
                <i class="bi bi-geo-alt-fill
                input-group-addon
                addon-my-color
                i-button-null"
                ></i>
                {% if nota_form %}
                    <input class="form-control
                    form-control-minuta" type="text" name="bairro"
                    list="bairros" placeholder="BAIRRO"
                    id="bairro" value="{{ nota_form.bairro }}">
                    <datalist id="bairros">
                        {% for bair in bairros %}
                        <option value="{{ bair }}">
                        {% endfor %}
                    </datalist>
                {% else %}
                    <input class="form-control
                    form-control-minuta" type="text" name="bairro"
                    list="bairros" placeholder="BAIRRO" id="bairro">
                    <datalist id="bairros">
                        {% for bair in bairros %}
                        <option value="{{ bair }}">
                        {% endfor %}
                    </datalist>
                {% endif %}
                <i class="bi bi-check
                input-group-addon
                addon-my-color
                i-button-null"
                ></i>
            </div>
            <div class="item-form">
                {% if error_bairro %}
                <div class="error">
                    <span>{{ error_bairro }}<span>
                </div>
                {% endif %}
            </div>
            <div class="input-group">
                <i class="bi bi-geo-alt-fill
                input-group-addon
                addon-my-color
                i-button-null"
                ></i>
                {% if nota_form %}
                    <input class="form-control
                    form-control-minuta" type="text"
                    name="cidade" value="SÃO PAULO"
                    id="cidade" value="{{ nota_form.cidade }}">
                {% else %}
                    <input class="form-control
                    form-control-minuta" type="text"
                    name="cidade" value="SÃO PAULO" id="cidade">
                {% endif %}
                <i class="bi bi-check
                input-group-addon
                addon-my-color
                i-button-null"
                ></i>
            </div>
            <div class="item-form">
                {% if error_cidade %}
                <div class="error">
                    <span>{{ error_cidade }}<span>
                </div>
                {% endif %}
            </div>
            <div class="input-group">
                <i class="bi bi-geo-alt-fill
                input-group-addon
                addon-my-color
                i-button-null"
                ></i>
                {% if nota_form %}
                    <input class="form-control
                    form-control-minuta" type="text"
                    name="estado" value="{{ nota_form.estado }}"
                    id="estado">
                {% else %}
                    <input class="form-control
                    form-control-minuta" type="text"
                    name="estado" value="SP" id="estado">
                {% endif %}
                <i class="bi bi-check
                input-group-addon
                addon-my-color
                i-button-null"
                ></i>
            </div>
            <div class="item-form">
                {% if error_estado %}
                <div class="error">
                    <span>{{ error_estado }}<span>
                </div>
                {% endif %}
            </div>
            <div class="input-group">
                <i class="bi bi-person-badge
                input-group-addon
                addon-my-color
                i-button-null"
                ></i>
                {% if nota_form %}
                    <input class="form-control
                    form-control-minuta" type="text"
                    name="contato" placeholder="CONTATO" id="contato"
                    value="{{ nota_form.contato }}">
                {% else %}
                    <input class="form-control
                    form-control-minuta" type="text"
                    name="contato" placeholder="CONTATO" id="contato">
                {% endif %}
                <i class="bi bi-check
                input-group-addon
                addon-my-color
                i-button-null"
                ></i>
            </div>
            <div class="item-form">
                {% if error_contato %}
                <div class="error">
                    <span>{{ error_contato }}<span>
                </div>
                {% endif %}
            </div>
            <div class="input-group">
                <i class="bi bi-info-square
                input-group-addon
                addon-my-color
                i-button-null"
                ></i>
                {% if nota_form %}
                    <input class="form-control
                    form-control-minuta" type="text"
                    name="informa" placeholder="INFORMAÇÕES"
                    id="informa" value="{{ nota_form.informa }}">
                {% else %}
                    <input class="form-control
                    form-control-minuta" type="text"
                    name="informa" placeholder="INFORMAÇÕES"
                    id="informa">
                {% endif %}
                <i class="bi bi-check
                input-group-addon
                addon-my-color
                i-button-null"
                ></i>
            </div>
            <div class="item-form">
                {% if error_informa %}
                <div class="error">
                    <span>{{ error_informa }}<span>
                </div>
                {% endif %}
            </div>
            <div class="input-group">
                <i class="bi bi-grid-fill
                input-group-addon
                addon-my-color
                i-button-null"
                ></i>
                {% if nota_form %}
                    <input class="form-control
                    form-control-minuta" type="number"
                    name="volume" step="1.00" value="{{ nota_form.volume }}"
                    id="volume">
                {% else %}
                    <input class="form-control
                    form-control-minuta" type="number"
                    name="volume" step="1.00" value="0" id="volume">
                {% endif %}
                <i class="bi bi-check
                input-group-addon
                addon-my-color
                i-button-null"
                ></i>
            </div>
            <div class="item-form">
                {% if error_volume %}
                <div class="error">
                    <span>{{ error_volume }}<span>
                </div>
                {% endif %}
            </div>
            <div class="input-group">
                <i class="bi bi-truck-flatbed
                input-group-addon
                addon-my-color
                i-button-null"
                ></i>
                {% if nota_form %}
                    <input class="form-control
                    form-control-minuta" type="number"
                    name="peso" step="0.001" value="{{ nota_form.peso }}"
                    id="peso">
                {% else %}
                    <input class="form-control
                    form-control-minuta" type="number"
                    name="peso" step="0.001" value="0.00" id="peso">
                {% endif %}
                <i class="bi bi-check
                input-group-addon
                addon-my-color
                i-button-null"
                ></i>
            </div>
            <div class="item-form">
                {% if error_peso %}
                <div class="error">
                    <span>{{ error_peso }}<span>
                </div>
                {% endif %}
            </div>
            <div class="input-group">
                <i class="bi bi-currency-dollar
                input-group-addon
                addon-my-color
                i-button-null"
                ></i>
                {% if nota_form %}
                    <input class="form-control
                    form-control-minuta" type="number"
                    name="valor" step="0.01" value="{{ nota_form.valor }}"
                    id="valor">
                {% else %}
                    <input class="form-control
                    form-control-minuta" type="number"
                    name="valor" step="0.01" value="0.00" id="valor" />
                {% endif %}
                <i class="bi bi-check
                input-group-addon
                addon-my-color
                i-button-null"
                ></i>
            </div>
            <div class="item-form">
                {% if error_valor %}
                <div class="error">
                    <span>{{ error_valor }}<span>
                </div>
                {% endif %}
            </div>
            {% if nota_form %}
            <input type="hidden" name="cliente" value="{{ nota_form.idcliente }}">
            {% else %}
            <input type="hidden" name="cliente" value="{{ idcliente }}">
            {% endif %}
        </div>
    </div>
    <div class="card-footer">
        <button class="bi bi-save2 i-button js-mostra-form-nota" title="Salva Nota"></button>
    </div>
</form>
<form class="js-carrega-xml js-mostra-form-nota" method="post" enctype="multipart/form-data">
{% csrf_token %}
    <div class="card-header">
        <span>ARQUIVO XML</span>
    </div>
    <div class="card-body">
        <div class="card-body-item">
            <div class="input-group">
                <div class="input-group-addon addon-my-color">
                    <input type="file"
                    class="file js-file-xml"
                    id="file-xml"
                    name="uploadFile"
                    value="">
                    <label class="bi bi-file
                    i-button"
                    for="file-xml"></label>
                </div>
                <span class="form-control form-control-minuta js-xmlTxt">
                    Selecionar arquivo XML
                </span>
                <div class="input-group-addon addon-my-color">
                    <button type="submit"
                    class="bi bi-cloud-arrow-up
                    i-button"></button>
                </div>
            </div>
        </div>
    </div>
    <div class="card-footer"></div>
</form>
<form class="js-carrega-pasta-xml js-mostra-form-nota" method="post" enctype="multipart/form-data">
{% csrf_token %}
    <div class="card-header">
        <span>PASTA XML</span>
    </div>
    <div class="card-body">
        <div class="card-body-item">
            <!-- LOCAL DE COLETA -->
            <div class="input-group">
                <i class="bi bi-building
                input-group-addon
                addon-my-color
                i-button-null"
                title="LOCAL DE COLETA"></i>
                {% if nota_form %}
                <input type="hidden" name="idnota" value="{{ nota_form.id_nota_clientes }}"> {% endif %}
                <select class="form-control
                form-control-minuta js-cliente" name="localcoleta" id="localcoleta">
                    <option value="">SELECIONE LOCAL COLETA</option>
                    {% if nota_form %}
                        {% if nota_form.local_coleta == cliente %}
                        <option value="{{ cliente }}" selected>
                            {{ cliente }}
                        </option>
                        <option value="DESTINATÁRIO">
                            DESTINATÁRIO
                        </option>
                        {% else %}
                        <option value="{{ cliente }}">
                            {{ cliente }}
                        </option>
                        <option value="DESTINATÁRIO" selected>
                            DESTINATÁRIO
                        </option>
                        {% endif %}
                    {% else %}
                        <option value={{ cliente }}>
                            {{ cliente }}
                        </option>
                        <option value="DESTINATÁRIO">
                            DESTINATÁRIO
                        </option>
                    {% endif %}
                </select>
                <i class="bi bi-check
                input-group-addon
                addon-my-color
                i-button-null"
                ></i>
            </div>
            <div class="input-group">
                <div class="input-group-addon addon-my-color">
                    <input type="file"
                    class="file js-directory-xml"
                    id="directory-xml"
                    name="directory-xml"
                    multiple webkitdirectory directory>
                    <label class="bi bi-folder
                    i-button"
                    for="directory-xml"></label>
                </div>
                <span class="form-control form-control-minuta js-total-xml">
                    Selecionar pasta de arquivos XML
                </span>
                <div class="input-group-addon addon-my-color">
                    <button type="submit"
                    class="bi bi-cloud-arrow-up
                    i-button btn-pasta-arquivos-xml"></button>
                    <i class="bi bi-check btn-extra-pasta-arquivos-xml"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="card-footer"></div>
</form>
