{% extends 'romaneios/baseromaneios.html' %} {% block mainromaneios %}
<main class='article'>
    <div>
        <article class="article-card card-romaneios-cliente">
            {% include 'romaneios/html_form_seleciona_cliente.html' %}
        </article>
        <article class="article-card card-form-notas-cliente">
        </article>
        <article class="article-card card-form-romaneios">
        </article>
        <article class="article-card card-filtro-notas-romaneios">
        </article>
        <article class="article-card card-quantidade-notas">
        </article>
    </div>
    <div>
        <article class="article-card card-lista-notas-cliente">
        </article>
        <article class="article-card card-lista-ocorrencia">
        </article>
    </div>
    <div>
        <article class="article-card card-lista-romaneios">
        </article>
        <article class="article-card card-lista-notas-romaneio">
        </article>
    </div>
</main>
{% endblock %}