{% extends 'romaneios/baseromaneios.html' %}
{% block mainromaneios %}
<main class="section-grid grid-romaneio">
    <section class="grid-column">
        <article class="card card-romaneios-cliente">
            {% include 'romaneios/html_form_seleciona_cliente.html' %}
        </article>
        <article class="card card-form-notas-cliente">
        </article>
        <article class="card card-filtro-notas-romaneios">
        </article>
        <article class="card card-quantidade-notas">
        </article>
    </section>
    <section class="grid-column">
        <div class="card card-lista-notas-cliente">
        </div>
        <article class="card card-lista-ocorrencia">
        </article>
    </section>
    <section class="grid-column">
        <article class="article-card card-form-romaneios">
        </article>
        <article class="card card-lista-romaneios">
        </article>
        <article class="card card-lista-notas-romaneio">
        </article>
    </section>
</main>
{% endblock %}