{% extends 'website/baseparametros.html' %}

{% block mainparametros %}
<main>
    <div class="consulta">
        <header class="consulta-header-despesas-entregas">
            <span>PARÂMETROS</span>
        </header>
        <main>
            <div class="card-base2">
                <header>
                    <span><b>TABELA PADRÃO</b></span>
                </header>
                {% if tabela_padrao %}
                {% for item in tabela_padrao %}
                <section>
                    <div class="section-itens">
                        {% for i in tabela_padrao_cliente %}
                        <span>{{ i.Fantasia }}</span>
                        {% endfor %}
                    </div>
                </section>
                <footer>
                    <button class="btn btn-success btn-xs glyphicon glyphicon-edit"
                        onclick="openMyModal(event); return false;" data-title="EDITA CADASTRO PARAMETRO"
                        data-action="{% url 'editaparametrotabelapadrao' item.idParametro %}"
                        data-button-save-label="EDITAR">
                    </button>
                </footer>
                {% endfor %}
                {% else %}
                <section>
                    <span><b>NENHUMA TABELA SELECIONADA</b></span>
                </section>
                <footer>
                    <button class="btn btn-primary btn-xs glyphicon glyphicon-plus"
                            onclick="openMyModal(event); return false;" data-title="CADASTRO PARAMETRO"
                            data-action="{% url 'criaparametrotabelapadrao' %}"
                            data-button-save-label="CRIAR">
                    </button>
                </footer>
                {% endif %}
            </div>
        </main>
    </div>
                <!--<button class="btn btn-primary btn-xs glyphicon glyphicon-plus"-->
                        <!--onclick="openMyModal(event); return false;" data-title="CADASTRO PARAMETRO"-->
                        <!--data-action="{% url 'criaparametro' %}"-->
                        <!--data-button-save-label="CRIAR">-->
                <!--</button>-->
    <!--<div class="lista-conteudo">-->
        <!--<div class="card_titulo">-->
            <!--<h6><b>CATEGORIAS CADASTRADAS</b></h6>-->
        <!--</div>-->
        <!--<div class="card_categoriadados">-->
            <!--{% for itens in categoria_veiculos %}-->
                <!--<div class="card_categorialista">-->
                    <!--<p>{{ itens.Categoria }}</p>-->
                <!--</div>-->
                <!--<div class="excluicategoria">-->
                    <!--<button class="btn btn-danger btn-xs" onclick="window.location.href = '{% url 'exclui_categoria_veiculos' itens.idCategoria %}';">-->
                        <!--<span class="glyphicon glyphicon-trash"></span>-->
                    <!--</button>-->
                <!--</div>-->
                <!--<div class="excluicategoria">-->
                    <!--<button class="btn btn-success btn-xs" onclick="window.location.href = '{% url 'atualiza_categoria_veiculos' itens.idCategoria %}';">-->
                        <!--<span class="glyphicon glyphicon-edit"></span>-->
                    <!--</button>-->
                <!--</div>-->
            <!--{% endfor %}-->
        <!--</div>-->
    <!--</div>-->
    <!-- DIV MODAL -->
    <div class="modal fade bd-example-modal-lg" id="MyModal" tabindex="-1">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title"><b></b></h4>
                </div>
                <div class="modal-body">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">FECHAR</button>
                    <button type="submit" class="btn btn-success btn-save">CRIAR</button>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}