<table class="tb-cartaoponto">
    <tr>
        <td class="cp-titulo" colspan="5">1ª QUINZENA</td>
    </tr>
    <tr>
        <td class="cp-titulo">DIA</td>
        <td class="cp-buttom"></td>
        <td class="cp-titulo">ENTRADA</td>
        <td class="cp-titulo">SAÍDA</td>
        <td class="cp-buttom"></td>
    </tr>
    {% for dias in cartao_ponto %}
    {% if forloop.counter < 16 %}
    <tr>
        <td class="cp-dia">{{ dias.Dia }}</td>
        {% if dias.Ausencia %}
        <td class="cp-buttom"><span class="btn btn-dark btn-xs glyphicon glyphicon-sunglasses"></span></td>
        <td class="cp-hora" colspan="2">{{ dias.Ausencia }}</td>
        <td class="cp-buttom">
            {% if dias.Ausencia == 'FALTA' %}
            <button class="btn btn-danger btn-xs glyphicon glyphicon-ban-circle altera-falta"
                    data-url="{% url 'inserefalta' %}" mesreferencia="{{ mesreferencia }}"
                    anoreferencia="{{ anoreferencia }}" idpessoal="{{ idpessoal }}"
                    idcartaoponto="{{ dias.idCartaoPonto }}">
            </button>
            {% else %}
            <span class="btn btn-dark btn-xs glyphicon glyphicon-sunglasses"></span>
            {% endif %}
        </td>
        {% else %}
        <td  class="cp-buttom">
            <button class="btn btn-primary btn-xs glyphicon glyphicon-pencil"
                    onclick="openMyModal(event); return false" data-button-save-label="ALTERAR"
                    data-action="{% url 'editacartaoponto' dias.idCartaoPonto  %}" data-title="EDITA CARTÃO DE PONTO"
                    data-mesreferencia="{{ mesreferencia }}" data-anoreferencia="{{ anoreferencia }}"
                    data-idpessoal="{{ idpessoal }}" data-idcartaoponto="{{ dias.idCartaoPonto }}">
            </button>
        </td>
        {% if dias.Entrada|time:"H:i" > '07:00' %}
        <td class="cp-horaatrazo">{{ dias.Entrada }}</td>
        {% elif dias.Entrada|time:"H:i" == '07:00' %}
        <td class="cp-horapadrao">{{ dias.Entrada }}</td>
        {% elif dias.Entrada|time:"H:i" < '07:00' %}
        <td class="cp-horaextra">{{ dias.Entrada }}</td>
        {% endif %}
        {% if dias.Saida|time:"H:i" > '17:00' %}
        <td class="cp-horaextra">{{ dias.Saida }}</td>
        {% else %}
        <td class="cp-horapadrao">{{ dias.Saida }}</td>
        {% endif %}
        <td class="cp-buttom">
            <button class="btn btn-success btn-xs glyphicon glyphicon-user altera-falta"
                    data-url="{% url 'inserefalta' %}" mesreferencia="{{ mesreferencia }}"
                    anoreferencia="{{ anoreferencia }}" idpessoal="{{ idpessoal }}"
                    idcartaoponto="{{ dias.idCartaoPonto }}">
            </button>
        </td>
        {% endif %}
    </tr>
    {% endif %}
    {% endfor %}
</table>
<table class="tb-cartaoponto">
    <tr>
        <td class="cp-titulo" colspan="5">2ª QUINZENA</td>
    </tr>
    <tr>
        <td class="cp-titulo">DIA</td>
        <td class="cp-buttom"></td>
        <td class="cp-titulo">ENTRADA</td>
        <td class="cp-titulo">SAÍDA</td>
        <td class="cp-buttom"></td>
    </tr>
    {% for dias in cartaoponto %}
    {% if forloop.counter > 15 %}
    <tr>
        <td class="cp-dia">{{ dias.Dia }}</td>
        {% if dias.Ausencia %}
        <td class="cp-buttom"><span class="btn btn-dark btn-xs glyphicon glyphicon-sunglasses"></span></td>
        <td class="cp-hora" colspan="2">{{ dias.Ausencia }}</td>
        <td class="cp-buttom">
            {% if dias.Ausencia == 'FALTA' %}
            <button class="btn btn-danger btn-xs glyphicon glyphicon-ban-circle altera-falta"
                    data-url="{% url 'inserefalta' %}" mesreferencia="{{ mesreferencia }}"
                    anoreferencia="{{ anoreferencia }}" idpessoal="{{ idpessoal }}"
                    idcartaoponto="{{ dias.idCartaoPonto }}">
            </button>
            {% else %}
            <span class="btn btn-dark btn-xs glyphicon glyphicon-sunglasses"></span>
            {% endif %}
        </td>
        {% else %}
        <td  class="cp-buttom">
            <button class="btn btn-primary btn-xs glyphicon glyphicon-pencil"
                    onclick="openMyModal(event); return false;" data-button-save-label="ALTERAR"
                    data-action="{% url 'editacartaoponto' dias.idCartaoPonto  %}" data-title="EDITA CARTÃO DE PONTO"
                    data-mesreferencia="{{ mesreferencia }}" data-anoreferencia="{{ anoreferencia }}"
                    data-idpessoal="{{ idpessoal }}" data-idcartaoponto="{{ dias.idCartaoPonto }}">
            </button>
        </td>
        {% if dias.Entrada|time:"H:i" > '07:00' %}
        <td class="cp-horaatrazo">{{ dias.Entrada }}</td>
        {% elif dias.Entrada|time:"H:i" == '07:00' %}
        <td class="cp-horapadrao">{{ dias.Entrada }}</td>
        {% elif dias.Entrada|time:"H:i" < '07:00' %}
        <td class="cp-horaextra">{{ dias.Entrada }}</td>
        {% endif %}
        {% if dias.Saida|time:"H:i" > '17:00' %}
        <td class="cp-horaextra">{{ dias.Saida }}</td>
        {% else %}
        <td class="cp-horapadrao">{{ dias.Saida }}</td>
        {% endif %}
        <td class="cp-buttom">
            <button class="btn btn-success btn-xs glyphicon glyphicon-user altera-falta"
                    data-url="{% url 'inserefalta' %}" mesreferencia="{{ mesreferencia }}"
                    anoreferencia="{{ anoreferencia }}" idpessoal="{{ idpessoal }}"
                    idcartaoponto="{{ dias.idCartaoPonto }}">
            </button>
        </td>
        {% endif %}
    </tr>
    {% endif %}
    {% endfor %}
</table>
