{% for itenscc in qs_contracheque %}
<table class="tb-contracheque">
    <tr>
        <th class="tb-nome" colspan="4">{{ itenscc.idPessoal }}</th>
    </tr>
    <tr class="tb-titulo">
        <th class="col-descricao">DESCRIÇÃO</th>
        <th class="col-referencia">REFERÊNCIA</th>
        <th class="col-provento">VENCIMENTOS</th>
        <th class="col-desconto">DESCONTOS</th>
    </tr>
    {% for itens in qs_contrachequeitens %}
    <tr>
        <td>
            <div class="descricao">
                <span><b>{{ itens.Descricao }}</b></span>
                {% if itens.Descricao == 'SALARIO' %}
                <span class="btn btn-dark btn-xs glyphicon glyphicon-pushpin"></span>
                {% elif itens.Descricao == 'HORA EXTRA' %}
                <span class="btn btn-dark btn-xs glyphicon glyphicon-pushpin"></span>
                {% elif itens.Descricao == 'ATRAZO' %}
                <span class="btn btn-dark btn-xs glyphicon glyphicon-pushpin"></span>
                {% elif itens.Descricao == 'VALE TRANSPORTE' %}
                <span class="btn btn-dark btn-xs glyphicon glyphicon-pushpin"></span>
                {% elif itens.Vales_id > 0 %}
                <span class="btn btn-dark btn-xs glyphicon glyphicon-pushpin"></span>
                {% else %}
                <div>
                    {% if itens.Descricao == 'ADIANTAMENTO' %}
                    <a class="btn btn-warning btn-xs glyphicon glyphicon-print"
                       href="{% url 'imprimecontracheque' %}?idcc={{ itenscc.idContraCheque }}&idco={{ itenscc.idPessoal_id }}&mes={{ mesreferencia }}&ano={{ anoreferencia }}&adianta=True"
                       target="_blank">
                    </a>
                    {% endif %}
                    <button class="btn btn-danger btn-xs glyphicon glyphicon-remove remove-item"
                            data-url="{% url 'excluicontrachequeitens' %}" idcontracheque="{{ itens.idContraCheque_id }}"
                            descricao="{{ itens.Descricao }}" registro="{{ itens.Registro }}"
                            idpessoal="{{ itenscc.idPessoal_id }}">
                    </button>
                </div>
                {% endif %}
            </div>
        </td>
        <td class="referencia">
            <span class="valor-debito">{{ itens.Referencia }}</span>
        </td>
        <td class="provento">
        {% if itens.Registro == 'C' %}
        <span class="valor-debito">R$ {{ itens.Valor }}</span>
        {% endif %}
        </td>
        <td class="desconto">
        {% if itens.Registro == 'D' %}
        <span class="valor-credito">R$ {{ itens.Valor }}</span>
        {% endif %}
        </td>
    </tr>
    {% endfor %}
    <tr>
        <td class="fim-descricao" rowspan="2" colspan="2">
            <a class="btn btn-warning glyphicon glyphicon-print"
               href="{% url 'imprimecontracheque' %}?idcc={{ itenscc.idContraCheque }}&idco={{ itenscc.idPessoal_id }}&mes={{ mesreferencia }}&ano={{ anoreferencia }}&adianta=False"
               target="_blank">
            </a>
        </td>
        <td class="provento tb-titulo"><span id="total-credito">R$ {{ totais.Credito }}</span></td>
        <td class="desconto tb-titulo"><span id="total-debito">R$ {{ totais.Debito }}</span></td>
    </tr>
    <tr>
        <td class="provento">A RECEBER &#x2794</td>
        <td class="desconto"><span id="total-liquido">R$ {{ totais.Liquido }}</span></td>
    </tr>
</table>
{% endfor %}
