{% for itens in qs_contracheque %}
<table class="tb-contracheque">
    <tr>
        <th class="tb-nome" colspan="3">{{ itens.idPessoal }}</th>
    </tr>
    <tr class="tb-titulo">
        <th class="col-descricao">DESCRIÇÃO</th>
        <th class="col-provento">VENCIMENTOS</th>
        <th class="col-desconto">DESCONTOS</th>
    </tr>
    {% for itens in qs_contrachequeitens %}
    <tr>
        <td class="descricao"><span><b>{{ itens.Descricao }}</b></span></td>
        <td class="provento">
        {% if itens.Registro == 'C' %}
        <span class="valor-debito">R$ {{ itens.Valor }}</span>
        {% endif %}
        </td>
        <td class="desconto">
        {% if itens.Registro == 'D' %}
        <span class="valor-credito">R$ {{ itens.Valor }}</span>
        {% endif %}
        </td>
    </tr>
    {% endfor %}
    <tr>
        <td class="fim-descricao" rowspan="2">
            <a class="btn btn-warning glyphicon glyphicon-print"
               href="{% url 'imprimecontracheque' itens.idContraCheque %}" target="_blank">
            </a>
        </td>
        <td class="provento tb-titulo"><span id="total-credito">R$ {{ totais.Credito }}</span></td>
        <td class="desconto tb-titulo"><span id="total-debito">R$ {{ totais.Debito }}</span></td>
    </tr>
    <tr>
        <td class="provento">A RECEBER &#x2794</td>
        <td class="desconto"><span id="total-liquido">R$ {{ totais.Liquido }}</span></td>
    </tr>
</table>
{% endfor %}
