{% load permission_tags %}
<form class="form-row g-3 form-cria-contrachequeitens" method="post" action="{% url 'criacontrachequeitens' %}">
    {% csrf_token %}
    <div class="col-md-5">
        {{ formcontrachequeitens.Descricao }}
        {{ formcontrachequeitens.Descricao.error }}
    </div>
    <div class="col-md-3">
        {{ formcontrachequeitens.Valor }}
        {{ formcontrachequeitens.Valor.error }}
    </div>
    <div class="col-md-3">
        {{ formcontrachequeitens.Registro }}
        {{ formcontrachequeitens.Registro.error }}
    </div>
    {% for itens in contracheque %}
    <input type="hidden" name="idContraCheque" value="{{ itens.idContraCheque }}" id="id_idContraCheque">
    <input type="hidden" name="MesReferencia" value="{{ itens.MesReferencia }}" id="MesReferencia">
    <input type="hidden" name="AnoReferencia" value="{{ itens.AnoReferencia }}" id="AnoReferencia">
    <input type="hidden" name="idPessoal" value="{{ itens.idPessoal_id }}" id="idPessoal">
    {%  endfor %}
    {% if user|can:'pagamentos_folha' %}
    <div class="col-sm-1">
        <button class="btn btn-primary glyphicon glyphicon-save">
        </button>
    </div>
    {%  endif %}
</form>