{% load permission_tags %}
<form class="row g-3 form-cria-contrachequeitens" method="post" action="{% url 'criacontrachequeitens' %}">
    {% csrf_token %}
    <div class="col-md-3">
        <label for="id_Data" class="form-label label-adiantamento">ADIANTAMENTO:</label>
    </div>
    <div class="col-md-5">
        {{ formcontrachequeitens.Valor }}
        {{ formcontrachequeitens.Valor.error }}
    </div>
    {% for itens in contracheque %}
    <input type="hidden" name="Descricao" value="ADIANTAMENTO" id="id_Descricao_ad">
    <input type="hidden" name="Registro" value="D" id="id_Registro_ad">
    <input type="hidden" name="idContraCheque" value="{{ itens.idContraCheque }}" id="id_idContraCheque_ad">
    <input type="hidden" name="MesReferencia" value="{{ itens.MesReferencia }}" id="MesReferencia_ad">
    <input type="hidden" name="AnoReferencia" value="{{ itens.AnoReferencia }}" id="AnoReferencia-ad">
    <input type="hidden" name="idPessoal" value="{{ itens.idPessoal_id }}" id="idPessoal_ad">
    {% endfor %}
    <!-- if user|can:'pagamentos_folha' -->
    <div class="col-md-4">
        <button class="btn btn-primary glyphicon glyphicon-save">
        </button>
    </div>
    <!-- endif -->
</form>