{% load permission_tags %}
<div class="fp-folha">
    <table class="fp-tabela">
        <tr>
            <td class="fp-titulo">NOME</td>
            <td class="fp-titulo">SALÁRIO</td>
            <td class="fp-titulo">SALDO</td>
            <td class="fp-titulo"></td>
        </tr>
        {% for keys, values in folha.items %}
        <tr>
            <td class="fp-nome" data-toggle="tooltip" data-placement="top" title="{{ keys }}">
                {{ keys|truncatechars:25 }}</td>
            <td class="fp-valor">R$ {{ values.Salario }}</td>
            <td class="fp-valor">R$ {{ values.Liquido }}</td>
            <td class="fp-button">
                {% if values.ContraCheque %}
                <button class="btn btn-info btn-xs glyphicon glyphicon-ok selecionar-contracheque"
                        data-url="{% url 'selecionacontracheque' %}" idpessoal="{{ values.idPessoal }}">
                </button>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
        <tr>
            <td class="fp-button">
                <!--user|can:'pagamentos_folha'-->
                <button class="btn btn-warning" data-url="{% url 'criafolha' %}" id="gerar-folha"
                        mesreferencia="{{ referencia.MesReferencia }}"
                        anoreferencia="{{ referencia.AnoReferencia }}">GERAR FOLHA DE PAGAMENTO
                </button>
                <!-- endif -->
            </td>
            <td class="fp-valor">R$ {{ totalsalario }}</td>
            <td class="fp-valor">R$ {{ totalfolha }}</td>
            <td class="fp-button"></td>
        </tr>
    </table>
    <div class="fp-minutas"></div>
    <div class="fp-vales"></div>
</div>
<div class="fp-contracheque-cartaoponto">
    <div class="fp-adiantamento"></div>
    <div class="fp-contracheque"></div>
    <div class="fp-cartaoponto"></div>
</div>
