<form class="row g-3" method="post" action="{{ url }}" idpessoal="{{ idpessoal }}">
  {% csrf_token %} {% if view == 'altera_horario_cartao_ponto' %}
  <div class="col-md-6">
    <label for="id_HoraEntrada" class="form-label">HORA ENTRADA:</label>
    {{ form.Entrada }}
  </div>
  <div class="col-md-6">
    <label for="id_HoraSaida" class="form-label">HORA SAÍDA:</label>
    {{ form.Saida }}
  </div>
  {{ form.Dia.as_hidden }}
  {{ form.Ausencia.as_hidden }}
  {{ form.idPessoal.as_hidden }}
  <input
    type="hidden"
    name="idcartaoponto"
    value="{{ idcartaoponto}}"
    id="id_idcartaoponto"
  />
  <input type="hidden" name="Alteracao" value="MANUAL" id="id_Alteracao" />
  <input type="hidden" name="mes_ano" value="{{ mes_ano }}" id="id_mesano" />
  {% endif %}
</form>
