<form class="row g-3" method="post" action="{{ c_url }}" idobj="{{ c_idobj }}">
{% csrf_token %}
{% if c_view == 'edita_cartaoponto' %}
    <div class="col-md-6">
        <label for="id_HoraEntrada" class="form-label">HORA ENTRADA:</label>
        {{ form.Entrada }}
    </div>

    <div class="col-md-6">
        <label for="id_HoraSaida" class="form-label">HORA SAÍDA:</label>
        {{ form.Saida }}
    </div>
    {{ form.Dia.as_hidden }}
    {{ form.Ausencia.as_hidden }}
    {{ form.idPessoal.as_hidden }}
    <input type="hidden" name="Alteracao" value="MANUAL" id="id_Alteracao">
    <input type="hidden" name="MesReferencia" value="{{ request.GET.MesReferencia }}" id="id_MesReferencia">
    <input type="hidden" name="AnoReferencia" value="{{ request.GET.AnoReferencia }}" id="id_AnoReferencia">
{% endif %}
</form>
