{% if nome %}
<div class="article-card-titulo">
    <span>MINUTAS</span>
</div>
<div class="article-card-body">
    {% if minutas %}
    <div class="itens-minutas-pagamento">
        <div class="item-titulo item-data"><span>DIA</span></div>
        <div class="item-titulo item-minuta"><span>Nº</span></div>
        <div class="item-titulo item-cliente"><span>CLIENTE</span></div>
        <div class="item-titulo item-inicio"><span>INICIO</span></div>
        <div class="item-titulo item-fim"><span>FIM</span></div>
        <div class="item-titulo item-extra"><span>EXTRA</span></div>
    </div>
    {% for itens in minutas %}
    <div class="itens-minutas-pagamento">
        <div class="item-data">{{ itens.data_minuta|date:"d" }}</div>
        <div class="item-minuta">0{{ itens.minuta }}</div>
        <div class="item-cliente">{{ itens.fantasia }}</div>
        <div class="item-inicio">{{ itens.hora_inicial }}</div>
        <div class="item-fim">{{ itens.hora_final }}</div>
        {% if itens.hora_extra != '00:00' %}
        <div class="item-extra">{{ itens.hora_extra }}</div>
        {% else %}
        <div class="item-extra"><i class='bi bi-x-circle'></i></div>
        {% endif %}
    </div>
    {% endfor %}
    {% else %}
    <div class="itens-minutas-pagamento"><span>NENHUMA MINUTA ENCONTRADA</span></div>
    {% endif %}
</div>
<div class="article-card-footer">
    {% for itens in minutas %}
    {% if forloop.last %}
    <span><b>{{ forloop.counter|stringformat:"02d" }} MINUTA{{ forloop.counter|pluralize|upper }}</b></span>
    {% endif %}
    {% endfor %}
</div>
{% endif %}
