{% if nome %}
<div class="article-card-titulo">
    <span>ADICIONAR VALES</span>
</div>
<div class="article-card-body">
    <form class="js-gera-vales" method="post" action="{}">
        {% csrf_token %}
        <div class="item-vales">
            <div class="item-descricao">
                <input type="text" class="form-control" name="descricao"
                id="id_descricao" placeholder="DESCRIÇÃO">
            </div>
        </div>
        <div class="item-vales">
            <div class="item-data">
                <input type="date" class="form-control" name="data" id="id_data">
            </div>
            <div class="item-valor">
                <input type="number" class="form-control" name="valor" id="id_valor"
                value="0.00" step="0.01">
            </div>
            <div class="item-parcelas">
                <input type="number" class="form-control" name="parcelas"
                id="id_parcelas" value="" step="1" placeholder="PARCELAS">
            </div>
            <input type="hidden" name="mes_ano" value="" id="mes_ano">
            <input type="hidden" name="idPessoal"
            value="{{ contra_cheque.idpessoal }}" id="idPessoal">
            <div class="button-save">
                <button class="bi bi-save2 i-button"></button>
            </div>
        </div>
    </form>
</div>
<div class="article-card-footer"></div>
{% endif %}

{% comment %} data descricao valor parcelas {% endcomment %}