{% load permission_tags %}
{% if nome %}
<div class="article-card-titulo">
<span>{{ nome }}</span>
</div>
<div class="article-card-body js-body-funcionario">
    {% if user|can:'pagamentos_folha' %}
        <div class="itens-funcionario-pagamento">
            <span>FUNÇÃO:</span>
            <span>{{ categoria }}</span>
        </div>
        <div class="itens-funcionario-pagamento">
            <span>DATA DA ADMISSÃO:</span>
            <span>{{ admissao }}</span>
        </div>
        {% if demissao %}
        <div class="itens-funcionario-pagamento">
            <span>DATA DA DEMISSÃO:</span>
            <span>{{ demissao }}</span>
        </div>
        {% endif %}
        <div class="itens-funcionario-pagamento">
            <span>DIAS NA EMPRESA:</span>
            <span>{{ dias_admitido }} DIA{{ dias_admitido|pluralize|upper }}</span>
        </div>
        <div class="itens-funcionario-pagamento">
            <span>VALOR DIA:</span>
            <span>R$ {{ valor_dia|stringformat:'.2f' }}</span>
        </div>
        <div class="itens-funcionario-pagamento">
            <span>VALOR HORA:</span>
            <span>R$ {{ valor_hora|stringformat:'.2f' }}</span>
        </div>
        <div class="itens-funcionario-pagamento">
            <span>VALOR HORA EXTRA:</span>
            <span>R$ {{ valor_extra|stringformat:'.2f' }}</span>
        </div>
        <div class="itens-funcionario-pagamento">
            <span>DIAS REMUNERADO:</span>
            <span>{{ dias_remunerado }}</span>
        </div>
        <div class="itens-funcionario-pagamento">
            <span>DIAS TRABALHADO:</span>
            <span>{{ dias_trabalhado }}</span>
        </div>
        <div class="itens-funcionario-pagamento">
            <span>DIAS CONDUÇÃO:</span>
            <span>{{ dias_transporte }}</span>
        </div>
    {% else %}
        <div class="ponto">.</div>
    {% endif %}
</div>
<div class="article-card-footer"></div>
{% endif %}