{% load permission_tags %}
{% if nome %}
<div class="article-card-titulo">
    <span>SALVA ARQUIVOS</span>
</div>
<div class="article-card-body js-body-files-pagamento">
    {% for file in files %}
    <div class="file-body">
        <a class="bi bi-download i-button custonBtn radius-left"
        href="{{ file.uploadFile.url }}" target="_blank"></a>
        <span class="filenameTxt">{{ file.DescricaoUpload|cut:nome_underscore|slice:'13:' }}</span>
        {% if user|can:'pagamentos_folha' %}
        <i class="bi bi-trash i-button custonBtn radius-right js-delete-file"
        data-idfileupload="{{ file.idFileUpload }}"
        data-idpessoal="{{ contra_cheque.idpessoal }}"></i>
        {% else %}
        <i class="custonBtn radius-right"></i>
        {% endif %}
    </div>
    {% endfor %}
    <form class="file-body js-salva-file" method="post"
    enctype="multipart/form-data" data-tipo="adiantamento">
        {% csrf_token %}
        <input type="file" name="uploadFile" class="file js-file-adiantamento"
        id="file_adiantamento" value="">
        <label for="file_adiantamento"
        class="bi bi-folder i-button custonBtn radius-left"></label>
        <span class="filenameTxt js-adiantamentoTxt">
            Comprovante Adiantamento.
        </span>
        <input type="hidden" value="{{ nome_underscore }}"
        id="id_nome_curto" name="nome_curto">
        <input type="hidden" value="{{ contra_cheque.idpessoal }}"
        id="idpessoal" name="idpessoal">
        <button type="submit"
        class="bi bi-cloud-arrow-up i-button custonBtn radius-right"></button>
    </form>
    <form class="file-body js-salva-file" method="post"
    enctype="multipart/form-data" data-tipo="contracheque">
        {% csrf_token %}
        <input type="file" name="uploadFile" class="file js-file-contracheque"
        id="file_contracheque" value="">
        <label for="file_contracheque"
        class="bi bi-folder i-button custonBtn radius-left"></label>
        <span class="filenameTxt js-contrachequeTxt">
            Comprovante Contra Cheque.
        </span>
        <input type="hidden" value="{{ nome_underscore }}"
        id="id_nome_curto" name="nome_curto">
        <input type="hidden" value="{{ contra_cheque.idpessoal }}"
        id="idpessoal" name="idpessoal">
        <button type="submit"
        class="bi bi-cloud-arrow-up i-button custonBtn radius-right"></button>
    </form>
    <form class="file-body js-salva-file" method="post"
    enctype="multipart/form-data" data-tipo="diversos">
        {% csrf_token %}
        <input type="file" name="uploadFile" class="file js-file-diversos"
        id="file_diversos" value="">
        <label for="file_diversos"
        class="bi bi-folder i-button custonBtn radius-left"></label>
        <span class="filenameTxt js-diversosTxt">
            Comprovante Diversos.
        </span>
        <input type="hidden" value="{{ nome_underscore }}"
        id="id_nome_curto" name="nome_curto">
        <input type="hidden" value="{{ contra_cheque.idpessoal }}"
        id="idpessoal" name="idpessoal">
        <button type="submit"
        class="bi bi-cloud-arrow-up i-button custonBtn radius-right"></button>
    </form>
</div>
<div class="article-card-footer">
    <i class="bi bi-trash-square i-button"></i>            
</div>
{% endif %}