{% load humanize %}
<!-- Header -->
<div class="card-header">
	<div class="input-group">
		<div class="input-group-addon addon-my-color">
			<i class="icofont-rounded-left-up"></i>
		</div>
		<div class="input-group-addon addon-my-color">
			<i class="icofont-plus-circle i-button"
	  onclick="openMyModal(event); return false;"
   data-title="CADASTRA AGENDA"
   data-action="{% url 'adiciona_agenda_colaborador' %}"
   data-button-save-label="SALVAR"
   title="Adiciona Agenda"></i>
		</div>
		<div class="div-form-control">
				<span>AGENDA</span>
		</div>
		<div class="input-group-addon addon-my-color">
			<i class="icofont-simple-down i-button js-body-agenda-colaborador-toggle"></i>
		</div>
		<div class="input-group-addon addon-my-color">
			<i class="icofont-rounded-right-up"></i>
		</div>
	</div>
</div>
<!-- Body -->
<div class="card-body body-agenda-colaborador">
	{% for dia in agenda %}
	<div class="card-body-item">
		<div class="input-group">
			<div class="input-group-addon addon-my-color">
			    <i class="i-button-null">{{ forloop.counter|stringformat:"02d" }}</i>
			</div>
			<div class="div-flex div-form-control">
				<div class="tamanho-20 text-left">
					<span>
						{{ dia.Dia }}
					</span>
				</div>
				<div class="tamanho-80 text-left">
					<span>
						{{ dia.Descricao }}
					</span>
				</div>
			</div>
			<div class="input-group-addon
			addon-my-color">
				<i class="icofont-edit i-button"
                    onclick="openMyModal(event); return false;"
                    data-title="CONFIRMA EXCLUSÃO DO VALE?"
                    data-action="{% url 'exclui_vale_colaborador' %}"
                    data-button-save-label="CONFIRMAR"
					data-confirma="confirma_vale"
	 			    data-idconfirma="{{ vale.idvale }}"
                    title="Exclui Vale"></i>
			</div>
			<div class="input-group-addon
			addon-my-color">
				<i class="icofont-trash i-button"
                    onclick="openMyModal(event); return false;"
                    data-title="CONFIRMA EXCLUSÃO DA AGENDA?"
                    data-action="{% url 'exclui_agenda_colaborador' %}"
                    data-button-save-label="CONFIRMAR"
					data-confirma="confirma_agenda"
	 			    data-idconfirma="{{ dia.idAgenda }}"
                    title="Exclui Vale"></i>
			</div>
		</div>
	</div>
	{% endfor %}
</div>
<!-- Footer -->
<div class="card-footer">
	<div class="input-group">
		<div class="input-group-addon addon-my-color">
			<i class="icofont-rounded-left-down"></i>
		</div>
		<div class="div-form-control div-flex">
			<div class="tamanho-100 text-left">
			</div>
		</div>
		<div class="input-group-addon addon-my-color">
			<i class="icofont-rounded-right-down"></i>
		</div>
	</div>
</div>
