{% load humanize %}
{% if nome %}
<div class="article-card-titulo">
  <span>{{ nome }}</span>
</div>
<div class="article-card-body">
  <div class="itens-funcionario">
    <div class="item-admissao">
      DATA DA ADMISSÃO: {{ admissao }}
    </div>
    {% if demissao %}
    <div class="item-demissao">
      DATA DA DEMISSÃO: {{ demissao }}
    </div>
    {% endif %}
  </div>
</div>
<div class="article-card-footer"></div>
<div class="article-card-titulo">
  <span>NOVO ITEM</span>
</div>
<div class="article-card-body">
  <div class="itens-funcionario">
    <div class="item-adiantamento">
      <form class='row g-3 js-gera-contra-cheque-itens' method="post"
      action="{% url 'adiantamento' %}">
        {% csrf_token %}
        <div class="col-md-5">
          <input type="text" class="form-control" name="descricao" id="id_descricao">
        </div>
        <div class="col-md-3">
          <input type="number" class="form-control" name="valor" id="id_valor"
          value="0.00" step="0.01">
        </div>
        <div class="col-md-3">
          <select class="form-control" name="registro" id="id_registro">
            <option value="C">CRÉDITO</option>
            <option value="D" selected>DÉBITO</option>
          </select>
        </div>
        <input type="hidden" name="idContraCheque"
        value="{{ contra_cheque.idcontracheque }}" id="id_idContraCheque">
        <input type="hidden" name="mes_ano" value="" id="mes_ano">
        <input type="hidden" name="idPessoal" value="{{ contra_cheque.idpessoal }}"
        id="idPessoal">
        <div class="col-md-1">
          <button class="bi bi-clipboard-check i-button"
          data-idpessoal="{{ idpessoal }}" data-idcontracheque='{{ idcontracheque }}'>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="article-card-footer"></div>
{% if not adiantamento %}
<div class="article-card-titulo">
  <span>ADIANTAMENTO</span>
</div>
<div class="article-card-body">
  <div class="itens-funcionario">
    <div class="item-adiantamento">
      <form class='row g-3 js-gera-adiantamento' method="post"
      action="{% url 'adiantamento' %}">
        {% csrf_token %}
        <input type="hidden" name="descricao" value="ADIANTAMENTO"
        id="id_Descricao_adiantamento">
        <div class="col-md-11">
          <input type="number" name="valor_adiantamento" id="id_valor_adiantamento"
          class="form-control" value="0.00" step="0.01"></input>
        </div>
        <input type="hidden" name="registro" value="D" id="id_Registro_adiantamento">
        <input type="hidden" name="idContraCheque"
        value="{{ contra_cheque.idcontracheque }}" id="id_idContraCheque_adiantamento">
        <input type="hidden" name="mes_ano" value="" id="mes_ano_adiantamento">
        <input type="hidden" name="idPessoal" value="{{ contra_cheque.idpessoal }}"
        id="idPessoal_adiantamento">
        <div class="col-md-01">
          <button class="bi bi-clipboard-check i-button"
          data-idpessoal="{{ idpessoal }}" data-idcontracheque='{{ idcontracheque }}'>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="article-card-footer"></div>
{% endif %}
{% endif %}
{% if contra_cheque_itens %}
<div class="article-card-titulo card-contra-cheque">
  <span>CONTRA CHEQUE</span>
</div>
<div class="article-card-body">
  <div class="itens-contra-cheque">
    <div class="item-descricao item-titulo">DESCRIÇÃO</div>
    <div class="item-referencia item-titulo">REFERÊNCIA</div>
    <div class="item-vencimentos item-titulo">VENCIMENTOS</div>
    <div class="item-descontos item-titulo">DESCONTOS</div>
    <div class="item-botoes item-titulo"><span>.</span></div>
  </div>
  {% for cci in contra_cheque_itens %}
  <div class="itens-contra-cheque">
    <div class="item-descricao">
        {% if cci.descricao|length > 22 %}
        {{ cci.descricao|slice:"0:22" }} ...
        {% else %}
        {{ cci.descricao }}
        {% endif %}
    </div>
    <div class="item-referencia">
      {% if cci.referencia %} {{ cci.referencia }} {% else %}
      <span>.</span>
      {% endif %}
    </div>
    <div class="item-vencimentos">
      {% if cci.registro == 'C' %} R$ {{ cci.valor|intcomma }} 
      {% else %}
      <span>.</span>
      {% endif %}
    </div>
    <div class="item-descontos">
      {% if cci.registro == 'D' %} R$ {{ cci.valor|intcomma }} 
      {% else %}
      <span>.</span>
      {% endif %}
    </div>
    <div class="item-botoes">
      {% if cci.descricao == 'SALARIO' or cci.descricao == 'ATRAZO' or cci.descricao == 'HORA EXTRA' %}
        <i class="bi bi-pin-angle"></i>
        <i class="bi bi-pin-angle"></i>
      {% elif cci.descricao == 'ADIANTAMENTO' %}
        <i class="bi bi-printer i-button"></i>
        <i class="bi bi-trash i-button js-exclui-contra-cheque-itens"
        data-idcontrachequeitens="{{ cci.idcontrachequeitens }}"
        data-idpessoal="{{ contra_cheque.idpessoal }}"></i>
        {% elif cci.descricao == 'VALE TRANSPORTE' %}
        <i class="bi bi-printer i-button"></i>
        <i class="bi bi-pin-angle"></i>
        {% else %}
        <i class="bi bi-pin-angle"></i>
        <i class="bi bi-trash i-button js-exclui-contra-cheque-itens"
        data-idcontrachequeitens="{{ cci.idcontrachequeitens }}"
        data-idpessoal="{{ contra_cheque.idpessoal }}"></i>
      {% comment %} <span>.</span> {% endcomment %}
      {% endif %}
    </div>
  </div>
  {% endfor %}
  <div class="itens-contra-cheque">
    <div class="item-descricao item-vazio-top"><span>.</span></div>
    <div class="item-referencia item-vazio-top"><span>.</span></div>
    <div class="item-vencimentos">
      {% if vencimentos.soma > 0 %}
      R$ {{ vencimentos.soma|intcomma }}
      {% else %}
      R$ {{ vencimentos.soma|floatformat:2|intcomma }}
      {% endif %}
    </div>
    <div class="item-descontos">
      {% if descontos.soma > 0 %}
      R$ {{ descontos.soma|intcomma }}
      {% else %}
      R$ {{ descontos.soma|floatformat:2|intcomma }}
      {% endif %}
    </div>
    <div class="item-botoes"><span>.</span></div>
  </div>
  <div class="itens-contra-cheque">
    <div class="item-descricao item-vazio-bottom"><span>.</span></div>
    <div class="item-referencia item-vazio-bottom"><span>.</span></div>
    <div class="item-vencimentos item-ultima-linha">
      A RECEBER <i class="bi bi-arrow-right"></i>
    </div>
    <div class="item-descontos item-ultima-linha">
      {% if saldo > 0%}
      R$ {{ saldo|intcomma }}</div>
      {% else %}
      R$ {{ saldo|floatformat:2|intcomma }}</div>
      {% endif %}
    <div class="item-botoes item-ultima-linha">
      <i class="bi bi-printer i-button"></i>
    </div>
  </div>
</div>
<div class="article-card-footer"></div>
{% endif %}
