<!-- Header -->
<div class="card-header">
	<div class="input-group">
		<div class="input-group-addon addon-my-color">
			<i class="icofont-rounded-left-up"></i>
		</div>
		<div class="div-form-control">
				<span>MINUTAS</span>
		</div>
		<div class="input-group-addon addon-my-color">
			<i class="icofont-simple-down i-button js-body-minutas-pagamento-toggle"></i>
		</div>
		<div class="input-group-addon addon-my-color">
			<i class="icofont-rounded-right-up"></i>
		</div>
	</div>
</div>
<!-- Body -->
<div class="card-body body-minutas-pagamento">
    <div class="card-body-item js-mostra-vales">
		<div class="input-group">
            <div class="input-group-addon addon-my-color">
			    <i class="icofont-check i-button-null"></i>
            </div>
			<div class="div-flex div-form-control">
				<div class="tamanho-15 text-center">
					<span class="font-menor">DIA</span>
				</div>
                <div class="tamanho-10 text-center">
					<span class="font-menor">MINUTA</span>
				</div>
                <div class="tamanho-40 text-center">
					<span class="font-menor">CLIENTE</span>
				</div>
                <div class="tamanho-10 text-center">
					<span class="font-menor">INICIO</span>
				</div>
                <div class="tamanho-10 text-center">
					<span class="font-menor">FIM</span>
				</div>
                <div class="tamanho-10 text-center">
					<span class="font-menor">EXTRAS</span>
				</div>
    		</div>
			<div class="input-group-addon addon-my-color">
                <i class="icofont-check i-button-null"></i>
			</div>
		</div>
	</div>
    {% for itens in minutas %}
    <div class="card-body-item js-mostra-vales">
		<div class="input-group">
            <div class="input-group-addon addon-my-color">
			    <i class="i-button-null">{{ forloop.counter|stringformat:"02d" }}</i>
            </div>
			<div class="div-flex div-form-control">
				<div class="tamanho-15 text-center">
					<span>{{ itens.data_minuta }}</span>
				</div>
                <div class="tamanho-10 text-center">
					<span>{{ itens.minuta }}</span>
				</div>
                <div class="tamanho-45 text-left">
					<span>{{ itens.fantasia }}</span>
				</div>
                <div class="tamanho-10 text-center">
					<span>{{ itens.hora_inicial }}</span>
				</div>
                <div class="tamanho-10 text-center">
					<span>{{ itens.hora_final }}</span>
				</div>
                <div class="tamanho-10 text-center">
					<span>{{ itens.hora_extra }}</span>
				</div>
    		</div>
			<div class="input-group-addon addon-my-color">
                <i class="icofont-check i-button-null"></i>
			</div>
		</div>
	</div>
	{% endfor %}
</div>
<!-- Footer -->
<div class="card-footer">
	<div class="input-group">
		<div class="input-group-addon addon-my-color">
			<i class="icofont-rounded-left-down"></i>
		</div>
		<div class="div-flex div-form-control font-menor">
			<div class="tamanho-90 text-left">
				<span class="font-menor">TOTAL HORAS EXTRAS</span>
			</div>
			<div class="tamanho-10 text-center">
				<span class="font-menor">{{ horas_extras }}</span>
			</div>
		</div>
		<div class="input-group-addon addon-my-color">
			<i class="icofont-rounded-right-down"></i>
		</div>
	</div>
</div>
