{% load humanize %}
{% if v_folha %}
<div class="article-card-titulo card-folha">
  <span>FOLHA</span>
</div>
<div class="article-card-body">
  {% for key, value in v_folha.funcionarios.items %}
  <div class="itens-folha">
    <div class="item-nome">
      <span>{{ key }}</span>
    </div>
    <div class="item-salario">
      <span>R$ {{ value.salario|intcomma }}</span>
    </div>
    <div class="item-button">
      <i
        class="bi bi-folder-symlink i-button js-seleciona-funcionario"
        data-idpessoal="{{ value.idpessoal }}"
        data-admissao="{{ value.admissao }}"
        data-demissao="{{ value.demissao }}"
        data-mes="{{ v_folha.mes }}"
        data-ano="{{ v_folha.ano }}"
      ></i>
    </div>
  </div>
  {% endfor %}
</div>
<div class="article-card-footer"></div>
{% endif %}
