<div class="article-card-titulo">
    <span>PERÍODO DE PAGAMENTO AVULSOS</span>
</div>
<div class="article-card-body">
    <div class="item-periodo">
        <div class="item-data">
            <input type="date" class="form-control" name="DataInicial"
            value="{{ periodo.DataInicial }}" id="data_inicial">
        </div>
        <div class="item-data">
            <input type="date" class="form-control" name="DataFinal"
            value="{{ periodo.DataFinal }}" id="data_final">
        </div>
        <div class="button-save">
            <i class="bi bi-clipboard-check i-button js-periodo-avulso"></i>
        </div>
    </div>
</div>
<div class="article-card-footer"></div>