{% load humanize %}
{% if v_folha %}
<!-- Header -->
<div class="card-header">
	<span>FOLHA</span>
</div>
<!-- Body -->
<div class="card-body">
	{% for key, value in v_folha.funcionarios.items %}
	<div class="card-body-item">
		<div class="input-group">
			<div class="input-group-addon
			addon-my-color">
				<i class="icofont-waiter
				i-button-null"></i>
			</div>
			<div class="div-form-control div-flex font-menor">
				<div class="tamanho-50 text-left">
					<span title="Salário R$ {{ value.salario_base|intcomma }}">
						{{ key }}
					</span>
				</div>
				<div class="tamanho-25 text-right">
					<span title="Valor do Adiantamento">
						R$ {{ value.adiantamento|intcomma }}
					</span>
				</div>
				<div class="tamanho-25 text-right">
					<span title="Saldo a Receber">
						R$ {{ value.saldo_mes|intcomma }}
					</span>
				</div>
			</div>
			<div class="input-group-addon
			addon-my-color">
				<i class="bi bi-folder-symlink
				i-button
				js-seleciona-funcionario"
	  			data-idpessoal="{{ value.idpessoal }}"></i>
			</div>
		</div>
	</div>
	{% endfor %}
</div>
<!-- Footer -->
<div class="card-footer"></div>
{% endif %}
