{% if cartao_ponto %}
<div class="article-card-titulo">
  <span>CARTÃO DE PONTO</span>
</div>
<div class="article-card-body">
  {% for dias in cartao_ponto %} {% if dias.ausencia %}
  <div class="itens-cartao-ponto">
    <div class="item-dia">
      <span>{{ dias.dia }}</span>
    </div>
    <div class="item-button">
      <i class="bi bi-sunglasses"></i>
    </div>
    <div class="item-ausencia">
      <span>{{ dias.ausencia }}</span>
    </div>
    <div class="item-button">
      {% if dias.ausencia == 'FALTA' %}
      <i class="bi bi-menu-up i-button"></i>
      {% else %}
      <i class="bi bi-check-all"></i>
      {% endif %}
    </div>
    <div class="item-button">
      {% if dias.ausencia == 'FALTA' %}
      <i
        class="bi bi-calendar-x i-button js-altera-falta"
        idpessoal="{{ idpessoal }}"
        idcartaoponto="{{ dias.idcartaoponto }}"
      ></i>
      {% else %}
      <i class="bi bi-sunglasses"></i>
      {% endif %}
    </div>
  </div>
  {% else %}
  <div class="itens-cartao-ponto">
    <div class="item-dia">
      <span>{{ dias.dia }}</span>
    </div>
    <div class="item-button">
      <i
        class="bi bi-watch i-button"
        onclick="openMyModal(event); return false"
        data-action="{% url 'altera_horario_cartao_ponto' %}"
        data-title="EDITA CARTÃO DE PONTO"
        data-button-save-label="ALTERAR"
        data-idcartaoponto="{{ dias.idcartaoponto }}"
        data-idpessoal="{{ idpessoal }}"
      ></i>
    </div>
    {% if dias.entrada|time:"H:i" > '07:00' %}
    <div class="item-hora item-atrazo">{{ dias.entrada }}</div>
    {% elif dias.entrada|time:"H:i" == '07:00' %}
    <div class="item-hora item-padrao">{{ dias.entrada }}</div>
    {% elif dias.entrada|time:"H:i" < '07:00' %}
    <div class="item-hora item-extra">{{ dias.entrada }}</div>
    {% endif %} {% if dias.saida|time:"H:i" > '17:00' %}
    <div class="item-hora item-extra">{{ dias.saida }}</div>
    {% else %}
    <div class="item-hora item-padrao">{{ dias.saida }}</div>
    {% endif %}
    <div class="item-button">
      <i class="bi bi-check-all"></i>
    </div>
    <div class="item-button">
      <i
        class="bi bi-calendar-check i-button js-altera-falta"
        idpessoal="{{ idpessoal }}"
        idcartaoponto="{{ dias.idcartaoponto }}"
      ></i>
    </div>
  </div>
  {% endif %} {% endfor %}
</div>
<div class="article-card-footer"></div>
{% endif %}
{% if admissao %}
  {{ admissao }}
{% endif %}
{% if demissao %}
  {{ demissao }}
{% endif %}