{% load humanize %}
{% if nome %}
<div class="article-card-titulo">
    <span>VALES</span>
</div>
<div class="article-card-body js-body-lista-vales">
    {% if vales %}
    {% for itens in vales %}
        <div class="item-vales">
            <div class="item-botoes">
                {% if itens.checked %}
                <i class="bi bi-currency-dollar"></i>
                {% else %}
                <i class="bi bi-x-circle i-button js-seleciona-vale"
                data-idvales="{{ itens.idvales }}"
                data-idPessoal="{{ contra_cheque.idpessoal }}"
                data-idcontracheque="{{ contra_cheque.idcontracheque }}"></i>
                {% endif %}
            </div>
            <div class="item-data">
                <span>{{ itens.data }}</span>
            </div>
            <div class="item-descricao">
                {% if itens.descricao|length > 17 %}
                <span>{{ itens.descricao|slice:"0:17" }}...</span>
                {% else %}
                <span>{{ itens.descricao }}</span>
                {% endif %}
            </div>
            <div class="item-valor">
                <span>R$ {{ itens.valor|intcomma }}</span>
            </div>
            <div class="item-botoes">
                <i class="bi bi-trash i-button js-exclui-vale"
                data-idvales="{{ itens.idvales }}"
                data-idPessoal="{{ contra_cheque.idpessoal }}"></i>
            </div>
        </div>
    {% endfor %}
    {% else %}
        <div class="item-vales"><span>NENHUM VALE ENCONTRADO</span></div>
    {% endif %}
</div>
<div class="article-card-footer">
    {% for itens in vales %}
    {% if forloop.last %}
    <span><b>{{ forloop.counter|stringformat:"02d" }} VALE{{ forloop.counter|pluralize|upper }}</b></span>
    {% endif %}
    {% endfor %}
</div>
{% endif %}