{% extends 'pagamentos/basepagamentos.html' %}
{% load permission_tags %}
{% block mainpagamento %}
<main class="section-grid grid-pagamento">
    <section class="grid-column">
      <article class="card card-seleciona-mes">
        {% include 'pagamentos/card_mes_ano.html'%}
      </article>
      <article class="card card-folha-pagamento js-folha">
      </article>
    </section>
    <section class="grid-column">
      <article class="card card-cartao-ponto js-cartao-ponto">
      </article>
    </section>
    <section class="grid-column">
      <article class="card card-funcionario-pagamento js-funcionario-pagamento">
      </article>
      <article class="card card-contra-cheque-colaborador js-contra-cheque">
      </article>
      <article class="card card-vales-colaborador">
      </article>
      <article class="card card-minutas-pagamento js-minutas-pagamento">
      </article>
      <article class="card card-agenda js-agenda-pagamento">
      </article>
                {% comment %} <article class="article-card card-itens-agenda js-itens-agenda-pagamento"> {% endcomment %}
            {% comment %} {% include 'pagamentos/html_itens_agenda.html' %} {% endcomment %}
        {% comment %} </article> {% endcomment %}
        {% comment %} <article class="article-card card-files js-files-pagamento"> {% endcomment %}
            {% comment %} {% include 'pagamentos/html_files.html' %} {% endcomment %}
        {% comment %} </article> {% endcomment %}
        {% comment %} <article class="article-card card-itens-contra-cheque js-itens-contra-cheque"> {% endcomment %}
            {% comment %} {% include 'pagamentos/html_itens_contra_cheque.html' %} {% endcomment %}
        {% comment %} </article> {% endcomment %}
    </section>
    {% comment %} {% if user|can:'pagamentos_avulso' %} {% endcomment %}
    {% comment %} <div class="div-cinco"> {% endcomment %}
        {% comment %} <article class="article-card card-periodo-avulso"> {% endcomment %}
            {% comment %} {% include 'pagamentos/html_avulso_periodo.html' %} {% endcomment %}
        {% comment %} </article> {% endcomment %}
        {% comment %} <article class="article-card card-saldo-avulso"></article> {% endcomment %}
        {% comment %} <article class="article-card card-minutas-avulso"></article> {% endcomment %}
        {% comment %} <article class="article-card card-form-colaborador"></article> {% endcomment %}
        {% comment %} <article class="article-card card-recibos-avulso"></article> {% endcomment %}
    {% comment %} </div> {% endcomment %}
    {% comment %} {% endif %} {% endcomment %}
</main>


<!-- DIV MODAL -->
<div class="modal fade bd-example-modal-lg" id="MyModal" tabindex="-1">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"
          aria-label="close" >
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title"><b>CARTÃO DE PONTO</b></h4>
      </div>
      <div class="modal-body"></div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">
          FECHAR
        </button>
        <button type="submit" class="btn btn-success btn-save">EDITAR</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}
