{% extends 'pagamentos/basepagamentos.html' %} {% load permission_tags %}
{% block mainpagamento %}
<main class="article">
  <div>
    <article class="article-card card-mes-ano">
      <div class="article-card-titulo">
        <span>FOLHA PAGAMENTO</span>
      </div>
      <div class="article-card-body">
        <select name="meses" id="meses" class="select-mes-ano form-control">
          {% for itens in mes_ano %}
          <option value="{{ itens }}">{{ itens|upper }}</option>
          {% endfor %}
        </select>
        <div class="button-mes-ano">
          <i class="bi bi-clipboard-check i-button js-seleciona-mes-ano"></i>
        </div>
      </div>
      <div class="article-card-footer"></div>
    </article>
    <article class="article-card card-folha js-folha">
      {% include 'pagamentos/html_folha.html' %}
    </article>
    {% if user|can:'pagamentos_folha' %}
      <article class="article-card card-adiantamento js-adiantamento">
        {% include 'pagamentos/html_adiantamento.html' %}
      </article>
    {% endif %}
    <article class="article-card card-funcionario-pagamento js-funcionario-pagamento">
      {% include 'pagamentos/html_funcionario.html' %}
    </article>
  </div>
  <div>
    <article class="article-card card-cartao-ponto js-cartao-ponto">
      {% include 'pagamentos/html_cartao_ponto.html' %}
    </article>
  </div>
  <div>
    <article class="article-card card-itens-contra-cheque js-itens-contra-cheque">
      {% include 'pagamentos/html_itens_contra_cheque.html' %}
    </article>
    <article class="article-card card-vales js-vales">
      {% include 'pagamentos/html_vales.html' %}
    </article>
    <article class="article-card card-contra-cheque js-contra-cheque">
      {% include 'pagamentos/html_contra_cheque.html' %}
    </article>
  </div>
  <div class="div-quatro">
    <div>
      <article class="article-card card-files js-files-pagamento">
        {% include 'pagamentos/html_files.html' %}
      </article>
    </div>
    <article class="article-card card-minutas-pagamento js-minutas-pagamento">
      {% include 'pagamentos/html_minutas.html' %}
    </article>
    <article class="article-card card-vales-pagamento js-vales-pagamento">
      {% include 'pagamentos/html_vales_pagamento.html' %}
    </article>
  </div>
  {% comment %} <div class="pagamento-conteudo mensalistas">
    <header class="titulo-mensalistas">
      <h3>FOLHA DE PAGAMENTO MENSALISTAS</h3>
      <button
        class="btn btn-xs glyphicon glyphicon-chevron-up up-folha div-fade-folha"
      ></button>
      <button
        class="btn btn-xs glyphicon glyphicon-chevron-down down-folha div-fade-folha"
      ></button>
    </header>
    <main id="fp-main">
      <div class="fp-form">
        <div class="fp-referencia">
          <form
            class="row g-3"
            method="post"
            action="{% url 'selecionafolha' %}"
            id="form-seleciona-folha"
          >
            {% csrf_token %}
            <div class="col-md-4">
              {{ formcontracheque.MesReferencia }} {{ formcontracheque.MesReferencia.error }}
            </div>
            <div class="col-md-4">
              {{ formcontracheque.AnoReferencia }} {{ formcontracheque.AnoReferencia.error }}
            </div>
            <input type="hidden" name="Valor" value="0.00" id="id_Valor" />
            <input
              type="hidden"
              name="idPessoal"
              value="{{ itens.idPessoal }}"
              id="id_idPessoal"
            />
            <div class="col-md-4">
              <button class="btn btn-primary glyphicon glyphicon-save"></button>
            </div>
          </form>
        </div>
        <div class="fp-contrachequeitens">
          <!-- Comentário: arquivo contrachequeitens.html -->
        </div>
      </div>
      <div class="fp-base"><!-- Comentário: arquivo folhapgto.html --></div>
    </main>
  </div> {% endcomment %}
  {% if user|can:'pagamentos_avulso' %}
  <div class="pagamento-conteudo avulsos">
    <header class="titulo-mensalistas">
      <h3>PAGAMENTO AVULSOS</h3>
      <button
        class="btn btn-xs glyphicon glyphicon-chevron-up up-avulso div-fade-avulso"
      ></button>
      <button
        class="btn btn-xs glyphicon glyphicon-chevron-down down-avulso div-fade-avulso"
      ></button>
    </header>
    <main id="pa-main">
      <div class="pa-form">
        <div class="pa-periodo">
          <form
            class="row g-3"
            method="post"
            action="{% url 'selecionaperiodo' %}"
            id="form-seleciona-periodo"
          >
            {% csrf_token %}
            <div class="col-md-4">
              <input
                type="date"
                class="form-control"
                value="{{ periodo.DataInicial }}"
                name="DataInicial"
                id="id_DataInicial"
              />
            </div>
            <div class="col-md-4">
              <input
                type="date"
                class="form-control"
                value="{{ periodo.DataFinal }}"
                name="DataFinal"
                id="id_DataFinal"
              />
            </div>
            <div class="col-md-4">
              <button class="btn btn-primary glyphicon glyphicon-save"></button>
            </div>
          </form>
        </div>
        <div class="pa-faixa"><!-- Comentário: ??? --></div>
      </div>
      <div class="pa-saldo-minutas"></div>
    </main>
  </div>
  {% endif %} {% if user|can:'pagamentos_vales' %}
  <div class="pagamento-conteudo vales">
    <header class="titulo-mensalistas">
      <h3>CADASTRO DE VALES</h3>
    </header>
    <main>
      <div class="fp-vale-form">
        <form
          class="row g-3"
          method="post"
          action="/pagamentos/criavale"
          id="form-vale"
        >
          {% csrf_token %}
          <div class="col-md-2">
            <label for="id_Data" class="form-label">DATA:</label>
            {{ formvales.Data }}
          </div>
          <div class="col-md-3">
            <label for="id_idPessoal" class="form-label">COLABORADOR:</label>
            {{ formvales.idPessoal }}
          </div>
          <div class="col-md-4">
            <label for="id_Descricao" class="form-label">DESCRIÇÃO:</label>
            {{ formvales.Descricao }}
          </div>
          <div class="col-md-2">
            <label for="id_Valor" class="form-label">VALOR:</label>
            {{ formvales.Valor }}
          </div>
          <div class="col-md-1">
            <label for="id_Parcelas" class="form-label">PARCELAS:</label>
            <input
              type="number"
              name="Parcelas"
              value="1"
              class="form-control"
              id="id_Parcelas"
            />
          </div>
          <div class="button-vale">
            <button
              type="submit"
              class="btn btn-primary glyphicon glyphicon-save"
            ></button>
          </div>
        </form>
      </div>
    </main>
  </div>
  {% endif %}
</main>


<!-- DIV MODAL -->
<div class="modal fade bd-example-modal-lg" id="MyModal" tabindex="-1">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title"><b>CARTÃO DE PONTO</b></h4>
      </div>
      <div class="modal-body"></div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">
          FECHAR
        </button>
        <button type="submit" class="btn btn-success btn-save">EDITAR</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}
