{% for colaborador in colaborador %}
<div class="article-card-titulo">
    <span>{{ colaborador.Nome }}</span>
</div>
<div class="article-card-body js-body-minutas-avulso">
    <div class="itens-minuta-avulso">
        <div class="item-dataminuta item-titulo">DATA</div>
        <div class="item-minuta item-titulo">MINUTA</div>
        <div class="item-cliente">CLIENTE</div>
        <div class="item-descricao">DESCRIÇÃO</div>
        <div class="item-valor item-titulo">VALOR</div>
    </div>
    {% for itens in recibo %}
    <div class="itens-minuta-avulso">
        <div class="item-dataminuta">{{ itens.Data }}</div>
        <div class="item-minuta">{{ itens.Minuta }}</div>
        <div class="item-cliente">{{ itens.Cliente }}</div>
        <div class="item-descricao">{{ itens.Descricao }}</div>
        <div class="item-valor">R$ {{ itens.Valor }}</div>
    </div>
    {% endfor %}
</div>
<div class="article-card-footer">
    <i class="bi bi-currency-dollar i-button js-gera-pagamento-avulso"
    datafinal="{{ datafinal }}" datainicial="{{ datainicial }}"
    idpessoal="{{ colaborador.idPessoal }}"></i>
</div>
{% endfor %}