<form method="post" action="">
    {% csrf_token %}
    <div>
        <div class="text-center font-maior">
            <span>
                {{ agenda.idPessoal }}
            </span>
        </div>
        <div class="text-center">
            <span>
                DATA: {{ agenda.Dia }}
            </span>
        </div>
        <div class="text-center">
            <span>
                DESCRIÇÃO: {{ agenda.Descricao }}
            </span>
        </div>
        <input type="hidden" name="idagenda" value="{{ agenda.idAgenda }}">
        <input type="hidden" name="idpessoal" value="{{ idpessoal  }}">
        <input type="hidden" name="mes_ano" value="{{ mes_ano }}">
    </div>
</form>
