{% for itens in lista_itens_pagar %}
<div class="pagamento-dados-itens">
    <div class="pagamento-dados-minuta">
        <div class="pagamento-switch-minuta">
            <input id="{{ itens.idMinutaItens }}" name="switch"
                   value="{{ itens.idMinutaItens }}"
                   class="switch switch--shadow"
                   checked="checked"
                   type="checkbox">
            <label for="{{ itens.idMinutaItens }}"></label>
        </div>
        {{ itens.Minuta }}
    </div>
    <div class="pagamento-dados-valor">
        <div>{{ itens.Descricao }} </div>
        <div>R$ {{ itens.Valor|floatformat:2 }}</div>
    </div>
</div>
{% endfor %}