<div class="article-card-titulo">
    <span>RECIBOS</span>
</div>
<div class="article-card-body js-body-recibos-avulso">
    {% if recibos %}
    <div class="itens-recibo-avulso">
        <div class="item-dia item-titulo">DIA</div>
        <div class="item-recibo item-titulo">RECIBO</div>
        <div class="item-valor item-titulo">VALOR</div>
        <div class="item-button item-titulo"></div>
        <div class="item-button item-titulo"></div>
        <div class="item-button item-titulo"></div>
    </div>
        {% for itens in recibos %}
            <div class="itens-recibo-avulso">
                <div class="item-dia">{{ itens.DataRecibo }}</div>
                <div class="item-recibo">{{ itens.Recibo }}</div>
                <div class="item-valor" id="valor_{{ value.idRecibos }}_Vale">R$ {{ itens.ValorRecibo }}</div>
                <div class="item-button">
                    <i class="bi bi-reply-all i-button estorna-recibo"
                            data-url="{% url 'excluirecibo' %}" idrecibo="{{ itens.idRecibo }}"
                            datainicial="{{ datainicial }}" datafinal="{{ datafinal }}"
                            idpessoal="{{ itens.idPessoal }}">
                    </i>
                </div>
                <div class="item-button">
                    {% if forloop.first %}  
                    <a class="bi bi-printer i-button js-recibo-novo"
                    href="{% url 'imprimerecibo' %}?idrecibo={{ itens.idRecibo }}"
                    target="_blank">
                    </a>
                    {% else %}
                    <a class="bi bi-printer i-button"
                    href="{% url 'imprimerecibo' %}?idrecibo={{ itens.idRecibo }}"
                    target="_blank">
                    </a>
                    {% endif %}
                </div>
                <div class="item-button">
                    {% if itens.StatusRecibo == "PAGO" %}
                    <i class="bi bi-trash i-button js-form-paga-recibo"
                            data-idrecibo="{{ itens.idRecibo }}"
                            data-idpessoal="{{ itens.idPessoal }}">
                    </i>
                    {% else %}
                    <i class="bi bi-currency-dollar i-button js-form-paga-recibo"
                            data-idrecibo="{{ itens.idRecibo }}"
                            data-idpessoal="{{ itens.idPessoal }}"
                            data-valor="{{ itens.ValorRecibo }}">
                    </i>
                   {% endif %}
                </div>
            </div>
        {% endfor %}
    {% else %}
    <span>NENHUM RECIBO ENCONTRADO</span>
    {% endif %}
</div>
<div class="article-card-footer"></div>