{% load humanize %}
<div class="article-card-titulo">
    <span>COLABORADORES AVULSO</span>
</div>
<div class="article-card-body">
    {% for itens in saldo %}
    <div class="itens-saldo-avulso">
        <div class="item-nome">
            <span>{{ itens.Nome|truncatechars:25 }}</span>
        </div>
        <div class="item-valor">
            <span>R$ {{ itens.Saldo|floatformat:2 }}</span>
        </div>
        <div class="item-button">
            <i class="bi bi-folder-symlink i-button js-saldo-avulso"
            data-url="{% url 'selecionasaldoavulso' %}"
            datainicial="{{ datainicial }}" datafinal="{{ datafinal }}"
            idpessoal="{{ itens.idPessoal }}"></i>
        </div>
    </div>
    {% endfor %}
</div>
<div class="article-card-footer">
    <div class="itens-saldo-avulso">
        <div class="item-nome">Total</div>
        <div class="item-valor">
            <span>R$ {{ saldototal|intcomma }}</span>
        </div>
        <div class="item-button"></div>
    </div>
</div>



<div class="pa-saldo">
    <table class="pa-tabela">
    </table>
    <div class="pa-vales"></div>
    <div class="pa-recibos"></div>
</div>
<div class="pa-minutas"></div>