<div class="fp-vale-tabela">
    {% if dict_vale.items %}
    <table class="fp-tabela">
        <tr>
            <td colspan="4">
                <b>VALES</b>
            </td>
        </tr>
        <tr>
            <td class="fp-vale-titulo">DIA</td>
            <td class="fp-vale-titulo">DESCRIÇÃO</td>
            <td class="fp-vale-titulo">VALOR</td>
            <td class="fp-vale-titulo"></td>
            <td class="fp-vale-titulo"></td>
        </tr>
            {% for key, value in dict_vale.items %}
                <tr>
                    <td class="fp-vale-dia">{{ value.Data }}</td>
                    <td class="fp-vale-descricao">{{ value.Descricao|truncatechars:40 }}</td>
                    <td class="fp-vale-valor" id="valor_{{ value.idVales }}_Vale">R$ {{ value.Valor }}</td>
                    <td class="fp-vale-button">
                        <div>
                            <input class="switchmini switchmini--shadow" id="id_{{ value.idVales }}_Vale" name="Vale"
                                   {% if value.Checked %}
                                   checked="checked"
                                   {% endif %}
                                   tipopgto="{{ TipoPgto }}" valorvale="{{ value.Valor }}" type="checkbox"
                                   data-url="criacontrachequeitensvale" idpessoal="{{ idPessoal }}"
                                   idcontracheque="{{ idcontracheque }}" idvales="{{ value.idVales }}">
                            <label for="id_{{ value.idVales }}_Vale"></label>
                        </div>
                    </td>
                    <td class="fp-vale-exclui">
                        <button class="btn btn-danger btn-xs glyphicon glyphicon-remove remove-vale"
                                data-url="{% url 'excluivale' %}" idvales="{{ value.idVales }}">
                        </button>
                    </td>
                </tr>
            {% endfor %}
    </table>
    {% else %}
    <span>NENHUM VALE ENCONTRADO</span>
    {% endif %}
</div>
