.vs/
.idea/
db.sqlite3
venv
media
*.pyc
minutas/functions.py
desktop.ini
geckodriver.log
mysql.cnf
transefetiva/settings/development.py
staticfiles
auth/
site/
transefetiva/wsgi.py
transefetiva/asgi.py
manage.py
transefetiva/settings/.env
.pytest_cache
.vscode
.python-version
pyrightconfig.json
