{% for ajudante in s_minuta.ajudantes %}
<div class="card-minuta-dados">
    <div class="input-group">
        <i class="bi bi-person-plus-fill input-group-addon addon-my-color"></i>
        <span class="form-control input-fake" title="{{ ajudante.nome }}">{{ ajudante.apelido }}</span>
        <div class="input-group-addon addon-my-color">
            {% if not s_minuta.paga_realizada %}
            <i class="bi bi-trash i-button remove-colaborador" idMinuta="{{ s_minuta.idminuta }}" Cargo="AJUDANTE"
            idMinutaColaboradores="{{ ajudante.idMinutaColaboradores }}"></i>
            {% endif %}
        </div>
    </div>
</div>
{% endfor %}