<div class="card-header">
    <div class="input-group">
        <div class="input-group-addon addon-my-color">
            <i class="icofont-rounded-left-up"></i>
        </div>
        <div class="div-form-control">
            <span>CHECK LIST</span>
        </div>
        <div class="input-group-addon addon-my-color">
            <i class="icofont-rounded-right-up"></i>
        </div>
    </div>
</div>
<div class="card-body">
    {% for item in checklist %}
        {% if item.condicao %}
        <div class="card-body-item">
            <div class="input-group">
                <div class="input-group-addon addon-my-color">
                    <i class="icofont-square-down i-button-null"></i>
                </div>
                <div class="div-flex div-form-control">
                    <div class="tamanho-100 text-center font-menor">
                        <span>{{ item.descricao }}</span>
                    </div>
                </div>
                <div class="checkbox input-group-addon addon-my-color">
                    {% if item.check %}
                    <i class="icofont-square-down chk-green"></i>
                    {% else %}
                        {% if item.descricao == "CONCLUIR MINUTA" %}
                        <i class="icofont-square chk-red-conclui"></i>
                        {% else %}
                        <i class="icofont-square chk-red"></i>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
        {% endif %}
    {% endfor %}
</div>
<div class="card-footer">
    <div class="input-group">
        <div class=" input-group-addon addon-my-color">
            <i class="icofont-rounded-left-down"></i>
        </div>
        <div class="div-flex div-form-control">
            <div class="tamanho-100 text-center">
                {% if s_minuta.status_minuta == 'ABERTA' %}
                <i class="icofont-check-circled i-button js-alterar-status-minuta"
                   id="btn-concluir-minuta"
                   data-id_minuta="{{ s_minuta.idminuta }}"
                   data-proximo-status="CONCLUIDA"
                   title="CONCLUIR MINUTA"></i>
                {% elif not s_minuta.paga_realizada_motorista and s_minuta.status_minuta == 'CONCLUIDA'%}
                <i class="icofont-undo i-button js-alterar-status-minuta"
                   id="btn-estornar-concluir"
                   data-id_minuta="{{ s_minuta.idminuta }}"
                   data-proximo-status="ABERTA"
                   title="ESTORNAR MINUTA CONCLUÍDA"></i>
                {% endif %}
            </div>
        </div>
        <div class=" input-group-addon addon-my-color">
            <i class="icofont-rounded-right-down"></i>
        </div>
    </div>
</div>
