<div class="card-header">
    <span>CHECK LIST</span>
</div>
<div class="card-body">
    <!-- HORA FINAL -->
    <div class="card-body-item">
        <div class="input-group">
            <i class="bi bi-check-square
            input-group-addon
            addon-my-color
            i-button-null"></i>
            <span class="form-control input-fake">HORA FINAL</span>
            <div class="checkbox input-group-addon addon-my-color">
                {% if s_minuta.hora_final > s_minuta.hora_inicial %}
                <i class="bi bi-check-square chk-green"></i>
                {%  else %}
                <i class="bi bi-square chk-red"></i>
                {% endif %}
            </div>
        </div>
    </div>
    <!-- VEÍCULO SOLICITADO -->
    <div class="card-body-item">
        <div class="input-group">
            {% if s_minuta.entregas %}
            <i class="bi bi-check-square
            input-group-addon
            addon-my-color
            i-button-null"></i>
            {% else %}
            <i class="bi bi-square
            input-group-addon
            addon-my-color
            i-button-null"></i>
            {% endif %}
            <span class="form-control input-fake">VEÍCULO SOLICITADO</span>
            <div class="checkbox input-group-addon addon-my-color">
                {% if s_minuta.entregas %}
                    {% if s_minuta.veiculo_solicitado %}
                    <i class="bi bi-check-square chk-green"></i>
                    {%  else %}
                    <i class="bi bi-square chk-red"></i>
                    {% endif %}
                {%  else %}
                    {% if s_minuta.veiculo_solicitado %}
                    <i class="bi bi-check-square chk-green"></i>
                    {%  else %}
                    <i class="bi bi-square chk-green"></i>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
    {% if s_minuta.veiculo_solicitado %}
    <div class="card-body-item">
        <div class="input-group">
            <i class="bi bi-check-square
            input-group-addon
            addon-my-color
            i-button-null"></i>
            <span class="form-control input-fake">MOTORISTA</span>
            <div class="checkbox input-group-addon addon-my-color">
                {% if s_minuta.motorista %}
                <i class="bi bi-check-square chk-green"></i>
                {%  else %}
                <i class="bi bi-square chk-red"></i>
                {% endif %}
            </div>
        </div>
    </div>
    {% endif %}
    {% if s_minuta.motorista %}
    <div class="card-body-item">
        <div class="input-group">
            <i class="bi bi-check-square
            input-group-addon
            addon-my-color
            i-button-null"></i>
            <span class="form-control input-fake">VEÍCULO</span>
            <div class="checkbox input-group-addon addon-my-color">
                {% if s_minuta.veiculo %}
                <i class="bi bi-check-square chk-green"></i>
                {%  else %}
                <i class="bi bi-square chk-red"></i>
                {% endif %}
            </div>
        </div>
    </div>
    {% endif %}
    {% if s_minuta.veiculo %}
    <div class="card-body-item">
        <div class="input-group">
            <i class="bi bi-check-square
            input-group-addon
            addon-my-color
            i-button-null"></i>
            <span class="form-control input-fake">KM INICIAL</span>
            <div class="checkbox input-group-addon addon-my-color">
                {% if s_minuta.km_inicial %}
                <i class="bi bi-check-square chk-green"></i>
                {%  else %}
                <i class="bi bi-square chk-red"></i>
                {% endif %}
            </div>
        </div>
    </div>
    {% endif %}
    {% if s_minuta.km_inicial %}
    <div class="card-body-item">
        <div class="input-group">
            <i class="bi bi-check-square
            input-group-addon
            addon-my-color
            i-button-null"></i>
            <span class="form-control input-fake">KM FINAL</span>
            <div class="checkbox input-group-addon addon-my-color">
                {% if s_minuta.km_final %}
                <i class="bi bi-check-square chk-green"></i>
                {%  else %}
                <i class="bi bi-square chk-red"></i>
                {% endif %}
            </div>
        </div>
    </div>
    {% endif %}
    <div class="card-body-item">
        <div class="input-group">
            <i class="bi bi-square
            input-group-addon
            addon-my-color
            i-button-null"></i>
            <span class="form-control input-fake">AJUDANTE</span>
            <div class="checkbox input-group-addon addon-my-color">
                {% if s_minuta.ajudantes %}
                <i class="bi bi-check-square chk-green"></i>
                {%  else %}
                <i class="bi bi-square chk-green"></i>
                {% endif %}
            </div>
        </div>
    </div>
    {% if s_minuta.ajudante_avulso %}
    <div class="card-body-item">
        <div class="input-group">
            <i class="bi bi-check-square
            input-group-addon
            addon-my-color
            i-button-null"></i>
            <span class="form-control input-fake">PAGAMENTOS DE AJUDANTES</span>
            <div class="checkbox input-group-addon addon-my-color">
                {% if s_minuta.paga_realizada_ajudantes %}
                    <i class="bi bi-check-square chk-green"></i>
                {%  else %}
                    <i class="bi bi-square chk-red-gera-paga"></i>
                {% endif %}
            </div>
        </div>
    </div>
    {% endif %}
    <div class="card-body-item">
        <div class="input-group">
            <i class="bi bi-check-square
            input-group-addon
            addon-my-color
            i-button-null"></i>
            <span class="form-control input-fake">CONCLUIR MINUTA</span>
            <div class="checkbox input-group-addon addon-my-color">
                {% if s_minuta.status_minuta == 'CONCLUIDA' %}
                <i class="bi bi-check-square chk-green"></i>
                {%  else %}
                <i class="bi bi-square chk-red-conclui"></i>
                {% endif %}
            </div>
        </div>
    </div>
</div>
<div class="card-footer">
    {% if s_minuta.status_minuta == 'ABERTA' %}
    <i class="bi bi-check2-square i-button conclui-minuta"
    title="CONCLUI MINUTA"
    idMinuta="{{ s_minuta.idminuta }}"></i>
    {% endif %}
</div>


