<div class="card-body-item">
    <div class="input-group">
        <i class="bi bi-building input-group-addon addon-my-color"></i>
        <span class="form-control input-fake">{{ s_minuta.cliente }}</span>
        <div class="input-group-addon addon-my-color">
            <i class="bi bi-check"></i>
        </div>
    </div>
</div>
<div class="card-body-item">
    <div class="input-group">
        <i class="bi bi-calendar input-group-addon addon-my-color"></i>
        <span class="form-control input-fake">{{ s_minuta.data }}</span>
        <div class="input-group-addon addon-my-color">
            <i class="bi bi-check"></i>
        </div>
    </div>
</div>
<div class="card-body-item">
    <div class="input-group">
        <i class="bi bi-brightness-high-fill input-group-addon addon-my-color"></i>
        <span class="form-control input-fake">{{ s_minuta.hora_inicial }}</span>
        <div class="input-group-addon addon-my-color">
            <i class="bi bi-check"></i>
        </div>
    </div>
</div>