<div class="article-minuta-dados article-info">
    <i class="bi bi-upload" title="LOCAL COLETA"></i>
    <span>
        {% if s_minuta.coleta != '' %}
        {{ s_minuta.coleta|slice:"0:80" }}
        {% else %}
        COLETA NÃO INFORMADA.
        {% endif %}
    </span>
    <div></div>
</div>
<div class="article-minuta-dados article-info">
    <i class="bi bi-download" title="LOCAL ENTREGA"></i>
    <span>
        {% if s_minuta.entrega != '' %}
        {{ s_minuta.entrega|slice:"0:80" }}
        {% else %}
        ENTREGA NÃO INFORMADA.
        {% endif %}
    </span>
    <div>
        <i class="bi bi-pencil-square i-button" onclick="openMyModal(event); return false;"
           data-title="COLETA - ENTREGA - OBS" data-action="{% url 'editacoletaentregaobs' %}"
           data-button-save-label="EDITA" data-idminuta="{{ s_minuta.idminuta }}"></i>
    </div>
</div>
<div class="article-minuta-dados article-info">
    <i class="bi bi-info-circle-fill" title="OBSERVAÇÕES"></i>
    <span>
        {% if s_minuta.obs != '' %}
        {{ s_minuta.obs|slice:"0:80" }}
        {% else %}
        OBSERVAÇÕES NÃO INFORMADA
        {% endif %}
    </span>
    <div></div>
</div>