<div class="card-minuta-dados article-info">
    <div class="input-group">
        <i class="bi bi-upload input-group-addon addon-my-color" title="LOCAL COLETA"></i>
        <span class="form-control input-fake">
            {% if s_minuta.coleta != '' %}
            {{ s_minuta.coleta|slice:"0:80" }}
            {% else %}
            COLETA NÃO INFORMADA.
            {% endif %}
        </span>
        <div class="input-group-addon addon-my-color">
            {% if not s_minuta.paga_realizada %}
            <i class="bi bi-pencil-square i-button" onclick="openMyModal(event); return false;"
            data-title="COLETA - ENTREGA - OBS" data-action="{% url 'editacoletaentregaobs' %}"
            data-button-save-label="EDITA" data-idminuta="{{ s_minuta.idminuta }}"></i>
            {% endif %}
        </div>
    </div>
</div>
<div class="linha-divisoria"></div>
<div class="card-minuta-dados article-info">
    <div class="input-group">
        <i class="bi bi-download input-group-addon addon-my-color" title="LOCAL ENTREGA"></i>
        <span class="form-control input-fake">
            {% if s_minuta.entrega != '' %}
            {{ s_minuta.entrega|slice:"0:80" }}
            {% else %}
            ENTREGA NÃO INFORMADA.
            {% endif %}
        </span>
        <div class="input-group-addon addon-my-color">
            {% if not s_minuta.paga_realizada %}
            <i class="bi bi-pencil-square i-button" onclick="openMyModal(event); return false;"
            data-title="COLETA - ENTREGA - OBS" data-action="{% url 'editacoletaentregaobs' %}"
            data-button-save-label="EDITA" data-idminuta="{{ s_minuta.idminuta }}"></i>
            {% endif %}
        </div>
    </div>
</div>
<div class="linha-divisoria"></div>
<div class="card-minuta-dados article-info">
    <div class="input-group">
        <i class="bi bi-info-circle-fill input-group-addon addon-my-color" title="OBSERVAÇÕES"></i>
        <span class="form-control input-fake">
            {% if s_minuta.obs != '' %}
            {{ s_minuta.obs|slice:"0:80" }}
            {% else %}
            OBSERVAÇÕES NÃO INFORMADA
            {% endif %}
        </span>
        <div class="input-group-addon addon-my-color">
            {% if not s_minuta.paga_realizada %}
            <i class="bi bi-pencil-square i-button" onclick="openMyModal(event); return false;"
            data-title="COLETA - ENTREGA - OBS" data-action="{% url 'editacoletaentregaobs' %}"
            data-button-save-label="EDITA" data-idminuta="{{ s_minuta.idminuta }}"></i>
            {% endif %}
        </div>
    </div>
</div>