{% extends 'minutas/baseminutas.html' %}

{% block title %}
    Módulo Minutas
{% endblock %}

{% block mainminuta %}
<main>
    <div class="consulta" xmlns="http://www.w3.org/1999/html">
        {% for itens in minuta %}
        <header class="consulta-header">
            <div class="consulta_headertitulo">
                <p><b>MINUTA {{ itens.Minuta }} - DATA {{ itens.DataMinuta }} - PERÍODO DAS {{ itens.HoraInicial }} ATÉ {{ itens.HoraFinal }} - {{ itens.idCliente.Fantasia }}</b></p>
            </div>
            <div class="consulta_headerbtn">
                {% if itens.StatusMinuta == 'ABERTA' %}
                    <button class="btn btn-success js-editaminuta"
                            idminuta="{{ itens.idMinuta }}"
                            data-url="{% url 'editaminuta' itens.idMinuta %}">
                        <span class="glyphicon glyphicon-edit"></span>
                    </button>
                {% endif %}
                <button class="btn btn-warning js-imprimeminuta"
                        idminuta="{{ itens.idMinuta }}"
                        onclick="window.location.href = '{% url 'imprimeminuta' itens.idMinuta %}'">
                    <span class="glyphicon glyphicon-file"></span>
                </button>
            </div>
            <div class="consulta-header-dados">
                {% if itens.idCategoriaVeiculo %}
                <p><b>VEÍCULO SOLICITADO: {{ itens.idCategoriaVeiculo }}</b></p>
                {% endif %}
                {% if itens.Coleta %}
                <p><b>COLETA: {{ itens.Coleta|slice:"0:125" }}</b></p>
                {% endif %}
                {% if itens.Entrega %}
                <p><b>ENTREGA: {{ itens.Entrega|slice:"0:125" }}</b></p>
                {% endif %}
                {% if itens.Obs %}
                <p><b>OBSERVAÇÕES: {{ itens.Obs|slice:"0:125" }}</b></p>
                {% endif %}
            </div>
        </header>
        <main>
            <div class="card-motorista card-base1">
                <header>
                    <span><b>MOTORISTA</b></span>
                </header>
                <section>
                    {% if motorista_da_minuta %}
                    {% for itensmotorista in motorista_da_minuta %}
                    <span><b>{{ itensmotorista.idPessoal }}</b></span>
                    {% endfor %}
                    {% else %}
                    <span><b>NENHUM MOTORISTA SELECIONADO</b></span>
                    {% endif %}
                </section>
                <footer>
                    {% if motorista_da_minuta %}
                    {% for itensmotorista in motorista_da_minuta %}
                    <button class="btn btn-danger btn-xs js-excluiminutamotorista"
                            idminutacolaboradores="{{ itensmotorista.idMinutaColaboradores }}"
                            data-url="{% url 'excluiminutamotorista' itensmotorista.idMinutaColaboradores %}">
                        <span class="glyphicon glyphicon-trash"></span>
                    </button>
                    {% endfor %}
                    {% else %}
                    <button class="btn btn-success btn-xs js-criaminutamotorista"  idminuta="{{ itens.idMinuta }}"
                            data-url="{% url 'criaminutamotorista' %}">
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                    {% endif %}
                </footer>
            </div>
            {% if motorista_da_minuta %}
            <div class="card-veiculo card-base1">
                <header>
                    <span><b>VEÍCULO</b></span>
                </header>
                <section>
                    {% if itens.idVeiculo %}
                    {% for itensveiculo in veiculo %}
                    <span><b>{{ itensveiculo.Marca }} {{ itensveiculo.Modelo }} {{ itensveiculo.Placa }}</b></span>
                    {% endfor %}
                    {% else %}
                    <span><b>NENHUM VEÍCULO SELECIONADO</b></span>
                    {% endif %}
                </section>
                <footer>
                    {% if itens.idVeiculo %}
                    <button class="btn btn-success btn-xs js-editaminutaveiculo"
                            idminuta="{{ itens.idMinuta }}"
                            data-url="{% url 'editaminutaveiculo' itens.idMinuta %}">
                        <span class="glyphicon glyphicon-edit"></span>
                    </button>
                    {% else %}
                    <button class="btn btn-success btn-xs js-editaminutaveiculo"
                            idminuta="{{ itens.idMinuta }}"
                            data-url="{% url 'editaminutaveiculo' itens.idMinuta %}">
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                    {% endif %}
                </footer>
            </div>
            {% endif %}
            {% if ajudantes_da_minuta %}
            {% for itensajudante in ajudantes_da_minuta %}
            <div class="card-ajudante card-base1">
                <header>
                    <span><b>AJUDANTE</b></span>
                </header>
                <section>
                    <span><b>{{ itensajudante.idPessoal }}</b></span>
                </section>
                <footer>
                    <button class="btn btn-danger btn-xs js-excluiminutaajudante"
                            idminutacolaboradores="{{ itensajudante.idMinutaColaboradores }}"
                            data-url="{% url 'excluiminutaajudante' itensajudante.idMinutaColaboradores %}">
                        <span class="glyphicon glyphicon-trash"></span>
                    </button>
                    <button class="btn btn-success btn-xs js-criaminutaajudante"  idminuta="{{ itens.idMinuta }}"
                            data-url="{% url 'criaminutaajudante' %}">
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                </footer>
            </div>
            {% endfor %}
            {% else %}
            <div class="card-ajudante card-base1">
                <header>
                    <span><b>AJUDANTE</b></span>
                </header>
                <section>
                    <span><b>NENHUM AJUDANTE SELECIONADO</b></span>
                </section>
                <footer>
                    <button class="btn btn-success btn-xs js-criaminutaajudante"  idminuta="{{ itens.idMinuta }}"
                            data-url="{% url 'criaminutaajudante' %}">
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                </footer>
            </div>
            {% endif %}
            <div class="card-hora-final card-base1">
                <header>
                    <span><b>HORA FINAL</b></span>
                </header>
                <form method="post" action="{% url 'editaminutahorafinal' itens.idMinuta %}"
                      class="js-edita-minuta-form">
                    {% csrf_token %}
                    <section>
                    {% for field in formhorafinal %}
                        {{ field }}
                    {% endfor %}
                    </section>
                    <footer>
                        <button type="submit" class="btn btn-primary btn-xs">
                            <span class="glyphicon glyphicon-edit"></span>
                        </button>
                    </footer>
                </form>
            </div>
            <div class="card-km-inicial card-base1">
                <header>
                    <span><b>KM INICIAL</b></span>
                </header>
                <form method="post" action="{% url 'editaminutakminicial' itens.idMinuta %}"
                      class="js-edita-minuta-form">
                    {% csrf_token %}
                    <section>
                    {% for field in formkminicial %}
                        {{ field }}
                    {% endfor %}
                    </section>
                    <footer>
                        <button type="submit" class="btn btn-primary btn-xs">
                            <span class="glyphicon glyphicon-edit"></span>
                        </button>
                    </footer>
                </form>
            </div>
            <div class="card-km-final card-base1">
                <header>
                    <span><b>KM FINAL</b></span>
                </header>
                <form method="post" action="{% url 'editaminutakmfinal' itens.idMinuta %}" class="js-edita-minuta-form">
                    {% csrf_token %}
                    <section>
                    {% for field in formkmfinal %}
                        {{ field }}
                    {% endfor %}
                    </section>
                    <footer>
                        <button type="submit" class="btn btn-primary btn-xs">
                            <span class="glyphicon glyphicon-edit"></span>
                        </button>
                    </footer>
                </form>
            </div>
        </main>
    </div>
    <div class="consulta">
        <header class="consulta-header-despesas-entregas">
            <p>DESPESAS E ENTREGAS</p>
        </header>
        <main>
            <div class="card-despesas card-base2">
                <header>
                    <div class="despesa-titulo">
                        <span><b>DESPESAS&nbsp;&nbsp;</b></span>
                        <button class="btn btn-success btn-xs js-criaminutaparametrodespesa" idminuta="{{ itens.idMinuta }}"
                                data-url="{% url 'criaminutaparametrodespesa' %}">
                            <span class="glyphicon glyphicon-plus"></span>
                        </button>
                    <div>
                </header>
                <section>
                    {% if itensminuta %}
                    {% for itensminuta in itensminuta %}
                    <div class="despesa-itens">
                        <span>{{ itensminuta.Descricao }} R$ {{ itensminuta.Valor }}</span>
                        <button class="btn btn-danger btn-xs js-excluiminutadespesa" idminuta="{{ itensminuta.idMinuta }}"
                                idminutaitens="{{ itensminuta.idMinutaItens }}"
                                data-url="{% url 'excluiminutadespesa' itensminuta.idMinutaItens %}">
                            <span class="glyphicon glyphicon-trash"></span>
                        </button>
                    </div>
                    {% endfor %}
                    {% endif %}
                </section>
                <form method="post" action="{% url 'criaminutadespesa' %}" class="js-cria-minutadespesa-form">
                    {% csrf_token %}
                    <section>
                    <input type="hidden" name="idMinuta" value="{{ itens.idMinuta }}" id="id_idMinuta">
                    <select name="Descricao" class="formfieldsshort" maxlength="25" id="id_Descricao">
                        {% for itens in despesas %}
                            <option value="{{ itens }}">{{ itens }}</option>
                        {% endfor %}
                    </select>
                    <input type="number" name="Valor" value="0.00" class="formfieldsshort" step="0.01"
                           required="" id="id_Valor">
                    <input type="hidden" name="TipoItens" value="DESPESA" id="id_TipoItens">
                    <input type="hidden" name="RecebePaga" value="R" id="id_RecebePaga">
                    <input type="hidden" name="Tempo" value="0" id="id_Tempo">
                    </section>
                    <footer>
                        <button type="submit" class="btn btn-primary btn-xs active">
                            <span class="glyphicon glyphicon-edit"></span>
                        </button>
                    </footer>
                </form>
            </div>
            <div class="card-entregas card-base3">
                <header>
                    <div class="despesa-titulo">
                        <span><b>ENTREGAS&nbsp;&nbsp;</b></span>
                        <button class="btn btn-success btn-xs js-criaminutaentrega" idminuta="{{ itens.idMinuta }}"
                                data-url="{% url 'criaminutaentrega' %}">
                            <span class="glyphicon glyphicon-plus"></span>
                        </button>
                    <div>
                </header>
                <section>
                    {% if notas_minuta_guia %}
                    {% for notasminutaguia in notas_minuta_guia %}
                    <div class="entregas-itens">
                        <span>Nota: {{ notasminutaguia.Nota }} - Valor: R$ {{ notasminutaguia.Valor }} - Peso:
                                {{ notasminutaguia.Peso }} - Volume: {{ notasminutaguia.Volume }} -
                                <b>{{ notasminutaguia.Cidade }} {% if notasminutaguia.Nome %} -
                                {{ notasminutaguia.Nome }} {% endif %}</b></span>
                        <div>
                            <button class="btn btn-success btn-xs js-editaminutaentrega"
                                    idminuta="{{ notasminutaguia.idMinuta }}"
                                    idminutanotas="{{ notasminutaguia.idMinutaNotas }}"
                                    data-url="{% url 'editaminutaentrega' notasminutaguia.idMinutaNotas %}">
                                <span class="glyphicon glyphicon-edit"></span>
                            </button>
                            <button class="btn btn-danger btn-xs js-excluiminutaentrega"
                                    idminuta="{{ notasminutaguia.idMinuta }}"
                                    idminutanotas="{{ notasminutaguia.idMinutaNotas }}"
                                    data-url="{% url 'excluiminutaentrega' notasminutaguia.idMinutaNotas %}">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </div>
                    </div>
                    <div class="entregas-itens">
                        {% for notasminuta in notas_minuta %}
                        {% if notasminuta.NotaGuia == notasminutaguia.Nota %}
                        <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#x27A5 {{ notasminuta.Nota }} - Valor: R$
                            {{notasminuta.Valor }} - Peso: {{ notasminuta.Peso }} - Volume:
                            {{notasminuta.Volume }}</span>
                        <div>
                            <button class="btn btn-success btn-xs js-editaminutaentrega"
                                    idminuta="{{ notasminuta.idMinuta }}"
                                    idminutanotas="{{ notasminuta.idMinutaNotas }}"
                                    data-url="{% url 'editaminutaentrega' notasminuta.idMinutaNotas %}">
                                <span class="glyphicon glyphicon-edit"></span>
                            </button>
                            <button class="btn btn-danger btn-xs js-excluiminutaentrega"
                                    idminuta="{{ notasminuta.idMinuta }}"
                                    idminutanotas="{{ notasminuta.idMinutaNotas }}"
                                    data-url="{% url 'excluiminutaentrega' notasminuta.idMinutaNotas %}">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                    {% endfor %}
                    {% endif %}
                    <div class="entregas-itens">
                        {% if notas_minuta %}
                        <span><b>Valor Total: R$ {{ totalvalornotas.totalvalor }} -
                            Peso Total: {{ totalpesonotas.totalpeso }} -
                            Volume Total: {{ totalvolumenotas.totalvolume }}</b></span>
                        {% endif %}
                    </div>
                </section>
                <form method="post" action="{% url 'criaminutaentrega' %}" class="js-cria-minutaentrega-form">
                    {% csrf_token %}
                    <section>
                        <span><b>PERIMETRO</b></span>
                        <input type="hidden" name="Nota" value="PERIMETRO" id="id_Nota">
                        <input type="hidden" name="ValorNota" value=0.00 id="id_ValorNota">
                        <input type="hidden" name="Peso" value=0.00 id="id_Peso">
                        <input type="hidden" name="Volume" value="0" id="id_Volume">
                        <input type="hidden" name="idMinuta" value="{{ itens.idMinuta }}" id="id_idMinutaNota">
                        <input type="hidden" name="Nome" id="id_Nome">
                        <input type="hidden" name="NotaGuia" value="0" id="id_NotaGuia">
                        <input type="text" name="Estado" value="SP" id="id_Estado" maxlength="2" required="">
                        <input type="text" name="Cidade" value="SÃO PAULO" id="id_Cidade" maxlength="30" required="">
                    </section>
                    <footer>
                        <button type="submit" class="btn btn-primary btn-xs active">
                            <span class="glyphicon glyphicon-edit"></span>
                        </button>
                    </footer>
                </form>
            </div>
        </main>
    </div>

    <div class="consulta">
        {% if itens.StatusMinuta == 'ABERTA' %}
        <!-- VALORES DE FATURAMENTO -->
        <div class="consulta_cliente_modulo">
            <h2 class="consulta_subtitulo"><b>DEMONSTRATIVO DE FATURAMENTO E PAGAMENTO:</b></h2>
            <label class="glyphicon glyphicon-ok botaoadicionar"></label>
            <div class="demonstrativo">
                <form method="post" action="{% url 'fecha_minuta' itens.idMinuta %}">
                    {% csrf_token %}
                    <div class="tb-recebe">
                        <table class="tb-demo-recebe">
                            <thead>
                                <th class="titulo">DESCRICÃO</th>
                                <th class="titulo" colspan="4">RECEBE</th>
                                <th class="titulo" colspan="4">PAGA</th>
                            </thead>
                            <tbody>
                                {% for key, value in tabela_recebe_e_paga.items %}
                                    <tr class="tb-linha">
                                        <td class="tb-coluna1">
                                            <span><b>{{ key }}</b></span>
                                        </td>
                                        <td class="tb-coluna2">
                                            <input id="{{ value.id_swr }}"
                                                   name="{{ value.name_swr }}"
                                                   {% if value.checked_swr %}
                                                       checked="checked"
                                                   {% endif %}
                                                   value="{{ value.value_swr }}"
                                                   class="{{ value.class_swr }}"
                                                   type="{{ value.type_swr }}"
                                            >
                                            <label for="{{ value.id_swr }}"></label>
                                        </td>
                                        <td class="tb-coluna3">
                                            <span><b>{{ value.type_tabela_recebe }}</b></span>
                                            <input id="{{ value.id_tr }}"
                                                   name="{{ value.name_tr }}"
                                                   value="{{ value.value_tr|stringformat:'.2f' }}"
                                                   class="{{ value.class_tr }}"
                                                   type="{{ value.type_tr }}"
                                                   step="{{ value.step_tr }}"
                                                   meu_tipo="{{ value.type_tabela_recebe }}"
                                            >
                                        </td>
                                        <td class="tb-coluna4">
                                            {% if value.type_minuta_recebe %}
                                                <span><b>{{ value.type_minuta_recebe }}</b></span>
                                                <input id="{{ value.id_mr }}"
                                                       name="{{ value.name_mr }}"
                                                       {% if value.type_minuta_recebe == "HS" %}
                                                           value="{{ value.value_mr }}"
                                                       {% elif value.type_minuta_recebe == "UN" %}
                                                           value="{{ value.value_mr }}"
                                                           step="1.00"
                                                       {% else %}
                                                           value="{{ value.value_mr|stringformat:'.2f' }}"
                                                           step="0.01"
                                                       {% endif %}
                                                       class="{{ value.class_mr }}"
                                                       type="{{ value.type_mr }}"
                                                       meu_tipo="{{ value.type_minuta_recebe }}"
                                                >
                                            {% endif %}
                                        </td>
                                        <td class="tb-coluna5">
                                            <span id="{{ value.id_tor }}"
                                                  class="to-despesa-recebe">R$ 0,00</span>
                                            <input id="{{ value.id_hir }}"
                                                   class="valor-recebe"
                                                   name="valor-recebe"
                                                   value="0.00"
                                                   type="hidden">
                                        </td>
                                        <td class="tb-coluna2">
                                            {% if value.id_swp %}
                                                <input id="{{ value.id_swp }}"
                                                       name="{{ value.name_swp }}"
                                                       {% if value.checked_swp %}
                                                           checked="checked"
                                                       {% endif %}
                                                       value="{{ value.value_swp }}"
                                                       class="{{ value.class_swp }}"
                                                       type="{{ value.type_swp }}"
                                                >
                                                <label for="{{ value.id_swp }}"></label>
                                            {% endif %}
                                        </td>
                                        <td class="tb-coluna3">
                                            {% if value.id_swp %}
                                                <span><b>{{ value.type_tabela_paga }}</b></span>
                                                <input id="{{ value.id_tp }}"
                                                       name="{{ value.name_tp }}"
                                                       value="{{ value.value_tp|stringformat:'.2f' }}"
                                                       class="{{ value.class_tp }}"
                                                       type="{{ value.type_tp }}"
                                                       step="{{ value.step_tp }}"
                                                       meu_tipo="{{ value.type_tabela_paga }}"
                                                >
                                            {% endif %}
                                        </td>
                                        <td class="tb-coluna4">
                                            {% if value.type_minuta_paga %}
                                                <span><b>{{ value.type_minuta_paga }}</b></span>
                                                <input id="{{ value.id_mp }}"
                                                       name="{{ value.name_mp }}"
                                                       {% if value.type_minuta_paga == "HS" %}
                                                           value="{{ value.value_mp }}"
                                                       {% elif value.type_minuta_paga == "UN" %}
                                                           value="{{ value.value_mp }}"
                                                           step="1.00"
                                                       {% else %}
                                                           value="{{ value.value_mp|stringformat:'.2f' }}"
                                                           step="0.01"
                                                       {% endif %}
                                                       class="{{ value.class_mp }}"
                                                       type="{{ value.type_mp }}"
                                                       meu_tipo="{{ value.type_minuta_paga }}"                                                    >
                                            {% endif %}
                                        </td>
                                        <td class="tb-coluna5">
                                            {% if value.id_swp %}
                                                <span id="{{ value.id_top }}"
                                                      class="tl-despesa-paga">R$ 0,00</span>
                                                <input id="{{ value.id_hip }}"
                                                       class="valor-paga"
                                                       name="valor-paga"
                                                       value="0.00"
                                                       type="hidden">
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            <!-- DESPESAS -->
                            {% for itens in itensminuta %}
                                <tr class="tb-linha">
                                    <td class="tb-coluna1">
                                        <span><b>{{ itens.Descricao }}</b></span>
                                    </td>
                                    <td class="tb-coluna2">
                                        <input id="sw-{{ itens.Descricao|lower|cut:' ' }}-recebe"
                                               name="switch"
                                               checked="checked"
                                               value="sw-{{ itens.Descricao|lower|cut:' ' }}-recebe"
                                               class="switch switch--shadow switch-despesa-recebe"
                                               type="checkbox"
                                        >
                                        <label for="sw-{{ itens.Descricao|lower|cut:' ' }}-recebe"></label>
                                    </td>
                                    <td class="tb-coluna3">
                                        <span><b>R$ </b></span>
                                        <input id="ta-{{ itens.Descricao|lower|cut:' ' }}-recebe"
                                               name="ta-despesa-recebe"
                                               value="{{ itens.Valor|stringformat:'.2f'  }}"
                                               class="demonstrativo-input tb-despesa-recebe"
                                               type="number"
                                               step="0.01"
                                        >
                                    </td>
                                    <td class="tb-coluna4"></td>
                                    <td class="tb-coluna5">
                                        <span id="to-{{ itens.Descricao|lower|cut:' ' }}-recebe"
                                              class="to-despesa-recebe">R$ {{ itens.Valor }}</span>
                                        <input name="descricao-despesa-recebe"
                                               value="{{ itens.Descricao }}"
                                               type="hidden">
                                        <input id="hi-{{ itens.Descricao|lower|cut:' ' }}-recebe"
                                               class="valor-recebe"
                                               name="valor-despesa-recebe"
                                               value="{{ itens.Valor }}"
                                               type="hidden">
                                    </td>
                                    <td class="tb-coluna2">
                                        <input id="sw-{{ itens.Descricao|lower|cut:' ' }}-paga"
                                               name="switch"
                                               checked="checked"
                                               value="sw-{{ itens.Descricao|lower|cut:' ' }}-paga"
                                               class="switch switch--shadow switch-despesa-paga"
                                               type="checkbox"
                                        >
                                        <label for="sw-{{ itens.Descricao|lower|cut:' ' }}-paga"></label>
                                    </td>
                                    <td class="tb-coluna3">
                                        <span><b>R$ </b></span>
                                        <input id="ta-{{ itens.Descricao|lower|cut:' ' }}-paga"
                                               name="ta-despesa-paga"
                                               value="{{ itens.Valor|stringformat:'.2f'  }}"
                                               class="demonstrativo-input tb-despesa-paga"
                                               type="number"
                                               step="0.01"
                                        >
                                    </td>
                                    <td class="tb-coluna4"></td>
                                    <td class="tb-coluna5">
                                        <span id="to-{{ itens.Descricao|lower|cut:' ' }}-paga"
                                              class="to-despesa-paga">R$ {{ itens.Valor }}</span>
                                        <input name="descricao-despesa-paga"
                                               value="{{ itens.Descricao }}"
                                               type="hidden">
                                        <input id="hi-{{ itens.Descricao|lower|cut:' ' }}-paga"
                                               class="valor-paga"
                                               name="valor-despesa-paga"
                                               value="{{ itens.Valor }}"
                                               type="hidden">
                                    </td>
                                </tr>
                            {% endfor %}
                             </tbody>
                            <tfoot>
                                <th class="titulo">TOTAL</th>
                                <th class="titulo" id="totalrecebe" colspan="4">R$ 0,00</th>
                                <th class="titulo" id="totalpaga" colspan="4">R$ 0,00</th>
                            </tfoot>
                        </table>
                    </div>
                    <div class="saldo-minuta">
                        <span>SALDO MINUTA R$ 0,00</span>
                    </div>
                    <div class="btnfinalizaminuta">
                        <button type="submit" class="btn btn-success btn-sm active">FINALIZAR MINUTA</button>
                    </div>
                </form>
            </div>
        </div>
        {% endif %}

        {% if itens.StatusMinuta == 'FECHADA' %}
        <!-- MINUTA FECHADA -->
        <div class="consulta_cliente_modulo">
            <h2 class="consulta_subtitulo"><b>VALOR A RECEBER:</b></h2>
            <label class="glyphicon glyphicon-ok botaoadicionar"></label>
            <div class="demonstrativo">
                <div class="tb-recebe">
                    <table class="tb-demo-recebe">
                        <thead>
                            <td class="titulo">DESCRICÃO</td>
                            <td class="titulo" colspan="4">RECEBE</td>
                        </thead>
                        <tbody>
                            {% for minuta_itens_fechada in minuta_itens_fechada %}
                                {% if minuta_itens_fechada.TipoItens == 'RECEBE' %}
                                    <tr>
                                        <td>{{ minuta_itens_fechada.Descricao }}</td>
                                        <td>R$ {{ minuta_itens_fechada.Valor|stringformat:'.2f' }}</td>
                                        <td>{{ minuta_itens_fechada.Quantidade }}</td>
                                        <td>{{ minuta_itens_fechada.Porcento }}</td>
                                        <td>{{ minuta_itens_fechada.Tempo }}</td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                            {% for minuta_itens_fechada in minuta_itens_fechada %}
                                {% if minuta_itens_fechada.TipoItens == 'DESPESA' %}
                                    <tr>
                                        <td>{{ minuta_itens_fechada.TipoItens }} - {{ minuta_itens_fechada.Descricao }}</td>
                                        <td>R$ {{ minuta_itens_fechada.Valor|stringformat:'.2f' }}</td>
                                        <td></td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                        </tbody>

                        <tfoot>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
        {% endif %}
        <!-- COMENTARIO DA MINUTA -->
        <div class="consulta_cliente_modulo">
            <h2 class="consulta_subtitulo"><b>COMENTÁRIOS:</b></h2>
            <label class="glyphicon glyphicon-ok botaoadicionar"></label>
            <div class="div_comentarios">
                <form method="post" action="{% url 'editacomentario' itens.idMinuta %}">
                    {% csrf_token %}
                    {% for field in formcomentarios %}
                        {{ field }}
                    {% endfor %}
                    {% if itens.StatusMinuta == 'ABERTA' %}
                        <button type="submit" class="btn btn-primary btn-sm">ENVIAR</button>
                    {% endif %}
                </form>
            </div>
        </div>
        <!-- DIV MODAL -->
        <div class="modal fade" id="modal-formulario" >
            <div class="modal-dialog">
                <div class="modal-content">

                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</main>
{% endblock %}
