<div class="card-header">
    <span>DESPESAS</span>
    {% if s_minuta.status_minuta == "ABERTA" %}
        <i class="bi bi-plus-lg i-button"
        onclick="openMyModal(event); return false;"
        data-title="INSERE DESPESA"
        data-action="{% url 'inseredespesa' %}"
        data-button-save-label="INSERIR"
        data-idminuta="{{ s_minuta.idminuta }}"></i>
    {% endif %}
</div>
<div class="card-body">
    {% for despesa in s_minuta.despesas %}
    <div class="card-body-item">
        <div class="input-group">
            <i class="input-group-addon
            addon-my-color
            i-button-null">
                {{ forloop.counter|stringformat:".2d" }}
            </i>
            <div class="input-fake div-flex">
                <span>
                    {{ despesa.Descricao|slice:"0:20" }}
                </span>
                <span>
                    R$ {{ despesa.Valor }}
                </span>
            </div>
            <div class="input-group-addon addon-my-color">
                {% if s_minuta.status_minuta == "ABERTA" %}
                    <i class="bi bi-x-lg i-button remove-despesa"
                    idMinuta="{{ s_minuta.idminuta }}"
                    idMinutaItens="{{ despesa.idMinutaItens }}"></i>
                {% else %}
                    <i class="bi bi-check
                    i-button-null"></i>
                {% endif %}
            </div>
        </div>
    </div>
    {% if despesa.Obs %}
    <div class="card-body-item">
        <span class="form-control
        input-fake linha-add"
        title="{{ despesa.Obs }}">
            {{ despesa.Obs|slice:"0:50" }}
            {% if despesa.Obs|length > 50 %}... {% endif %}
        </span>
    </div>
    {% endif %}
    {% endfor %}
</div>
<div class="card-footer">
    {% if s_minuta.despesas %}
    <div class="div-flex">
        <div></div>
        <span class="total">
            TOTAL: R$ {{ s_minuta.t_despesas.valor_despesas }}
        </span>
    </div>
    {% endif %}
</div>