<!-- Card - Header -->
<div class="card-header">
    <span>RECEITAS</span>
</div>
<!-- Card - Body -->
<form method="post" id="js-gera-receitas">
    <div class="card-body">
    {% csrf_token %}
        <input type="hidden"
        id="id_idminuta"
        name="idminuta"
        value="{{ s_minuta.idminuta }}">
        <!-- Taxa de Expedição -->
        <div class="card-body-item">
            <div class="input-group">
                <i class="bi bi-cash input-group-addon addon-my-color"></i>
                <span class="form-control input-fake">
                    TAXA DE EXPEDIÇÃO
                </span>
                <div class="input-group-addon addon-my-color">
                    <input type="checkbox"
                    class="c_recebe"
                    id="c_recebe_taxa"
                    {% if s_minuta.recebe.c_taxa %}
                    checked="checked"
                    {% endif %}
                    name="s_taxa" />
                </div>
            </div>
        </div>
        <!-- Valores Taxa de Expedição -->
        <div class="card-body-item" id="js-recebe-taxa">
            <div class="input-group input-group-sm transparente">
                <span class="input-group-addon addon-blue">
                    R$
                </span>
                <input type="text"
                class="form-control text-right js-input-change"
                id="v_taxa"
                name="v_taxa"
                value="{{ s_minuta.recebe.v_taxa|stringformat:'.2f' }}" />
                <span class="input-group-addon addon-blue">
                    UN
                </span>
                <input type="text"
                class="form-control text-right"
                value="1"
                readonly />
                <span class="input-group-addon addon-my-color">
                    =
                </span>
                <span class="input-group-addon addon-blue">
                    R$
                </span>
                <input type="text"
                class="total-recebe form-control text-right"
                id="t_recebe_taxa"
                value="{{ s_minuta.recebe.v_taxa|stringformat:'.2f' }}"
                readonly />
            </div>
        </div>
        <!-- Seguro -->
        <div class="card-body-item">
            <div class="input-group">
                <i class="bi bi-cash input-group-addon addon-my-color"></i>
                <span class="form-control input-fake">
                    SEGURO
                </span>
                <div class="input-group-addon addon-my-color">
                    <input type="checkbox"
                    class="c_recebe"
                    id="c_recebe_segu"
                    name="s_segu"
                    {% if s_minuta.recebe.c_segu %}
                    checked="checked"
                    {% endif %} />
                </div>
            </div>
        </div>
        <!-- Valores Seguro -->
        <div class="card-body-item" id="js-recebe-segu">
            <div class="input-group input-group-sm transparente">
                <span class="input-group-addon addon-blue">
                    &nbsp%&nbsp
                </span>
                <input type="text"
                class="form-control text-right js-input-change"
                name="v_segu"
                id="v_segu"
                value="{{ s_minuta.recebe.v_segu|stringformat:'.3f' }}" />
                <span class="input-group-addon addon-blue">
                    R$
                </span>
                <input type="text"
                class="form-control text-right js-input-change"
                id="m_segu"
                name="m_segu"
                value="{{ s_minuta.recebe.m_segu|stringformat:'.2f' }}" />
                <span class="input-group-addon addon-my-color">
                    =
                </span>
                <span class="input-group-addon addon-blue">
                    R$
                </span>
                <input type="texy"
                class="total-recebe form-control text-right"
                id="t_recebe_segu"
                value="{{ s_minuta.recebe.t_segu|stringformat:'.2f' }}"
                readonly />
            </div>
        </div>
        <!-- Porcentagem Nota -->
        <div class="card-body-item">
            <div class="input-group">
                <i class="bi bi-cash input-group-addon addon-my-color"></i>
                <span class="form-control input-fake">
                    PORCENTAGEM NOTA
                </span>
                <div class="input-group-addon addon-my-color">
                    <input type="checkbox"
                    class="c_recebe"
                    id="c_recebe_porc"
                    name="s_porc"
                    {% if s_minuta.recebe.c_porc %}
                    checked="checked"
                    {% endif %} />
                </div>
            </div>
        </div>
        <!-- Valores Porcentagem Nota -->
        <div class="card-body-item" id="js-recebe-porc">
            <div class="input-group input-group-sm transparente">
                <span class="input-group-addon addon-blue">
                    &nbsp%&nbsp
                </span>
                <input type="text"
                class="form-control text-right js-input-change"
                id="v_porc"
                name="v_porc"
                value="{{ s_minuta.recebe.v_porc|stringformat:'.2f' }}" />
                <span class="input-group-addon addon-blue">
                    R$
                </span>
                <input type="text"
                class="form-control text-right js-input-change"
                id="m_porc"
                name="m_porc"
                value="{{ s_minuta.recebe.m_porc|stringformat:'.2f' }}" />
                <span class="input-group-addon addon-my-color">
                    =
                </span>
                <span class="input-group-addon addon-blue">
                    R$
                </span>
                <input type="texy"
                class="total-recebe form-control text-right"
                id="t_recebe_porc"
                value="{{ s_minuta.recebe.t_porc|stringformat:'.2f' }}"
                readonly />
            </div>
        </div>
        <!-- Horas -->
        <div class="card-body-item">
            <div class="input-group">
                <i class="bi bi-cash input-group-addon addon-my-color"></i>
                <span class="form-control input-fake">
                    HORAS
                </span>
                <div class="input-group-addon addon-my-color">
                    <input type="checkbox"
                    class="c_recebe"
                    id="c_recebe_hora"
                    {% if s_minuta.recebe.c_hora %}
                    checked="checked"
                    {% endif %}
                    name="s_hora">
                </div>
            </div>
        </div>
        <!-- Valores Horas -->
        <div class="card-body-item" id="js-recebe-hora">
            <div class="input-group input-group-sm transparente">
                <span class="input-group-addon addon-blue">
                    R$
                </span>
                <input type="text"
                id="v_hora"
                name="v_hora"
                class="form-control text-right js-input-change"
                value="{{ s_minuta.recebe.v_hora|stringformat:'.2f' }}" />
                <span class="input-group-addon addon-blue">
                    HS
                </span>
                <input type="time"
                class="form-control text-right js-input-change"
                id="m_hora"
                name="m_hora"
                value="{{ s_minuta.recebe.m_hora }}" />
                <span class="input-group-addon addon-my-color">
                    =
                </span>
                <span class="input-group-addon addon-blue">
                    R$
                </span>
                <input type="texy"
                class="total-recebe form-control text-right"
                id="t_recebe_hora"
                value="{{ s_minuta.recebe.t_hora|stringformat:'.2f' }}"
                readonly />
            </div>
        </div>
        <!-- Horas Excedente -->
        <div class="card-body-item">
            <div class="input-group">
                <i class="bi bi-cash input-group-addon addon-my-color"></i>
                <span class="form-control input-fake">
                    HORAS EXCEDENTE
                </span>
                <div class="input-group-addon addon-my-color">
                    <input type="checkbox"
                    class="c_recebe"
                    id="c_recebe_exce"
                    name="s_exce"
                    {% if s_minuta.recebe.c_exce %}
                    checked="checked"
                    {% endif %} />
                </div>
            </div>
        </div>
        <!-- Valores Horas Excedente -->
        <div class="card-body-item" id="js-recebe-exce">
            <div class="input-group input-group-sm transparente">
                <span class="input-group-addon addon-blue">
                    &nbsp%&nbsp
                </span>
                <input type="text"
                class="form-control text-right js-input-change"
                id="v_exce"
                name="v_exce"
                value="{{ s_minuta.recebe.v_exce|stringformat:'.2f' }}" />
                <span class="input-group-addon addon-blue">
                    HS
                </span>
                <input type="time"
                class="form-control text-right js-input-change"
                id="m_exce"
                name="m_exce"
                value="{{ s_minuta.recebe.m_exce }}" />
                <span class="input-group-addon addon-my-color">
                    =
                </span>
                <span class="input-group-addon addon-blue">
                    R$
                </span>
                <input type="texy"
                class="total-recebe form-control text-right"
                id="t_recebe_exce"
                value="{{ s_minuta.recebe.t_exce|stringformat:'.2f' }}"
                readonly />
            </div>
        </div>
        <!-- Kilometragem -->
        <div class="card-body-item">
            <div class="input-group">
                <i class="bi bi-cash input-group-addon addon-my-color"></i>
                <span class="form-control input-fake">
                    KILOMETRAGEM
                </span>
                <div class="input-group-addon addon-my-color">
                    <input type="checkbox"
                    class="c_recebe"
                    id="c_recebe_kilm"
                    name="s_kilm"
                    {% if s_minuta.recebe.c_kilm %}
                    checked="checked"
                    {% endif %} />
                </div>
            </div>
        </div>
        <!-- Valores Kilometragem -->
        <div class="card-body-item" id="js-recebe-kilm">
            <div class="input-group input-group-sm transparente">
                <span class="input-group-addon addon-blue">
                    R$
                </span>
                <input type="text"
                id="v_kilm"
                name="v_kilm"
                class="form-control text-right js-input-change"
                value="{{ s_minuta.recebe.v_kilm|stringformat:'.2f' }}" />
                <span class="input-group-addon addon-blue">
                    UN
                </span>
                <input type="text"
                class="form-control text-right js-input-change"
                id="m_kilm"
                name="m_kilm"
                value="{{ s_minuta.recebe.m_kilm|stringformat:'.0f' }}" />
                <span class="input-group-addon addon-my-color">
                    =
                </span>
                <span class="input-group-addon addon-blue">
                    R$
                </span>
                <input type="texy"
                class="total-recebe form-control text-right"
                id="t_recebe_kilm"
                value="{{ s_minuta.recebe.t_kilm|stringformat:'.2f' }}"
                readonly />
            </div>
        </div>
        <!-- Entregas -->
        <div class="card-body-item">
            <div class="input-group">
                <i class="bi bi-cash input-group-addon addon-my-color"></i>
                <span class="form-control input-fake">
                    ENTREGAS
                </span>
                <div class="input-group-addon addon-my-color">
                    <input type="checkbox"
                    class="c_recebe"
                    id="c_recebe_entr"
                    name="s_entr"
                    {% if s_minuta.recebe.c_entr %}
                    checked="checked"
                    {% endif %} />
                </div>
            </div>
        </div>
        <!-- Valores Entregas -->
        <div class="card-body-item" id="js-recebe-entr">
            <div class="input-group input-group-sm transparente">
                <span class="input-group-addon addon-blue">
                    R$
                </span>
                <input type="text"
                class="form-control text-right js-input-change"
                id="v_entr"
                name="v_entr"
                value="{{ s_minuta.recebe.v_entr|stringformat:'.2f' }}" />
                <span class="input-group-addon addon-blue">
                    UN
                </span>
                <input type="text"
                class="form-control text-right js-input-change"
                id="m_entr"
                name="m_entr"
                value="{{ s_minuta.recebe.m_entr|stringformat:'.0f' }}" />
                <span class="input-group-addon addon-my-color">
                    =
                </span>
                <span class="input-group-addon addon-blue">
                    R$
                </span>
                <input type="texy"
                class="total-recebe form-control text-right"
                id="t_recebe_entr"
                value="{{ s_minuta.recebe.t_entr|stringformat:'.2f' }}"
                readonly />
            </div>
        </div>     
        <!-- Entregas KG -->
        <div class="card-body-item">
            <div class="input-group">
                <i class="bi bi-cash input-group-addon addon-my-color"></i>
                <span class="form-control input-fake">
                    ENTREGAS KG
                </span>
                <div class="input-group-addon addon-my-color">
                    <input type="checkbox"
                    class="c_recebe"
                    id="c_recebe_enkg"
                    name="s_enkg"
                    {% if s_minuta.recebe.c_enkg %}
                    checked="checked"
                    {% endif %} />
                </div>
            </div>
        </div>
        <!-- Valores Entregas KG -->
        <div class="card-body-item" id="js-recebe-enkg">
            <div class="input-group input-group-sm transparente">
                <span class="input-group-addon addon-blue">
                    R$
                </span>
                <input type="text"
                class="form-control text-right js-input-change"
                id="v_enkg"
                name="v_enkg"
                value="{{ s_minuta.recebe.v_enkg|stringformat:'.2f' }}" />
                <span class="input-group-addon addon-blue">
                    KG
                </span>
                <input type="text"
                class="form-control text-right js-input-change"
                id="m_enkg"
                name="m_enkg"
                value="{{ s_minuta.recebe.m_enkg|stringformat:'.2f' }}" />
                <span class="input-group-addon addon-my-color">
                    =
                </span>
                <span class="input-group-addon addon-blue">
                    R$
                </span>
                <input type="texy"
                class="total-recebe form-control text-right"
                id="t_recebe_enkg"
                value="{{ s_minuta.recebe.t_enkg|stringformat:'.2f' }}"
                readonly />
            </div>
        </div>
        <!-- Entregas Volume -->
        <div class="card-body-item">
            <div class="input-group">
                <i class="bi bi-cash input-group-addon addon-my-color"></i>
                <span class="form-control input-fake">
                    ENTREGAS VOLUME
                </span>
                <div class="input-group-addon addon-my-color">
                    <input type="checkbox"
                    class="c_recebe"
                    id="c_recebe_evol"
                    name="s_evol"
                    {% if s_minuta.recebe.c_evol %}
                    checked="checked"
                    {% endif %} />
                </div>
            </div>
        </div>
        <!-- Valores Entregas Volume -->
        <div class="card-body-item" id="js-recebe-evol">
            <div class="input-group input-group-sm transparente">
                <span class="input-group-addon addon-blue">
                    R$
                </span>
                <input type="text"
                class="form-control text-right js-input-change"
                id="v_evol"
                name="v_evol"
                value="{{ s_minuta.recebe.v_evol|stringformat:'.2f' }}" />
                <span class="input-group-addon addon-blue">
                    UN
                </span>
                <input type="text"
                class="form-control text-right js-input-change"
                id="m_evol"
                name="m_evol"
                value="{{ s_minuta.recebe.m_evol|stringformat:'.0f' }}" />
                <span class="input-group-addon addon-my-color">
                    =
                </span>
                <span class="input-group-addon addon-blue">
                    R$
                </span>
                <input type="texy"
                class="total-recebe form-control text-right"
                id="t_recebe_evol"
                value="{{ s_minuta.recebe.t_evol|stringformat:'.2f' }}"
                readonly />
            </div>
        </div>
        <!-- Saida -->
        <div class="card-body-item">
            <div class="input-group">
                <i class="bi bi-cash input-group-addon addon-my-color"></i>
                <span class="form-control input-fake">
                    SAÍDA
                </span>
                <div class="input-group-addon addon-my-color">
                    <input type="checkbox"
                    class="c_recebe"
                    id="c_recebe_said"
                    name="s_said"
                    {% if s_minuta.recebe.c_said %}
                    checked="checked"
                    {% endif %} />
                </div>
            </div>
        </div>
        <!-- Valores Saida -->
        <div class="card-body-item" id="js-recebe-said">
            <div class="input-group input-group-sm transparente">
                <span class="input-group-addon addon-blue">
                    R$
                </span>
                <input type="text"
                id="v_said"
                name="v_said"
                class="form-control text-right js-input-change"
                value="{{ s_minuta.recebe.v_said|stringformat:'.2f' }}" />
                <span class="input-group-addon addon-blue">
                    UN
                </span>
                <input type="text"
                class="form-control text-right"
                value="1"
                readonly />
                <span class="input-group-addon addon-my-color">
                    =
                </span>
                <span class="input-group-addon addon-blue">
                    R$
                </span>
                <input type="texy"
                class="total-recebe form-control text-right"
                id="t_recebe_said"
                value="{{ s_minuta.recebe.v_said|stringformat:'.2f' }}"
                readonly />
            </div>
        </div>
        <!-- Capacidade Peso -->
        <div class="card-body-item">
            <div class="input-group">
                <i class="bi bi-cash input-group-addon addon-my-color"></i>
                <span class="form-control input-fake">
                    CAPACIDADE PESO
                </span>
                <div class="input-group-addon addon-my-color">
                    <input type="checkbox"
                    class="c_recebe"
                    id="c_recebe_capa"
                    name="s_capa"
                    {% if s_minuta.recebe.c_capa %}
                    checked="checked"
                    {% endif %} />
                </div>
            </div>
        </div>
        <!-- Valores Capacidade Peso -->
        <div class="card-body-item" id="js-recebe-capa">
            <div class="input-group input-group-sm transparente">
                <span class="input-group-addon addon-blue">
                    R$
                </span>
                <input type="text"
                class="form-control text-right js-input-change"
                id="v_capa"
                name="v_capa"
                value="{{ s_minuta.recebe.v_capa|stringformat:'.2f' }}" />
                <span class="input-group-addon addon-blue">
                    UN
                </span>
                <input type="text"
                class="form-control text-right" value="1"
                readonly />
                <span class="input-group-addon addon-my-color">
                    =
                </span>
                <span class="input-group-addon addon-blue">
                    R$
                </span>
                <input type="texy"
                class="total-recebe form-control text-right"
                id="t_recebe_capa"
                value="{{ s_minuta.recebe.v_capa|stringformat:'.2f' }}"
                readonly />
            </div>
        </div>
        <!-- Perimetro -->
        <div class="card-body-item">
            <div class="input-group">
                <i class="bi bi-cash input-group-addon addon-my-color"></i>
                <span class="form-control input-fake">
                    PERIMETRO
                </span>
                <div class="input-group-addon addon-my-color">
                    <input type="checkbox"
                    class="c_recebe"
                    id="c_recebe_peri"
                    name="s_peri"
                    {% if s_minuta.recebe.c_peri %}
                    checked="checked"
                    {% endif %} />
                </div>
            </div>
        </div>
        <!-- Valores Perimetro -->
        <div class="card-body-item" id="js-recebe-peri">
            <div class="input-group input-group-sm transparente">
                <span class="input-group-addon addon-blue">
                    &nbsp%&nbsp
                </span>
                <input type="text"
                id="v_peri"
                name="v_peri"
                class="form-control text-right js-input-change"
                value="{{ s_minuta.recebe.v_peri|stringformat:'.2f' }}" />
                <span class="input-group-addon addon-blue">
                    R$
                </span>
                <input type="text"
                class="form-control text-right js-input-change"
                id="m_peri"
                name="m_peri"
                value="{{ s_minuta.recebe.m_peri|stringformat:'.2f' }}" />
                <span class="input-group-addon addon-my-color">
                    =
                </span>
                <span class="input-group-addon addon-blue">
                    R$
                </span>
                <input type="texy"
                class="total-recebe form-control text-right"
                id="t_recebe_peri"
                value="{{ s_minuta.recebe.t_peri|stringformat:'.2f' }}"
                readonly />
            </div>
        </div>
        <!-- Pernoite -->
        <div class="card-body-item">
            <div class="input-group">
                <i class="bi bi-cash input-group-addon addon-my-color"></i>
                <span class="form-control input-fake">
                    PERNOITE
                </span>
                <div class="input-group-addon addon-my-color">
                    <input type="checkbox"
                    class="c_recebe"
                    id="c_recebe_pnoi"
                    name="s_pnoi"
                    {% if s_minuta.recebe.c_pnoi %}
                    checked="checked"
                    {% endif %} />
                </div>
            </div>
        </div>
        <!-- Valores Pernoite -->
        <div class="card-body-item" id="js-recebe-pnoi">
            <div class="input-group input-group-sm transparente">
                <span class="input-group-addon addon-blue">
                    &nbsp%&nbsp
                </span>
                <input type="text"
                class="form-control text-right js-input-change"
                id="v_pnoi"
                name="v_pnoi"
                value="{{ s_minuta.recebe.v_pnoi|stringformat:'.2f' }}" />
                <span class="input-group-addon addon-blue">
                    R$
                </span>
                <input type="text"
                class="form-control text-right js-input-change"
                id="m_pnoi"
                name="m_pnoi"
                value="{{ s_minuta.recebe.m_peri|stringformat:'.2f' }}" />
                <span class="input-group-addon addon-my-color">
                    =
                </span>
                <span class="input-group-addon addon-blue">
                    R$
                </span>
                <input type="texy"
                class="total-recebe form-control text-right"
                id="t_recebe_pnoi"
                value="{{ s_minuta.recebe.t_pnoi|stringformat:'.2f' }}"
                readonly />
            </div>
        </div>
        <!-- Ajudante -->
        <div class="card-body-item">
            <div class="input-group">
                <i class="bi bi-cash input-group-addon addon-my-color"></i>
                <span class="form-control input-fake">
                    AJUDANTE
                </span>
                <div class="input-group-addon addon-my-color">
                    <input type="checkbox"
                    class="c_recebe"
                    id="c_recebe_ajud"
                    name="s_ajud"
                    {% if s_minuta.recebe.c_ajud %}
                    checked="checked"
                    {% endif %} />
                </div>
            </div>
        </div>
        <!-- Valores Ajudante -->
        <div class="card-body-item" id="js-recebe-ajud">
            <div class="input-group input-group-sm transparente">
                <span class="input-group-addon addon-blue">
                    R$
                </span>
                <input type="text"
                class="form-control text-right js-input-change"
                id="v_ajud"
                name="v_ajud"
                value="{{ s_minuta.recebe.v_ajud|stringformat:'.2f' }}" />
                <span class="input-group-addon addon-blue">
                    UN
                </span>
                <input type="text"
                class="form-control text-right js-input-change"
                id="m_ajud"
                name="m_ajud"
                value="{{ s_minuta.recebe.m_ajud|stringformat:'.0f' }}" />
                <span class="input-group-addon addon-my-color">
                    =
                </span>
                <span class="input-group-addon addon-blue">
                    R$
                </span>
                <input type="texy"
                class="total-recebe form-control text-right"
                id="t_recebe_ajud"
                value="{{ s_minuta.recebe.t_ajud|stringformat:'.2f' }}"
                readonly />
            </div>
        </div>
        {% if s_minuta.despesas %}
        <div class="linha-divisoria-nova"></div>
        {% endif %}
        {% for despesa in s_minuta.despesas %}
        <!-- Despesas -->
        <div class="card-body-item">
            <div class="input-group">
                <i class="bi bi-bag input-group-addon addon-my-color"></i>
                <span class="form-control input-fake">
                    {{ despesa.Descricao }}
                </span>
                <div class="input-group-addon addon-my-color">
                    <input type="checkbox"
                    class="c_recebe"
                    id="c_recebe_desp{{ despesa.idMinutaItens }}"
                    name="s_desp"
                    checked="checked" />
                </div>
            </div>
        </div>
        <!-- Valores Despesas -->
        <div class="card-body-item" id="js-recebe-desp{{ despesa.idMinutaItens }}">
            <div class="input-group input-group-sm transparente">
                <span class="input-group-addon addon-blue">
                    R$
                </span>
                <input type="text"
                class="form-control text-right js-input-change"
                id="v_desp{{ despesa.idMinutaItens }}"
                name="v_desp{{ despesa.idMinutaItens }}"
                value="{{ despesa.Valor|stringformat:'.2f' }}" />
                <span class="input-group-addon addon-blue">
                    UN
                </span>
                <input type="text"
                class="form-control text-right"
                value="1"
                readonly />
                <span class="input-group-addon addon-my-color">
                    =
                </span>
                <span class="input-group-addon addon-blue">
                    R$
                </span>
                <input type="texy"
                class="total-recebe form-control text-right"
                id="t_recebe_desp{{ despesa.idMinutaItens }}"
                value="{{ despesa.Valor|stringformat:'.2f' }}"
                readonly />
            </div>
        </div>
        {% endfor %}
    </div>
    <!-- Card - Footer -->
    <div class="card-footer">
        <div class="div-flex">
            {% if s_minuta.motorista or s_minuta.ajudantes %}
            <span class="total"
            id="totalrecebe">
                TOTAL: R$ {{ s_minuta.recebe_minuta|stringformat:'.2f' }}
            </span>
            {% endif %}
            {% comment %} {% if s_minuta.paga_minuta|stringformat:'.2f' == '0.00' or s_minuta.paga_realizada %} {% endcomment %}
            {% comment %} {% if s_minuta.recebe_minuta %} {% endcomment %}
            {% comment %} {% if s_minuta.motorista or s_minuta.ajudantes %} {% endcomment %}
            {% if s_minuta.status_minuta == 'CONCLUIDA' %}
            {% if not s_minuta.recebe_realizada %}
            <button type="submit"
            class="i-button-form-rodape">
                <i class="bi bi-credit-card i-button"
                title="Finalizar Minuta"></i>
            </button>
            {% else %}
            <i class="bi bi-reply-all i-button estorna-pagamentos"
            idMinuta="{{ s_minuta.idminuta }}"
            title="Estorna Faturamento"></i>
            {% endif %}
            {% endif %}
            {% comment %} {% endif %} {% endcomment %}
            {% comment %} {% endif %} {% endcomment %}
            {% comment %} {% endif %} {% endcomment %}
        </div>
    </div>
</form>