<form class="" method="post" action="{% url 'gerapagamentos' %}" id="form-gera-recebe">
{% csrf_token %}
    <input type="hidden" name="idminuta" value="{{ s_minuta.idminuta }}" id="id_idminuta">
    <div class="form-finan">
        <span>TAXA DE EXPEDIÇÃO</span>
        <input type="checkbox" class="new-switch new-switch--shadow c_recebe" id="c_recebe_taxa"
               {% if s_minuta.recebe.c_taxa %} checked="checked" {% endif %}
               name="s_taxa">
        <label for="c_recebe_taxa"></label>
    </div>
    <div class="form-finan" id="form-recebe-taxa">
        <div class="v_recebe">
            <span class="form-label-recebe">%</span>
            <input type="number" class="form-control-recebe" name="v_taxa" step="0.01"
               value="{{ s_minuta.recebe.v_taxa|stringformat:'.2f' }}">
        </div>
        <div></div>
        <div></div>
        <div class="t_recebe">
            <span class="form-label-recebe">R$</span>
            <div class="total-recebe" id="t_recebe_taxa">{{ s_minuta.recebe.v_taxa|stringformat:'.2f' }}</div>
        </div>
    </div>
    <div class="form-finan">
        <span>SEGURO</span>
        <input type="checkbox" class="new-switch new-switch--shadow c_recebe" id="c_recebe_segu"
               {% if s_minuta.recebe.c_segu %} checked="checked" {% endif %}
               name="s_segu">
        <label for="c_recebe_segu"></label>
    </div>
    <div class="form-finan" id="form-recebe-segu">
        <div class="v_recebe">
            <span class="form-label-recebe">%</span>
            <input type="number" class="form-control-recebe" name="v_segu" step="0.01"
               value="{{ s_minuta.recebe.v_segu|stringformat:'.2f' }}">
        </div>
        <div class="m_recebe">
            <span class="form-label-recebe">R$</span>
            <input type="number" class="form-control-recebe" name="m_segu"
               value="{{ s_minuta.recebe.m_segu|stringformat:'.2f' }}">
        </div>
        <div>
            <span>=</span>
        </div>
        <div class="t_recebe">
            <span class="form-label-recebe">R$</span>
            <div class="total-recebe" id="t_recebe_segu">{{ s_minuta.recebe.t_segu|stringformat:'.2f' }}</div>
        </div>
    </div>
    <div class="form-finan">
        <span>PORCENTAGEM NOTA</span>
        <input type="checkbox" class="new-switch new-switch--shadow c_recebe" id="c_recebe_porc"
               {% if s_minuta.recebe.c_porc %} checked="checked" {% endif %}
               name="s_porc">
        <label for="c_recebe_porc"></label>
    </div>
    <div class="form-finan" id="form-recebe-porc">
        <div class="v_recebe">
            <span class="form-label-recebe">%</span>
            <input type="number" class="form-control-recebe" name="v_porc" step="0.01"
               value="{{ s_minuta.recebe.v_porc|stringformat:'.2f' }}">
        </div>
        <div class="m_recebe">
            <span class="form-label-recebe">R$</span>
            <input type="number" class="form-control-recebe" name="m_porc"
               value="{{ s_minuta.recebe.m_porc|stringformat:'.2f' }}">
        </div>
        <div>
            <span>=</span>
        </div>
        <div class="t_recebe">
            <span class="form-label-recebe">R$</span>
            <div class="total-recebe" id="t_recebe_porc">{{ s_minuta.recebe.t_porc|stringformat:'.2f' }}</div>
        </div>
    </div>
    <div class="form-finan">
        <span>HORAS</span>
        <input type="checkbox" class="new-switch new-switch--shadow c_recebe" id="c_recebe_hora"
               {% if s_minuta.recebe.c_hora %} checked="checked" {% endif %}
               name="s_hora">
        <label for="c_recebe_hora"></label>
    </div>
    <div class="form-finan" id="form-recebe-hora">
        <div class="v_recebe">
            <span class="form-label-recebe">R$</span>
            <input type="number" class="form-control-recebe" name="v_hora" step="0.01"
               value="{{ s_minuta.recebe.v_hora|stringformat:'.2f' }}">
        </div>
        <div class="m_recebe">
            <span class="form-label-recebe">HS</span>
            <input type="time" class="form-control-recebe" name="m_hora"
               value="{{ s_minuta.recebe.m_hora }}">
        </div>
        <div>
            <span>=</span>
        </div>
        <div class="t_recebe">
            <span class="form-label-recebe">R$</span>
            <div class="total-recebe" id="t_recebe_hora">{{ s_minuta.recebe.t_hora|stringformat:'.2f' }}</div>
        </div>
    </div>
    <div class="form-finan">
        <span>HORAS EXCEDENTE</span>
        <input type="checkbox" class="new-switch new-switch--shadow c_recebe" id="c_recebe_exce"
               {% if s_minuta.recebe.c_exce %} checked="checked" {% endif %}
               name="s_exce">
        <label for="c_recebe_exce"></label>
    </div>
    <div class="form-finan" id="form-recebe-exce">
        <div class="v_recebe">
            <span class="form-label-recebe">%</span>
            <input type="number" class="form-control-recebe" name="v_exce" step="0.01"
               value="{{ s_minuta.recebe.v_exce|stringformat:'.2f' }}">
        </div>
        <div class="m_recebe">
            <span class="form-label-recebe">HS</span>
            <input type="time" class="form-control-recebe" name="m_exce"
               value="{{ s_minuta.recebe.m_exce }}">
        </div>
        <div>
            <span>=</span>
        </div>
        <div class="t_recebe">
            <span class="form-label-recebe">R$</span>
            <div class="total-recebe" id="t_recebe_exce">{{ s_minuta.recebe.t_exce|stringformat:'.2f' }}</div>
        </div>
    </div>
    <div class="form-finan">
        <span>KILOMETRAGEM</span>
        <input type="checkbox" class="new-switch new-switch--shadow c_recebe" id="c_recebe_kilm"
               {% if s_minuta.recebe.c_kilm %} checked="checked" {% endif %}
               name="s_kilm">
        <label for="c_recebe_kilm"></label>
    </div>
    <div class="form-finan" id="form-recebe-kilm">
        <div class="v_recebe">
            <span class="form-label-recebe">R$</span>
            <input type="number" class="form-control-recebe" name="v_kilm" step="0.01"
               value="{{ s_minuta.recebe.v_kilm|stringformat:'.2f' }}">
        </div>
        <div class="m_recebe">
            <span class="form-label-recebe">UN</span>
            <input type="number" class="form-control-recebe" name="m_kilm" step="1.00"
               value="{{ s_minuta.recebe.m_kilm|stringformat:'.0f' }}">
        </div>
        <div>
            <span>=</span>
        </div>
        <div class="t_recebe">
            <span class="form-label-recebe">R$</span>
            <div class="total-recebe" id="t_recebe_kilm">{{ s_minuta.recebe.t_kilm|stringformat:'.2f' }}</div>
        </div>
    </div>
    <div class="form-finan">
        <span>ENTREGAS</span>
        <input type="checkbox" class="new-switch new-switch--shadow c_recebe" id="c_recebe_entr"
               {% if s_minuta.recebe.c_entr %} checked="checked" {% endif %}
               name="s_entr">
        <label for="c_recebe_entr"></label>
    </div>
    <div class="form-finan" id="form-recebe-entr">
        <div class="v_recebe">
            <span class="form-label-recebe">R$</span>
            <input type="number" class="form-control-recebe" name="v_entr" step="0.01"
               value="{{ s_minuta.recebe.v_entr|stringformat:'.2f' }}">
        </div>
        <div class="m_recebe">
            <span class="form-label-recebe">UN</span>
            <input type="number" class="form-control-recebe" name="m_entr" step="1.00"
               value="{{ s_minuta.recebe.m_entr|stringformat:'.0f' }}">
        </div>
        <div>
            <span>=</span>
        </div>
        <div class="t_recebe">
            <span class="form-label-recebe">R$</span>
            <div class="total-recebe" id="t_recebe_entr">{{ s_minuta.recebe.t_entr|stringformat:'.2f' }}</div>
        </div>
    </div>
    <div class="form-finan">
        <span>ENTREGAS KG</span>
        <input type="checkbox" class="new-switch new-switch--shadow c_recebe" id="c_recebe_enkg"
               {% if s_minuta.recebe.c_enkg %} checked="checked" {% endif %}
               name="s_enkg">
        <label for="c_recebe_enkg"></label>
    </div>
    <div class="form-finan" id="form-recebe-enkg">
        <div class="v_recebe">
            <span class="form-label-recebe">R$</span>
            <input type="number" class="form-control-recebe" name="v_enkg" step="0.01"
               value="{{ s_minuta.recebe.v_enkg|stringformat:'.2f' }}">
        </div>
        <div class="m_recebe">
            <span class="form-label-recebe">KG</span>
            <input type="number" class="form-control-recebe" name="m_enkg"
               value="{{ s_minuta.recebe.m_enkg|stringformat:'.2f' }}">
        </div>
        <div>
            <span>=</span>
        </div>
        <div class="t_recebe">
            <span class="form-label-recebe">R$</span>
            <div class="total-recebe" id="t_recebe_enkg">{{ s_minuta.recebe.t_enkg|stringformat:'.2f' }}</div>
        </div>
    </div>
    <div class="form-finan">
        <span>ENTREGAS VOLUME</span>
        <input type="checkbox" class="new-switch new-switch--shadow c_recebe" id="c_recebe_evol"
               {% if s_minuta.recebe.c_evol %} checked="checked" {% endif %}
               name="s_evol">
        <label for="c_recebe_evol"></label>
    </div>
    <div class="form-finan" id="form-recebe-evol">
        <div class="v_recebe">
            <span class="form-label-recebe">R$</span>
            <input type="number" class="form-control-recebe" name="v_evol" step="0.01"
               value="{{ s_minuta.recebe.v_evol|stringformat:'.2f' }}">
        </div>
        <div class="m_recebe">
            <span class="form-label-recebe">UN</span>
            <input type="number" class="form-control-recebe" name="m_evol" step="1.00"
               value="{{ s_minuta.recebe.m_evol|stringformat:'.0f' }}">
        </div>
        <div>
            <span>=</span>
        </div>
        <div class="t_recebe">
            <span class="form-label-recebe">R$</span>
            <div class="total-recebe" id="t_recebe_evol">{{ s_minuta.recebe.t_evol|stringformat:'.2f' }}</div>
        </div>
    </div>
    <div class="form-finan">
        <span>SAÍDA</span>
        <input type="checkbox" class="new-switch new-switch--shadow c_recebe" id="c_recebe_said"
               {% if s_minuta.recebe.c_said %} checked="checked" {% endif %}
               name="s_said">
        <label for="c_recebe_said"></label>
    </div>
    <div class="form-finan" id="form-recebe-said">
        <div class="v_recebe">
            <span class="form-label-recebe">R$</span>
            <input type="number" class="form-control-recebe" name="v_said" step="0.01"
               value="{{ s_minuta.recebe.v_said|stringformat:'.2f' }}">
        </div>
        <div></div>
        <div></div>
        <div class="t_recebe">
            <span class="form-label-recebe">R$</span>
            <div class="total-recebe" id="t_recebe_said">{{ s_minuta.recebe.v_said|stringformat:'.2f' }}</div>
        </div>
    </div>
    <div class="form-finan">
        <span>CAPCIDADE PESO</span>
        <input type="checkbox" class="new-switch new-switch--shadow c_recebe" id="c_recebe_capa"
               {% if s_minuta.recebe.c_capa %} checked="checked" {% endif %}
               name="s_capa">
        <label for="c_recebe_capa"></label>
    </div>
    <div class="form-finan" id="form-recebe-capa">
        <div class="v_recebe">
            <span class="form-label-recebe">R$</span>
            <input type="number" class="form-control-recebe" name="v_capa" step="0.01"
               value="{{ s_minuta.recebe.v_capa|stringformat:'.2f' }}">
        </div>
        <div></div>
        <div></div>
        <div class="t_recebe">
            <span class="form-label-recebe">R$</span>
            <div class="total-recebe" id="t_recebe_capa">{{ s_minuta.recebe.v_capa|stringformat:'.2f' }}</div>
        </div>
    </div>
    <div class="form-finan">
        <span>PERIMETRO</span>
        <input type="checkbox" class="new-switch new-switch--shadow c_recebe" id="c_recebe_peri"
               {% if s_minuta.recebe.c_peri %} checked="checked" {% endif %}
               name="s_peri">
        <label for="c_recebe_peri"></label>
    </div>
    <div class="form-finan" id="form-recebe-peri">
        <div class="v_recebe">
            <span class="form-label-recebe">%</span>
            <input type="number" class="form-control-recebe" name="v_peri" step="0.01"
               value="{{ s_minuta.recebe.v_peri|stringformat:'.2f' }}">
        </div>
        <div class="m_recebe">
            <span class="form-label-recebe">R$</span>
            <input type="number" class="form-control-recebe" name="m_peri"
               value="{{ s_minuta.recebe.m_peri|stringformat:'.2f' }}">
        </div>
        <div>
            <span>=</span>
        </div>
        <div class="t_recebe">
            <span class="form-label-recebe">R$</span>
            <div class="total-recebe" id="t_recebe_peri">{{ s_minuta.recebe.t_peri|stringformat:'.2f' }}</div>
        </div>
    </div>
    <div class="form-finan">
        <span>PERNOITE</span>
        <input type="checkbox" class="new-switch new-switch--shadow c_recebe" id="c_recebe_pnoi"
               {% if s_minuta.recebe.c_pnoi %} checked="checked" {% endif %}
               name="s_pnoi">
        <label for="c_recebe_pnoi"></label>
    </div>
    <div class="form-finan" id="form-recebe-pnoi">
        <div class="v_recebe">
            <span class="form-label-recebe">%</span>
            <input type="number" class="form-control-recebe" name="v_pnoi" step="0.01"
               value="{{ s_minuta.recebe.v_pnoi|stringformat:'.2f' }}">
        </div>
        <div class="m_recebe">
            <span class="form-label-recebe">R$</span>
            <input type="number" class="form-control-recebe" name="m_pnoi"
               value="{{ s_minuta.recebe.m_pnoi|stringformat:'.2f' }}">
        </div>
        <div>
            <span>=</span>
        </div>
        <div class="t_recebe">
            <span class="form-label-recebe">R$</span>
            <div class="total-recebe" id="t_recebe_pnoi">{{ s_minuta.recebe.t_pnoi|stringformat:'.2f' }}</div>
        </div>
    </div>
    <div class="form-finan">
        <span>AJUDANTE</span>
        <input type="checkbox" class="new-switch new-switch--shadow c_recebe" id="c_recebe_ajud"
               {% if s_minuta.recebe.c_ajud %} checked="checked" {% endif %}
               name="s_ajud">
        <label for="c_recebe_ajud"></label>
    </div>
    <div class="form-finan" id="form-recebe-ajud">
        <div class="v_recebe">
            <span class="form-label-recebe">R$</span>
            <input type="number" class="form-control-recebe" name="v_ajud" step="0.01"
               value="{{ s_minuta.recebe.v_ajud|stringformat:'.2f' }}">
        </div>
        <div class="m_recebe">
            <span class="form-label-recebe">UN</span>
            <input type="number" class="form-control-recebe" name="m_ajud" step="1.00"
               value="{{ s_minuta.recebe.m_ajud|stringformat:'.0f' }}">
        </div>
        <div>
            <span>=</span>
        </div>
        <div class="t_recebe">
            <span class="form-label-recebe">R$</span>
            <div class="total-recebe" id="t_recebe_ajud">{{ s_minuta.recebe.t_ajud|stringformat:'.2f' }}</div>
        </div>
    </div>
    {% for despesa in s_minuta.despesas %}
        <div class="form-finan">
            <span>{{ despesa.Descricao }}</span>
            <input type="checkbox" class="new-switch new-switch--shadow c_recebe"
                   id="c_recebe_desp{{ despesa.idMinutaItens }}" checked="checked" name="s_desp">
            <label for="c_recebe_desp{{ despesa.idMinutaItens }}"></label>
        </div>
        <div class="form-finan" id="form-recebe-desp{{ despesa.idMinutaItens }}">
            <div class="v_recebe">
                <span class="form-label-recebe">R$</span>
                <input type="number" class="form-control-recebe" name="m_desp{{ despesa.idMinutaItens }}"
                       step="0.01" value="{{ despesa.Valor|stringformat:'.2f' }}">
            </div>
            <div></div>
            <div></div>
            <div class="t_recebe">
                <span class="form-label-recebe">R$</span>
                <div class="total-recebe" id="t_recebe_desp{{ despesa.idMinutaItens }}">{{ despesa.Valor }}</div>
            </div>
        </div>
    {% endfor %}
    {% if s_minuta.motorista or s_minuta.ajudantes %}
    <div class="linha-divisoria"></div>
    <div class="form-finan">
        <span>TOTAL RCEITAS DA MINUTA</span>
        <div class="t_recebe">
            <span class="form-label-recebe">R$</span>
            <div class="total-recebe">{{ s_minuta.recebe_minuta|stringformat:'.2f' }}</div>
        </div>
    </div>
    {% endif %}
    <div class="article-minuta-rodape">
        {% if s_minuta.recebe_minuta %}
        {% if s_minuta.motorista or s_minuta.ajudantes %}
        {% if s_minuta.status_minuta == 'ABERTA' %}
        {% if not s_minuta.recebe_realizada %}
        <!--
        <button type="submit" class="i-button-form-rodape">
            <i class="bi bi-credit-card i-button"><span>GERA PAGAMENTOS</span></i>
        </button>
        -->
        {% else %}
        <i class="bi bi-reply-all i-button estorna-pagamentos" idMinuta="{{ s_minuta.idminuta }}">
            <span>ESTORNA PAGAMENTOS</span></i>
        {% endif %}
        {% endif %}
        {% endif %}
        {% endif %}
    </div>
</form>
