<!-- Card - Header -->
<div class="card-header">
    <span>PAGAMENTOS</span>
</div>
<!-- Card - Body -->
<!--TODO: Alterar id no arquivo js e aqui-->
<form method="post" id="js-gera-pagamentos">
    <div class="card-body">
        {% csrf_token %}
        <input type="hidden"
        id="idminuta-paga"
        name="idminuta"
        value="{{ s_minuta.idminuta }}">
        <!-- Porcentagem Nota -->
        <div class="card-body-item">
            <div class="input-group">
                <i class="bi bi-wallet2 input-group-addon addon-my-color"></i>
                <span class="form-control input-fake">
                    PORCENTAGEM NOTA
                </span>
                <div class="input-group-addon addon-my-color">
                    <input type="checkbox"
                    class="js-checkbox-paga"
                    id="check-porcentagem-paga"
                    name="check-porcentagem-paga"
                    {% if s_minuta.paga.c_porc %}
                    checked="checked"
                    {% endif %} />
                </div>
            </div>
        </div>
        <!-- Valores Porcentagem Nota -->
        <div class="card-body-item" id="js-porcentagem-paga">
            <div class="input-group input-group-sm transparente">
                <span class="input-group-addon addon-blue">
                    &nbsp%&nbsp
                </span>
                <input type="text"
                class="form-control text-right js-input-change js-decimal"
                id="tabela-porcentagem-paga"
                name="tabela-porcentagem-paga"
                value="{{ s_minuta.paga.v_porc|stringformat:'.2f' }}" />
                <span class="input-group-addon addon-blue">
                    R$
                </span>
                <input type="text"
                class="form-control text-right js-input-change js-decimal"
                id="minuta-porcentagem-paga"
                name="minuta-porcentagem-paga"
                value="{{ s_minuta.paga.m_porc|stringformat:'.2f' }}" />
                <span class="input-group-addon addon-my-color">
                    =
                </span>
                <span class="input-group-addon addon-blue">
                    R$
                </span>
                <input type="text"
                class="total-paga form-control text-right js-decimal"
                id="valor-porcentagem-paga"
                name="valor-porcentagem-paga"
                value="{{ s_minuta.paga.t_porc|stringformat:'.2f' }}"
                readonly />
            </div>
        </div>
        <!-- Horas -->
        <div class="card-body-item">
            <div class="input-group">
                <i class="bi bi-wallet2 input-group-addon addon-my-color"></i>
                <span class="form-control input-fake">
                    HORAS
                </span>
                <div class="input-group-addon addon-my-color">
                    <input type="checkbox"
                    class="js-checkbox-paga"
                    id="check-hora-paga"
                    name="check-hora-paga"
                    {% if s_minuta.paga.c_hora %}
                    checked="checked"
                    {% endif %} />
                </div>
            </div>
        </div>
        <!-- Valores Horas -->
        <div class="card-body-item" id="js-hora-paga">
            <div class="input-group input-group-sm transparente">
                <span class="input-group-addon addon-blue">
                    R$
                </span>
                <input type="text"
                class="form-control text-right js-input-change js-decimal"
                id="tabela-hora-paga"
                name="tabela-hora-paga"
                value="{{ s_minuta.paga.v_hora|stringformat:'.2f' }}" />
                <span class="input-group-addon addon-blue">
                    HS
                </span>
                <input type="time"
                class="form-control text-right js-input-change"
                id="minuta-hora-paga"
                name="minuta-hora-paga"
                value="{{ s_minuta.paga.m_hora }}" />
                <span class="input-group-addon addon-my-color">
                    =
                </span>
                <span class="input-group-addon addon-blue">
                    R$
                </span>
                <input type="text"
                class="total-paga form-control text-right js-decimal"
                id="valor-hora-paga"
                name="valor-hora-paga"
                value="{{ s_minuta.paga.t_hora|stringformat:'.2f' }}"
                readonly />
            </div>
        </div>
        <!-- Horas Excedente -->
        <div class="card-body-item">
            <div class="input-group">
                <i class="bi bi-wallet2 input-group-addon addon-my-color"></i>
                <span class="form-control input-fake">
                    HORAS EXCEDENTE
                </span>
                <div class="input-group-addon addon-my-color">
                    <input type="checkbox"
                    class="js-checkbox-paga"
                    id="check-excedente-paga"
                    name="check-excedente-paga"
                    {% if s_minuta.paga.c_exce %}
                    checked="checked"
                    {% endif %} />
                </div>
            </div>
        </div>
        <!-- Valores Horas Excedente -->
        <div class="card-body-item" id="js-excedente-paga">
            <div class="input-group input-group-sm transparente">
                <span class="input-group-addon addon-blue">
                    &nbsp%&nbsp
                </span>
                <input type="text"
                class="form-control text-right js-input-change js-decimal"
                id="tabela-excedente-paga"
                name="tabela-excedente-paga"
                value="{{ s_minuta.paga.v_exce|stringformat:'.2f' }}" />
                <span class="input-group-addon addon-blue">
                    HS
                </span>
                <input type="time"
                class="form-control text-right js-input-change"
                id="minuta-excedente-paga"
                name="minuta-excedente-paga"
                value="{{ s_minuta.paga.m_exce }}" />
                <span class="input-group-addon addon-my-color">
                    =
                </span>
                <span class="input-group-addon addon-blue">
                    R$
                </span>
                <input type="text"
                class="total-paga form-control text-right js-decimal"
                id="valor-excedente-paga"
                name="valor-excedente-paga"
                value="{{ s_minuta.paga.t_exce|stringformat:'.2f' }}"
                readonly />
            </div>
        </div>
        <!-- Kilometragem -->
        <div class="card-body-item">
            <div class="input-group">
                <i class="bi bi-wallet2 input-group-addon addon-my-color"></i>
                <span class="form-control input-fake">
                    KILOMETRAGEM
                </span>
                <div class="input-group-addon addon-my-color">
                    <input type="checkbox"
                    class="js-checkbox-paga"
                    id="check-kilometragem-paga"
                    name="check-kilometragem-paga"
                    {% if s_minuta.paga.c_kilm %}
                    checked="checked"
                    {% endif %} />
                </div>
            </div>
        </div>
        <!-- Valores Kilometragem -->
        <div class="card-body-item" id="js-kilometragem-paga">
            <div class="input-group input-group-sm transparente">
                <span class="input-group-addon addon-blue">
                    R$
                </span>
                <input type="text"
                class="form-control text-right js-input-change js-decimal"
                id="tabela-kilometragem-paga"
                name="tabela-kilometragem-paga"
                value="{{ s_minuta.paga.v_kilm|stringformat:'.2f' }}" />
                <span class="input-group-addon addon-blue">
                    UN
                </span>
                <input type="text"
                class="form-control text-right js-input-change js-unidade"
                id="minuta-kilometragem-paga"
                name="minuta-kilometragem-paga"
                value="{{ s_minuta.paga.m_kilm|stringformat:'.0f' }}" />
                <span class="input-group-addon addon-my-color">
                    =
                </span>
                <span class="input-group-addon addon-blue">
                    R$
                </span>
                <input type="text"
                class="total-paga form-control text-right js-decimal"
                id="valor-kilometragem-paga"
                name="valor-kilometragem-paga"
                value="{{ s_minuta.paga.t_kilm|stringformat:'.2f' }}"
                readonly />
            </div>
        </div>
        <!-- Entregas -->
        <div class="card-body-item">
            <div class="input-group">
                <i class="bi bi-wallet2 input-group-addon addon-my-color"></i>
                <span class="form-control input-fake">
                    ENTREGAS
                </span>
                <div class="input-group-addon addon-my-color">
                    <input type="checkbox"
                    class="js-checkbox-paga"
                    id="check-entrega-paga"
                    name="check-entrega-paga"
                    {% if s_minuta.paga.c_entr %}
                    checked="checked"
                    {% endif %} />
                </div>
            </div>
        </div>
        <!-- Valores Entregas -->
        <div class="card-body-item" id="js-entrega-paga">
            <div class="input-group input-group-sm transparente">
                <span class="input-group-addon addon-blue">
                    R$
                </span>
                <input type="text"
                class="form-control text-right js-input-change js-decimal"
                id="tabela-entrega-paga"
                name="tabela-entrega-paga"
                value="{{ s_minuta.paga.v_entr|stringformat:'.2f' }}" />
                <span class="input-group-addon addon-blue">
                    UN
                </span>
                <input type="text"
                class="form-control text-right js-input-change js-unidade"
                id="minuta-entrega-paga"
                name="minuta-entrega-paga"
                value="{{ s_minuta.paga.m_entr|stringformat:'.0f' }}" />
                <span class="input-group-addon addon-my-color">
                    =
                </span>
                <span class="input-group-addon addon-blue">
                    R$
                </span>
                <input type="text"
                class="total-paga form-control text-right js-decimal"
                id="valor-entrega-paga"
                name="valor-entrega-paga"
                value="{{ s_minuta.paga.t_entr|stringformat:'.2f' }}"
                readonly />
            </div>
        </div>     
        <!-- Entregas KG -->
        <div class="card-body-item">
            <div class="input-group">
                <i class="bi bi-wallet2 input-group-addon addon-my-color"></i>
                <span class="form-control input-fake">
                    ENTREGAS KG
                </span>
                <div class="input-group-addon addon-my-color">
                    <input type="checkbox"
                    class="js-checkbox-paga"
                    id="check-entrega-kg-paga"
                    name="check-entrega-kg-paga"
                    {% if s_minuta.paga.c_enkg %}
                    checked="checked"
                    {% endif %} />
                </div>
            </div>
        </div>
        <!-- Valores Entregas KG -->
        <div class="card-body-item" id="js-entrega-kg-paga">
            <div class="input-group input-group-sm transparente">
                <span class="input-group-addon addon-blue">
                    R$
                </span>
                <input type="text"
                class="form-control text-right js-input-change js-decimal"
                id="tabela-entrega-kg-paga"
                name="tabela-entrega-kg-paga"
                value="{{ s_minuta.paga.v_enkg|stringformat:'.2f' }}" />
                <span class="input-group-addon addon-blue">
                    KG
                </span>
                <input type="text"
                class="form-control text-right js-input-change js-decimal"
                id="minuta-entrega-kg-paga"
                name="minuta-entrega-kg-paga"
                value="{{ s_minuta.paga.m_enkg|stringformat:'.2f' }}" />
                <span class="input-group-addon addon-my-color">
                    =
                </span>
                <span class="input-group-addon addon-blue">
                    R$
                </span>
                <input type="text"
                class="total-paga form-control text-right js-decimal"
                id="valor-entrega-kg-paga"
                name="valor-entrega-kg-paga"
                value="{{ s_minuta.paga.t_enkg|stringformat:'.2f' }}"
                readonly />
            </div>
        </div>
        <!-- Entregas Volume -->
        <div class="card-body-item">
            <div class="input-group">
                <i class="bi bi-wallet2 input-group-addon addon-my-color"></i>
                <span class="form-control input-fake">
                    ENTREGAS VOLUME
                </span>
                <div class="input-group-addon addon-my-color">
                    <input type="checkbox"
                    class="js-checkbox-paga"
                    id="check-entrega-volume-paga"
                    name="check-entrega-volume-paga"
                    {% if s_minuta.paga.c_evol %}
                    checked="checked"
                    {% endif %} />
                </div>
            </div>
        </div>
        <!-- Valores Entregas Volume -->
        <div class="card-body-item" id="js-entrega-volume-paga">
            <div class="input-group input-group-sm transparente">
                <span class="input-group-addon addon-blue">
                    R$
                </span>
                <input type="text"
                class="form-control text-right js-input-change js-decimal"
                id="tabela-entrega-volume-paga"
                name="tabela-entrega-volume-paga"
                value="{{ s_minuta.paga.v_evol|stringformat:'.2f' }}" />
                <span class="input-group-addon addon-blue">
                    UN
                </span>
                <input type="text"
                class="form-control text-right js-input-change js-unidade"
                id="minuta-entrega-volume-paga"
                name="minuta-entrega-volume-paga"
                value="{{ s_minuta.paga.m_evol|stringformat:'.0f' }}" />
                <span class="input-group-addon addon-my-color">
                    =
                </span>
                <span class="input-group-addon addon-blue">
                    R$
                </span>
                <input type="text"
                class="total-paga form-control text-right js-decimal"
                id="valor-entrega-volume-paga"
                name="valor-entrega-volume-paga"
                value="{{ s_minuta.paga.t_evol|stringformat:'.2f' }}"
                readonly />
            </div>
        </div>
        <!-- Saida -->
        <div class="card-body-item">
            <div class="input-group">
                <i class="bi bi-wallet2 input-group-addon addon-my-color"></i>
                <span class="form-control input-fake">
                    SAÍDA
                </span>
                <div class="input-group-addon addon-my-color">
                    <input type="checkbox"
                    class="js-checkbox-paga"
                    id="check-saida-paga"
                    name="check-saida-paga"
                    {% if s_minuta.paga.c_said %}
                    checked="checked"
                    {% endif %} />
                </div>
            </div>
        </div>
        <!-- Valores Saida -->
        <div class="card-body-item" id="js-saida-paga">
            <div class="input-group input-group-sm transparente">
                <span class="input-group-addon addon-blue">
                    R$
                </span>
                <input type="text"
                class="form-control text-right js-input-change js-decimal"
                id="tabela-saida-paga"
                name="tabela-saida-paga"
                value="{{ s_minuta.paga.v_said|stringformat:'.2f' }}" />
                <span class="input-group-addon addon-blue">
                    UN
                </span>
                <input type="text"
                class="form-control text-right js-unidade"
                value="1"
                readonly />
                <span class="input-group-addon addon-my-color">
                    =
                </span>
                <span class="input-group-addon addon-blue">
                    R$
                </span>
                <input type="text"
                class="total-paga form-control text-right js-decimal"
                id="valor-saida-paga"
                name="valor-saida-paga"
                value="{{ s_minuta.paga.v_said|stringformat:'.2f' }}"
                readonly />
            </div>
        </div>
        <!-- Capacidade Peso -->
        <div class="card-body-item">
            <div class="input-group">
                <i class="bi bi-wallet2 input-group-addon addon-my-color"></i>
                <span class="form-control input-fake">
                    CAPACIDADE PESO
                </span>
                <div class="input-group-addon addon-my-color">
                    <input type="checkbox"
                    class="js-checkbox-paga"
                    id="check-capacidade-paga"
                    name="check-capacidade-paga"
                    {% if s_minuta.paga.c_capa %}
                    checked="checked"
                    {% endif %} />
                </div>
            </div>
        </div>
        <!-- Valores Capacidade Peso -->
        <div class="card-body-item" id="js-capacidade-paga">
            <div class="input-group input-group-sm transparente">
                <span class="input-group-addon addon-blue">
                    R$
                </span>
                <input type="text"
                class="form-control text-right js-input-change js-decimal"
                id="tabela-capacidade-paga"
                name="tabela-capacidade-paga"
                value="{{ s_minuta.paga.v_capa|stringformat:'.2f' }}" />
                <span class="input-group-addon addon-blue">
                    UN
                </span>
                <input type="text"
                class="form-control text-right js-unidade"
                value="1"
                readonly />
                <span class="input-group-addon addon-my-color">
                    =
                </span>
                <span class="input-group-addon addon-blue">
                    R$
                </span>
                <input type="text"
                class="total-paga form-control text-right js-decimal"
                id="valor-capacidade-paga"
                name="valor-capacidade-paga"
                value="{{ s_minuta.paga.v_capa|stringformat:'.2f' }}"
                readonly />
            </div>
        </div>
        <!-- Perimetro -->
        <div class="card-body-item">
            <div class="input-group">
                <i class="bi bi-wallet2 input-group-addon addon-my-color"></i>
                <span class="form-control input-fake">
                    PERIMETRO
                </span>
                <div class="input-group-addon addon-my-color">
                    <input type="checkbox"
                    class="js-checkbox-paga"
                    id="check-perimetro-paga"
                    name="check-perimetro-paga"
                    {% if s_minuta.paga.c_peri %}
                    checked="checked"
                    {% endif %} />
                </div>
            </div>
        </div>
        <!-- Valores Perimetro -->
        <div class="card-body-item" id="js-perimetro-paga">
            <div class="input-group input-group-sm transparente">
                <span class="input-group-addon addon-blue">
                    &nbsp%&nbsp
                </span>
                <input type="text"
                class="form-control text-right js-input-change js-decimal"
                id="tabela-perimetro-paga"
                name="tabela-perimetro-paga"
                value="{{ s_minuta.paga.v_peri|stringformat:'.2f' }}" />
                <span class="input-group-addon addon-blue">
                    R$
                </span>
                <input type="text"
                class="form-control text-right js-input-change js-decimal"
                id="minuta-perimetro-paga"
                name="minuta-perimetro-paga"
                value="{{ s_minuta.paga.m_peri|stringformat:'.2f' }}" />
                <span class="input-group-addon addon-my-color">
                    =
                </span>
                <span class="input-group-addon addon-blue">
                    R$
                </span>
                <input type="text"
                class="total-paga form-control text-right js-decimal"
                id="valor-perimetro-paga"
                name="valor-perimetro-paga"
                value="{{ s_minuta.paga.t_peri|stringformat:'.2f' }}"
                readonly />
            </div>
        </div>
        <!-- Pernoite -->
        <div class="card-body-item">
            <div class="input-group">
                <i class="bi bi-wallet2 input-group-addon addon-my-color"></i>
                <span class="form-control input-fake">
                    PERNOITE
                </span>
                <div class="input-group-addon addon-my-color">
                    <input type="checkbox"
                    class="js-checkbox-paga"
                    id="check-pernoite-paga"
                    name="check-pernoite-paga"
                    {% if s_minuta.paga.c_pnoi %}
                    checked="checked"
                    {% endif %} />
                </div>
            </div>
        </div>
        <!-- Valores Pernoite -->
        <div class="card-body-item" id="js-pernoite-paga">
            <div class="input-group input-group-sm transparente">
                <span class="input-group-addon addon-blue">
                    &nbsp%&nbsp
                </span>
                <input type="text"
                class="form-control text-right js-input-change js-decimal"
                id="tabela-pernoite-paga"
                name="tabela-pernoite-paga"
                value="{{ s_minuta.paga.v_pnoi|stringformat:'.2f' }}" />
                <span class="input-group-addon addon-blue">
                    R$
                </span>
                <input type="text"
                class="form-control text-right js-input-change js-decimal"
                id="minuta-pernoite-paga"
                name="minuta-pernoite-paga"
                value="{{ s_minuta.paga.m_peri|stringformat:'.2f' }}" />
                <span class="input-group-addon addon-my-color">
                    =
                </span>
                <span class="input-group-addon addon-blue">
                    R$
                </span>
                <input type="text"
                class="total-paga form-control text-right js-decimal"
                id="valor-pernoite-paga"
                name="valor-pernoite-paga"
                value="{{ s_minuta.paga.t_pnoi|stringformat:'.2f' }}"
                readonly />
            </div>
        </div>
        <!-- Ajudante -->
        <div class="card-body-item">
            <div class="input-group">
                <i class="bi bi-wallet2 input-group-addon addon-my-color"></i>
                <span class="form-control input-fake">
                    AJUDANTE
                </span>
                <div class="input-group-addon addon-my-color">
                    <input type="checkbox"
                    class="js-checkbox-paga"
                    id="check-ajudante-paga"
                    name="check-ajudante-paga"
                    {% if s_minuta.paga.c_ajud %}
                    checked="checked"
                    {% endif %} />
                </div>
            </div>
        </div>
        <!-- Valores Ajudante -->
        <div class="card-body-item" id="js-ajudante-paga">
            <div class="input-group input-group-sm transparente">
                <span class="input-group-addon addon-blue">
                    R$
                </span>
                <input type="text"
                class="form-control text-right js-input-change js-decimal"
                id="tabela-ajudante-paga"
                name="tabela-ajudante-paga"
                value="{{ s_minuta.paga.v_ajud|stringformat:'.2f' }}" />
                <span class="input-group-addon addon-blue">
                    UN
                </span>
                <input type="text"
                class="form-control text-right js-input-change js-unidade"
                id="minuta-ajudante-paga"
                name="minuta-ajudante-paga"
                value="{{ s_minuta.paga.m_ajud|stringformat:'.0f' }}" />
                <span class="input-group-addon addon-my-color">
                    =
                </span>
                <span class="input-group-addon addon-blue">
                    R$
                </span>
                <input type="text"
                class="total-paga form-control text-right js-decimal"
                id="valor-ajudante-paga"
                name="valor-ajudante-paga"
                value="{{ s_minuta.paga.t_ajud|stringformat:'.2f' }}"
                readonly />
            </div>
        </div>
    </div>
    {% if s_minuta.ajudantes or s_minuta.motorista %}
    <div class="linha-divisoria-nova"></div>
    {% endif %}
    {% for motorista in s_minuta.motorista %}
    {% if motorista.obj.TipoPgto != 'MENSALISTA' %}
    <div class="card-body-item div-motorista">
        <div class="input-group">
            <i class="bi bi-person-square input-group-addon addon-my-color"></i>
            <div class="input-fake div-flex font-menor">
                <span>
                    {{ motorista.apelido }}
                </span>
                <span id="total-motorista">
                    R$ {{ s_minuta.paga_motorista|stringformat:'.2f' }}
                </span>
            </div>
            <i class="bi bi-check input-group-addon addon-my-color"></i>
        </div>
    </div>
    </div>
    {% endif %}
    {% endfor %}
    {% for ajudante in s_minuta.ajudantes %}
    {% if ajudante.tipo != 'MENSALISTA' %}
    <div class="card-body-item div-ajudante">
        <div class="input-group">
            <i class="bi bi-person input-group-addon addon-my-color"></i>
            <div class="input-fake div-flex font-menor">
                <span>
                    {{ ajudante.apelido }}
                </span>
                <span id="total-ajudante">
                    R$ {{ s_minuta.paga.v_ajud|stringformat:'.2f' }}
                </span>
            </div>
            <i class="bi bi-check input-group-addon addon-my-color"></i>
        </div>
    </div>
    {% endif %}
    {% endfor %}
    <div class="card-footer">
        <div class="div-flex">
            {% if s_minuta.paga_minuta %}
            {% if s_minuta.motorista or s_minuta.ajudantes %}
            {% if s_minuta.status_minuta == 'ABERTA' %}
            {% if not s_minuta.paga_realizada %}
            <button type="submit"
            class="i-button-form-rodape">
                <i class="bi bi-credit-card i-button"
                title="Gera pagamentos"></i>
            </button>
            {% else %}
            <i class="bi bi-reply-all i-button estorna-pagamentos"
            idMinuta="{{ s_minuta.idminuta }}"
            title="Estorna Pagamentos"></i>
            {% endif %}
            {% endif %}
            {% endif %}
            {% else %}
            <div></div>
            {% endif %}
            {% if s_minuta.motorista or s_minuta.ajudantes %}
            <span class="total"
            id="total-pagamentos">
                TOTAL: R$ {{ s_minuta.paga_minuta|stringformat:'.2f' }}
            </span>
            {% else %}
            <div></div>
            {% endif %}
        </div>
    </div>
</form>
