<form class="" method="post" action="{% url 'gerapagamentos' %}" id="form-gera-paga">
{% csrf_token %}
    <input type="hidden" name="idminuta" value="{{ s_minuta.idminuta }}" id="id_idminuta">
    <div class="form-paga">
        <span>PORCENTAGEM NOTA</span>
        <input type="checkbox" class="new-switch new-switch--shadow" id="c_porc"
               {% if s_minuta.paga.c_porc %} checked="checked" {% endif %}
               name="s_porc">
        <label for="c_porc"></label>
    </div>
    <div class="form-paga" id="form-paga-porc">
        <div class="v_paga">
            <span class="form-label-paga">%</span>
            <input type="number" class="form-control-paga" name="v_porc" step="0.01"
               value="{{ s_minuta.paga.v_porc|stringformat:'.2f' }}">
        </div>
        <div class="m_paga">
            <span class="form-label-paga">R$</span>
            <input type="number" class="form-control-paga" name="m_porc"
               value="{{ s_minuta.paga.m_porc|stringformat:'.2f' }}">
        </div>
        <div>
            <span>=</span>
        </div>
        <div class="t_paga">
            <span class="form-label-paga">R$</span>
            <div class="total-paga" id="t_porc">{{ s_minuta.paga.t_porc|stringformat:'.2f' }}</div>
        </div>
    </div>
    <div class="form-paga">
        <span>HORAS</span>
        <input type="checkbox" class="new-switch new-switch--shadow" id="c_hora"
               {% if s_minuta.paga.c_hora %} checked="checked" {% endif %}
               name="s_hora">
        <label for="c_hora"></label>
    </div>
    <div class="form-paga" id="form-paga-hora">
        <div class="v_paga">
            <span class="form-label-paga">R$</span>
            <input type="number" class="form-control-paga" name="v_hora" step="0.01"
               value="{{ s_minuta.paga.v_hora|stringformat:'.2f' }}">
        </div>
        <div class="m_paga">
            <span class="form-label-paga">HS</span>
            <input type="time" class="form-control-paga" name="m_hora"
               value="{{ s_minuta.paga.m_hora }}">
        </div>
        <div>
            <span>=</span>
        </div>
        <div class="t_paga">
            <span class="form-label-paga">R$</span>
            <div class="total-paga" id="t_hora">{{ s_minuta.paga.t_hora|stringformat:'.2f' }}</div>
        </div>
    </div>
    <div class="form-paga">
        <span>HORAS EXCEDENTE</span>
        <input type="checkbox" class="new-switch new-switch--shadow" id="c_exce"
               {% if s_minuta.paga.c_exce %} checked="checked" {% endif %}
               name="s_exce">
        <label for="c_exce"></label>
    </div>
    <div class="form-paga" id="form-paga-exce">
        <div class="v_paga">
            <span class="form-label-paga">%</span>
            <input type="number" class="form-control-paga" name="v_exce" step="0.01"
               value="{{ s_minuta.paga.v_exce|stringformat:'.2f' }}">
        </div>
        <div class="m_paga">
            <span class="form-label-paga">HS</span>
            <input type="time" class="form-control-paga" name="m_exce"
               value="{{ s_minuta.paga.m_exce }}">
        </div>
        <div>
            <span>=</span>
        </div>
        <div class="t_paga">
            <span class="form-label-paga">R$</span>
            <div class="total-paga" id="t_exce">{{ s_minuta.paga.t_exce|stringformat:'.2f' }}</div>
        </div>
    </div>
    <div class="form-paga">
        <span>KILOMETRAGEM</span>
        <input type="checkbox" class="new-switch new-switch--shadow" id="c_kilm"
               {% if s_minuta.paga.c_kilm %} checked="checked" {% endif %}
               name="s_kilm">
        <label for="c_kilm"></label>
    </div>
    <div class="form-paga" id="form-paga-kilm">
        <div class="v_paga">
            <span class="form-label-paga">R$</span>
            <input type="number" class="form-control-paga" name="v_kilm" step="0.01"
               value="{{ s_minuta.paga.v_kilm|stringformat:'.2f' }}">
        </div>
        <div class="m_paga">
            <span class="form-label-paga">UN</span>
            <input type="number" class="form-control-paga" name="m_kilm" step="1.00"
               value="{{ s_minuta.paga.m_kilm|stringformat:'.0f' }}">
        </div>
        <div>
            <span>=</span>
        </div>
        <div class="t_paga">
            <span class="form-label-paga">R$</span>
            <div class="total-paga" id="t_kilm">{{ s_minuta.paga.t_kilm|stringformat:'.2f' }}</div>
        </div>
    </div>
    <div class="form-paga">
        <span>ENTREGAS</span>
        <input type="checkbox" class="new-switch new-switch--shadow" id="c_entr"
               {% if s_minuta.paga.c_entr %} checked="checked" {% endif %}
               name="s_entr">
        <label for="c_entr"></label>
    </div>
    <div class="form-paga" id="form-paga-entr">
        <div class="v_paga">
            <span class="form-label-paga">R$</span>
            <input type="number" class="form-control-paga" name="v_entr" step="0.01"
               value="{{ s_minuta.paga.v_entr|stringformat:'.2f' }}">
        </div>
        <div class="m_paga">
            <span class="form-label-paga">UN</span>
            <input type="number" class="form-control-paga" name="m_entr" step="1.00"
               value="{{ s_minuta.paga.m_entr|stringformat:'.0f' }}">
        </div>
        <div>
            <span>=</span>
        </div>
        <div class="t_paga">
            <span class="form-label-paga">R$</span>
            <div class="total-paga" id="t_entr">{{ s_minuta.paga.t_entr|stringformat:'.2f' }}</div>
        </div>
    </div>
    <div class="form-paga">
        <span>ENTREGAS KG</span>
        <input type="checkbox" class="new-switch new-switch--shadow" id="c_enkg"
               {% if s_minuta.paga.c_enkg %} checked="checked" {% endif %}
               name="s_enkg">
        <label for="c_enkg"></label>
    </div>
    <div class="form-paga" id="form-paga-enkg">
        <div class="v_paga">
            <span class="form-label-paga">R$</span>
            <input type="number" class="form-control-paga" name="v_enkg" step="0.01"
               value="{{ s_minuta.paga.v_enkg|stringformat:'.2f' }}">
        </div>
        <div class="m_paga">
            <span class="form-label-paga">KG</span>
            <input type="number" class="form-control-paga" name="m_enkg"
               value="{{ s_minuta.paga.m_enkg|stringformat:'.2f' }}">
        </div>
        <div>
            <span>=</span>
        </div>
        <div class="t_paga">
            <span class="form-label-paga">R$</span>
            <div class="total-paga" id="t_enkg">{{ s_minuta.paga.t_enkg|stringformat:'.2f' }}</div>
        </div>
    </div>
    <div class="form-paga">
        <span>ENTREGAS VOLUME</span>
        <input type="checkbox" class="new-switch new-switch--shadow" id="c_evol"
               {% if s_minuta.paga.c_evol %} checked="checked" {% endif %}
               name="s_evol">
        <label for="c_evol"></label>
    </div>
    <div class="form-paga" id="form-paga-evol">
        <div class="v_paga">
            <span class="form-label-paga">R$</span>
            <input type="number" class="form-control-paga" name="v_evol" step="0.01"
               value="{{ s_minuta.paga.v_evol|stringformat:'.2f' }}">
        </div>
        <div class="m_paga">
            <span class="form-label-paga">UN</span>
            <input type="number" class="form-control-paga" name="m_evol" step="1.00"
               value="{{ s_minuta.paga.m_evol|stringformat:'.0f' }}">
        </div>
        <div>
            <span>=</span>
        </div>
        <div class="t_paga">
            <span class="form-label-paga">R$</span>
            <div class="total-paga" id="t_evol">{{ s_minuta.paga.t_evol|stringformat:'.2f' }}</div>
        </div>
    </div>
    <div class="form-paga">
        <span>SAÍDA</span>
        <input type="checkbox" class="new-switch new-switch--shadow" id="c_said"
               {% if s_minuta.paga.c_said %} checked="checked" {% endif %}
               name="s_said">
        <label for="c_said"></label>
    </div>
    <div class="form-paga" id="form-paga-said">
        <div class="v_paga">
            <span class="form-label-paga">R$</span>
            <input type="number" class="form-control-paga" name="v_said" step="0.01"
               value="{{ s_minuta.paga.v_said|stringformat:'.2f' }}">
        </div>
        <div></div>
        <div></div>
        <div class="t_paga">
            <span class="form-label-paga">R$</span>
            <div class="total-paga" id="t_said">{{ s_minuta.paga.v_said|stringformat:'.2f' }}</div>
        </div>
    </div>
    <div class="form-paga">
        <span>CAPCIDADE PESO</span>
        <input type="checkbox" class="new-switch new-switch--shadow" id="c_capa"
               {% if s_minuta.paga.c_capa %} checked="checked" {% endif %}
               name="s_capa">
        <label for="c_capa"></label>
    </div>
    <div class="form-paga" id="form-paga-capa">
        <div class="v_paga">
            <span class="form-label-paga">R$</span>
            <input type="number" class="form-control-paga" name="v_capa" step="0.01"
               value="{{ s_minuta.paga.v_capa|stringformat:'.2f' }}">
        </div>
        <div></div>
        <div></div>
        <div class="t_paga">
            <span class="form-label-paga">R$</span>
            <div class="total-paga" id="t_capa">{{ s_minuta.paga.v_capa|stringformat:'.2f' }}</div>
        </div>
    </div>
    <div class="form-paga">
        <span>PERIMETRO</span>
        <input type="checkbox" class="new-switch new-switch--shadow" id="c_peri"
               {% if s_minuta.paga.c_peri %} checked="checked" {% endif %}
               name="s_peri">
        <label for="c_peri"></label>
    </div>
    <div class="form-paga" id="form-paga-peri">
        <div class="v_paga">
            <span class="form-label-paga">%</span>
            <input type="number" class="form-control-paga" name="v_peri" step="0.01"
               value="{{ s_minuta.paga.v_peri|stringformat:'.2f' }}">
        </div>
        <div class="m_paga">
            <span class="form-label-paga">R$</span>
            <input type="number" class="form-control-paga" name="m_peri"
               value="{{ s_minuta.paga.m_peri|stringformat:'.2f' }}">
        </div>
        <div>
            <span>=</span>
        </div>
        <div class="t_paga">
            <span class="form-label-paga">R$</span>
            <div class="total-paga" id="t_peri">{{ s_minuta.paga.t_peri|stringformat:'.2f' }}</div>
        </div>
    </div>
    <div class="form-paga">
        <span>PERNOITE</span>
        <input type="checkbox" class="new-switch new-switch--shadow" id="c_pnoi"
               {% if s_minuta.paga.c_pnoi %} checked="checked" {% endif %}
               name="s_pnoi">
        <label for="c_pnoi"></label>
    </div>
    <div class="form-paga" id="form-paga-pnoi">
        <div class="v_paga">
            <span class="form-label-paga">%</span>
            <input type="number" class="form-control-paga" name="v_pnoi" step="0.01"
               value="{{ s_minuta.paga.v_pnoi|stringformat:'.2f' }}">
        </div>
        <div class="m_paga">
            <span class="form-label-paga">R$</span>
            <input type="number" class="form-control-paga" name="m_pnoi"
               value="{{ s_minuta.paga.m_pnoi|stringformat:'.2f' }}">
        </div>
        <div>
            <span>=</span>
        </div>
        <div class="t_paga">
            <span class="form-label-paga">R$</span>
            <div class="total-paga" id="t_pnoi">{{ s_minuta.paga.t_pnoi|stringformat:'.2f' }}</div>
        </div>
    </div>
    <div class="form-paga">
        <span>AJUDANTE</span>
        <input type="checkbox" class="new-switch new-switch--shadow" id="c_ajud"
               {% if s_minuta.paga.c_ajud %} checked="checked" {% endif %}
               name="s_ajud">
        <label for="c_ajud"></label>
    </div>
    <div class="form-paga" id="form-paga-ajud">
        <div class="v_paga">
            <span class="form-label-paga">R$</span>
            <input type="number" class="form-control-paga" name="v_ajud" step="0.01"
               value="{{ s_minuta.paga.v_ajud|stringformat:'.2f' }}">
        </div>
        <div class="m_paga">
            <span class="form-label-paga">UN</span>
            <input type="number" class="form-control-paga" name="m_ajud" step="1.00"
               value="{{ s_minuta.paga.m_ajud|stringformat:'.0f' }}">
        </div>
        <div>
            <span>=</span>
        </div>
        <div class="t_paga">
            <span class="form-label-paga">R$</span>
            <div class="total-paga" id="t_ajud">{{ s_minuta.paga.t_ajud|stringformat:'.2f' }}</div>
        </div>
    </div>
    {% if s_minuta.motorista or s_minuta.ajudantes %}
    <div class="linha-divisoria"></div>
    <div class="form-paga">
        <span>TOTAL PAGAMENTOS DA MINUTA</span>
        <div class="t_paga">
            <span class="form-label-paga">R$</span>
            <div class="total-paga">{{ s_minuta.paga_minuta|stringformat:'.2f' }}</div>
        </div>
    </div>
    {% endif %}
    {% for motorista in s_minuta.motorista %}
    <div class="form-paga">
        <span>{{ motorista.apelido }}</span>
        <div class="t_paga">
            <span class="form-label-paga">R$</span>
            <div class="total-paga">{{ s_minuta.paga_motorista|stringformat:'.2f' }}</div>
        </div>
    </div>
    {% endfor %}
    {% for ajudante in s_minuta.ajudantes %}
    {% if ajudante.tipo != 'MENSALISTA' %}
    <div class="form-paga">
        <span>{{ ajudante.apelido }}</span>
        <div class="t_paga">
            <span class="form-label-paga'">R$</span>
            <div class="total-paga">{{ s_minuta.paga.v_ajud|stringformat:'.2f' }}</div>
        </div>
    </div>
    {% endif %}
    {% endfor %}
    <div class="article-minuta-rodape">
        {% if s_minuta.paga_minuta %}
        {% if s_minuta.motorista or s_minuta.ajudantes %}
        {% if s_minuta.status_minuta == 'ABERTA' %}
        {% if not s_minuta.paga_realizada %}
        <button type="submit" class="i-button-form-rodape">
            <i class="bi bi-credit-card i-button"><span>GERA PAGAMENTOS</span></i>
        </button>
        {% else %}
        <i class="bi bi-reply-all i-button estorna-pagamentos" idMinuta="{{ s_minuta.idminuta }}">
            <span>ESTORNA PAGAMENTOS</span></i>
        {% endif %}
        {% endif %}
        {% endif %}
        {% endif %}
    </div>
</form>
