<form class="row g-3" method="post" action="{{ c_url }}" id="{{ c_idobj }}">
{% csrf_token %}
    {% if c_view == 'edita_minuta_veiculo_solicitado' %}
        <div class="col-md-12">
            <label for="id_idCategoriaVeiculo" class="form-label">VEÍCULO SOLICITADO:</label>
            {{ form.idCategoriaVeiculo }}
            <input type="hidden" name="idMinuta" value="{{ c_idobj }}">
        </div>
    {% endif %}

    {% if c_view == 'edita_minuta_veiculo_escolhido' %}
    <input type="hidden" value="{{ idpessoal }}" idpessoal="{{ idpessoal }}" name="idPessoal" id="idpessoal">
    <input type="hidden" value="{{ c_idobj }}" idinuta="{{ c_idobj }}" name="idMinuta" id="idminuta">
    <div class="col-md-4">
        <input type="radio" value="PROPRIO" id="proprio" class="form-radio" name="veiculo">
        <label for="proprio">PRÓPRIO</label>
    </div>
    <div class="col-md-4">
        <input type="radio" value="TRANSPORTADORA" id="transportadora" class="form-radio" name="veiculo">
        <label for="transportadora">TRANSPORTADORA</label>
    </div>
    <div class="col-md-4">
        <input type="radio" value="CADASTRADOS" id="cadastrado" class="form-radio" name="veiculo">
        <label for="cadastrado">CADASTRADOS</label>
    </div>
    <div class="html-escolhido">
        {% include 'minutas/listaveiculosminuta.html' %}
    </div>
    {% endif %}

    {% if c_view == 'insere_motorista' %}
        <div class="col-md-12">
            <label for="id_idPessoal" class="form-label">NOME:</label>
            <select name="idPessoal" class="formfields" required id="id_idPessoa"l>
                {% for motorista in motoristas %}
                    <option value="{{ motorista.idPessoal }}">{{ motorista.Nome }}</option>
                {% empty %}
                    <option value="">NENHUM MOTORISTA DISPONIVEL</option>
                {% endfor %}
            </select>
            <input type="hidden" name="idMinuta" value="{{ c_idobj }}">
            <input type="hidden" name="Cargo" value="MOTORISTA" >
        </div>
    {% endif %}

    {% if c_view == 'insere_ajudante' %}
    <div class="col-md-12">
        <label for="id_idPessoal" class="form-label">NOME:</label>
        <select name="idPessoal" class="formfields" required id="id_idPessoal">
            {% for ajudante in ajudantes %}
                <option value="{{ ajudante.idPessoal }}">{{ ajudante.Nome }}</option>
            {% empty %}
                <option value="">NENHUM AJUDANTE DISPONIVEL</option>
            {% endfor %}
        </select>
        <input type="hidden" name="idMinuta" value="{{ c_idobj }}">
        <input type="hidden" name="Cargo" value="AJUDANTE" >
    </div>
    {% endif %}
</form>
