{% load humanize %}
<div class="card-header">
    <span>ROMANEIOS</span>
</div>
{% for rom in romaneios %}
<div class="card-body">
    <div class="card-body-item">
        <div class="input-group">
            <i class="bi bi-list-check input-group-addon addon-my-color"></i>
            <div class="input-fake div-flex font-menor">
                <span>
                    {{ rom.romaneio|stringformat:'05d' }} - {{ rom.data_romaneio }}
                </span>
                <span title="VEÍCULO UTILIZADO - {{ rom.veiculo }}">
                    {{ rom.motorista|slice:"0:20" }}
                </span>
            </div>
            <div class="input-group-addon addon-my-color">
                <i class="bi bi-check-square i-button js-adiciona-romaneio-minuta"
                data-idromaneio="{{ rom.idromaneio }}"
                data-idminuta="{{ s_minuta.idminuta }}"></i>
            </div>
        </div>
    </div>
</div>
{% endfor %}
<div class="card-footer">
    {% if romaneio %}
    {% for romaneio in romaneios %}
    {% if forloop.last %}
    <span>
        <b>
            {{ forloop.counter|stringformat:"02d" }} ROMANEIO{{ forloop.counter|pluralize|upper }}
        </b>
    </span>
    {% endif %}
    {% endfor %}
    {% else %}
    <span>ROMANEIOS NÃO ENCONTRADOS</span>
    {% endif %}
</div>