<div class="card-header">
    <div class="input-group">
        <div class="input-group-addon addon-my-color">
            <i class="icofont-rounded-left-up"></i>
        </div>
        <div class="div-form-control">
            <span>CHECK LIST</span>
        </div>
        <div class="input-group-addon addon-my-color">
            <i class="icofont-rounded-right-up"></i>
        </div>
    </div>
</div>
<div class="card-body">
    <!-- HORA FINAL -->
    <div class="card-body-item">
        <div class="input-group">
            <i class="icofont-square-down
            input-group-addon
            addon-my-color
            i-button-null"></i>
            <span class="form-control input-fake">HORA FINAL</span>
            <div class="checkbox input-group-addon addon-my-color">
                {% if s_minuta.hora_final > s_minuta.hora_inicial %}
                <i class="icofont-square-down chk-green"></i>
                {%  else %}
                <i class="icofont-square chk-red"></i>
                {% endif %}
            </div>
        </div>
    </div>
    <!-- VEÍCULO SOLICITADO -->
    <div class="card-body-item">
        <div class="input-group">
            {% if s_minuta.entregas %}
            <i class="icofont-square-down
            input-group-addon
            addon-my-color
            i-button-null"></i>
            {% else %}
            <i class="icofont-square
            input-group-addon
            addon-my-color
            i-button-null"></i>
            {% endif %}
            <span class="form-control input-fake">VEÍCULO SOLICITADO</span>
            <div class="checkbox input-group-addon addon-my-color">
                {% if s_minuta.entregas %}
                    {% if s_minuta.veiculo_solicitado %}
                    <i class="icofont-square-down chk-green"></i>
                    {%  else %}
                    <i class="icofont-square chk-red"></i>
                    {% endif %}
                {%  else %}
                    {% if s_minuta.veiculo_solicitado %}
                    <i class="icofont-square-down chk-green"></i>
                    {%  else %}
                    <i class="icofont-square chk-green"></i>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
    <!-- MOTORISTA -->    
    {% if s_minuta.veiculo_solicitado %}
    <div class="card-body-item">
        <div class="input-group">
            <i class="icofont-square-down
            input-group-addon
            addon-my-color
            i-button-null"></i>
            <span class="form-control input-fake">MOTORISTA</span>
            <div class="checkbox input-group-addon addon-my-color">
                {% if s_minuta.motorista %}
                <i class="icofont-square-down chk-green"></i>
                {%  else %}
                <i class="icofont-square chk-red"></i>
                {% endif %}
            </div>
        </div>
    </div>
    {% endif %}
    <!-- VEÍCULO UTILIZADO -->
    {% if s_minuta.motorista %}
    <div class="card-body-item">
        <div class="input-group">
            <i class="icofont-square-down
            input-group-addon
            addon-my-color
            i-button-null"></i>
            <span class="form-control input-fake">VEÍCULO</span>
            <div class="checkbox input-group-addon addon-my-color">
                {% if s_minuta.veiculo %}
                <i class="icofont-square-down chk-green"></i>
                {%  else %}
                <i class="icofont-square chk-red"></i>
                {% endif %}
            </div>
        </div>
    </div>
    {% endif %}
    <!-- KM INICIAL -->
    {% if s_minuta.veiculo %}
    <div class="card-body-item">
        <div class="input-group">
            <i class="icofont-square-down
            input-group-addon
            addon-my-color
            i-button-null"></i>
            <span class="form-control input-fake">KM INICIAL</span>
            <div class="checkbox input-group-addon addon-my-color">
                {% if s_minuta.km_inicial %}
                <i class="icofont-square-down chk-green"></i>
                {%  else %}
                <i class="icofont-square chk-red"></i>
                {% endif %}
            </div>
        </div>
    </div>
    {% endif %}
    <!-- KM FINAL -->
    {% if s_minuta.km_inicial %}
    <div class="card-body-item">
        <div class="input-group">
            <i class="icofont-square-down
            input-group-addon
            addon-my-color
            i-button-null"></i>
            <span class="form-control input-fake">KM FINAL</span>
            <div class="checkbox input-group-addon addon-my-color">
                {% if s_minuta.km_final %}
                <i class="icofont-square-down chk-green"></i>
                {%  else %}
                <i class="icofont-square chk-red"></i>
                {% endif %}
            </div>
        </div>
    </div>
    {% endif %}
    <!-- AJUDANTE -->
    <div class="card-body-item">
        <div class="input-group">
            <i class="icofont-square
            input-group-addon
            addon-my-color
            i-button-null"></i>
            <span class="form-control input-fake">AJUDANTE</span>
            <div class="checkbox input-group-addon addon-my-color">
                {% if s_minuta.ajudantes %}
                <i class="icofont-square-down chk-green"></i>
                {%  else %}
                <i class="icofont-square chk-green"></i>
                {% endif %}
            </div>
        </div>
    </div>
    <!-- PAGAMENTO DE AJUDANTES -->
    {% if s_minuta.ajudante_avulso %}
    <div class="card-body-item">
        <div class="input-group">
            <i class="icofont-square-down
            input-group-addon
            addon-my-color
            i-button-null"></i>
            <span class="form-control input-fake">PAGAMENTOS DE AJUDANTE</span>
            <div class="checkbox input-group-addon addon-my-color">
                {% if s_minuta.paga_realizada_ajudantes %}
                    <i class="icofont-square-down chk-green"></i>
                {%  else %}
                    <i class="icofont-square chk-red-gera-paga"></i>
                {% endif %}
            </div>
        </div>
    </div>
    {% endif %}
    <!-- PAGAMENTO DE MOTORISTA -->
    {% if s_minuta.motorista %}
    {% if s_minuta.motorista.0.obj.TipoPgto != "MENSALISTA" %}
    <div class="card-body-item">
        <div class="input-group">
            <i class="icofont-square-down
            input-group-addon
            addon-my-color
            i-button-null"></i>
            <span class="form-control input-fake">PAGAMENTOS DE MOTORISTA</span>
            <div class="checkbox input-group-addon addon-my-color">
                {% if s_minuta.paga_realizada_motorista %}
                    <i class="icofont-square-down chk-green"></i>
                {%  else %}
                    <i class="icofont-square chk-red-gera-paga"></i>
                {% endif %}
            </div>
        </div>
    </div>
    {% endif %}
    {% endif %}
    <!-- CONCLUIR MINUTA -->
    <div class="card-body-item">
        <div class="input-group">
            <i class="icofont-square-down
            input-group-addon
            addon-my-color
            i-button-null"></i>
            <span class="form-control input-fake">CONCLUIR MINUTA</span>
            <div class="checkbox input-group-addon addon-my-color">
                {% if s_minuta.status_minuta == 'CONCLUIDA' %}
                <i class="icofont-square-down chk-green"></i>
                {%  else %}
                <i class="icofont-square chk-red-conclui"></i>
                {% endif %}
            </div>
        </div>
    </div>
</div>
<div class="card-footer">
    {% if s_minuta.status_minuta == 'ABERTA' %}
        <i class="icofont-check i-button js-conclui-minuta"
           data-idminuta="{{ s_minuta.idminuta }}"
           title="CONCLUI MINUTA"></i>
    {% elif not s_minuta.paga_realizada_motorista and s_minuta.status_minuta == 'CONCLUIDA'%}
        <i class="bi bi-reply i-button js-estorna-minuta-concluida"
        data-idminuta="{{ s_minuta.idminuta }}"
        data-proximo-status="ABERTA"
        title="Estorna minuta concluída"></i>
    {% endif %}
</div>


