{% for ajudante in s_minuta.ajudantes %}
    <!-- Mostra ajudantes da minuta -->
    <div class="card-body-item">
        <div class="input-group">
            <i class="bi bi-person-plus-fill
            i-button-null
            input-group-addon
            addon-my-color"></i>
            <span class="form-control
            input-fake"
            title="{{ ajudante.nome }}">
                {{ ajudante.apelido }}
            </span>
            <div class="input-group-addon
            addon-my-color">
                <!-- TODO -->
                {% if ajudante.tipo == "MINUTA" or ajudante.tipo == "SAIDA"%}
                    {% if not s_minuta.paga_realizada_ajudantes %}
                        <i class="bi bi-x-square
                        i-button
                        js-remove-colaborador"
                        data-idMinuta="{{ s_minuta.idminuta }}"
                        data-Cargo="AJUDANTE"
                        data-idMinutaColaboradores="
                        {{ ajudante.idMinutaColaboradores }}"></i>
                    {% else %}
                        <i class="bi bi-check
                        i-button-null"></i>
                    {% endif %}
                {% else %}
                    <i class="bi bi-x-square
                    i-button
                    js-remove-colaborador"
                    data-idMinuta="{{ s_minuta.idminuta }}"
                    data-Cargo="AJUDANTE"
                    data-idMinutaColaboradores="
                    {{ ajudante.idMinutaColaboradores }}"></i>
                {% endif %}
            </div>
        </div>
    </div>
{% endfor %}