{% for ajudante in s_minuta.ajudantes %}
    <!-- Mostra ajudantes da minuta -->
    <div class="card-body-item">
        <div class="input-group">
            <i class="bi bi-person-plus-fill
            i-button-null
            input-group-addon
            addon-my-color"></i>
            <span class="form-control
            input-fake"
            title="{{ ajudante.nome }}">
                {{ ajudante.apelido }}
            </span>
            <div class="input-group-addon
            addon-my-color">
                <!-- TODO -->
                {% if not s_minuta.paga_realizada %}
                    <i class="bi bi-trash i-button remove-colaborador"
                    idMinuta="{{ s_minuta.idminuta }}"
                    Cargo="AJUDANTE"
                    idMinutaColaboradores="
                    {{ ajudante.idMinutaColaboradores }}"></i>
                {% else %}
                    <i class="bi bi-check i-button-null"></i>
                {% endif %}
            </div>
        </div>
    </div>
{% endfor %}