{% if s_minuta.veiculo_solicitado %}
    <!-- Mostra Categoria do Veiculo Solicitado da minuta -->
    <div class="card-body-item">
        <div class="input-group">
            <i class="bi bi-chat-right-text
            i-button-null
            input-group-addon
            addon-my-color"></i>
            <span class="form-control
            input-fake">
                {{ s_minuta.veiculo_solicitado }}
            </span>
            <div class="input-group-addon addon-my-color">
                {% if s_minuta.status_minuta == 'ABERTA' %}    
                    <i class="bi bi-pencil-square
                    i-button"
                    data-dialog-class="modal-sm"
                    onclick="openMyModal(event); return false;"
                    data-title="VEÍCULO SOLICITADO"
                    data-action="{% url 'editaveiculosolicitado' %}"
                    data-button-save-label="EDITAR"
                    data-idminuta="{{ s_minuta.idminuta }}"></i>
                {% else %}
                    <i class="bi bi-check
                    i-button-null"></i>
                {% endif %}
            </div>
        </div>
    </div>
{% else %}
    <!-- Mostra insere Categoria do Veiculo Solicitado da minuta -->
    <div class="card-body-item">
        <div class="input-group">
            <i class="bi bi-chat-right-text
            i-button-null
            input-group-addon
            addon-my-color"></i>
            <span class="form-control
            input-fake">
                INSERE VEÍCULO SOLICITADO
            </span>
            <div class="input-group-addon
            addon-my-color">
                {% if s_minuta.status_minuta == 'ABERTA' %}
                    <i class="bi bi-plus-square
                    i-button"
                    onclick="openMyModal(event); return false;"
                    data-title="VEÍCULO SOLICITADO"
                    data-action="{% url 'editaveiculosolicitado' %}"
                    data-button-save-label="EDITAR"
                    data-idminuta="{{ s_minuta.idminuta }}"></i>
                {% else %}    
                    <i class="bi bi-check
                    i-button-null"></i>
                {% endif %}
            </div>
        </div>
    </div>
{% endif %}