<div>
    <div class="div-flex">
        <!-- Número e data da minuta -->
        <i class="bi bi-file-text i-button-null">
            <span>{{ minutas.Minuta }}</span>
            <span>{{ minutas.Data }}</span>
            <span>{{ minutas.Hora }}</span>
        </i>
        {% if minutas.Motorista %}
            <div class="linha-minuta">
                <!-- Motorista da Minuta -->
                <span>
                    {{ minutas.Motorista }}
                    <i class="bi bi-person-square
                    i-button-null"> </i>
                </span>
            </div>
        {% else %}
            <div></div>
        {% endif %}
    </div>
</div>
<div>
    <div class="div-flex">
        <!-- Cliente da minuta -->
        <i class="bi bi-building i-button-null">
            <span>
                {{ minutas.Cliente }}
            </span>
        </i>
        {% if minutas.Veiculo %}
            <!-- Veículo da minuta -->
            <span>{{ minutas.Veiculo }} 
                <i class="bi bi-truck i-button-null"></i>
            </span>
        {% else %}
            <div></div>
        {% endif %}
    </div>
</div>
<!-- Botões de acesso a Minuta -->
<div class="div-flex div-botoes">
    <!-- Botão Imprime Minuta -->
    <a class="bi bi-printer i-button"
    href="{% url 'imprimeminuta' minutas.idMinuta %}"
    target="_blank"></a>
    <!-- Botão Consulta Minuta Antigo -->
    <!-- TODO será removido -->
    {% comment %} <i class="bi bi-folder i-button" {% endcomment %}
    {% comment %} onclick="window.location.href='{% url 'consultaminuta' minutas.idMinuta %}'" {% endcomment %}
    {% comment %} title="Consulta Minuta Antigo"></i> {% endcomment %}
    <!-- Botão Consulta Minuta -->
    <i class="bi bi-folder i-button"
    onclick="window.location.href = '{% url 'minuta' minutas.idMinuta %}'"
    title="Consulta Minuta {{ minutas.Minuta }}"></i>
</div>
