{% load permission_tags %}
<!-- Header -->
<div class="card-header">
    <span>MINUTA {{ s_minuta.numero }}</span>
</div>
<!-- Body -->
<div class="card-body">
    <div class="html-cliente-data">
        <!-- Inlui html Cliente -->
        {% include 'minutas/html_card_minuta_cliente_dia.html' %}
    </div>
    <!-- Form para inserir hora de encerramento da minuta. -->
    <form class="html-hora-final" id="form-edita-hora">
        {% csrf_token %}
        <div class="card-body-item">
            <div class="input-group">
                <i class="bi bi-moon-fill
                i-button-null
                input-group-addon
                addon-my-color"></i>
                {{ form_hora_final.HoraFinal }}
                <div class="input-group-addon
                addon-my-color">
                    {% if s_minuta.status_minuta == 'ABERTA' %}
                        <button type="submit"
                        class="i-button-form">
                            <i class="bi bi-save i-button"></i>
                        </button>
                    {% else %}
                        <i class="bi bi-check i-button-null"></i>
                    {% endif %}
                </div>
            </div>
        </div>
        <input type="hidden"
        name="idMinuta"
        value="{{ s_minuta.idminuta }}">
    </form>
    <!-- Mostra total de horas da minuta -->
    <div class="card-body-item calcula-horas">
        <div class="input-group">
            <i class="bi bi-clock-history
            i-button-null
            input-group-addon
            addon-my-color"></i>
            <span class="form-control
            input-fake
            total-horas">
                {{ s_minuta.total_horas_str }} Hs
            </span>
            <div class="input-group-addon
            addon-my-color">
                <i class="bi bi-check
                i-button-null"></i>
            </div>
        </div>
    </div>
    <!-- Inlui html Categoria veículo solicitado -->
    <div class="html-categoria">
        {% include 'minutas/html_card_minuta_categoria_solicitada.html' %}
    </div>
    <!-- Inlui html Veículo e Motorista utilizado -->
    <div class="html-veiculo">
        {% include 'minutas/html_card_minuta_veiculo.html' %}
    </div>
    <!-- Inlui html Ajudantes utilizados -->
    <div class="html-ajudante">
        {% include 'minutas/html_card_minuta_ajudantes.html' %}
    </div>
    <!-- Inlui Adicionar ajudante -->
    {% if s_minuta.status_minuta == "ABERTA" %}
    <div class="card-body-item">
        <div class="input-group">
            <i class="bi bi-person-plus-fill
            i-button-null
            input-group-addon
            addon-my-color"
            title="INSERE AJUDNTE"></i>
            <span class="form-control input-fake">
                INSERE AJUDANTE
            </span>
            <div class="input-group-addon addon-my-color">
                <i class="bi bi-plus-lg
                i-button"
                onclick="openMyModal(event); return false;"
                data-title="INSERE AJUDANTE"
                data-action="{% url 'insereajudante' %}"
                data-button-save-label="INSERIR"
                data-idminuta="{{ s_minuta.idminuta }}"></i>
            </div>
        </div>
    </div>
    {% endif %}
    <!-- Inlui html Dados da Coleta, Entrega e Observações -->
    <div class="html-coleta-entrega-obs">
        {% include 'minutas/html_card_minuta_coleta_entrega_obs.html' %}
    </div>
    <div class="card-body-item">
        <div class="input-group">
            <i class="bi bi-layers
            input-group-addon
            addon-my-color
            i-button-null"></i>
            <span class="form-control
            input-fake">
                {{ s_minuta.status_minuta }}
            </span>
            <i class="bi bi-check
            input-group-addon
            addon-my-color
            i-button-null"></i>
        </div>
    </div>
</div>
<!-- Footer -->
<div class="card-footer">
    {% if s_minuta.status_minuta == 'ABERTA' %}
        {% if not s_minuta.paga_realizada %}
            {% if user|can:'edita_minuta' %}
                <i class="bi bi-pencil-square i-button"
                title="EDITA MINUTA"
                onclick="openMyModal(event); return false;"
                data-title="EDITA MINUTA"
                data-action="{% url 'editaminuta' %}"
                data-button-save-label="EDITAR"
                data-idminuta="{{ s_minuta.idminuta }}"></i>
            {% endif %}
        {% endif %}
    {% else %}
        <i class="bi bi-reply i-button js-estorna-minuta-concluida"
        data-idminuta="{{ s_minuta.idminuta }}"
        data-proximo-status="ABERTA"
        title="Estorna minuta concluída"></i>
    {% endif %}
    <a class="bi bi-printer i-button"
    href="{% url 'imprimeminuta' s_minuta.idminuta %}"
    target="_blank"></a>
</div>