<!-- Mostra Cliente da minuta -->
<div class="card-body-item">
    <div class="input-group">
        <i class="bi bi-building
        i-button-null
        input-group-addon
        addon-my-color"></i>
        <span class="form-control
        input-fake">
            {{ s_minuta.cliente }}
        </span>
        <div class="input-group-addon
        addon-my-color">
            <i class="bi bi-check
            i-button-null"></i>
        </div>
    </div>
</div>
<!-- Mostra data da minuta -->
<div class="card-body-item">
    <div class="input-group">
        <i class="bi bi-calendar
        i-button-null
        input-group-addon
        addon-my-color"></i>
        <span class="form-control
        input-fake">
            {{ s_minuta.data }}
        </span>
        <div class="input-group-addon
        addon-my-color">
            <i class="bi bi-check
            i-button-null"></i>
        </div>
    </div>
</div>
<!-- Mostra hora inicial da minuta -->
<div class="card-body-item">
    <div class="input-group">
        <i class="bi bi-brightness-high-fill
        i-button-null
        input-group-addon
        addon-my-color"></i>
        <span class="form-control
        input-fake">
            {{ s_minuta.hora_inicial }}
        </span>
        <div class="input-group-addon
        addon-my-color">
            <i class="bi bi-check
            i-button-null"></i>
        </div>
    </div>
</div>