{% extends 'minutas/baseminutas.html' %}
{% load permission_tags %}

{% block mainminuta %}

<main class="index-minuta">
    <div class="col-01">
        <div class="article minutas-atual">
            {% if t_aberta %}
                <article class="article-card ac-lista js-card-minuta-aberta">
                    <div class="article-minuta-titulo">
                        <span>ABERTA</span>
                    </div>
                    {% for minutas in m_aberta %}
                    <div class="ac-minuta-base">
                        <div class="ac-itens">
                            <div class="dados-minuta">
                                <div class="linha-minuta">
                                    <i class="bi bi-file-text i-button-null">
                                        <span>{{ minutas.Minuta }}</span>
                                        <span>{{ minutas.Data }}</span>
                                        <span>{{ minutas.Hora }}</span>
                                    </i>
                                </div>
                                <div class="linha-minuta">
                                    <i class="bi bi-building i-button-null">
                                        <span>{{ minutas.Cliente }}</span>
                                    </i>
                                </div>
                            </div>
                            <div class="dados-minuta">
                                <div class="linha-minuta linha-motorista">
                                    {% if minutas.Motorista %}
                                    <i class="bi bi-person-square i-button-null">
                                        <span>{{ minutas.Motorista }}</span>
                                    </i>
                                    {% endif %}
                                </div>
                                <div class="linha-minuta linha-motorista">
                                    {% if minutas.Veiculo %}
                                    <i class="bi bi-truck i-button-null">
                                        <span>{{ minutas.Veiculo }}</span>
                                    </i>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="icones-minuta">
                            {% if itens.StatusMinuta == 'FECHADA' or itens.StatusMinuta == 'CONCLUIDA'%}
                            {% if user|can:'estorna_minuta' %}
                            <i class="bi bi-reply-all i-button"
                                onclick="window.location.href = '{% url 'estorna_minuta' minutas.idMinuta %}'">
                            </i>
                            {% endif %}
                            {% endif %}
                            <i class="bi bi-printer i-button"
                                    onclick="window.location.href = '{% url 'imprimeminuta' minutas.idMinuta %}'">
                            </i>
                            <i class="bi bi-folder i-button"
                                    onclick="window.location.href = '{% url 'consultaminuta' minutas.idMinuta %}'">
                            </i>
                            <i class="bi bi-folder i-button"
                                    onclick="window.location.href = '{% url 'minuta' minutas.idMinuta %}'">
                            </i>
                        </div>
                    </div>
                    <div class="linha-divisoria"></div>
                    {% endfor %}
                    <div class="article-minuta-rodape">
                        {% if t_aberta == 1 %}
                        <span>{{ t_aberta }} MINUTA ABERTA </span>
                        {% else %}
                        <span>{{ t_aberta }} MINUTAS ABERTAS </span>
                        {% endif %}
                    </div>
                </article>
            {% endif %}
            {% if t_concluida %}
                <article class="article-card ac-lista">
                    <div class="article-minuta-titulo">
                        <span>CONCLUÍDA</span>
                    </div>
                    {% for minutas in m_concluida %}
                    <div class="ac-minuta-base">
                        <div class="ac-itens">
                            <div class="dados-minuta">
                                <div class="linha-minuta">
                                    <i class="bi bi-file-text">
                                        <span>{{ minutas.Minuta }}</span>
                                        <span>{{ minutas.Data }}</span>
                                        <span>{{ minutas.Hora }}</span>
                                    </i>
                                </div>
                                <div class="linha-minuta">
                                    <i class="bi bi-building">
                                        <span>{{ minutas.Cliente }}</span>
                                    </i>
                                </div>
                            </div>
                            <div class="dados-minuta">
                                <div class="linha-minuta linha-motorista">
                                    {% if minutas.Motorista %}
                                    <i class="bi bi-person-square"><span>{{ minutas.Motorista }}</span></i>
                                    {% endif %}
                                </div>
                                <div class="linha-minuta linha-motorista">
                                    {% if minutas.Veiculo %}
                                    <i class="bi bi-truck"><span>{{ minutas.Veiculo }}</span></i>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="icones-minuta">
                            <i class="bi bi-reply-all i-button"
                            onclick="window.location.href = '{% url 'estorna_minuta' minutas.idMinuta %}'"></i>
                            <i class="bi bi-printer i-button"
                            onclick="window.location.href = '{% url 'imprimeminuta' minutas.idMinuta %}'"></i>
                            <i class="bi bi-folder i-button"
                            onclick="window.location.href = '{% url 'consultaminuta' minutas.idMinuta %}'"></i>
                            <i class="bi bi-folder i-button"
                            onclick="window.location.href = '{% url 'minuta' minutas.idMinuta %}'"></i>
                        </div>
                    </div>
                    <div class="linha-divisoria"></div>
                    {% endfor %}
                    <div class="article-minuta-rodape">
                        {% if t_concluida == 1 %}
                        <span>{{ t_concluida }} MINUTA CONCLUÍDA </span>
                        {% else %}
                        <span>{{ t_concluida }} MINUTAS CONCLUÍDAS </span>
                        {% endif %}
                    </div>
                </article>
            {% endif %}
            {% if t_fechada %}
                <article class="article-card ac-lista">
                    <div class="article-minuta-titulo">
                        <span>FECHADA</span>
                    </div>
                    {% for minutas in m_fechada %}
                    <div class="ac-minuta-base">
                        <div class="ac-itens">
                            <div class="dados-minuta">
                                <div class="linha-minuta">
                                    <i class="bi bi-file-text">
                                        <span>{{ minutas.Minuta }}</span>
                                        <span>{{ minutas.Data }}</span>
                                        <span>{{ minutas.Hora }}</span>
                                    </i>
                                </div>
                                <div class="linha-minuta">
                                    <i class="bi bi-building">
                                        <span>{{ minutas.Cliente }}</span>
                                    </i>
                                </div>
                            </div>
                            <div class="dados-minuta">
                                <div class="linha-minuta linha-motorista">
                                    {% if minutas.Motorista %}
                                    <i class="bi bi-person-square">
                                        <span>{{ minutas.Motorista }}</span>
                                    </i>
                                    {% endif %}
                                </div>
                                <div class="linha-minuta linha-motorista">
                                    {% if minutas.Veiculo %}
                                    <i class="bi bi-truck">
                                        <span>{{ minutas.Veiculo }}</span>
                                    </i>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="icones-minuta">
                            <i class="bi bi-reply-all i-button"
                                    onclick="window.location.href = '{% url 'estorna_minuta' minutas.idMinuta %}'">
                            </i>
                            <i class="bi bi-printer i-button"
                                    onclick="window.location.href = '{% url 'imprimeminuta' minutas.idMinuta %}'">
                            </i>
                            <i class="bi bi-folder i-button"
                                    onclick="window.location.href = '{% url 'consultaminuta' minutas.idMinuta %}'">
                            </i>
                            <i class="bi bi-folder i-button"
                                    onclick="window.location.href = '{% url 'minuta' minutas.idMinuta %}'">
                            </i>
                        </div>
                    </div>
                    <div class="linha-divisoria"></div>
                    {% endfor %}
                    <div class="article-minuta-rodape">
                        {% if t_fechada == 1 %}
                        <span>{{ t_fechada }} MINUTA FECHADA </span>
                        {% else %}
                        <span>{{ t_fechada }} MINUTAS FECHADAS </span>
                        {% endif %}
                    </div>
                </article>
            {% endif %}
        </div>
        <!-- <div class="box-loader">
            <div class="loader"></div>
            <span>Aguarde, carregando minutas...</span>
        </div> -->
        <div class="article minutas-consulta">
            {% include 'minutas/filtraminuta.html' %}
        </div>
    </div>
    <div class="col-02">
        <div class="i-adicionar-minuta">
            <i class="bi bi-plus-square i-button" onclick="openMyModal(event); return false;"
               data-title="CADASTRA MINUTA" data-action="{% url 'adicionaminuta' %}" data-button-save-label="SALVAR">
                NOVA MINUTA</i>
        </div>
        <article class="article-card ac-lista">
            <div class="article-minuta-titulo">
                <span>CONSULTAS</span>
            </div>
            <div class="filtro-container">
                <div class="article-filtro">
                    <i class="bi bi-caret-right-fill i-button list-cliente">CLIENTES</i>
                    {% include 'minutas/filtrocliente.html' %}
                </div>
                <div>
                    <i class="bi bi-caret-right-fill i-button list-colaborador">COLABORADORES</i>
                    {% include 'minutas/filtrocolaborador.html' %}
                </div>
                <div>
                    <i class="bi bi-caret-right-fill i-button list-veiculo">VEÍCULOS</i>
                    {% include 'minutas/filtroveiculo.html' %}
                </div>
                <div>
                    <i class="bi bi-caret-right-fill i-button list-entrega-cidade">ENTREGAS - CIDADES</i>
                    {% include 'minutas/filtroentregacidade.html' %}
                </div>
                <div>
                    <i class="bi bi-caret-right-fill i-button digita-destinatario">DESTINATÁRIOS DOS CLIENTES</i>
                    <div class="filtro-destinatario">
                        <div class="col-md-10">
                            <input type="text" class="form-control form-control-search text-search">
                        </div>
                        <div class="col-md-2">
                            <div class="icones-minuta">
                                <i class="bi bi-search i-button search-destinatario"
                                   data-filtro-consulta="Destinatarios" data-meses="0" data-anos="2"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="article-minuta-rodape">
            </div>
        </article>
    </div>

    <!-- div modal -->
    <div class="modal fade bd-example-modal-lg" id="MyModal" tabindex="-1">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title"><b>CADASTRO DE CLIENTE</b></h4>
                </div>
                <div class="modal-body">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">FECHAR</button>
                    <button type="submit" class="btn btn-success btn-save">CRIAR</button>
                </div>
            </div>
        </div>
    </div>
</main>


<!-- DIV MODAL -->
<div class="modal fade" id="modal-formulario" >
    <div class="modal-dialog">
        <div class="modal-content">

        </div>
    </div>
</div>
{% endblock %}
