{% extends 'minutas/baseminutas.html' %}
{% load permission_tags %}

{% block mainminuta %}
<main class="section-grid grid-three">
    <section class="grid-column">
        <div class="card card-minutas-abertas">
            <div class="card-header">
                <span>ABERTA</span>
            </div>
            <div class="card-body">
                {% if t_aberta %}
                {% for minutas in m_aberta %}
                {% include "minutas/html_body_card_minutas.html" %}
                <div class="linha-divisoria"></div>
                {% endfor %}
                {% endif %}
            </div>
            <div class="card-footer">
                <span>
                    {{ t_aberta|stringformat:"02d" }} 
                    MINUTA{{ t_aberta|pluralize|upper }}
                    ABERTA{{ t_aberta|pluralize|upper }}
                </span>
            </div>
        </div>
        <div class="card card-minutas-concluidas">
            <div class="card-header">
                <span>CONCLUÍDA</span>
            </div>
            <div class="card-body">
                {% if t_concluida %}
                {% for minutas in m_concluida %}
                {% include "minutas/html_body_card_minutas.html" %}            
                <div class="linha-divisoria"></div>
                {% endfor %}
                {% endif %}
            </div>
            <div class="card-footer">
                <span>
                    {{ t_concluida|stringformat:"02d" }} 
                    MINUTA{{ t_concluida|pluralize|upper }}
                    CONCLUÍDA{{ t_concluida|pluralize|upper }}
                </span>
            </div> 
        </div>
        <div class="card card-minutas-consulta">
            {% include "minutas/filtraminuta.html" %}
        </div>
    </section>
    <section class="grid-column">
        <div class="card card-minutas-fechadas">
            <div class="card-header">
                <span>FECHADA</span>
            </div>
            <div class="card-body">
                {% if t_fechada %}
                {% for minutas in m_fechada %}
                {% include "minutas/html_body_card_minutas.html" %}
                <div class="linha-divisoria"></div>
                {% endfor %}
                {% endif %}
            </div>
            <div class="card-footer">
                <span>
                    {{ t_fechada|stringformat:"02d" }} 
                    MINUTA{{ t_fechada|pluralize|upper }}
                    FECHADA{{ t_fechada|pluralize|upper }}
                </span>
            </div>
        </div>
    </section>
    <section class="grid-column">
        <div class="card card-nova-minuta">
            <div class="card-header">
                <span>ADICIONA MINUTA</span>
            </div>
            <div class="card-body">
            </div>
            <div class="card-footer">
                <div class="div-botoes">
                    <i class="bi bi-plus-square i-button"
                    onclick="openMyModal(event); return false;"
                    data-title="CADASTRA MINUTA"
                    data-action="{% url 'adicionar_minuta' %}"
                    data-button-save-label="SALVAR"
                    title="Adiciona Nova Minuta"></i>
                </div>
            </div>
        </div>
        <div class="card card-consulta">
            <div class="card-header">
                <span>CONSULTAS</span>
            </div>
            <div class="card-body">
                <div class="article-filtro">
                    <i class="bi bi-caret-right i-button lista-consulta"
                    data-filtro="cliente">
                        <span>CLIENTES</span>
                    </i>
                    <div class="filtro-dados filtro-cliente-lista">
                        {% for filtro in filtro_cliente %}
                        <i class="bi bi-building i-button filtro-consulta filtro-lista"
                        title="CLIENTE"
                        data-filtro="{{ filtro.idCliente__Fantasia }}"
                        data-filtro-consulta="Clientes"
                        data-meses="1"
                        data-anos="0">
                            <span>
                                {{ filtro.idCliente__Fantasia }}
                            </span>
                        </i>
                        {% endfor %}
                    </div>
                </div>
                <div>
                    <i class="bi bi-caret-right i-button lista-consulta"
                    data-filtro="colaborador">
                        <span>COLABORADORES</span>
                    </i>
                    <div class="filtro-dados filtro-colaborador-lista">
                        {% for filtro in filtro_colaborador %}
                        <i class="bi bi-person-square i-button filtro-consulta filtro-lista"
                        title="COLABORADOR"
                        data-filtro="{{ filtro.idPessoal__Nome }}"
                        data-filtro-consulta="Colaboradores"
                        data-meses="1"
                        data-anos="0">
                            <span>
                                {{ filtro.idPessoal__Nome }}
                            </span>
                        </i>
                        {% endfor %}
                    </div>
                </div>
                <div>
                    <i class="bi bi-caret-right i-button lista-consulta"
                    data-filtro="veiculo">
                        <span>VEÍCULOS</span>
                    </i>
                    <div class="filtro-dados filtro-veiculo-lista">
                        {% for filtro in filtro_veiculo %}
                        {% if filtro.idVeiculo__Placa %}
                        <i class="bi bi-truck i-button filtro-consulta filtro-lista"
                        title="VEICULO"
                        data-filtro="{{ filtro.idVeiculo__Placa }}"
                        data-filtro-consulta="Veiculos"
                        data-meses="1"
                        data-anos="0">
                            <span>
                                {{ filtro.idVeiculo__Marca }} - 
                                {{ filtro.idVeiculo__Modelo }} - 
                                {{ filtro.idVeiculo__Placa }}
                            </span>
                        </i>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <div>
                    <i class="bi bi-caret-right i-button lista-consulta"
                    data-filtro="entrega-cidade">
                        <span>ENTREGAS - CIDADES</span>
                    </i>
                    <div class="filtro-dados filtro-entrega-cidade-lista">
                        {% for filtro in filtro_cidade %}
                        {% if filtro.Cidade %}
                        <i class="bi bi-geo-alt-fill i-button filtro-consulta filtro-lista"
                        title="VEICULO"
                        data-filtro="{{ filtro.Cidade }} *** {{ filtro.Estado }}"
                        data-filtro-consulta="Entregas_Cidades"
                        data-meses="1"
                        data-anos="0">
                            <span>
                                {{ filtro.Cidade }} - {{ filtro.Estado }}
                            </span>
                        </i>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="card-footer">
            </div>
        </div>
        <div class="card card-relatorio">
            <div class="card-header">
                <span>RELATÓRIOS</span>
            </div>
            <div class="card-body">
                <div class="card-body-item">
                    <div class="input-group">
                        <div class="input-group-addon
                        addon-my-color">
                            <i class="bi bi-calendar
                            i-button-null">
                            </i>
                        </div>
                        <div class="input-fake
                        div-flex">
                            <input type="date"
                            class="form-control
                            form-control-minuta"
                            id="periodo-inicial"
                            name="periodo-inicial"
                            value="{{ hoje }}">
                            <input type="date"
                            class="form-control
                            form-control-minuta"
                            id="periodo-final"
                            name="periodo-final"
                            value="{{ hoje }}">
                        </div>
                        <div class="input-group-addon
                        addon-my-color">
                            <a class="bi bi-printer
                            i-button"
                            id="print-minutas-periodo"
                            title="Imprime Romaneio"
                            href="{% url 'minutas_periodo' %}?inicial={{ hoje }}&final={{ hoje }}&cliente=0"
                            target="_blank"></a>
                        </div>
                    </div>
                </div>
                <div class="card-body-item">
                    <div class="input-group">
                        <div class="input-group-addon
                        addon-my-color">
                            <i class="bi bi-calendar
                            i-button-null">
                            </i>
                        </div>
                        <div class="input-fake
                        div-flex">
                            <select class="form-control
                            form-control-minuta"
                            id="cliente"
                            name="cliente" >
                                <option value="0">
                                    SELECIONE UM CLIENTE
                                </option>
                                {% for cliente in clientes %}
                                    <option value="{{ cliente.idcliente }}">
                                        {{ cliente.fantasia }}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="input-group-addon
                        addon-my-color">
                            <i class="bi bi-check
                            i-button-null"></i>
                        </div>
                    </div>
                </div>

            </div>
            <div class="card-footer">
            </div>
        </div>
    </section>
</main>
<!-- div modal -->
<div class="modal fade bd-example-modal-lg" id="MyModal" tabindex="-1">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title"><b>CADASTRO DE CLIENTE</b></h4>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">FECHAR</button>
                <button type="submit" class="btn btn-success btn-save">CRIAR</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}
