{% extends 'minutas/consultaminuta.html' %}

{% block demonstrativo %}
<form method="post" action="{% url 'excluiminutamotorista' 0 %}" class="js-exclui-minutamotorista-form">
    {% csrf_token %}
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title"><b>MINUTA DEMONSTRATIVO</b></h4>
    </div>
    <div class="modal-body">
        <div class="divformulario">

            <table class="tb-demo-recebe">
                            <!-- TAXA DE EXPEDIÇÃO -->
                            <tr class="tb-linha">
                                <td class="tb-coluna1">
                                    TAXA DE EXPEDIÇÃO
                                </td>
                                <td class="tb-coluna2">
                                    <input id="sw-taxaexpedicao-r"
                                           name="switch"
                                           {% if swtaxaexpedicao %}
                                               checked="checked"
                                           {% endif %}
                                           value="taxaexpedicao-recebe"
                                           class="switch switch--shadow"
                                           type="checkbox"
                                    >
                                    <label for="sw-taxaexpedicao-r"></label>
                                </td>
                                <td class="tb-coluna3">
                                    <input id="vl-valortaxaexpedicao"
                                           name="valortaxaexpedicao"
                                           value="{{ valortaxaexpedicao|stringformat:'.2f' }}"
                                           class="demonstrativo-input"
                                           type="number"
                                    >
                                </td>
                                <td class="tb-coluna4">

                                </td>
                            </tr>
                            <!-- PORCENTAGEM -->
                            <tr class="tb-linha">
                                <td class="tb-coluna1">
                                    PORCENTAGEM (NOTAS)
                                </td>
                                <td class="tb-coluna2">
                                    <input id="sw-porcentagem-r"
                                           name="switch"
                                           {% if swporcentagem %}
                                               checked="checked"
                                           {% endif %}
                                           value="valorporcentagem-recebe"
                                           class="switch switch--shadow"
                                           type="checkbox"
                                    >
                                    <label for="sw-porcentagem-r"></label>
                                </td>
                                <td class="tb-coluna3">
                                    <input id="vl-valorporcentagem"
                                           name="valorporcentagem"
                                           value="{{ valorporcentagem|stringformat:'.2f' }}"
                                           class="demonstrativo-input"
                                           type="number"
                                    >
                                    <span><b>%</b></span>
                                </td>
                                <td class="tb-coluna4">

                                </td>
                            </tr>
                            <!-- HORAS -->
                            <tr class="tb-linha">
                                <td class="tb-coluna1">
                                    HORAS (MÍNIMO {{ minimohoras }})
                                </td>
                                <td class="tb-coluna2">
                                    <input id="sw-valorhora-r"
                                           name="switch"
                                           {% if swvalorhora %}
                                               checked="checked"
                                           {% endif %}
                                           value="valorhora-recebe"
                                           class="switch switch--shadow"
                                           type="checkbox"
                                    >
                                    <label for="sw-valorhora-r"></label>
                                </td>
                                <td class="tb-coluna3">
                                    <input id="vl-valorhora"
                                           name="valorhora"
                                           value="{{ valorhora|stringformat:'.2f' }}"
                                           class="demonstrativo-input"
                                           type="number"
                                    >
                                </td>
                                <td class="tb-coluna4">
                                    <input id="vl-totalhoras"
                                           name="totalhoras"
                                           value="{{ totalhoras }}"
                                           class="demonstrativo-input"
                                           type="time"
                                    >
                                </td>
                            </tr>
                            <!-- HORAS EXCEDENTE-->
                            <tr class="tb-linha">
                                <td class="tb-coluna1">
                                    HORAS EXCEDENTE
                                </td>
                                <td class="tb-coluna2">
                                    <input id="sw-horasexcede-r"
                                           name="switch"
                                           {% if swvalorhora %}
                                               checked="checked"
                                           {% endif %}
                                           value="horasexcede-recebe"
                                           class="switch switch--shadow"
                                           type="checkbox"
                                    >
                                    <label for="sw-horasexcede-r"></label>
                                </td>
                                <td class="tb-coluna3">
                                    <input id="vl-horasexcede"
                                           name="horasexcede"
                                           value="{{ horasexcede|stringformat:'.2f' }}"
                                           class="demonstrativo-input"
                                           type="time"
                                    >
                                </td>
                                <td class="tb-coluna4">
                                    <input id="vl-totalhoras"
                                           name="totalhoras"
                                           value="{{ totalhoras }}"
                                           class="demonstrativo-input"
                                           type="number"
                                    >
                                </td>
                            </tr>
                            <!-- KILOMETRAGEM -->
                            <tr class="tb-linha">
                                <td class="tb-coluna1">
                                    KILOMETRAGEM
                                </td>
                                <td class="tb-coluna2">
                                    <input id="sw-valorkm-r"
                                           name="switch"
                                           {% if swvalorkm %}
                                               checked="checked"
                                           {% endif %}
                                           value="valorkm-recebe"
                                           class="switch switch--shadow"
                                           type="checkbox"
                                    >
                                    <label for="sw-valorkm-r"></label>
                                </td>
                                <td class="tb-coluna3">
                                    <input id="vl-valorkm"
                                           name="valorkm"
                                           value="{{ valorkm|stringformat:'.2f' }}"
                                           class="demonstrativo-input"
                                           type="number"
                                    >
                                </td>
                                <td class="tb-coluna4">
                                    <input id="vl-totalkm"
                                           name="totalkm"
                                           value="{{ totalkm }}"
                                           class="demonstrativo-input"
                                           type="number"
                                    >
                                </td>
                            </tr>
                            <!-- ENTREGAS QUANTIDADE-->
                            <tr class="tb-linha">
                                <td class="tb-coluna1">
                                    ENTREGAS
                                </td>
                                <td class="tb-coluna2">
                                    <input id="sw-valorentrega-r"
                                           name="switch"
                                           {% if swvalorkm %}
                                               checked="checked"
                                           {% endif %}
                                           value="valorentrega-recebe"
                                           class="switch switch--shadow"
                                           type="checkbox"
                                    >
                                    <label for="sw-valorentrega-r"></label>
                                </td>
                                <td class="tb-coluna3">
                                    <input id="vl-valorentrega"
                                           name="valorentrega"
                                           value="{{ valorentrega|stringformat:'.2f' }}"
                                           class="demonstrativo-input"
                                           type="number"
                                    >
                                </td>
                                <td class="tb-coluna4">
                                    <input id="vl-totalentrega"
                                           name="totalkm"
                                           value="{{ totalkm }}"
                                           class="demonstrativo-input"
                                           type="number"
                                    >
                                </td>
                            </tr>
                            <!-- ENTREGAS KG -->
                            <tr class="tb-linha">
                                <td class="tb-coluna1">
                                    ENTREGAS KG
                                </td>
                                <td class="tb-coluna2">
                                    <input id="sw-valorentregakg-r"
                                           name="switch"
                                           {% if swvalorkm %}
                                               checked="checked"
                                           {% endif %}
                                           value="valorentregakgm-recebe"
                                           class="switch switch--shadow"
                                           type="checkbox"
                                    >
                                    <label for="sw-valorentregakg-r"></label>
                                </td>
                                <td class="tb-coluna3">
                                    <input id="vl-valorentregakg"
                                           name="valorentregakg"
                                           value="{{ valorentregakg|stringformat:'.2f' }}"
                                           class="demonstrativo-input"
                                           type="number"
                                    >
                                </td>
                                <td class="tb-coluna4">
                                    <input id="vl-totalentregakg"
                                           name="totalkm"
                                           value="{{ totalkm }}"
                                           class="demonstrativo-input"
                                           type="number"
                                    >
                                </td>
                            </tr>
                            <!-- ENTREGAS VOLUME -->
                            <tr class="tb-linha">
                                <td class="tb-coluna1">
                                    ENTREGAS VOLUME
                                </td>
                                <td class="tb-coluna2">
                                    <input id="sw-valorentregavolume-r"
                                           name="switch"
                                           {% if swvalorkm %}
                                               checked="checked"
                                           {% endif %}
                                           value="valorentregavolume-recebe"
                                           class="switch switch--shadow"
                                           type="checkbox"
                                    >
                                    <label for="sw-valorentregavolume-r"></label>
                                </td>
                                <td class="tb-coluna3">
                                    <input id="vl-valorentregavolume"
                                           name="valorkm"
                                           value="{{ valorentregavolume|stringformat:'.2f' }}"
                                           class="demonstrativo-input"
                                           type="number"
                                    >
                                </td>
                                <td class="tb-coluna4">
                                    <input id="vl-totalentregavolume"
                                           name="totalkm"
                                           value="{{ totalkm }}"
                                           class="demonstrativo-input"
                                           type="number"
                                    >
                                </td>
                            </tr>
                            <!-- SAIDA -->
                            <tr class="tb-linha">
                                <td class="tb-coluna1">
                                    SAÍDA
                                </td>
                                <td class="tb-coluna2">
                                    <input id="sw-valorsaida-r"
                                           name="switch"
                                           {% if swvalorkm %}
                                               checked="checked"
                                           {% endif %}
                                           value="valorsaida-recebe"
                                           class="switch switch--shadow"
                                           type="checkbox"
                                    >
                                    <label for="sw-valorsaida-r"></label>
                                </td>
                                <td class="tb-coluna3">
                                    <input id="vl-valorsaida"
                                           name="valorsaida"
                                           value="{{ valorsaida|stringformat:'.2f' }}"
                                           class="demonstrativo-input"
                                           type="number"
                                    >
                                </td>
                                <td class="tb-coluna4">
                                    <input id="vl-totalsaida"
                                           name="totalsaida"
                                           value="{{ totalsaida }}"
                                           class="demonstrativo-input"
                                           type="number"
                                    >
                                </td>
                            </tr>
                            <!-- CAPACIDADE (PESO) -->
                            <tr class="tb-linha">
                                <td class="tb-coluna1">
                                    CAPACIDADE
                                </td>
                                <td class="tb-coluna2">
                                    <input id="sw-valorkm-r"
                                           name="switch"
                                           {% if swvalorkm %}
                                               checked="checked"
                                           {% endif %}
                                           value="valorkm-recebe"
                                           class="switch switch--shadow"
                                           type="checkbox"
                                    >
                                    <label for="sw-valorkm-r"></label>
                                </td>
                                <td class="tb-coluna3">
                                    <input id="vl-valorkm"
                                           name="valorkm"
                                           value="{{ valorkm|stringformat:'.2f' }}"
                                           class="demonstrativo-input"
                                           type="number"
                                    >
                                </td>
                                <td class="tb-coluna4">
                                    <input id="vl-totalkm"
                                           name="totalkm"
                                           value="{{ totalkm }}"
                                           class="demonstrativo-input"
                                           type="number"
                                    >
                                </td>
                            </tr>
                            <!-- PERÍMETRO -->
                            <tr class="tb-linha">
                                <td class="tb-coluna1">
                                    PERÍMETRO
                                </td>
                                <td class="tb-coluna2">
                                    <input id="sw-valorkm-r"
                                           name="switch"
                                           {% if swvalorkm %}
                                               checked="checked"
                                           {% endif %}
                                           value="valorkm-recebe"
                                           class="switch switch--shadow"
                                           type="checkbox"
                                    >
                                    <label for="sw-valorkm-r"></label>
                                </td>
                                <td class="tb-coluna3">
                                    <input id="vl-valorkm"
                                           name="valorkm"
                                           value="{{ valorkm|stringformat:'.2f' }}"
                                           class="demonstrativo-input"
                                           type="number"
                                    >
                                </td>
                                <td class="tb-coluna4">
                                    <input id="vl-totalkm"
                                           name="totalkm"
                                           value="{{ totalkm }}"
                                           class="demonstrativo-input"
                                           type="number"
                                    >
                                </td>
                            </tr>
                            <!-- PERNOITE -->
                            <tr class="tb-linha">
                                <td class="tb-coluna1">
                                    PERNOITE
                                </td>
                                <td class="tb-coluna2">
                                    <input id="sw-valorkm-r"
                                           name="switch"
                                           {% if swvalorkm %}
                                               checked="checked"
                                           {% endif %}
                                           value="valorkm-recebe"
                                           class="switch switch--shadow"
                                           type="checkbox"
                                    >
                                    <label for="sw-valorkm-r"></label>
                                </td>
                                <td class="tb-coluna3">
                                    <input id="vl-valorkm"
                                           name="valorkm"
                                           value="{{ valorkm|stringformat:'.2f' }}"
                                           class="demonstrativo-input"
                                           type="number"
                                    >
                                </td>
                                <td class="tb-coluna4">
                                    <input id="vl-totalkm"
                                           name="totalkm"
                                           value="{{ totalkm }}"
                                           class="demonstrativo-input"
                                           type="number"
                                    >
                                </td>
                            </tr>
                            <!-- AJUDANTES -->
                            <tr class="tb-linha">
                                <td class="tb-coluna1">
                                    AJUDANTE
                                </td>
                                <td class="tb-coluna2">
                                    <input id="sw-valorajudante-r"
                                           name="switch"
                                           {% if swvalorkm %}
                                               checked="checked"
                                           {% endif %}
                                           value="valorajudante-recebe"
                                           class="switch switch--shadow"
                                           type="checkbox"
                                    >
                                    <label for="sw-valorajudante-r"></label>
                                </td>
                                <td class="tb-coluna3">
                                    <input id="vl-valorajudante"
                                           name="valorajudante"
                                           value="{{ valorajudante|stringformat:'.2f' }}"
                                           class="demonstrativo-input"
                                           type="number"
                                    >
                                </td>
                                <td class="tb-coluna4">
                                    <input id="vl-totalkm"
                                           name="totalkm"
                                           value="{{ totalkm }}"
                                           class="demonstrativo-input"
                                           type="number"
                                    >
                                </td>
                            </tr>
                            <!-- DESCONTO -->
                            <tr class="tb-linha">
                                <td class="tb-coluna1">
                                    DESCONTO
                                </td>
                                <td class="tb-coluna2">
                                    <input id="sw-valordesconto-r"
                                           name="switch"
                                           {% if swvalorkm %}
                                               checked="checked"
                                           {% endif %}
                                           value="valordesconto-recebe"
                                           class="switch switch--shadow"
                                           type="checkbox"
                                    >
                                    <label for="sw-valordesconto-r"></label>
                                </td>
                                <td class="tb-coluna3">
                                    <input id="vl-valordesconto"
                                           name="valorkm"
                                           value="0.00"
                                           class="demonstrativo-input"
                                           type="number"
                                    >
                                </td>
                                <td class="tb-coluna4">
                                    <input id="vl-totalkm"
                                           name="totalkm"
                                           value="{{ totalkm }}"
                                           class="demonstrativo-input"
                                           type="number"
                                    >
                                </td>
                            </tr>
                        </table>


        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" data-dismiss="modal">CANCELAR</button>
        <button type="submit" class="btn btn-danger" id="excluicliente" idcobranca="">EXCLUIR</button>
    </div>
</form>
{% endblock %}
