{% extends "minutas/baseminutas.html" %}
{% load permission_tags %}

{% block title %}
    Módulo Minutas
{% endblock title %}

{% block mainminuta %}
<main class="section-grid grid-minuta">
    <section class="grid-column">
        <div class="card card-minuta">
            {% include "minutas/card_minuta.html" %}
        </div>
        {% if s_minuta.status_minuta != 'FATURADA' %}
        <div class="card card-checklist">
            {% include "minutas/card_checklist.html" %}
        </div>
        {% endif %}
    </section>

    <section class="grid-column">
        <div class="card card-despesa">
            {% include "minutas/card_despesas.html" %}
        </div>
        <div class="card card-romaneio">
            {% include "minutas/card_romaneios.html" %}
        </div>
        <div class="card card-entrega">
            {% include "minutas/card_entregas.html" %}
        </div>
    </section>

    <section class="grid-column duas_colunas">
        {% if user|can:'demonstrativo_minuta' %}
        <div class="card card-receitas">
            {% include "minutas/card_receitas.html" %}
        </div>

        <div class="sub-grid">
            <div class="card card-capacidade">
                {% include "minutas/card_capacidade.html" %}
            </div>
            <div class="card card-perimetro">
                {% include "minutas/card_perimetro.html" %}
            </div>
        </div>
        {% endif %}

        <div class="card card-pagamentos">
            {% include "minutas/card_pagamentos.html" %}
        </div>
    </section>

    <!-- div modal -->
    <div class="modal fade bd-example-modal-lg" id="MyModal" tabindex="-1">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="close">
                        <span aria-hidden="true"> x </span>
                    </button>
                    <h4 class="modal-title"><b>TITULO</b></h4>
                </div>
                <div class="modal-body">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">FECHAR</button>
                    <button type="submit" class="btn btn-success btn-save">CRIAR</button>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock mainminuta %}
