{% load custom_filters %}
<form class="row g-3" method="post" action="{% url 'adicionar_entrega' %}">
    {% csrf_token %}
	<div class="col-md-12" id="js-perimetro-div">
        <input type="checkbox" id="chk-perimetro" value="proxima" class="chk-perimetro"
               {% if nota.Nota == "PERIMETRO" %} checked {% endif %}>
        <label for="chk-perimetro">PERIMETRO</label>
    </div>
    <div class="js-perimetro-hide">
    <div class="col-md-12">
        {% with nota.Nota|slice:'-5:' as nota_final %}
        {% with nota.Nota|slice:'-8:' as nota_display %}
        {% with minuta.proxima_saida as proxima_saida %}
        <input type="checkbox" id="chk-saida" value="proxima"
            {% if nota_final == "SAIDA" %} checked {% endif %}>
        <label for="chk-saida"id="label-chk-saida"class="form-label"
               data-saida="{% if nota_final == 'SAIDA' %}{{ nota_display }}{% else %}{{ proxima_saida }}{% endif %}">
            {% if nota_final == "SAIDA" %}{{ nota_display }}{% else %}{{ proxima_saida }}{% endif %}
        </label>
        {% endwith %}
        {% endwith %}
        {% endwith %}
    </div>
    <div class="col-md-4">
        <label for="nota" class="form-label">NOTA:</label>
        <input type="text" class="form-control" name="nota" id="nota"
               value="{{ nota.Nota|default_if_none:'' }}">
        <datalist id="entregas_nota">
            {% for entrega in entrega_notas %}
            <option value="{{ entrega.Nota }}">
            {% endfor %}
        </datalist>
    </div>
    <div class="col-md-3">
        <label for="valor_nota" class="form-label">VALOR NOTA:</label>
        <input type="number" class="form-control" name="valor_nota" id="valor_nota"
               value="{{ nota.ValorNota|default_if_zero:2 }}" min="0.00" step="0.01">
    </div>
    <div class="col-md-3">
        <label for="peso" class="form-label">PESO:</label>
        <input type="number" class="form-control" name="peso" id="peso"
               value="{{ nota.Peso|default_if_zero:3 }}" min="0.000" step="0.001">
    </div>
    <div class="col-md-2">
        <label for="volume" class="form-label">VOLUME:</label>
        <input type="number" class="form-control" name="volume" id="volume"
               value="{{ nota.Volume|default_if_zero:0 }}" min="0" step="1">
    </div>
    <div class="col-md-3">
        <label for="nota_guia" class="form-label">NOTA GUIA:</label>
        <input type="text" class="form-control" name="nota_guia"
               id="nota_guia" value="{{ nota.NotaGuia|default_if_none:'' }}">
    </div>
        <div class="col-md-9">
        <label for="nome" class="form-label">RAZÃO SOCIAL:</label>
        <input type="text" class="form-control" name="nome" id="nome"
               value="{{ nota.Nome|default_if_none:'' }}">
    </div>
    </div>
    {{ nota.Cidade }}
    <div class="col-md-7">
        <label for="bairro" class="form-label">BAIRRO:</label>
        <input type="text" class="form-control" name="bairro" id="bairro"
               value="{{ nota.Bairro|default_if_none:'' }}">
    </div>
     <div class="col-md-4">
        <label for="cidade" class="form-label">CIDADE:</label>
        <input type="text" class="form-control" name="cidade" id="cidade"
               value="{% if nota %}{{ nota.Cidade }}{% else %}SÃO PAULO{% endif %}">
    </div>
    <div class="col-md-1">
        <label for="estado" class="form-label">UF:</label>
        <input type="text"class="form-control"name="estado"id="estado"
               value="{% if nota  %}{{ nota.Estado }}{% else %}SP{% endif %}">
    </div>
    <input type="hidden" name="id_minuta" value="{{ minuta.idminuta }}">
    <input type="hidden" name="id_minuta_nota" value="{{ nota.idMinutaNotas }}">
</form>
