<!--
    Formulário para adicionar uma categoria de veículo solicitado à minuta.
    Será inserido no corpo da janela modal
    Este formulário permite selecionar uma categoria de veículo a partir de
        uma lista e associá-la a uma minuta específica.
    O formulário utiliza o método POST para enviar os dados para a URL
        definida no parâmetro 'action'.
-->
<form class="row g-3" method="post" action="{% url 'adicionar_veiculo_solicitado' %}">
{% csrf_token %}
<div class="col-md-12">
		<label for="id_categoria" class="form-label">CATEGORIA VEÍCULO SOLICITADO:</label>
        <select name="id_categoria" class="form-control required" id="id_categoria"l>
            <option value="">NENHUMA CATEGORIA</option>
            {% for categoria in categorias %}
            <option value="{{ categoria.idCategoria }}">{{ categoria.Categoria }}</option>
            {% empty %}
            <option value="">NENHUMA CATEGORIA DISPONIVEL</option>
            {% endfor %}
        </select>
        <input type="hidden" name="id_minuta" value="{{ id_minuta }}">
	</div>
</form>
