<!--
    Formulário para adicionar um veículo à minuta.
    Será inserido no corpo da janela modal
    Este formulário permite selecionar um veículo a partir de uma lista e
		associá-la a uma minuta específica.
    O formulário utiliza o método POST para enviar os dados para a URL
		definida no parâmetro 'action'.
-->
{{ veiculos }}
<form class="row g-3" method="post" action="{% url 'adicionar_veiculo_minuta' %}">
{% csrf_token %}
    <div class="col-md-4">
        <input type="radio" value="PROPRIO" id="proprio"
               class="js-filtra-veiculo-categoria" name="veiculo">
        <label for="proprio">PRÓPRIO</label>
    </div>
    <div class="col-md-4">
        <input type="radio" value="TRANSPORTADORA" id="transportadora"
               class="js-filtra-veiculo-categoria" name="veiculo">
        <label for="transportadora">TRANSPORTADORA</label>
    </div>
    <div class="col-md-4">
        <input type="radio" value="CADASTRADOS" id="cadastrado"
               class="js-filtra-veiculo-categoria" name="veiculo">
        <label for="cadastrado">CADASTRADOS</label>
    </div>
    <div class="col-md-12">
		<label for="id_veiculo" class="form-label">VEÍCULO UTILIZADO:</label>
        <select name="id_veiculo" class="form-control" required id="id_veiculo"l>
            {% for veiculo in veiculos %}
            <option value="{{ veiculo.id_veiculo }}">{{ veiculo.descricao }}</option>
            {% empty %}
            <option value="">NENHUMA VEÍCULO DISPONIVEL</option>
            {% endfor %}
        </select>
        <input type="hidden" name="id_minuta" value="{{ id_minuta }}">
	</div>
</form>
