{% if s_minuta.motorista %}
<div class="article-minuta-dados">
    <i class="bi bi-chat-right-text"></i>
    <span>{{ s_minuta.veiculo_solicitado }}</span>
    <div>
        {% if not s_minuta.paga_realizada %}
        <i type="button" class="bi bi-pencil-square" onclick="openMyModal(event); return false;"
           data-title="VEÍCULO SOLICITADO" data-action="{% url 'editaveiculosolicitado' %}"
           data-button-save-label="EDITAR" data-idminuta="{{ s_minuta.idminuta }}"></i>
        {% endif %}
    </div>
</div>
{% else %}
<div class="article-minuta-dados">
    <i class="bi bi-chat-right-text"></i>
    <span>INSERE VEÍCULO SOLICITADO</span>
    <div>
        {% if not s_minuta.paga_realizada %}
        <i class="bi bi-plus-square i-button" onclick="openMyModal(event); return false;"
           data-title="VEÍCULO SOLICITADO" data-action="{% url 'editaveiculosolicitado' %}"
           data-button-save-label="EDITAR" data-idminuta="{{ s_minuta.idminuta }}"></i>
        {% endif %}
    </div>
</div>
{% endif %}