{% if selecionada.veiculo_solicitado %}
{% for motorista in selecionada.motorista %}
<div class="article-minuta-dados">
    <i class="bi bi-person-square"></i>
    <span>{{ motorista.apelido }}</span>
    <div>
        <button class="btn btn-danger btn-xs glyphicon glyphicon-trash remove-colaborador"
                idMinuta="{{ selecionada.idminuta }}" Cargo="MOTORISTA"
                idMinutaColaboradores="{{ motorista.idMinutaColaboradores }}"></button>
    </div>
</div>
{% if selecionada.veiculo %}
<div class="article-minuta-dados">
    <i class="bi bi-truck"></i>
    <span>{{ selecionada.veiculo.Marca }} {{ selecionada.veiculo.Modelo }} -
          {{ selecionada.veiculo.Placa}}</span>
    <div>
        <button type="button" class="btn btn-success btn-xs glyphicon glyphicon-edit"
               onclick="openMyModal(event); return false;" data-title="VEÍCULO"
               data-action="{% url 'editaveiculoescolhido' %}" data-button-save-label="EDITAR"
               data-idminuta="{{ selecionada.idminuta }}" data-idpessoal="{{ motorista.obj.idPessoal }}"></button>
    </div>
</div>
<form class="html-km-inicial" method="post" action="{% url 'editakminicial' %}" id="form-edita-km">
    {% csrf_token %}
    <div class="article-minuta-dados">
        <i class="bi bi-speedometer"></i>
        <span>
            {% for field in form_km_inicial %}
                {{ field }}
            {% endfor %}
            <input type="hidden" name="idMinuta" value="{{ selecionada.idminuta }}">
        </span>
        <div>
            <button type="submit" class="btn btn-primary btn-xs glyphicon glyphicon-save"></button>
        </div>
    </div>
</form>
<form class="html-km-final" method="post" action="{% url 'editakmfinal' %}" id="form-edita-km">
    {% csrf_token %}
    <div class="article-minuta-dados">
        <i class="bi bi-speedometer"></i>
        <span>
            {% for field in form_km_final %}
                {{ field }}
            {% endfor %}
            <input type="hidden" name="idMinuta" value="{{ selecionada.idminuta }}">
        </span>
        <div>
            <button type="submit" class="btn btn-primary btn-xs glyphicon glyphicon-save"></button>
        </div>
    </div>
</form>
<div class="article-minuta-dados calcula-kms">
    <i class="bi bi-calculator"></i>
    <span class="total-kms">{{ selecionada.total_kms }} KMs</span>
    <div></div>
</div>
{% endif %}
{% empty %}
<div class="article-minuta-dados">
    <i class="bi bi-person-square"></i>
    <span>INSERE MOTORISTA</span>
    <div>
        <button type="button" class="btn btn-success btn-xs glyphicon glyphicon-plus"
                onclick="openMyModal(event); return false;" data-title="INSERE MOTORISTA"
                data-action="{% url 'inseremotorista' %}" data-button-save-label="INSERIR"
                data-idminuta="{{ selecionada.idminuta }}"></button>
    </div>
</div>
{% endfor %}
{% endif %}