{% extends 'clientes/baseclientes.html' %}

{% block title %}
    Módulo Clientes
{% endblock %}

{% block maincliente %}
<main>
    {% for itens in cliente %}
    <div class="consulta">
        <header class="consulta-header">
            <div class="consulta_headertitulo">
                <p><b>{{ itens.Fantasia }} - {{ itens.Nome }}</b></p>
            </div>
            <div class="consulta_headerbtn">
                <button class="btn btn-success glyphicon glyphicon-edit" onclick="openMyModal(event); return false;"
                        data-title="EDITA CADASTRO DE CLIENTE" data-action="{% url 'editacliente' itens.idCliente %}"
                        data-button-save-label="ALTERAR">
                </button>
                <button class="btn btn-danger glyphicon glyphicon-trash" onclick="openMyModal(event); return false;"
                        data-title="EXCLUI CADASTRO DE CLIENTE" data-action="{% url 'excluicliente' itens.idCliente %}"
                        data-button-save-label="EXCLUIR">
                </button>
            </div>
            <div class="consulta-header-dados">
                <p>
                {% if itens.Endereco %}
                    <span><b>&#x2713; {{ itens.Endereco }} </b></span>
                {% endif %}
                {% if itens.Bairro %}
                    <span><b>&#x2713; {{ itens.Bairro }} </b></span>
                {% endif %}
                {% if itens.CEP %}
                    <span><b>&#x2713; {{ itens.CEP }} </b></span>
                {% endif %}
                {% if itens.Cidade %}
                    <span><b>&#x2713; {{ itens.Cidade }} </b></span>
                {% endif %}
                {% if itens.Estado %}
                    <span><b>&#x2713; {{ itens.Estado }}</b></span>
                {% endif %}
                </p>
                <p>
                {% if itens.CNPJ %}
                    <span><b>&#x2713; CNPJ: {{ itens.CNPJ }} </b></span>
                {% endif %}
                {% if itens.IE %}
                    <span><b>&#x2713; IE: {{ itens.IE }}</b></span>
                {% endif %}
                </p>
                {% if itens.Site %}
                    <p><b>&#x2713; <a href="http://www.{{ itens.Site }}" target="_blank">{{ itens.Site }}</a></b></p>
                {% endif %}
            </div>
        </header>
        <main>
            {% if email_cliente %}
            {% for itensemail in email_cliente %}
            <div class="card-email card-base1 card-clientes">
                <header>
                    <span><b>E-MAIL</b></span>
                </header>
                <section>
                    <div class="section-itens">
                        <span><b>{{ itensemail.Contato }}</b></span>
                    </div>
                    <div class="section-itens">
                        <span><a href="mailto:{{ itensemail.EMail }}">{{ itensemail.EMail }}</a></span>
                    </div>
                    <div class="section-itens">
                        {% if itensemail.RecebeFatura %}
                        <span>RECEBE FATURA: SIM</span>
                        {% else %}
                        <span>RECEBE FATURA: NÃO</span>
                        {% endif %}
                    </div>
                </section>
                <footer>
                    <div>
                        <button class="btn btn-primary btn-xs glyphicon glyphicon-plus"
                                onclick="openMyModal(event); return false;" data-title="CADASTRO EMAIL DE CLIENTE"
                                data-action="{% url 'criaemailcliente' %}" data-idcliente="{{ itens.idCliente }}"
                                data-button-save-label="SALVAR">
                        </button>
                        <button class="btn btn-success btn-xs glyphicon glyphicon-edit"
                                onclick="openMyModal(event); return false;" data-title="EDITA CADASTRO EMAIL DE CLIENTE"
                                data-action="{% url 'editaemailcliente' itensemail.idEmailContatoCliente %}"
                                data-idcliente="{{ itens.idCliente }}"
                                data-idobj="{{ itensemail.idEmailContatoCliente }}" data-button-save-label="EDITAR">
                        </button>
                        <button class="btn btn-danger btn-xs glyphicon glyphicon-trash"
                                onclick="openMyModal(event); return false;"
                                data-title="EXCLUI CADASTRO EMAIL DE CLIENTE"
                                data-action="{% url 'excluiemailcliente' itensemail.idEmailContatoCliente %}"
                                data-idcliente="{{ itens.idCliente }}"
                                data-idobj="{{ itensemail.idEmailContatoCliente }}" data-button-save-label="EXCLUIR">
                        </button>
                    </div>
                </footer>
            </div>
            {% endfor %}
            {% else %}
            <div class="card-email card-base1 card-clientes">
                <header>
                    <span><b>E-MAIL</b></span>
                </header>
                <section>
                    <span><b>NENHUM E-MAIL CADASTRADO</b></span>
                </section>
                <footer>
                    <button class="btn btn-primary btn-xs glyphicon glyphicon-plus"
                                onclick="openMyModal(event); return false;" data-title="CADASTRO EMAIL DE CLIENTE"
                                data-action="{% url 'criaemailcliente' %}" data-idcliente="{{ itens.idCliente }}"
                                data-button-save-label="SALVAR">
                    </button>
                </footer>
            </div>
            {% endif %}
            {% if fone_cliente %}
            {% for itensfone in fone_cliente %}
            <div class="card-telefone card-base1 card-clientes">
                <header>
                    <span><b>TELEFONE</b></span>
                </header>
                <section>
                    <div class="section-itens">
                        <span><b>{{ itensfone.Contato }}</b></span>
                    </div>
                    <div class="section-itens">
                        <span>{{ itensfone.Fone }}</span>
                    </div>
                    <div class="section-itens">
                        <span>{{ itensfone.TipoFone }}</span>
                    </div>
                </section>
                <footer>
                    <div>
                        <button class="btn btn-primary btn-xs glyphicon glyphicon-plus"
                                onclick="openMyModal(event); return false;" data-title="CADASTRO CONTATO DE CLIENTE"
                                data-action="{% url 'criafonecliente' %}" data-idcliente="{{ itens.idCliente }}"
                                data-button-save-label="SALVAR">
                        </button>
                        <button class="btn btn-success btn-xs glyphicon glyphicon-edit"
                                onclick="openMyModal(event); return false;"
                                data-title="EDITA CADASTRO CONTATO DE CLIENTE"
                                data-action="{% url 'editafonecliente' itensfone.idFoneContatoCliente %}"
                                data-idcliente="{{ itens.idCliente }}"
                                data-idobj="{{ itensfone.idFoneContatoCliente }}" data-button-save-label="EDITAR">
                        </button>
                        <button class="btn btn-danger btn-xs glyphicon glyphicon-trash"
                                onclick="openMyModal(event); return false;"
                                data-title="EXCLUI CADASTRO CONTATO DE CLIENTE"
                                data-action="{% url 'excluifonecliente' itensfone.idFoneContatoCliente %}"
                                data-idcliente="{{ itens.idCliente }}"
                                data-idobj="{{ itensfone.idFoneContatoCliente }}" data-button-save-label="EXCLUIR">
                        </button>
                    </div>
                </footer>
            </div>
            {% endfor %}
            {% else %}
            <div class="card-telefone card-base1 card-clientes">
                <header>
                    <span><b>TELEFONE</b></span>
                </header>
                <section>
                    <span><b>NENHUM TELEFONE CADASTRADO</b></span>
                </section>
                <footer>
                    <button class="btn btn-primary btn-xs glyphicon glyphicon-plus"
                                onclick="openMyModal(event); return false;" data-title="CADASTRO TELECONE DE CLIENTE"
                                data-action="{% url 'criafonecliente' %}" data-idcliente="{{ itens.idCliente }}"
                                data-button-save-label="SALVAR">
                    </button>
                </footer>
            </div>
            {% endif %}
            {% if cobranca_cliente %}
            {% for itenscobranca in cobranca_cliente %}
            <div class="card-endereco card-base1 card-clientes">
                <header>
                    <span><b>ENDEREÇO DE COBRANÇA</b></span>
                </header>
                <section>
                    <div class="section-itens">
                        <span><b>{{ itenscobranca.Nome }}</b></span>
                    </div>
                    <div class="section-itens">
                        <span>{{ itenscobranca.Endereco }} - {{ itenscobranca.Bairro }} - {{ itenscobranca.CEP }} -
                            {{ itenscobranca.Cidade }} - {{ itenscobranca.Estado }}</span>
                    </div>
                    <div class="section-itens">
                        <span>CNPJ: {{ itenscobranca.CNPJ }} - IE: {{ itenscobranca.IE }}</span>
                    </div>
                </section>
                <footer>
                    <div>
                        <button class="btn btn-success btn-xs glyphicon glyphicon-edit"
                                onclick="openMyModal(event); return false;"
                                data-title="EDITA CADASTRO COBRANÇA DE CLIENTE"
                                data-action="{% url 'editacobrancacliente' itenscobranca.idCobranca %}"
                                data-idcliente="{{ itens.idCliente }}" data-idobj="{{ itenscobranca.idCobranca }}"
                                data-button-save-label="EDITAR">
                        </button>
                        <button class="btn btn-danger btn-xs glyphicon glyphicon-trash"
                                onclick="openMyModal(event); return false;"
                                data-title="EXCLUI CADASTRO COBRANÇA DE CLIENTE"
                                data-action="{% url 'excluicobrancacliente' itenscobranca.idCobranca %}"
                                data-idcliente="{{ itens.idCliente }}" data-idobj="{{ itenscobranca.idCobranca }}"
                                data-button-save-label="EXCLUIR">
                        </button>
                    </div>
                </footer>
            </div>
            {% endfor %}
            {% else %}
            <div class="card-telefone card-base1 card-clientes">
                <header>
                    <span><b>ENDEREÇO DE COBRANÇA</b></span>
                </header>
                <section>
                    <span><b>NENHUM ENDEREÇO DE COBRANÇA CADASTRADO</b></span>
                </section>
                <footer>
                    <button class="btn btn-primary btn-xs glyphicon glyphicon-plus"
                                onclick="openMyModal(event); return false;" data-title="CADASTRO COBRANÇA DE CLIENTE"
                                data-action="{% url 'criacobrancacliente' %}" data-idcliente="{{ itens.idCliente }}"
                                data-button-save-label="SALVAR">
                    </button>
                </footer>
            </div>
            {% endif %}
        </main>
    </div>
    <div class="consulta">
        <header class="consulta-header-tabelas">
            <span>TABELA CLIENTE</span>
        </header>
        <main>
            {% if tabela_cliente %}
            {% for itenstabela in tabela_cliente %}
            <div class="card-tabela card-base3 card-tipo">
                <header class="consulta-tabela">
                    <span><b>TIPOS DE COBRANÇA E PAGAMENTO</b></span>
                </header>
                <form method="post" action="{% url 'editaphkesc' itenstabela.idTabela %}">
                {% csrf_token %}
                    <section>
                        <p class="phkesccobra" hidden>{{ itenstabela.phkescCobra }}</p>
                        <p class="phkescpaga" hidden>{{ itenstabela.phkescPaga }}</p>
                        <article class="tipo-cobranca">
                            <div>
                                <div><b>COBRANÇA</b></div>
                                <div class="section-itens switch-itens">
                                    <span class="switch-titulo"><b>PORCENTAGEM</b></span>
                                    <input id="switch-porcentagem-cobra" name="switch" value="porcentagem-cobra"
                                           class="switch switch--shadow" type="checkbox" />
                                    <label for="switch-porcentagem-cobra"></label>
                                </div>
                                <div class="section-itens switch-itens">
                                    <span class="switch-titulo"><b>HORA</b></span>
                                    <input id="switch-hora-cobra" name="switch" value="hora-cobra"
                                           class="switch switch--shadow" type="checkbox" />
                                    <label for="switch-hora-cobra"></label>
                                </div>
                                <div class="section-itens switch-itens">
                                    <span class="switch-titulo"><b>KILOMETRAGEM</b></span>
                                    <input id="switch-kilometragem-cobra" name="switch" value="kilometragem-cobra"
                                           class="switch switch--shadow" type="checkbox" />
                                    <label for="switch-kilometragem-cobra"></label>
                                </div>
                                <div class="section-itens switch-itens">
                                    <span class="switch-titulo"><b>ENTREGA</b></span>
                                    <input id="switch-entrega-cobra" name="switch" value="entrega-cobra"
                                           class="switch switch--shadow" type="checkbox" />
                                    <label for="switch-entrega-cobra"></label>
                                </div>
                                <div class="section-itens switch-itens">
                                    <span class="switch-titulo"><b>ENTREGA KG</b></span>
                                    <input id="switch-entregakg-cobra" name="switch" value="entregakg-cobra"
                                           class="switch switch--shadow" type="checkbox" />
                                    <label for="switch-entregakg-cobra"></label>
                                </div>
                                <div class="section-itens switch-itens">
                                    <span class="switch-titulo"><b>ENTREGA VOLUME</b></span>
                                    <input id="switch-entregavolume-cobra" name="switch" value="entregavolume-cobra"
                                           class="switch switch--shadow" type="checkbox" />
                                    <label for="switch-entregavolume-cobra"></label>
                                </div>
                                <div class="section-itens switch-itens">
                                    <span class="switch-titulo"><b>SAÍDA</b></span>
                                    <input id="switch-saida-cobra" name="switch" value="saida-cobra"
                                           class="switch switch--shadow" type="checkbox" />
                                    <label for="switch-saida-cobra"></label>
                                </div>
                                <div class="section-itens switch-itens">
                                    <span class="switch-titulo"><b>CAPACIDADE</b></span>
                                    <input id="switch-capacidade-cobra" name="switch" value="capacidade-cobra"
                                           class="switch switch--shadow" type="checkbox" />
                                    <label for="switch-capacidade-cobra"></label>
                                </div>
                            </div>
                            <div>
                                <div><b>PAGAMENTO</b></div>
                                <div class="section-itens switch-itens">
                                    <span class="switch-titulo"><b>PORCENTAGEM</b></span>
                                    <input id="switch-porcentagem-paga" name="switch" value="porcentagem-paga"
                                           class="switch switch--shadow" type="checkbox" />
                                    <label for="switch-porcentagem-paga"></label>
                                </div>
                                <div class="section-itens switch-itens">
                                    <span class="switch-titulo"><b>HORA</b></span>
                                    <input id="switch-hora-paga" name="switch" value="hora-paga"
                                           class="switch switch--shadow" type="checkbox" />
                                    <label for="switch-hora-paga"></label>
                                </div>
                                <div class="section-itens switch-itens">
                                    <span class="switch-titulo"><b>KILOMETRAGEM</b></span>
                                    <input id="switch-kilometragem-paga" name="switch" value="kilometragem-paga"
                                           class="switch switch--shadow" type="checkbox" />
                                    <label for="switch-kilometragem-paga"></label>
                                </div>
                                <div class="section-itens switch-itens">
                                    <span class="switch-titulo"><b>ENTREGA</b></span>
                                    <input id="switch-entrega-paga" name="switch" value="entrega-paga"
                                           class="switch switch--shadow" type="checkbox" />
                                    <label for="switch-entrega-paga"></label>
                                </div>
                                <div class="section-itens switch-itens">
                                    <span class="switch-titulo"><b>ENTREGA KG</b></span>
                                    <input id="switch-entregakg-paga" name="switch" value="entregakg-paga"
                                           class="switch switch--shadow" type="checkbox" />
                                    <label for="switch-entregakg-paga"></label>
                                </div>
                                <div class="section-itens switch-itens">
                                    <span class="switch-titulo"><b>ENTREGA VOLUME</b></span>
                                    <input id="switch-entregavolume-paga" name="switch" value="entregavolume-paga"
                                           class="switch switch--shadow" type="checkbox" />
                                    <label for="switch-entregavolume-paga"></label>
                                </div>
                                <div class="section-itens switch-itens">
                                    <span class="switch-titulo"><b>SAÍDA</b></span>
                                    <input id="switch-saida-paga" name="switch" value="saida-paga"
                                           class="switch switch--shadow" type="checkbox" />
                                    <label for="switch-saida-paga"></label>
                                </div>
                                <div class="section-itens switch-itens">
                                    <span class="switch-titulo"><b>CAPACIDADE</b></span>
                                    <input id="switch-capacidade-paga" name="switch" value="capacidade-paga"
                                           class="switch switch--shadow" type="checkbox" />
                                    <label for="switch-capacidade-paga"></label>
                                </div>
                            </div>
                        </article>
                    </section>
                    <footer>
                        <button type="submit" class="btn btn-primary btn-xs">
                                <span class="glyphicon glyphicon-save"></span>
                        </button>
                    </footer>
                </form>
            </div>
            {% endfor %}
            {% endif %}
            {% if tabela_cliente %}
            {% for itenstabela in tabela_cliente %}
            <div class="card-tabela card-base2">
                <header class="consulta-tabela">
                    <span><b>TABELA</b></span>
                </header>
                <section>
                    <div class="section-itens">
                        <span><b>PAGAMENTO:</b></span>
                        <span>{{ itenstabela.idFormaPagamento }} DIAS</span>
                    </div>
                    <div class="section-itens">
                        <span><b>COMISSÃO:</b></span>
                        <span>{{ itenstabela.Comissao }}%</span>
                    </div>
                    <div class="section-itens">
                        <span><b>TAXA DE EXPEDIÇÃO:</b></span>
                        <span>R$ {{ itenstabela.TaxaExpedicao }}</span>
                    </div>
                    <div class="section-itens">
                        <span><b>AJUDANTE COBRA:</b></span>
                        <span>R$ {{ itenstabela.AjudanteCobra }}</span>
                    </div>
                    <div class="section-itens">
                        <span><b>AJUDANTE PAGA:</b></span>
                        <span>R$ {{ itenstabela.AjudantePaga }}</span>
                    </div>
                </section>
                <footer>
                    <button class="btn btn-success btn-xs glyphicon glyphicon-plus"
                            onclick="openMyModal(event); return false;" data-title="EDITA CADASTRO TABELA CLIENTE"
                            data-action="{% url 'editatabelacliente' itenstabela.idTabela %}"
                            data-idcliente="{{ itens.idCliente }}"
                            data-button-save-label="EDITAR">
                    </button>
                </footer>
            </div>
            {% endfor %}
            {% else %}
            <div class="card-tabela card-base2">
                <header class="consulta-tabela">
                    <span><b>TABELA CLIENTE</b></span>
                </header>
                <section>
                    <span><b>TABELA NÃO CADASTRADA</b></span>
                </section>
                <footer>
                     <button class="btn btn-primary btn-xs glyphicon glyphicon-plus"
                            onclick="openMyModal(event); return false;" data-title="CADASTRO TABELA CLIENTE"
                            data-action="{% url 'criatabelacliente' %}" data-idcliente="{{ itens.idCliente }}"
                            data-button-save-label="SALVAR">
                    </button>
                </footer>
            </div>
            {% endif %}
        </main>
    </div>
    <div class="consulta">
        <header class="consulta-header-tabelas">
            <span>TABELA VEÍCULOS</span>
        </header>
        <main>
            {% for itenscategoria in categoria_veiculo %}
            {% if itenscategoria.idCategoria in list_categoria_cliente %}
            <div class="card-veiculo card-base2">
                {% for itenstabela in tabela_veiculo_cliente %}
                {% if itenstabela.idCategoriaVeiculo_id == itenscategoria.idCategoria %}
                <header>
                    <span><b>{{ itenscategoria.Categoria }}</b></span><br>
                </header>
                <section>
                    {% if itenstabela.PorcentagemCobra %}
                    <div class="section-itens">
                        <span><b>% DA NOTA - RECEBE</b></span>
                        <span>{{ itenstabela.PorcentagemCobra }}%</span>
                    </div>
                    {% endif %}
                    {% if itenstabela.PorcentagemPaga %}
                    <div class="section-itens">
                        <span><b>% DA NOTA - PAGA</b></span>
                        <span>{{ itenstabela.PorcentagemPaga }}%</span>
                    </div>
                    {% endif %}
                    {% if itenstabela.HoraCobra %}
                    <div class="section-itens">
                        <span><b>HORA - RECEBE</b></span>
                        <span>R$ {{ itenstabela.HoraCobra }}</span>
                    </div>
                    {% endif %}
                    {% if itenstabela.HoraPaga %}
                    <div class="section-itens">
                        <span><b>HORA - PAGA</b></span>
                        <span>R$ {{ itenstabela.HoraPaga }}</span>
                    </div>
                    {% endif %}
                    {% if itenstabela.HoraMinimo|time:"H:i" != "00:00" %}
                    <div class="section-itens">
                        <span><b>HORA - MÍNIMO</b></span>
                        <span>{{ itenstabela.HoraMinimo }}</span>
                    </div>
                    {% endif %}
                    {% if itenstabela.KMCobra %}
                    <div class="section-itens">
                        <span><b>KM - RECEBE</b></span>
                        <span>R$ {{ itenstabela.KMCobra }}</span>
                    </div>
                    {% endif %}
                    {% if itenstabela.KMPaga %}
                    <div class="section-itens">
                        <span><b>KM - PAGA</b></span>
                        <span>R$ {{ itenstabela.KMPaga }}</span>
                    </div>
                    {% endif %}
                    {% if itenstabela.KMMinimo %}
                    <div class="section-itens">
                        <span><b>KM - MÍNIMO</b></span>
                        <span>{{ itenstabela.KMMinimo }}</span>
                    </div>
                    {% endif %}
                    {% if itenstabela.EntregaCobra %}
                    <div class="section-itens">
                        <span><b>ENTREGAS - RECEBE</b></span>
                        <span>R$ {{ itenstabela.EntregaCobra }}</span>
                    </div>
                    {% endif %}
                    {% if itenstabela.EntregaCobra %}
                    <div class="section-itens">
                        <span><b>ENTREGAS - PAGA</b></span>
                        <span>R$ {{ itenstabela.EntregaPaga }}</span>
                    </div>
                    {% endif %}
                    {% if itenstabela.EntregaMinimo %}
                    <div class="section-itens">
                        <span><b>ENTREGAS - MÍNIMO</b></span>
                        <span>{{ itenstabela.EntregaMinimo }}</span>
                    </div>
                    {% endif %}
                    {% if itenstabela.EntregaKGCobra %}
                    <div class="section-itens">
                        <span><b>ENTREGAS KG - RECEBE</b></span>
                        <span>{{ itenstabela.EntregaKGCobra }}</span>
                    </div>
                    {% endif %}
                    {% if itenstabela.EntregaKGPaga %}
                    <div class="section-itens">
                        <span><b>ENTREGAS KG - PAGA</b></span>
                        <span>{{ itenstabela.EntregaKGPaga }}</span>
                    </div>
                    {% endif %}
                    {% if itenstabela.EntregaVolumeCobra %}
                    <div class="section-itens">
                        <span><b>ENTREGAS VOLUME - RECEBE</b></span>
                        <span>{{ itenstabela.EntregaVolumeCobra }}</span>
                    </div>
                    {% endif %}
                    {% if itenstabela.EntregaVolumePaga %}
                    <div class="section-itens">
                        <span><b>ENTREGAS VOLUME - PAGA</b></span>
                        <span>{{ itenstabela.EntregaVolumePaga }}</span>
                    </div>
                    {% endif %}
                    {% if itenstabela.SaidaCobra %}
                    <div class="section-itens">
                        <span><b>SAIDA - RECEBE</b></span>
                        <span>R$ {{ itenstabela.SaidaCobra }}</span>
                    </div>
                    {% endif %}
                    {% if itenstabela.SaidaPaga %}
                    <div class="section-itens">
                        <span><b>SAIDA - PAGA</b></span>
                        <span>R$ {{ itenstabela.SaidaPaga }}</span>
                    </div>
                    {% endif %}
                </section>
                <footer>
                    <button class="btn btn-success btn-xs glyphicon glyphicon-edit"
                            onclick="openMyModal(event); return false;" data-title="EDITA CADASTRO TABELA VEÍCULO"
                            data-action="{% url 'editatabelaveiculo' itenstabela.idTabelaVeiculo %}"
                            data-idcliente="{{ itens.idCliente }}" data-idobj="{{ itenstabela.idTabelaVeiculo }}"
                            data-idcategoriaveiculo="{{ itenscategoria.idCategoria }}"
                            data-button-save-label="EDITAR">
                    </button>
                </footer>
                {% endif %}
                {% endfor %}
            </div>
            {% endif %}
            {% endfor %}
            {% for itenscategoria in categoria_veiculo %}
            {% if not itenscategoria.idCategoria in list_categoria_cliente %}
            <div class="card-veiculo card-base2">
                <header>
                    <span><b>{{ itenscategoria.Categoria }}</b></span>
                </header>
                <section>
                    <span><b>VEÍCULO SEM TABELA</b></span>
                </section>
                <footer>
                    <button class="btn btn-primary btn-xs glyphicon glyphicon-plus"
                            onclick="openMyModal(event); return false;" data-title="CADASTRO TABELA VEÍCULO"
                            data-action="{% url 'criatabelaveiculo' %}" data-idcliente="{{ itens.idCliente }}"
                            data-idcategoriaveiculo="{{ itenscategoria.idCategoria }}"
                            data-button-save-label="CRIAR">
                    </button>
                </footer>
            </div>
            {% endif %}
            {% endfor %}
        </main>
    </div>
    <div class="consulta">
        <header class="consulta-header-tabelas">
            <span>PERÍMETRO E CAPACIDADE</span>
        </header>
        <main>
            {% if tabela_perimetro_cliente %}
            {% for itenstabelaperimetro in tabela_perimetro_cliente %}
            <div class="card-tabela card-base1">
                <header>
                    <span><b>PERÍMETRO</b></span>
                </header>
                <section>
                    <div class="section-itens">
                        <span><b>KM INICIAL</b></span>
                        <span>{{ itenstabelaperimetro.PerimetroInicial }}</span>
                    </div>
                    <div class="section-itens">
                        <span><b>KM FINAL</b></span>
                        <span>{{ itenstabelaperimetro.PerimetroFinal }}</span>
                    </div>
                    <div class="section-itens">
                        <span><b>RECEBE</b></span>
                        <span>{{ itenstabelaperimetro.PerimetroCobra }}%</span>
                    </div>
                    <div class="section-itens">
                        <span><b>PAGAR</b></span>
                        <span>{{ itenstabelaperimetro.PerimetroPaga }}%</span>
                    </div>
                </section>
                <footer>
                    <div>
                        {% if forloop.last %}
                        <button class="btn btn-primary btn-xs glyphicon glyphicon-plus"
                            onclick="openMyModal(event); return false;" data-title="CADASTRO TABELA CAPACIDADE"
                            data-action="{% url 'criatabelaperimetro' %}" data-idcliente="{{ itens.idCliente }}"
                            data-button-save-label="CRIAR">
                        </button>
                        {% endif %}
                        <button class="btn btn-success btn-xs glyphicon glyphicon-edit"
                            onclick="openMyModal(event); return false;" data-title="EDITA CADASTRO TABELA CAPACIDADE"
                            data-action="{% url 'editatabelaperimetro' itenstabelaperimetro.idTabelaPerimetro %}"
                                data-idcliente="{{ itens.idCliente }}"
                            data-button-save-label="EDITAR">
                        </button>
                        {% if forloop.last %}
                        <button class="btn btn-danger btn-xs glyphicon glyphicon-trash"
                            onclick="openMyModal(event); return false;" data-title="EXCLUI CADASTRO TABELA CAPACIDADE"
                            data-action="{% url 'excluitabelaperimetro' itenstabelaperimetro.idTabelaPerimetro %}"
                                data-idcliente="{{ itens.idCliente }}"
                            data-button-save-label="EXCLUIR">
                        </button>
                        {% endif %}
                    </div>
                </footer>
            </div>
            {% endfor %}
            {% else %}
            <div class="card-tabela card-base1">
                <header>
                    <span><b>PERÍMETRO</b></span>
                </header>
                <section>
                    <span><b>NENHUM PERÍMETRO CADASTRADO</b></span>
                </section>
                <footer>
                    <!--<button class="btn btn-primary btn-xs js-criatabelaperimetro"-->
                           <!--idtabela="criatabelaperimetro" idcliente="{{ itens.idCliente }}"-->
                           <!--data-url="{% url 'criatabelaperimetro' %}" idclick="clientetabelaperimetro">-->
                        <!--<span class="glyphicon glyphicon-plus"></span>-->
                    <!--</button>-->
                    <button class="btn btn-primary btn-xs glyphicon glyphicon-plus"
                            onclick="openMyModal(event); return false;" data-title="CADASTRO TABELA CAPACIDADE"
                            data-action="{% url 'criatabelaperimetro' %}" data-idcliente="{{ itens.idCliente }}"
                            data-button-save-label="SALVAR">
                    </button>
                </footer>
            </div>
            {% endif %}
            {% if tabela_capacidade_cliente %}
            {% for itenstabelacapacidade in tabela_capacidade_cliente %}
            <div class="card-tabela card-base1">
                <header>
                    <span><b>CAPACIDADE</b></span>
                </header>
                <section>
                    <div class="section-itens">
                        <span><b>PESO INICIAL</b></span>
                        <span>{{ itenstabelacapacidade.CapacidadeInicial }}</span>
                    </div>
                    <div class="section-itens">
                        <span><b>PESO FINAL</b></span>
                        <span>{{ itenstabelacapacidade.CapacidadeFinal }}</span>
                    </div>
                    <div class="section-itens">
                        <span><b>RECEBE</b></span>
                        <span>R$ {{ itenstabelacapacidade.CapacidadeCobra }}</span>
                    </div>
                    <div class="section-itens">
                        <span><b>PAGAR</b></span>
                        <span>R$ {{ itenstabelacapacidade.CapacidadePaga }}</span>
                    </div>
                </section>
                <footer>
                    <div>
                        {% if forloop.last %}
                        <button class="btn btn-primary btn-xs glyphicon glyphicon-plus"
                            onclick="openMyModal(event); return false;" data-title="CADASTRO TABELA CAPACIDADE"
                            data-action="{% url 'criatabelacapacidade' %}" data-idcliente="{{ itens.idCliente }}"
                            data-button-save-label="CRIAR">
                        </button>
                        {% endif %}
                        <button class="btn btn-success btn-xs glyphicon glyphicon-edit"
                            onclick="openMyModal(event); return false;" data-title="EDITA CADASTRO TABELA CAPACIDADE"
                            data-action="{% url 'editatabelacapacidade' itenstabelacapacidade.idTabelaCapacidade %}"
                            data-idcliente="{{ itens.idCliente }}"
                            data-button-save-label="EDITAR">
                        </button>
                        {% if forloop.last %}
                        <button class="btn btn-danger btn-xs glyphicon glyphicon-trash"
                            onclick="openMyModal(event); return false;" data-title="EXCLUI CADASTRO TABELA CAPACIDADE"
                            data-action="{% url 'excluitabelacapacidade' itenstabelacapacidade.idTabelaCapacidade %}"
                            data-idcliente="{{ itens.idCliente }}"
                            data-button-save-label="EXCLUIR">
                        </button>
                        {% endif %}
                    </div>
                </footer>
            </div>
            {% endfor %}
            {% else %}
            <div class="card-tabela card-base1">
                <header>
                    <span><b>CAPACIDADE</b></span>
                </header>
                <section>
                    <span><b>NENHUMA CAPACIDADE CADASTRADA</b></span>
                </section>
                <footer>
                    <button class="btn btn-primary btn-xs glyphicon glyphicon-plus"
                            onclick="openMyModal(event); return false;" data-title="CADASTRO TABELA CAPACIDADE"
                            data-action="{% url 'criatabelacapacidade' %}" data-idcliente="{{ itens.idCliente }}"
                            data-button-save-label="SALVAR">
                    </button>
                </footer>
            </div>
            {% endif %}
        </main>
    </div>
    {% endfor %}
    <!-- DIV MODAL -->
    <div class="modal fade bd-example-modal-lg" id="MyModal" tabindex="-1">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title"><b>CADASTRO DE CLIENTE</b></h4>
                </div>
                <div class="modal-body">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">FECHAR</button>
                    <button type="submit" class="btn btn-success btn-save">CRIAR</button>
                </div>
            </div>
        </div>
    </div>
    <!--&lt;!&ndash; DIV MODAL &ndash;&gt;-->
    <!--<div class="modal fade" id="modal-formulario" >-->
        <!--<div class="modal-dialog">-->
            <!--<div class="modal-content">-->

            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
</main>
{% endblock %}
