<form class="row g-3" method="post" action="{{ c_url }}" idobj="{{ c_idobj }}">
{% csrf_token %}
{% if c_view == 'cria_cliente' or c_view == 'edita_cliente' %}
    <div class="col-md-4">
        <label for="id_Fantasia" class="form-label">FANTASIA:</label>
        <input type="text" class="form-control" id="id_Fantasia" name="Fantasia" maxlength="20" required=""
               value="{% if form.Fantasia.value %}{{ form.Fantasia.value }}{% endif %}">
        {% if form.Fantasia.errors %}
            <ul class="errorlist">
            {% for error in form.Fantasia.errors %}
                <li><strong>{{ error|escape }}</strong></li>
            {% endfor %}
            </ul>
        {% endif %}
    </div>

    <div class="col-md-8">
        <label for="id_Nome" class="form-label">NOME:</label>
        <input type="text" class="form-control" id="id_Nome" name="Nome" maxlength="60" required=""
               value="{% if form.Nome.value %}{{ form.Nome.value }}{% endif %}">
        {% if form.Nome.errors %}
            <ul class="errorlist">
            {% for error in form.Nome.errors %}
                <li><strong>{{ error|escape }}</strong></li>
            {% endfor %}
            </ul>
        {% endif %}
    </div>

    <div class="col-md-12">
        <label for="id_Endereco" class="form-label">ENDEREÇO:</label>
        <input type="text" class="form-control" id="id_Endereco" name="Endereco" maxlength="60"
               value="{% if form.Endereco.value %}{{ form.Endereco.value }}{% endif %}">
    </div>

    <div class="col-md-6">
        <label for="inputBairro" class="form-label">BAIRRO:</label>
        <input type="text" class="form-control" id="inputBairro" name="Bairro" maxlength="25"
               value="{% if form.Bairro.value %}{{ form.Bairro.value }}{% endif %}">
    </div>

    <div class="col-md-2">
        <label for="id_CEP" class="form-label">CEP:</label>
        <input type="text" class="form-control" id="id_CEP" name="CEP", maxlength="9"
               value="{% if form.CEP.value %}{{ form.CEP.value }}{% endif %}">
    </div>

    <div class="col-md-4">
        <label for="id_Cidade" class="form-label">CIDADE:</label>
        <input type="text" class="form-control" id="id_Cidade" name="Cidade" maxlength="30"
               value="{% if form.Cidade.value %}{{ form.Cidade.value }}{% endif %}">
    </div>

    <div class="col-md-2">
        <label for="id_Estado" class="form-label">ESTADO:</label>
        <input type="text" class="form-control" id="id_Estado" name="Estado" maxlength="2"
               value="{% if form.Estado.value %}{{ form.Estado.value }}{% endif %}">
    </div>

    <div class="col-md-3">
        <label for="id_CNPJ" class="form-label">CNPJ ou CPF:</label>
        <input type="text" class="form-control" id="id_CNPJ" name="CNPJ" maxlength="18"
               value="{% if form.CNPJ.value %}{{ form.CNPJ.value }}{% endif %}">
    </div>

    <div class="col-md-3">
        <label for="id_IE" class="form-label">IE ou RG:</label>
        <input type="text" class="form-control" id="id_IE" name="IE" maxlength="15"
               value="{% if form.IE.value %}{{ form.IE.value }}{% endif %}">
    </div>

    <div class="col-md-4">
        <label for="id_Site" class="form-label">SITE:</label>
        <input type="text" class="form-control" id="id_Site" name="Site" maxlength="40"
               value="{% if form.Fantasia.value %}{{ form.Site.value }}{% endif %}">
    </div>
{% endif %}

{% if c_view == 'exclui_cliente' %}
    <div class="col-md-12">
        <h4>Você tem certeza que deseja excluir o registro abaixo?</h4>
        <br>
        <p>NOME FANTASIA: <b>{{ c_queryset.Fantasia }}</b>.</p>
        <p>RAZÃO SOCIAL: <b>{{ c_queryset.Nome }}</b>.</p>
        {% if c_queeyset.CNPJ %}
            <p>CNPJ: {{ c_queryset.CNPJ }}.</p>
        {% endif %}
    </div>
{% endif %}

{% if c_view == 'cria_email_cliente' or c_view == 'edita_email_cliente' %}
    <div class="col-md-6">
        <label for="id_Contato" class="form-label">CONTATO:</label>
        <input type="text" class="form-control" id="id_Contato" name="Contato" maxlength="25" required=""
               value="{% if form.Contato.value %} {{ form.Contato.value }} {% endif %}">
        {% if form.Coontato.errors %}
            <ul class="errorlist">
            {% for error in form.Contato.errors %}
                <li><strong>{{ error|escape }}</strong></li>
            {% endfor %}
            </ul>
        {% endif %}
    </div>

    <div class="col-md-6">
        <label for="id_EMail" class="form-label">E-MAIL:</label>
        <input type="email" class="form-control" id="id_EMail" name="EMail" maxlength="50" required=""
               value="{% if form.EMail.value %} {{ form.EMail.value }} {% endif %}">
        {% if form.EMail.errors %}
            <ul class="errorlist">
            {% for error in form.EMail.errors %}
                <li><strong>{{ error|escape }}</strong></li>
            {% endfor %}
            </ul>
        {% endif %}
    </div>
    <div class="col-md-12">
        <div class="forn-check">
            <label for="id_RecebeFatura" class="form-check-label">RECEBE FATURA:</label>
            <input type="checkbox" class="form-check-input" id="id_RecebeFatura" name="RecebeFatura"
                   {% if form.RecebeFatura.value %} checked="checked" {% endif %}>
        </div>
    </div>
    <input type="hidden" name="idCliente" value="{{ idcliente }}" id="id_idCliente">
{% endif %}

{% if c_view == 'exclui_email_cliente' %}
    <div class="col-md-12">
        <h4>Você tem certeza que deseja excluir o registro abaixo?</h4>
        <br>
        <p>CONTATO: <b>{{ c_queryset.Contato }}</b>.</p>
        <p>E-MAIL: <b>{{ c_queryset.EMail }}</b>.</p>
        <p>CLIENTE: {{ c_queryset.idCliente }}.</p>
    </div>
    <input type="hidden" name="idCliente" value="{{ c_queryset.idCliente_id }}" id="id_idCliente">
{% endif %}


</form>
