<form class="row g-3" method="post" action="{{ c_url }}" idobj="{{ c_idobj }}">
{% csrf_token %}
{% if c_view == 'cria_cliente' or c_view == 'edita_cliente' %}
    <div class="col-md-4">
        <label for="id_Fantasia" class="form-label">FANTASIA:</label>
        <input type="text" class="form-control" id="id_Fantasia" name="Fantasia" maxlength="20" required=""
               value="{% if form.Fantasia.value %}{{ form.Fantasia.value }}{% endif %}">
        {% if form.Fantasia.errors %}
            <ul class="errorlist">
            {% for error in form.Fantasia.errors %}
                <li><strong>{{ error|escape }}</strong></li>
            {% endfor %}
            </ul>
        {% endif %}
    </div>

    <div class="col-md-8">
        <label for="id_Nome" class="form-label">RAZÃO SOCIAL:</label>
        <input type="text" class="form-control" id="id_Nome" name="Nome" maxlength="60" required=""
               value="{% if form.Nome.value %}{{ form.Nome.value }}{% endif %}">
        {% if form.Nome.errors %}
            <ul class="errorlist">
            {% for error in form.Nome.errors %}
                <li><strong>{{ error|escape }}</strong></li>
            {% endfor %}
            </ul>
        {% endif %}
    </div>

    <div class="col-md-12">
        <label for="id_Endereco" class="form-label">ENDEREÇO:</label>
        <input type="text" class="form-control" id="id_Endereco" name="Endereco" maxlength="60"
               value="{% if form.Endereco.value %}{{ form.Endereco.value }}{% endif %}">
    </div>

    <div class="col-md-6">
        <label for="inputBairro" class="form-label">BAIRRO:</label>
        <input type="text" class="form-control" id="inputBairro" name="Bairro" maxlength="25"
               value="{% if form.Bairro.value %}{{ form.Bairro.value }}{% endif %}">
    </div>

    <div class="col-md-2">
        <label for="id_CEP" class="form-label">CEP:</label>
        <input type="text" class="form-control" id="id_CEP" name="CEP" maxlength="9"
               value="{% if form.CEP.value %}{{ form.CEP.value }}{% endif %}">
    </div>

    <div class="col-md-4">
        <label for="id_Cidade" class="form-label">CIDADE:</label>
        <input type="text" class="form-control" id="id_Cidade" name="Cidade" maxlength="30"
               value="{% if form.Cidade.value %}{{ form.Cidade.value }}{% endif %}">
    </div>

    <div class="col-md-2">
        <label for="id_Estado" class="form-label">ESTADO:</label>
        <input type="text" class="form-control" id="id_Estado" name="Estado" maxlength="2"
               value="{% if form.Estado.value %}{{ form.Estado.value }}{% endif %}">
    </div>

    <div class="col-md-3">
        <label for="id_CNPJ" class="form-label">CNPJ ou CPF:</label>
        <input type="text" class="form-control" id="id_CNPJ" name="CNPJ" maxlength="18"
               value="{% if form.CNPJ.value %}{{ form.CNPJ.value }}{% endif %}">
    </div>

    <div class="col-md-3">
        <label for="id_IE" class="form-label">IE ou RG:</label>
        <input type="text" class="form-control" id="id_IE" name="IE" maxlength="15"
               value="{% if form.IE.value %}{{ form.IE.value }}{% endif %}">
    </div>

    <div class="col-md-4">
        <label for="id_Site" class="form-label">SITE:</label>
        <input type="text" class="form-control" id="id_Site" name="Site" maxlength="40"
               value="{% if form.Fantasia.value %}{{ form.Site.value }}{% endif %}">
    </div>
{% endif %}

{% if c_view == 'exclui_cliente' %}
    <div class="col-md-12">
        <h4>Você tem certeza que deseja excluir o registro abaixo?</h4>
        <br>
        <p>NOME FANTASIA: <b>{{ c_queryset.Fantasia }}</b>.</p>
        <p>RAZÃO SOCIAL: <b>{{ c_queryset.Nome }}</b>.</p>
        {% if c_queeyset.CNPJ %}
            <p>CNPJ: {{ c_queryset.CNPJ }}.</p>
        {% endif %}
    </div>
{% endif %}

{% if c_view == 'cria_email_cliente' or c_view == 'edita_email_cliente' %}
    <div class="col-md-6">
        <label for="id_Contato" class="form-label">CONTATO:</label>
        <input type="text" class="form-control" id="id_Contato" name="Contato" maxlength="25" required=""
               value="{% if form.Contato.value %} {{ form.Contato.value }} {% endif %}">
        {% if form.Coontato.errors %}
            <ul class="errorlist">
            {% for error in form.Contato.errors %}
                <li><strong>{{ error|escape }}</strong></li>
            {% endfor %}
            </ul>
        {% endif %}
    </div>

    <div class="col-md-6">
        <label for="id_EMail" class="form-label">E-MAIL:</label>
        <input type="email" class="form-control" id="id_EMail" name="EMail" maxlength="50" required=""
               value="{% if form.EMail.value %} {{ form.EMail.value }} {% endif %}">
        {% if form.EMail.errors %}
            <ul class="errorlist">
            {% for error in form.EMail.errors %}
                <li><strong>{{ error|escape }}</strong></li>
            {% endfor %}
            </ul>
        {% endif %}
    </div>
    <div class="col-md-12">
        <div class="forn-check">
            <label for="id_RecebeFatura" class="form-check-label">RECEBE FATURA:</label>
            <input type="checkbox" class="form-check-input" id="id_RecebeFatura" name="RecebeFatura"
                   {% if form.RecebeFatura.value %} checked="checked" {% endif %}>
        </div>
    </div>
    <input type="hidden" name="idCliente" value="{{ idcliente }}" id="id_idCliente">
{% endif %}

{% if c_view == 'exclui_email_cliente' %}
    <div class="col-md-12">
        <h4>Você tem certeza que deseja excluir o registro abaixo?</h4>
        <br>
        <p>CONTATO: <b>{{ c_queryset.Contato }}</b>.</p>
        <p>E-MAIL: <b>{{ c_queryset.EMail }}</b>.</p>
        <p>CLIENTE: {{ c_queryset.idCliente }}.</p>
    </div>
    <input type="hidden" name="idCliente" value="{{ c_queryset.idCliente_id }}" id="id_idCliente">
{% endif %}

{% if c_view == 'cria_fone_cliente' or c_view == 'edita_fone_cliente' %}
    <div class="col-md-4">
        <label for="id_Contato" class="form-label">CONTATO:</label>
        <input type="text" class="form-control" id="id_Contato" name="Contato" maxlength="25" required=""
               value="{% if form.Contato.value %} {{ form.Contato.value }} {% endif %}">
        {% if form.Contato.errors %}
            <ul class="errorlist">
            {% for error in form.Contato.errors %}
                <li><strong>{{ error|escape }}</strong></li>
            {% endfor %}
            </ul>
        {% endif %}
    </div>

    <div class="col-md-4">
        <label for="id_TipoFone" class="form-label">OPERADORA:</label>
        <select class="form-control" id="id_TipoFone" name="TipoFone" maxlength="15">
            <option value="WHATSAPP">WHATSAPP</option>
            <option value="VIVO">VIVO</option>
            <option value="TIM">TIM</option>
            <option value="OI">OI</option>
            <option value="CLARO">CLARO</option>
            <option value="NEXTEL">NEXTEL</option>
            <option value="FIXO">FIXO</option>
            <option value="RECADO">RECADO</option>
        </select>
    </div>
    <div class="col-md-4">
        <label for="id_Fone" class="form-label">TELEFONE:</label>
        <input type="text" class="form-control" id="id_Fone" name="Fone" maxlength="30" required=""
               value="{% if form.Fone.value %} {{ form.Fone.value }} {% endif %}">
        {% if form.Fone.errors %}
            <ul class="errorlist">
            {% for error in form.Fone.errors %}
                <li><strong>{{ error|escape }}</strong></li>
            {% endfor %}
            </ul>
        {% endif %}
    </div>
    <input type="hidden" name="idCliente" value="{{ idcliente }}" id="id_idCliente">
{% endif %}

{% if c_view == 'exclui_fone_cliente' %}
    <div class="col-md-12">
        <h4>Você tem certeza que deseja excluir o registro abaixo?</h4>
        <br>
        <p>CONTATO: <b>{{ c_queryset.Contato }}</b>.</p>
        <p>OPERADORA: <b>{{ c_queryset.TipoFone }}</b>.</p>
        <p>TELEFONE: <b>{{ c_queryset.Fone }}</b>.</p>
        <p>CLIENTE: {{ c_queryset.idCliente }}.</p>
    </div>
    <input type="hidden" name="idCliente" value="{{ c_queryset.idCliente_id }}" id="id_idCliente">
{% endif %}

{% if c_view == 'cria_cobranca_cliente' or c_view == 'edita_cobranca_cliente' %}
    <div class="col-md-12">
        <label for="id_Nome" class="form-label">RAZÃO SOCIAL:</label>
        <input type="text" class="form-control" id="id_Nome" name="Nome" maxlength="60" required=""
               value="{% if form.Nome.value %}{{ form.Nome.value }}{% endif %}">
        {% if form.Nome.errors %}
            <ul class="errorlist">
            {% for error in form.Nome.errors %}
                <li><strong>{{ error|escape }}</strong></li>
            {% endfor %}
            </ul>
        {% endif %}
    </div>

    <div class="col-md-12">
        <label for="id_Endereco" class="form-label">ENDEREÇO:</label>
        <input type="text" class="form-control" id="id_Endereco" name="Endereco" maxlength="60"
               value="{% if form.Endereco.value %}{{ form.Endereco.value }}{% endif %}">
    </div>

    <div class="col-md-6">
        <label for="inputBairro" class="form-label">BAIRRO:</label>
        <input type="text" class="form-control" id="inputBairro" name="Bairro" maxlength="25"
               value="{% if form.Bairro.value %}{{ form.Bairro.value }}{% endif %}">
    </div>

    <div class="col-md-2">
        <label for="id_CEP" class="form-label">CEP:</label>
        <input type="text" class="form-control" id="id_CEP" name="CEP" maxlength="9"
               value="{% if form.CEP.value %}{{ form.CEP.value }}{% endif %}">
    </div>

    <div class="col-md-4">
        <label for="id_Cidade" class="form-label">CIDADE:</label>
        <input type="text" class="form-control" id="id_Cidade" name="Cidade" maxlength="30"
               value="{% if form.Cidade.value %}{{ form.Cidade.value }}{% endif %}">
    </div>

    <div class="col-md-2">
        <label for="id_Estado" class="form-label">ESTADO:</label>
        <input type="text" class="form-control" id="id_Estado" name="Estado" maxlength="2"
               value="{% if form.Estado.value %}{{ form.Estado.value }}{% endif %}">
    </div>

    <div class="col-md-5">
        <label for="id_CNPJ" class="form-label">CNPJ ou CPF:</label>
        <input type="text" class="form-control" id="id_CNPJ" name="CNPJ" maxlength="18"
               value="{% if form.CNPJ.value %}{{ form.CNPJ.value }}{% endif %}">
    </div>

    <div class="col-md-5">
        <label for="id_IE" class="form-label">IE ou RG:</label>
        <input type="text" class="form-control" id="id_IE" name="IE" maxlength="15"
               value="{% if form.IE.value %}{{ form.IE.value }}{% endif %}">
    </div>
    <input type="hidden" name="idCliente" value="{{ idcliente }}" id="id_idCliente">
{% endif %}

{% if c_view == 'exclui_cobranca_cliente' %}
    <div class="col-md-12">
        <h4>Você tem certeza que deseja excluir o registro abaixo?</h4>
        <br>
        <p>RAZÃO SOCIAL: <b>{{ c_queryset.Nome }}</b>.</p>
        <p>ENDEREÇO : <b>{{ c_queryset.Endereco }}</b>.</p>
        {% if c_queeyset.CNPJ %}
            <p>CNPJ: {{ c_queryset.CNPJ }}.</p>
        {% endif %}
    </div>
    <input type="hidden" name="idCliente" value="{{ c_queryset.idCliente_id }}" id="id_idCliente">
{% endif %}

{% if c_view == 'cria_tabela_cliente' or c_view == 'edita_tabela_cliente' %}
    <div class="col-md-4">
        <label for="id_idFormaPagamento" class="form-label">FORMA DE PAGAMENTO:</label>
        {{ form.idFormaPagamento}}
    </div>

    <div class="col-md-4">
        <label for="id_Comissao}}" class="form-label">PORCENTAGEM DA COMISSÃO:</label>
        {{ form.Comissao }}
    </div>

    <div class="col-md-4">
        <label for="id_TaxaExpedicao" class="form-label">TAXA EXPEDIÇÃO:</label>
        {{ form.TaxaExpedicao }}
    </div>

    <div class="col-md-4">
        <label for="id_AjudanteCobra" class="form-label">AJUDANTE RECEBE:</label>
        {{ form.AjudanteCobra }}
    </div>

    <div class="col-md-4">
        <label for="id_AjudanteCobraHoraExtra" class="form-label">AJUDANTE RECEBE HORA EXTRA:</label>
        {{ form.AjudanteCobraHoraExtra }}
    </div>

    <div class="col-md-4">
        <label for="id_AjudantePaga" class="form-label">AJUDANTE PAGA:</label>
        {{ form.AjudantePaga }}
    </div>

    <input type="hidden" name="idCliente" value="{{ idcliente }}" id="id_idCliente">
{% endif %}

{% if c_view == 'cria_tabela_veiculo' or c_view == 'edita_tabela_veiculo' %}
    <div class="col-md-3">
        <label for="id_PorcentagemCobra" class="form-label">% DA NOTA RECEBE:</label>
        {{ form.PorcentagemCobra}}
    </div>

    <div class="col-md-3">
        <label for="id_PorcentagemPaga}}" class="form-label">% DA NOTA PAGA:</label>
        {{ form.PorcentagemPaga }}
    </div>

    <div class="col-md-3">
        <label for="id_SaidaCobra" class="form-label">SAÍDA RECEBE:</label>
        {{ form.SaidaCobra }}
    </div>

    <div class="col-md-3">
        <label for="id_SaidaPaga" class="form-label">SAÍDA A PAGA:</label>
        {{ form.SaidaPaga }}
    </div>

    <div class="col-md-4">
        <label for="id_HoraRecebe" class="form-label">HORA RECEBE:</label>
        {{ form.HoraCobra }}
    </div>

    <div class="col-md-4">
        <label for="id_HoraPaga" class="form-label">HORA PAGA:</label>
        {{ form.HoraPaga }}
    </div>

    <div class="col-md-4">
        <label for="id_HoraMinimo" class="form-label">MINIMO HORAS:</label>
        {{ form.HoraMinimo }}
    </div>

    <div class="col-md-4">
        <label for="id_idKMCobra" class="form-label">KM RECEBE:</label>
        {{ form.KMCobra }}
    </div>

    <div class="col-md-4">
        <label for="id_KMPaga}}" class="form-label">KM PAGA:</label>
        {{ form.KMPaga }}
    </div>

    <div class="col-md-4">
        <label for="id_KMMinimo" class="form-label">KM MINIMO:</label>
        {{ form.KMMinimo }}
    </div>

    <div class="col-md-4">
        <label for="id_EntregaCobra" class="form-label">ENTREGA RECEBER:</label>
        {{ form.EntregaCobra }}
    </div>

    <div class="col-md-4">
        <label for="id_EntregaPaga" class="form-label">ENTREGA PAGAR:</label>
        {{ form.EntregaPaga }}
    </div>

    <div class="col-md-4">
        <label for="id_EntregaMinimo" class="form-label">ENTREGA MINIMO:</label>
        {{ form.EntregaMinimo}}
    </div>

    <div class="col-md-3">
        <label for="id_Comissao}}" class="form-label">ENTREGA KG RECEBE:</label>
        {{ form.EntregaKGCobra }}
    </div>

    <div class="col-md-3">
        <label for="id_TaxaExpedicao" class="form-label">ENTREGA KG PAGA:</label>
        {{ form.EntregaKGPaga }}
    </div>

    <div class="col-md-3">
        <label for="id_AjudanteCobra" class="form-label">ENTREGA VOL. RECEBE:</label>
        {{ form.EntregaVolumeCobra }}
    </div>

    <div class="col-md-3">
        <label for="id_AjudantePaga" class="form-label">ENTREGA VOL. PAGA:</label>
        {{ form.EntregaVolumePaga }}
    </div>

    <input type="hidden" name="idCliente" value="{{ idcliente }}" id="id_idCliente">
    <input type="hidden" name="idCategoriaVeiculo" value="{{ idcategoriaveiculo }}" id="id_idCategoriaVeiculo">
{% endif %}

{% if c_view == 'cria_tabela_capacidade' or c_view == 'edita_tabela_capacidade' %}
    <div class="col-md-3">
        <label for="id_CapacidadeInicial" class="form-label">KG INICIAL:</label>
        {{ form.CapacidadeInicial}}
    </div>

    <div class="col-md-3">
        <label for="id_CapacidadeFinal}}" class="form-label">KG FINAL:</label>
        {{ form.CapacidadeFinal }}
    </div>

    <div class="col-md-3">
        <label for="id_CapacidadeCobra" class="form-label">CAPACIDADE RECEBE:</label>
        {{ form.CapacidadeCobra }}
    </div>

    <div class="col-md-3">
        <label for="id_CapacidadePaga" class="form-label">CAPACIDADE PAGA:</label>
        {{ form.CapacidadePaga }}
    </div>

    <input type="hidden" name="idCliente" value="{{ idcliente }}" id="id_idCliente">
    <input type="hidden" name="idCategoriaVeiculo" value="{{ idcategoriaveiculo }}" id="id_idCategoriaVeiculo">
{% endif %}

{% if c_view == 'exclui_tabela_capacidade' %}
    <div class="col-md-12">
        <h4>Você tem certeza que deseja excluir o registro abaixo?</h4>
        <br>
        <p>CAPACIDADE DE <b>{{ c_queryset.CapacidadeInicial }} KGs</b> ATÉ <b>{{ c_queryset.CapacidadeFinal }} KGs</b>.</p>
        <p>CAPACIDADE RECEBE : <b>R$ {{ c_queryset.CapacidadeCobra }}</b>.</p>
        <p>CAPACIDADE PAGA : <b>R$ {{ c_queryset.CapacidadePaga }}</b>.</p>
    </div>
    <input type="hidden" name="idCliente" value="{{ c_queryset.idCliente_id }}" id="id_idCliente">
{% endif %}

{% if c_view == 'cria_tabela_perimetro' or c_view == 'edita_tabela_perimetro' %}
    <div class="col-md-3">
        <label for="id_PerimetroInicial" class="form-label">PERIMETRO INICIAL:</label>
        {{ form.PerimetroInicial}}
    </div>

    <div class="col-md-3">
        <label for="id_PerimetroFinal}}" class="form-label">PERIMETRO FINAL:</label>
        {{ form.PerimetroFinal }}
    </div>

    <div class="col-md-3">
        <label for="id_CapacidadeCobra" class="form-label">PERIMETRO RECEBE:</label>
        {{ form.PerimetroCobra }}
    </div>

    <div class="col-md-3">
        <label for="id_CapacidadePaga" class="form-label">PERIMETRO PAGA:</label>
        {{ form.PerimetroPaga }}
    </div>

    <input type="hidden" name="idCliente" value="{{ idcliente }}" id="id_idCliente">
    <input type="hidden" name="idCategoriaVeiculo" value="{{ idcategoriaveiculo }}" id="id_idCategoriaVeiculo">
{% endif %}

{% if c_view == 'exclui_tabela_perimetro' %}
    <div class="col-md-12">
        <h4>Você tem certeza que deseja excluir o registro abaixo?</h4>
        <br>
        <p>PERÍMETRO DE <b>{{ c_queryset.PerimetroInicial }} KMs</b> ATÉ <b>{{ c_queryset.PerimetroFinal }} KMs</b>.</p>
        <p>PERÍMETRO RECEBE : <b>R$ {{ c_queryset.PerimetroCobra }}</b>.</p>
        <p>PERÍMETROv PAGA : <b>R$ {{ c_queryset.PerimetroPaga }}</b>.</p>
    </div>
    <input type="hidden" name="idCliente" value="{{ c_queryset.idCliente_id }}" id="id_idCliente">
{% endif %}

</form>
