{% extends 'clientes/baseclientes.html' %}

{% block maincliente %}
    <div class="cliente-conteudo">
        <header>
            <h3>CLIENTES</h3>
        </header>
        <div class="nav_filtro">
            <div>
                <div class="filtro">
                    <form>
                        <input type="text" class="filtrotexto" placeholder="FILTRAR FANTASIA..." name="filtrofantasia"/>
                        <button type="submit" class="btn btn-info glyphicon glyphicon-search"></button>
                    </form>
                </div>
                <div class="filtro filtroadicional">
                    <form>
                        <input type="text" class="filtrotexto" placeholder="FILTRAR NOME..." name="filtronome"/>
                        <button type="submit" class="btn btn-info glyphicon glyphicon-search"></button>
                    </form>
                </div>
            </div>
            <div class="add_registro">
                <button type="button" class="btn btn-success glyphicon glyphicon-plus"
                        onclick="openMyModal(event); return false;" data-title="CADASTRO DE CLIENTE"
                        data-action="{% url 'criacliente' %}" data-button-save-label="SALVAR"></button>
            </div>
        </div>
        <div class="tabela-base">
            <table class="tabela">
                <thead>
                    <tr class="tabelatitulo">
                        <th class="primeiracoluna">FANTASIA</th>
                        <th>RAZÃO SOCIAL</th>
                        <th>CNPJ</th>
                        <th>STATUS</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for itens in cliente %}
                        <tr class="tabelalinha">
                            <td class="primeiracoluna"> {{ itens.Fantasia }}</td>
                            <td>{{ itens.Nome }}</td>
                            <td>{{ itens.CNPJ }}</td>
                            <td class="status_cliente"><b>ATIVO</b></td>
                            <td class="seleciona_registo">
                                <button class="btn btn-primary btn-xs glyphicon glyphicon-folder-open"
                                        onclick="window.location.href = '{% url 'consultacliente' itens.idCliente %}'">
                                </button>
                            </td>
                            <td class="seleciona_registo">
                                <a class="icofont-printer" target="_blank"
                                   href="{% url 'imprime_ficha_cadastral' %}?idcliente={{ itens.idCliente }}"></a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <footer>
            {% for itens in cliente %}
                {% if forloop.last %}
                    <h5> {{ forloop.counter }} Registros de clientes listados.</h5>
                {% endif %}
            {% endfor %}
        </footer>
    </div>
    <!-- DIV MODAL -->
    <div class="modal fade bd-example-modal-lg" id="MyModal" tabindex="-1">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title"><b>CADASTRO DE CLIENTE</b></h4>
                </div>
                <div class="modal-body">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">FECHAR</button>
                    <button type="submit" class="btn btn-success btn-save">CRIAR</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
