<!doctype html>
{% load static %}
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<body style="margin: 0; padding: 0;">
	<table align="left" border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse: collapse;">
 		<tr>
			<td align="center" bgcolor="#083c5d" style="padding: 5px 5px 5px 5px;">
 				<img src="https://i.ibb.co/w6GCh4S/ml-transportadora.jpg" alt="TRANSEFETIVA transportes" width="150"
                     height="90" style="display: block; border: none">
                <h3 style="color: #ffffff; margin: 5px;">TRANSEFETIVA Transportes</h3>
			</td>
 		</tr>
        <tr>
            <td>
                <h3 style="color: #083c5d; margin: 5px;">Prezado Sr(a)</h3>
            </td>
        </tr>
        <tr>
            <td align="justify"style="padding: 10px 5px;">
                <h3 style="margin: 0; color: #083c5d;">Segue em anexo Fatura nº {{ numero_fatura }}, referente a
                    serviço de transporte.</h3>
            </td>
        </tr>
        {% if texto %}
        <tr>
            <td>
                <p style="color: #083c5d; margin: 5px; text-align: justify;">{{ texto }}</p>
            </td>
        </tr>
        {% endif %}
        <tr>
            <td>
                <h3 style="color: #083c5d; margin: 5px;">Qualquer dúvida, estou à disposição:</h3>
                <h3 style="color: #083c5d; margin: 5px;">Mauricio Salgado</h3>
                <h5 style="color: #083c5d; margin: 5px;">Telefones: 2305-0582</h5>
                <h5 style="color: #083c5d; margin: 5px;">Whatsapp: 94167-0583 - 97449-1101</h5>
            </td>
        </tr>
    </table>
</body>
</html>