{% extends 'faturamentos/basefaturamentos.html' %}
{% load static %}

{% block mainfaturamento %}
<main>
    <div class="save-mensagem" hidden="true">
        <text class="text-mensagem">{{ text_mensagem }}</text>
        <text class="type-mensagem">{{ type_mensagem }}</text>
    </div>
    <article class="article-card">
        <div class="article-card-titulo">
            <span>UPLOAD ARQUIVOS</span>
        </div>
        <div class="article-card-body">
            {% include 'faturamentos/fatura_file.html' %}
        </div>
        <div class="article-card-footer">
            <i class="bi bi-trash-square i-button"></i>            
        </div>
    </article>
</main>
{% endblock %}
