{% extends 'faturamentos/basefaturamentos.html' %}

{% block mainfaturamento %}
<main>
    {% if fatura %}
    <div class="faturas">
        <header>
            <h2>FECHADAS - AGUARDANDO FATURAMENTO</h2>
        </header>
        <main>
            {% for itens in fatura %}
            <div class="card-faturar card-base1">
                <header>
                    <span><b>{{ itens.Fantasia }}</b></span>
                </header>
                <span>VALOR <b>R$ {{ itens.Valor }}</b></span>
                <span>TOTAL DE MINUTAS <b>{{ itens.Quantidade }}</b></span>
                <footer>
                    <button class="btn btn-primary btn-xs glyphicon glyphicon-folder-open"
                            onclick="window.location.href = '{% url 'minutasfaturarcliente' itens.idCliente %}'">
                    </button>
                </footer>
            </div>
            {% endfor %}
        </main>
        <footer class="rodape">
            {% for itens in fatura %}
                {% if forloop.last %}
                    {% if forloop.counter == 1 %}
                        <h5> {{ forloop.counter }} CLIENTE AGUARDANDO FATURAMENTO</h5>
                    {% else %}
                        <h5> {{ forloop.counter }} CLIENTES AGUARDANDO FATURAMENTO</h5>
                    {% endif %}
                {% endif %}
            {% endfor %}
            <h5>TOTAL A FATURAR R$ {{ total_fatura.ValorTotal }}</h5>
        </footer>
    </div>
    {% endif %}
    {% if faturada %}
    <div class="faturas">
        <header>
            <h2>FATURADAS - AGUARDANDO PAGAMENTO</h2>
        </header>
        <main>
            {% for itens in faturada %}
            <div class="card-faturada">
                <header>
                    <span><b>{{ itens.minuta__idCliente__Fantasia }}</b></span>
                    <span><b>FATURA {{ itens.Fatura }}</b></span>
                </header>
                <span>VENCIMENTO <b>{{ itens.VencimentoFatura }}</b></span>
                <span>VALOR <b>R$ {{ itens.ValorFatura }}</b></span>
                <span>TOTAL DE MINUTAS <b>{{ itens.TotalMinutas }}</b></span>
                <footer>
                    {% if itens.StatusMinuta != 'ABERTA' %}
                    <button class="btn btn-danger btn-xs glyphicon glyphicon-backward"
                            onclick="window.location.href = '{% url 'estornafatura' itens.idFatura %}'">
                    </button>
                    {% endif %}
                    <a class="btn btn-warning btn-xs glyphicon glyphicon-print" href =
                            "{% url 'imprimefatura' itens.idFatura %}" target="_blank">
                    </a>
                    <button class="btn btn-success btn-xs js-pagafatura glyphicon glyphicon-usd"
                            idfatura="{{ itens.Fatura }}" data-url="{% url 'pagafatura' itens.Fatura %}">
                    </button>
                    <button class="btn btn-primary btn-xs glyphicon glyphicon-envelope"
                            onclick="window.location.href = '{% url 'emailfatura' itens.idFatura %}'">
                    </button>
                </footer>
            </div>
            {% endfor %}
        </main>
        <footer class="rodape">
            {% for itens in faturada %}
                {% if forloop.last %}
                    {% if forloop.counter == 1 %}
                        <h5> {{ forloop.counter }} FATURA AGUARDANDO PAGAMENTO</h5>
                    {% else %}
                        <h5> {{ forloop.counter }} FATURAS AGUARDANDO PAGAMENTO</h5>
                    {% endif %}
                {% endif %}
            {% endfor %}
            <h5>TOTAL A RECEBER R$ {{ total_faturada.ValorTotal }}</h5>
        </footer>
    </div>
    {% endif %}
    {% if paga %}
    <div class="faturas">
        <header>
            <h2> FATURAS PAGAS</h2>
        </header>
        <div class="nav_filtro">
            <div>
                <div class="filtro">
                    <form>
                        <input type="text" class="filtrotexto" placeholder="FILTRAR FANTASIA..." name="filtrofantasia"/>
                        <button type="" class="btn btn-info glyphicon glyphicon-search"></button>
                    </form>
                </div>
            </div>
            <div class="add_registro">
            </div>
        </div>
        <div class="tabela-base">
            <table class="tabela">
                <thead>
                    <tr class="tabelatitulo">
                        <th class="centro">CLIENTE</th>
                        <th class="centro">FATURA Nº</th>
                        <th class="centro">PAGAMENTO</th>
                        <th class="centro">VALOR PAGO</th>
                        <th class="centro">MINUTAS</th>
                        <th class="centro">&nbsp</th>
                    </tr>
                </thead>
                <tbody>
                    {% for pagas in paga %}
                    <tr class="tabelalinha">
                        <td class="esquerda">{{ pagas.Fantasia }}</td>
                        <td class="centro">{{ pagas.minuta__idFatura__Fatura }}</td>
                        <td class="centro">{{ pagas.minuta__idFatura__DataPagamento }}</td>
                        <td class="direita">R$ {{ pagas.minuta__idFatura__ValorPagamento }}</td>
                        <td class="centro">{{ pagas.minutas }}</td>
                        <td class="direita">
                            <button class="btn btn-danger btn-xs glyphicon glyphicon-backward"
                                    onclick="window.location.href = '{% url 'estornafatura' pagas.minuta__idFatura__idFatura %}'">
                            </button>
                            <a class="btn btn-warning btn-xs glyphicon glyphicon-print" href =
                                    "{% url 'imprimefatura' pagas.minuta__idFatura__idFatura %}" target="_blank">
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {%  endif %}
    <!-- DIV MODAL -->
    <div class="modal fade" id="modal-formulario" >
        <div class="modal-dialog">
            <div class="modal-content">

            </div>
        </div>
    </div>
</main>
{% endblock %}
