{% extends 'faturamentos/basefaturamentos.html' %}

{% block mainfaturamento %}
<main>
    {% if fatura %}
    <div class="faturas">
        <header>
            <h2>FECHADAS - AGUARDANDO FATURAMENTO</h2>
        </header>
        <main>
            {% for itens in fatura %}
            <div class="card-faturar">
                <header>
                    <span><b>{{ itens.Fantasia }}</b></span>
                </header>
                <span>VALOR <b>R$ {{ itens.Valor }}</b></span>
                <span>TOTAL DE MINUTAS <b>{{ itens.Quantidade }}</b></span>
                <footer>
                    <button class="btn btn-primary btn-xs"
                            onclick="window.location.href = '{% url 'minutasfaturarcliente' itens.idCliente %}'">
                        <span class="glyphicon glyphicon-folder-open"></span>
                    </button>
                </footer>
            </div>
            {% endfor %}
        </main>
        <footer class="rodape">
            {% for itens in fatura %}
                {% if forloop.last %}
                    {% if forloop.counter == 1 %}
                        <h5> {{ forloop.counter }} REGISTRO DE MINUTAS AGUARDANDO FATURAMENTO.</h5>
                    {% else %}
                        <h5> {{ forloop.counter }} REGISTROS DE MINUTAS AGUARDANDO FATURAMENTO.</h5>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </footer>
    </div>
    {% endif %}
    {% if faturada %}
    <div class="faturas">
        <header>
            <h2>FATURADAS - AGUARDANDO PAGAMENTO</h2>
        </header>
        <main>
            {% for itens in faturada %}
            <div class="card-faturada">
                <header>
                    <span><b>{{ itens.minuta__idCliente__Fantasia }}</b></span>
                    <span><b>FATURA {{ itens.Fatura }}</b></span>
                </header>
                <span>VENCIMENTO <b>{{ itens.VencimentoFatura }}</b></span>
                <span>VALOR <b>R$ {{ itens.ValorFatura }}</b></span>
                <span>TOTAL DE MINUTAS <b>{{ itens.TotalMinutas }}</b></span>
                <footer>
                    {% if itens.StatusMinuta != 'ABERTA' %}
                    <button class="btn btn-danger btn-xs"
                            onclick="window.location.href = '{% url 'estornafatura' itens.idFatura %}'">
                        <span class="glyphicon glyphicon-backward"></span>
                    </button>
                    {% endif %}
                    <button class="btn btn-warning btn-xs" onclick="window.location.href = ''">
                        <span class="glyphicon glyphicon-file"></span>
                    </button>
                    <button class="btn btn-primary btn-xs" onclick="window.location.href = ''">
                        <span class="glyphicon glyphicon-folder-open"></span>
                    </button>
                </footer>
            </div>
            {% endfor %}
        </main>
        <footer class="rodape">
            {% for itens in faturada %}
                {% if forloop.last %}
                    {% if forloop.counter == 1 %}
                        <h5> {{ forloop.counter }} REGISTRO DE MINUTAS AGUARDANDO PAGAMENTO.</h5>
                    {% else %}
                        <h5> {{ forloop.counter }} REGISTROS DE MINUTAS AGUARDANDO PAGAMENTO.</h5>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </footer>
    </div>
    {%  endif %}
</main>
{% endblock %}
