{% extends 'faturamentos/basefaturamentos.html' %}
{% load static %}
{% load humanize %}
{% block mainfaturamento %}
<main>
    {% if fatura %}
    <article class="article-card card-fechada">
        <div class="article-card-titulo">
            <span>FECHADAS</span>
        </div>
        <div class="article-card-body">
            {% for itens in fatura %}
            <div class="fechada-body">
                <div class="itens-cliente">
                    <span><b>{{ itens.Fantasia }}</b></span>
                </div>
                <div class="itens-fechada">
                    <span class="if-minutas"><b>{{ itens.Quantidade|stringformat:"03d" }}</b><i> MINUTA{{ itens.Quantidade|stringformat:"03d"|pluralize|upper }}</i></span>
                    <span class="if-valor"><b>R$ {{ itens.Valor|intcomma }}</b></span>
                    <a class="if-button bi bi-folder2-open i-button" href="{% url 'minutasfaturarcliente' itens.idCliente %}"> </a>
                </div>
            </div>
            <div class="linha-divisoria"></div>
            {% endfor %}
        </div>
        <div class="article-card-footer">
            <div>
                {% for itens in fatura %}
                {% if forloop.last %}
                <span> {{ forloop.counter }} CLIENTE{{ forloop.counter|pluralize|upper }}</span>
                {% endif %}
                {% endfor %}
            </div>
            <div>
                <span>TOTAL R$ {{ total_fatura.ValorTotal|intcomma }}</span>
            </div>
        </div>
    {% endif %}
    </article>
    {% if faturada %}
    <div class="faturas">
        <header>
            <h2>FATURADAS - AGUARDANDO PAGAMENTO</h2>
        </header>
        <main>
            {% for itens in faturada %}
            <div class="card-faturada">
                <header>
                    <span><b>{{ itens.minuta__idCliente__Fantasia }}</b></span>
                    <span><b>FATURA {{ itens.Fatura }}</b></span>
                </header>
                <span>VENCIMENTO <b>{{ itens.VencimentoFatura }}</b></span>
                <span>VALOR <b>R$ {{ itens.ValorFatura }}</b></span>
                <span>TOTAL DE MINUTAS <b>{{ itens.TotalMinutas }}</b></span>
                <footer>
                    {% if itens.StatusMinuta != 'ABERTA' %}
                    <a class="btn btn-danger btn-xs glyphicon glyphicon-backward"
                       href="{% url 'estornafatura' itens.idFatura %}">
                    </a>
                    {% endif %}
                    <a class="bi bi-cloud-arrow-up i-button js-fatura"
                       href="{% url 'fatura' itens.idFatura %}">
                    </a>
                </footer>
            </div>
            {% endfor %}
        </main>
        <footer class="rodape">
            {% for itens in faturada %}
                {% if forloop.last %}
                    {% if forloop.counter == 1 %}
                        <h5> {{ forloop.counter }} FATURA AGUARDANDO PAGAMENTO</h5>
                    {% else %}
                        <h5> {{ forloop.counter }} FATURAS AGUARDANDO PAGAMENTO</h5>
                    {% endif %}
                {% endif %}
            {% endfor %}
            <h5>TOTAL A RECEBER R$ {{ total_faturada.ValorTotal }}</h5>
        </footer>
    </div>
    {% endif %}
    {% if paga %}
    <div class="faturas">
        <header>
            <h2> FATURAS PAGAS</h2>
        </header>
        <div class="tabela-base">
            <table class="tabela">
                <thead>
                    <tr class="tabelatitulo">
                        <th class="centro">CLIENTE</th>
                        <th class="centro">FATURA Nº</th>
                        <th class="centro">PAGAMENTO</th>
                        <th class="centro">VALOR PAGO</th>
                        <th class="centro">MINUTAS</th>
                        <th class="centro">&nbsp</th>
                    </tr>
                </thead>
                <tbody>
                    {% for pagas in paga %}
                    <tr class="tabelalinha">
                        <td class="esquerda">{{ pagas.Fantasia }}</td>
                        <td class="centro">{{ pagas.minuta__idFatura__Fatura }}</td>
                        <td class="centro">{{ pagas.minuta__idFatura__DataPagamento }}</td>
                        <td class="direita">R$ {{ pagas.minuta__idFatura__ValorPagamento }}</td>
                        <td class="centro">{{ pagas.minutas }}</td>
                        <td class="direita">
                            <a class="btn btn-danger btn-xs glyphicon glyphicon-backward"
                               href="{% url 'estornafatura' pagas.minuta__idFatura__idFatura %}">
                            </a>
                            <!-- <a class="btn btn-warning btn-xs glyphicon glyphicon-print" href =
                                    "{% url 'imprimefatura' pagas.minuta__idFatura__idFatura %}" target="_blank">
                            </a> -->
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {%  endif %}
    <!-- DIV MODAL -->
    <div class="modal fade" id="modal-formulario" >
        <div class="modal-dialog">
            <div class="modal-content">

            </div>
        </div>
    </div>
</main>
{% endblock %}
