{% extends 'faturamentos/basefaturamentos.html' %}

{% block mainfaturamento %}
    <header>
        <div class="container">
            <form method="post" action="{% url 'criafatura' %}">
                {% csrf_token %}
                <input type="hidden" value="{{ idFatura }}">
                <div class="input-cria-fatura">
                    <input class="numero-fatura input-fatura"type="text" name="numero-fatura" readonly="readonly"
                           value="Fatura Nº {{ ultima_fatura.UltimaFatura }}">
                    <input class="valor-fatura input-fatura" type="text" name="valor-fatura" readonly="readonly"">
                </div>
                <div class="input-cria-fatura-vencimento">
                    <span class="vencimento-label">VENCIMENTO</span>
                    <input class="vencimento-fatura input-fatura" name="vencimento-fatura" type="date"
                           value="{{ dia_vencimento }}">
                </div>
                <div class="botao-cria-fatura">
                    <button type="submit" class="btn btn-success glyphicon glyphicon-usd"></button>
                </div>
            </form>
        </div>
    </header>

    <main>
        <div class="container">
            <p id="cod-10004" hidden="true">&#10004</p>
            <p id="cod-10008" hidden="true">&#10008</p>
            <div class="seleciona-minuta">
                <p class="titulo-seleciona-minuta"><b>MINUTAS SELECIONADAS PARA FATURAR</b></p>
                {% for itens in minutas_faturar %}
                <table class="tb-select-minuta">
                    <tr>
                        <td class="tb-select-minuta-col1 checked" id="col1-{{ itens.Minuta }}">
                            <p id="atual-{{ itens.Minuta }}" class="tag-select" valor="{{ itens.Valor }}">&#10004<p>
                        </td>
                        <td class="tb-select-minuta-col2" id="col2-{{ itens.Minuta }}">
                            <p><b>MINUTA {{ itens.Minuta }}</b></p>
                            <p><b>{{ itens.DataMinuta }}</b></p>
                            <p><b>R$ {{ itens.Valor }}</b></p>
                        </td>
                    </tr>
                </table>
                {% endfor %}
            </div>
            <div class="minutas-selecionadas">
                <!-- html gerado automaticamente pela função criadivselecionada -->
            </div>
        </div>
    </main>
{% endblock %}
