{% extends 'base.html' %}
{% load static %}

{% block title %}
    Módulo Pessoas
{% endblock %}

{% block main %}
    <div class="conteudo-base">
        {% block mainpessoal %}
        {% endblock %}
    </div>
{% endblock %}

{% block script %}
    {% comment %} <script>
        $(document).on('submit', '#form-cria-contracheque', function(event) {
            event.preventDefault();
            var url = $(this).attr('action') || action;
            console.log(url)
            console.log($(this).serialize())
            $.ajax({
                type: $(this).attr('method'),
                url: url,
                data: $(this).serialize(),
                beforeSend: function(){
                    $(".contracheque-coluna2").html("");
                },
                success: function(data){
                    $(".contracheque-coluna2").html(data.html_contracheque);
                }
            });
        });



        $(document).ready(function(){
            $(".contracheque-coluna2").html("");

            $("#botaook").show();
            $("#botaotabelaveiculo").hide();
            $("#tabelaveiculo").hide();

            var loadForm = function(){
                var obj = $(this);
                var idpessoal = $(this).attr("idpessoal");
                var iddocpessoal = $(this).attr("iddocpessoal");
                var idfonepessoal = $(this).attr("idfonepessoal");
                var idcontapessoal = $(this).attr("idcontapessoal");

                $.ajax({
                    url: obj.attr("data-url"),
                    type: 'get',
                    dataType: 'json',
                    data: {
                        idpessoal: idpessoal
                    },
                    beforeSend: function(){
                        $("#modal-formulario .modal-content").html("");
                        $("#modal-formulario").modal("show");
                    },
                    success: function(data){
                        $("#modal-formulario .modal-content").html(data.html_form);
                        $(".js-edita-pessoa-form").attr('action', "{% url 'editapessoa' 0 %}".replace(/0/, idpessoal));
                        $(".js-exclui-pessoa-form").attr('action', "{% url 'excluipessoa' 0 %}".replace(/0/, idpessoal));
                        $(".js-exclui-docpessoa-form").attr('action', "{% url 'excluidocpessoa' 0 %}".replace(/0/,iddocpessoal));
                        $(".js-exclui-fonepessoa-form").attr('action', "{% url 'excluifonepessoa' 0 %}".replace(/0/, idfonepessoal));
                        $(".js-exclui-contapessoa-form").attr('action', "{% url 'excluicontapessoa' 0 %}".replace(/0/, idcontapessoal));
                    }
                });
            };

            $(".js-criapessoa").click(loadForm);
            $(".js-editapessoa").click(loadForm);
            $(".js-excluipessoa").click(loadForm);
            $(".js-criadocpessoa").click(loadForm);
            $(".js-excluidocpessoa").click(loadForm);
            $(".js-criafonepessoa").click(loadForm);
            $(".js-excluifonepessoa").click(loadForm);
            $(".js-criacontapessoa").click(loadForm);
            $(".js-excluicontapessoa").click(loadForm);
            

            var select_contracheque = function(){
                var mes = $(this).attr("mes");
                var ano = $(this).attr("ano");
                var idpessoal = $(this).attr("idpessoal")
                
                $.ajax({
                    url: '/pessoas/selecionacontracheque',
                    type: 'get',
                    dataType: 'json',
                    data: {
                        idpessoal: idpessoal,
                        mes: mes,
                        ano: ano
                    },
                    beforeSend: function(){
                        $(".contracheque-coluna2").html("");
                    },
                    success: function(data){
                        $(".contracheque-coluna2").html(data.html_contracheque);
                    }
                });
            };

            $(".select_contracheque").click(select_contracheque);


            

        });

        function initModalDialog(event, modal_element) {
            var modal = $(modal_element);
            var target = $(event.target);

            var title = target.data('title') || '';
            var subtitle = target.data('subtitle') || '';
            // either "modal-lg" or "modal-sm" or nothing
            var dialog_class = (target.data('dialog-class') || '') + ' modal-dialog';
            var icon_class = (target.data('icon') || 'fa-laptop') + ' fa modal-icon';
            var button_save_label = target.data('button-save-label') || 'Save changes';

            modal.find('.modal-dialog').attr('class', dialog_class);
            modal.find('.modal-title').text(title);
            modal.find('.modal-subtitle').text(subtitle);
            modal.find('.modal-header .title-wrapper i').attr('class', icon_class);
            modal.find('.modal-footer .btn-save').text(button_save_label);
            modal.find('.modal-body').html('');

            // Annotate with target (just in case)
            modal.data('target', target);

            return modal;
        }

        function openMyModal(event) {
            var modal = initModalDialog(event, '#MyModal');
            var url = $(event.target).data('action');
            var idobj = $(event.target).data('idobj');
            var idpessoa = $(event.target).data('idpessoa');
            
            $.ajax({
                type: "GET",
                url: url,
                data : {
                    idobj: idobj,
                    idpessoa: idpessoa,
                }
            }).done(function(data, textStatus, jqXHR) {
                modal.find('.modal-body').html(data.html_form);
                modal.modal('show');
                formAjaxSubmit(modal, url, null, null);
            }).fail(function(jqXHR, textStatus, errorThrown) {
                alert("SERVER ERROR: " + errorThrown);
            });
        }

        function formAjaxSubmit(modal, action, cbAfterLoad, cbAfterSuccess) {
            console.log('OK Aqui')
            var form = modal.find('.modal-body form');
            var header = $(modal).find('.modal-header');

            // use footer save button, if available
            var btn_save = modal.find('.modal-footer .btn-save');
            if (btn_save) {
                modal.find('.modal-body form .form-submit-row').hide();
                btn_save.off().on('click', function(event) {
                    modal.find('.modal-body form').submit();
                });
            }
            if (cbAfterLoad) { cbAfterLoad(modal); }

            // Give focus to first visible form field
            modal.find('form input:visible').first().focus();

            // bind to the form’s submit event
            $(form).on('submit', function(event) {

                // prevent the form from performing its default submit action
                event.preventDefault();
                header.addClass('loading');

                var url = $(this).attr('action') || action;
                console.log($(this).serialize())

                // serialize the form’s content and send via an AJAX call
                // using the form’s defined action and method
                $.ajax({
                    type: $(this).attr('method'),
                    url: url,
                    idobj: $(this).attr('idobj'),
                    idpessoa: $(this).attr('idpessoa'),
                    data: $(this).serialize(),
                    success: function(xhr, ajaxOptions, thrownError) {
                        // If the server sends back a successful response,
                        // we need to further check the HTML received

                        // update the modal body with the new form
                        $(modal).find('.modal-body').html(xhr['html_form']);

                        // If xhr contains any field errors,
                        // the form did not validate successfully,
                        // so we keep it open for further editing
                        if ($(xhr['html_form']).find('.errorlist').length > 0) {
                            formAjaxSubmit(modal, url, cbAfterLoad, cbAfterSuccess);
                        } else {
                            // otherwise, we've done and can close the modal
                            $(modal).modal('hide');
                            if (xhr['c_view'] == 'exclui_pessoa') {
                                window.location.href = '/pessoas/'
                            } else {
                                window.location.href = "/pessoas/consultapessoa/" + xhr['save_id']
                            } 
                            
                            if (cbAfterSuccess) { cbAfterSuccess(modal); }
                        }
                    },
                    error: function(xhr, ajaxOptions, thrownError) {
                        console.log('SERVER ERROR: ' + thrownError);
                    },
                    complete: function() {
                        header.removeClass('loading');
                    }
                });

            });

        }

        
        
    </script> {% endcomment %}
    <script type="text/javascript" src="{% static 'website/js/pessoas.js' %}">
    </script>
{% endblock %}