{% load humanize %}
<!-- Header -->
<div class="card-header">
	<span>
		CONTRA CHEQUE: {{ contra_cheque.Descricao }}
	</span>
	<input type="hidden" data-idcontracheque="{{ contra_cheque.idContraCheque }}" id="idcontracheque"></>
</div>
<!-- Body -->
<div class="card-body">
	{% for itens in contra_cheque_itens  %}
	<div class="card-body-item">
		<div class="input-group">
			<i class="icofont-list
			input-group-addon
			addon-my-color
			i-button-null"></i>
			<div class="div-flex div-form-control">
				<div class="tamanho-50 text-left">
					<span>
						{{ itens.Descricao }}
					</span>
				</div>
				<div class="tamanho-10 text-center">
					<span>
						{{ itens.Referencia }}
					</span>
				</div>
				<div class="tamanho-20 text-right">
					{% if itens.Registro == 'D' %}
					<span>
						----------
					</span>
					{% else %}
					<span>
						R$ {{ itens.Valor|intcomma }}
					</span>
					{% endif %}
				</div>
				<div class="tamanho-20 text-right">
					{% if itens.Registro == 'D' %}
					<span>
						R$ {{ itens.Valor|intcomma }}
					</span>
					{% else %}
					<span>
						----------
					</span>
				{% endif %}
				</div>
			</div>
			<div class="input-group-addon
			addon-my-color">
				{% if itens.Vales_id == 0 %}
				<i class="icofont-check i-button-null"></i>
				{% else %}
				<i class="icofont-trash
				i-button
				js-pessoas-exclui-contra-cheque-item"
   	   			   data-idcontracheque="{{ itens.idContraCheque_id }}"
	   			   data-idcontrachequeitens="{{ itens.idContraChequeItens }}"></i>
				{% endif %}
			</div>
		</div>
	</div>
	{% endfor %}
</div>
<!-- Footer -->
<div class="card-footer">
	<div class="input-group">
		<i class="icofont-rounded-left-down input-group-addon
		addon-my-color"></i>
		<div class="div-flex div-form-control">
			<div class="tamanho-30 text-left">
				<span>Total R$ {{ saldo_contra_cheque|intcomma }}</span>
			</div>
			<div class="tamanho-30 text-center">
				{% if saldo_contra_cheque > 0 %}
				<a class="icofont-printer i-button"
				target="_blank"
				href="{% url 'imprime_contra_cheque' %}?idcontracheque={{ contra_cheque.idContraCheque }}&idpessoal={{ colaborador.idpes }}&tipo={{ tipo }}"></a>
				<i class="icofont-bill-alt
				i-button"
	   			   title="Informa Pagamento"></i>
				{% endif %}
			</div>
			<div class="tamanho-20 text-right">
				<span>R$ {{ credito|intcomma }}</span>
			</div>
			<div class="tamanho-20 text-right">
				{% if debito > 0 %}
				<span>R$ {{ debito|intcomma }}</span>
				{% else %}
				<span>R$ 0,00</span>
				{% endif %}
			</div>
		</div>
		<i class="icofont-rounded-right-down input-group-addon
		addon-my-color"></i>
	</div>
</div>
