{% load humanize %}
<!-- Header -->
<div class="card-header">
    <div class="input-group">
        <div class="input-group-addon addon-my-color">
            <i class="icofont-rounded-left-up"></i>
        </div>
        <div class="div-form-control">
			<span>CONTRA CHEQUE: {{ contra_cheque.Descricao }}</span>
			<input type="hidden" data-idcontracheque="{{ contra_cheque.idContraCheque }}" id="idcontracheque"></>
        </div>
        <div class="input-group-addon addon-my-color">
			<i class="icofont-rounded-right-up"></i>
        </div>
    </div>
</div>
<!-- Body -->
<div class="card-body">
	{% for itens in contra_cheque_itens  %}
	<div class="card-body-item">
		<div class="input-group">
			<div class="input-group-addon addon-my-color">
			    <i class="i-button-null">{{ forloop.counter|stringformat:"02d" }}</i>
			</div>
			<div class="div-form-control div-flex">
				<div class="tamanho-50 text-left">
					<span>{{ itens.Descricao }}</span>
				</div>
				<div class="tamanho-10 text-center">
					<span>{{ itens.Referencia }}</span>
				</div>
				<div class="tamanho-20 text-right">
					{% if itens.Registro == 'D' %}
					<span>----------</span>
					{% else %}
					<span>R$ {{ itens.Valor|intcomma }}</span>
					{% endif %}
				</div>
				<div class="tamanho-20 text-right">
					{% if itens.Registro == 'D' %}
					<span>R$ {{ itens.Valor|intcomma }}</span>
					{% else %}
					<span>----------</span>
				{% endif %}
				</div>
			</div>
			<div class="input-group-addon addon-my-color">
				{% if itens.Vales_id == 0 %}
				<i class="icofont-check i-button-null"></i>
				{% else %}
				<i class="icofont-trash	i-button js-pessoas-exclui-contra-cheque-item"
   	   			   data-idcontracheque="{{ itens.idContraCheque_id }}"
	   			   data-idcontrachequeitens="{{ itens.idContraChequeItens }}"></i>
				{% endif %}
			</div>
		</div>
	</div>
	{% endfor %}
</div>
<!-- Footer -->
<div class="card-footer">
	<div class="input-group">
		<div class="input-group-addon addon-my-color">
			<i class="icofont-rounded-left-down"></i>
		</div>
		<div class="div-form-control div-flex">
			<div class="tamanho-30 text-left">
				<span>Total R$ {{ saldo_contra_cheque|intcomma }}</span>
			</div>
			{% if saldo_contra_cheque > 0 %}
			<div class="tamanho-15 text-center">
				<a class="icofont-printer i-button"	target="_blank"
				href="{% url 'imprime_contra_cheque' %}?idcontracheque={{ contra_cheque.idContraCheque }}&idpessoal={{ idpessoal }}&tipo={{ tipo }}"
				title="Imprime Contra-Cheque"></a>
			</div>
			<div class="tamanho-15 text-center">
				{% if contra_cheque.Pago %}
				{% if file %}
				<i class="icofont-download i-button js-download-contra-cheque"
	   	title="Baixa Documento"></i>
					<i class="icofont-delete i-button js-exclui-arquivo-contra-cheque"
		onclick="openMyModal(event); return false;"
		data-title="CONDIFMA EXCLUSÃO DO ARQUIVO CONTRA-CHEQUE"
		data-action="{% url 'exclui_arquivo_contra_cheque' %}"
		data-button-save-label="EXCLUIR"
  		data-confirma="confirma_exclui_arquivo_contra_cheque"
   		data-idconfirma="{{ contra_cheque.idContraCheque }}"

	   	title="Exclui Documento"></i>
				{% else %}
				<i class="icofont-upload-alt i-button js-arquiva-contra-cheque"
	   	title="Arquiva Documento"></i>
				{% endif %}
				{% else %}
				<i class="icofont-bill-alt i-button"
		onclick="openMyModal(event); return false;"
		data-title="INFORMA PAGAMENTO"
		data-action="{% url 'pagamento_contra_cheque' %}"
		data-button-save-label="PAGAR"
  		data-confirma="confirma_pagamento_contra_cheque"
   		data-idconfirma="{{ contra_cheque.idContraCheque }}"
		title="Informa Pagamento"></i>
				{% endif %}
			</div>
			{% endif %}
			<div class="tamanho-20 text-right">
				<span>R$ {{ credito|intcomma }}</span>
			</div>
			<div class="tamanho-20 text-right">
				{% if debito > 0 %}
				<span>R$ {{ debito|intcomma }}</span>
				{% else %}
				<span>R$ 0,00</span>
				{% endif %}
			</div>
		</div>
		<div class="input-group-addon addon-my-color">
			<i class="icofont-rounded-right-down"></i>
		</div>
	</div>
</div>
