{% load humanize %}
<!-- Card Header -->
<div class="card-header">
    <div class="input-group">
        <div class="input-group-addon addon-my-color">
            <i class="icofont-rounded-left-up"></i>
        </div>
        <div class="div-form-control">
            <span>COLABORADORES</span>
        </div>
        <div class="input-group-addon addon-my-color">
            <i class="icofont-rounded-right-up"></i>
        </div>
    </div>
</div>
<!-- Card Body -->
<div class="card-body">
    {% for colaborador in colaboradores %}
    <div class="card-body-item">
        <div class="input-group">
            <div class="input-group-addon addon-my-color">
                <i class="icofont-ui-user i-button-null"></i>
            </div>
            <div class="div-flex div-form-control">
                <div class="tamanho-100 text-center font-menor">
                    <span title="{{ colaborador.nome }}">{{ colaborador.nome_curto }}</span>
                </div>
            </div>
            <div class="input-group-addon addon-my-color">
                <i class="icofont-square i-button js-selecionar-colaborador"
                   data-id_pessoal="{{ colaborador.idpessoal }}"></i>
            </div>
        </div>
    </div>
    {% endfor %}
    {% if colaboradores %}
        <div class="linha-divisoria-nova"></div>
    {% endif %}
    <div class="card-body-item">
        <div class="input-group">
            <div class="input-group-addon addon-my-color">
                <i class="icofont-wallet i-button-null"></i>
            </div>
            <div class="div-flex div-form-control">
                <div class="tamanho-100 text-center font-menor">
                    <span>ADICIONAR NOVO COLABORADOR</span>
                </div>
            </div>
            <div class="input-group-addon addon-my-color">
                <i class="icofont-plus-circle i-button"
                   onclick="openMyModal(event); return false;"
                   data-title="ADICIONAR COLABORADOR"
                   data-action="{% url 'adicionar_colaborador' %}"
                   data-button-save-label="ADICIONAR"
                   title="ACICIONAR COLABORADOR"></i>
            </div>
        </div>
    </div>
</div>
<!-- Card Footer -->
<div class="card-footer">
    <div class="input-group">
        <div class=" input-group-addon addon-my-color">
            <i class="icofont-rounded-left-down"></i>
        </div>
        <div class="div-flex div-form-control">
            <div class="tamanho-100 text-center">
                <span>
                    {% for colaborador in colaboradores %}
                    {% if forloop.last %}
                    {{ forloop.counter|stringformat:"02d" }}
                    COLABORADOR{{ forloop.counter|pluralize:"es"|upper }}
                    {% endif %}
                    {% endfor %}
                </span>
            </div>
        </div>
        <div class=" input-group-addon addon-my-color">
            <i class="icofont-rounded-right-down"></i>
        </div>
    </div>
</div>
