<!-- Header -->
<div class="card-header">
	<span>
		CONTRA CHEQUE: {{ contra_cheque.Descricao }}
	</span>
	<input type="hidden" data-idcontracheque="{{ contra_cheque.idContraCheque }}" id="idcontracheque"></>
</div>
<!-- Body -->
<div class="card-body">
	{% for itens in contra_cheque_itens  %}
	<div class="card-body-item">
		<div class="input-group">
			<i class="icofont-list
			input-group-addon
			addon-my-color
			i-button-null"></i>
			<div class="div-flex div-form-control">
				<div class="tamanho-50 text-left">
					<span>
						{{ itens.Descricao }}
					</span>
				</div>
				<div class="tamanho-10 text-center">
					<span>
						{{ itens.Referencia }}
					</span>
				</div>
				<div class="tamanho-20 text-right">
					{% if itens.Registro == 'D' %}
					<span>
						----------
					</span>
					{% else %}
					<span>
						R$ {{ itens.Valor }}
					</span>
					{% endif %}
				</div>
				<div class="tamanho-20 text-right">
					{% if itens.Registro == 'D' %}
					<span>
						R$ {{ itens.Valor }}
					</span>
					{% else %}
					<span>
						----------
					</span>
				{% endif %}
				</div>
			</div>
			<div class="input-group-addon
			addon-my-color">
				{% if itens.Vales_id == 0 %}
				<i class="icofont-check i-button-null"></i>
				{% else %}
				<i class="icofont-trash
				i-button
				js-pessoas-exclui-contra-cheque-item"
   	   			   data-idcontracheque="{{ itens.idContraCheque_id }}"
	   			   data-idcontrachequeitens="{{ itens.idContraChequeItens }}"></i>
				{% endif %}
			</div>
		</div>
	</div>
	{% endfor %}
</div>
<!-- Footer -->
<div class="card-footer">
	<div class="div-flex">
		<i class="icofont-printer i-button"></i>
		<i class="icofont-bill-alt i-button"></i>
		<i class="icofont-trash i-button"></i>
		<i class="i-button">1/3</i>
		<span>R$ 0,00</span>
	</div>
</div>
