{% load static %}
{% load humanize %}
<!-- Card Header -->
<div class="card-header">
    <div class="input-group">
        <div class="input-group-addon addon-my-color">
            <i class="icofont-rounded-left-up"></i>
        </div>
        <div class="div-form-control">
            <span>{{ colaborador.nome_curto }}</span>
        </div>
        <div class="input-group-addon addon-my-color">
            <i class="icofont-rounded-right-up"></i>
        </div>
    </div>
</div>
<!-- Card Body -->
<div class="card-body">
    <div class="card-body-item">
        <div class="input-group">
            <div class="input-group-addon addon-my-color">
                <i class="icofont-check i-button-null"></i>
            </div>
            <div class="div-flex div-form-control">
                <div class="tamanho-100 text-center font-menor">
                    <figure class="containerimg">
                        {% if colaborador.foto %}
                        <img src="/media/{{ colaborador.foto }}" alt="{{ colaborador.nome_curto }}" class="foto">
                        {% else %}
                        <img src="{% static 'website/img/usuario.png' %}" alt="Icone Colaborador" class="foto">
                        {% endif %}
                    </figure>
                </div>
            </div>
            <div class="input-group-addon addon-my-color">
                <form class="file-body js-salva-foto" method="post"
                      enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="file" id="file_foto"
                           class="file js-carrega-foto">
                    <label for="file_foto" title="CARREGAR FOTO">
                        <i class="icofont-camera i-button"></i>
                    </label>
                    <input type="hidden" value="{{ colaborador.id_pessoal }}"
                           id="idpessoal" name="idpessoal">
                    <button type="submit" class="js-salva-foto submit_btn"></button>
                </form>
            </div>
        </div>
    </div>
    <div class="card-body-item">
        <div class="input-group">
            <div class="input-group-addon addon-my-color">
                <i class="icofont-check i-button-null"></i>
            </div>
            <div class="div-flex div-form-control">
                <div class="tamanho-100 text-center font-menor">
                    <span>{{ colaborador.nome }}</span>
                </div>
            </div>
            <div class="input-group-addon addon-my-color">
                <i class="icofont-edit i-button" title="EDITAR COLABORADOR"
                   onclick="openMyModal(event); return false;"
                   data-title="EDITA CADASTRO DE COLABORADOR"
                   data-action="{% url 'adicionar_ou_atualizar_colaborador' %}"
                   data-id_pessoal={{ colaborador.id_pessoal }}
                   data-button-save-label="ALTERAR"></i>
            </div>
        </div>
        <div class="input-group">
            <div class="input-group-addon addon-my-color">
                <i class="icofont-check i-button-null"></i>
            </div>
            <div class="div-flex div-form-control">
                <div class="tamanho-100 text-center font-menor">
                    <span>ADMITIDO EM {{ colaborador.dados_profissionais.data_admissao }}</span>
                </div>
            </div>
            {% if colaborador.dados_profissionais.data_demissao %}
            <div class="div-flex div-form-control">
                <div class="tamanho-100 text-center font-menor">
                    <span>DEMITIDO EM {{ colaborador.dados_profissionais.data_demissao }}</span>
                </div>
            </div>
            {% endif %}
            <div class="input-group-addon addon-my-color">
                <i class="icofont-check i-button-null"></i>
            </div>
        </div>
        <div class="input-group">
            <div class="input-group-addon addon-my-color">
                <i class="icofont-check i-button-null"></i>
            </div>
            {% if colaborador.dados_profissionais.registrado %}
            <div class="div-flex div-form-control">
                <div class="tamanho-100 text-center font-menor">
                    <span>COLABORADOR REGISTRADO</span>
                </div>
            </div>
            <div class="input-group-addon addon-my-color">
                <i class="icofont-check i-button-null"></i>
            </div>
            {% else %}
            <div class="div-flex div-form-control">
                <div class="tamanho-100 text-center font-menor">
                    <span>REGISTRAR COLABORADOR</span>
                </div>
            </div>
            <div class="input-group-addon addon-my-color">
                <i class="icofont-stamp i-button" title="REGISTRAR COLABORADOR"
                   onclick="openMyModal(event); return false;"
                   data-title="REGISTRA COLABORADOR"
                   data-action="{% url 'registrar_colaborador' %}"
                   data-id_pessoal={{ colaborador.id_pessoal }}
                   data-button-save-label="REGISTRAR"></i>
            </div>
            {% endif %}
        </div>
    </div>
</div>
<!-- Card Footer -->
<div class="card-footer">
    <div class="input-group">
        <div class=" input-group-addon addon-my-color">
            <i class="icofont-rounded-left-down"></i>
        </div>
        <div class="div-flex div-form-control">
            <div class="tamanho-25 text-center">
                <i class="icofont-ui-block i-button js-alterar-status"
                   data-id_pessoal="{{ colaborador.id_pessoal }}"
                   title="BLOQUEAR COLABORADOR"></i>
                <input type="hidden" value="{{ colaborador.status_pessoal }}"
                       name="status_pessoal">
            </div>
            <div class="tamanho-25 text-center">
                <a class="icofont-printer i-button" target="_blank"
                   href="{% url 'print_ficha_colaborador' %}?idpes={{ colaborador.id_pessoal }}"
                   title="IMPRIMIR FICHA CADASTRAL"></a>
            </div>
            <div class="tamanho-25 text-center">
                {% if colaborador.dados_profissionais.data_demissao %}
                <i class="icofont-aim i-button"
                   onclick="openMyModal(event); return false;"
                   data-title="INFORMAR DATA DA READMISSÂO"
                   data-action="{% url 'readmitir_colaborador' %}"
                   data-button-save-label="SALVAR"
                   data-id_pesssoal="{{ colaborador.id_pessoal }}"
                   title="READMITIR COLABORADOR"></i>
                {% endif %}
            </div>
            <div class="tamanho-25 text-center">
                {% if colaborador.dados_profissionais.data_demissao %}
                <i class="icofont-calculator i-button js-mostrar-eventos-rescisorios"
                   title="Verbas Rescisoria" data-id_pessoal="{{ colaborador.idpes }}"></i>
                {% else %}
                <i class="icofont-worried i-button"
                   onclick="openMyModal(event); return false;"
                   data-title="INFORMAR DATA DE DEMISSÂO"
                   data-action="{% url 'adicionar_data_demissao_colaborador' %}"
                   data-button-save-label="SALVAR"
                   data-id_pessoal="{{ colaborador.id_pessoal }}"
                   title="DEMITIR COLABORADOR"></i>
                {% endif %}
            </div>
        </div>
        <div class=" input-group-addon addon-my-color">
            <i class="icofont-rounded-right-down"></i>
        </div>
    </div>
</div>
