{% load humanize %}
<form class="js-salva-salario" method="post" action="">
    {% csrf_token %}
    <div class="article-card-titulo magenta">
        <span>SALÁRIO COLABORADOR</span>
        {{ salario_form.salario }}
        {{ salario_form.transporte }}
    </div>
    <div class="article-card-body">
        <div class="itens-cadastro">
            <div class="item-form">
                <div class="button" title="Valor do salário">
                    <i class="bi bi-currency-dollar i-button-null"></i>
                </div>
                {% if salario_form %}
                <div class="item-field">
                    <input type="number" class="form-control" name="valor_salario"
                    value="{{ salario_form.salario }}" step="0.01">
                </div>
                {% else %}
                <div class="item-field">
                    <input type="number" class="form-control" name="valor_salario"
                    value="0.00" step="0.01">
                </div>
                {% endif %}
            </div>
            <div class="item-form">
                {% if erro_salario %}
                <div class="error">
                    <span>{{ erro_salario }}</span>
                </div>
                {% endif %}
            </div>
            <div class="item-form">
                <div class="button" title="Valor do vale transporte">
                    <i class="icofont-bus-alt-2 i-button-null"></i>
                </div>
                <div class="item-field">
                    {% if salario_form %}
                    <input type="number" class="form-control" name="valor_transporte"
                    value="{{ salario_form.transporte }}" step="0.01">
                    {% else %}
                    <input type="number" class="form-control" name="valor_transporte"
                    value="0.00" step="0.01">
                </div>
                {% endif %}
            </div>
            {% if salario_form %}
            <input type="hidden" name="idsalario" value="{{ salario_form.idsalario }}">
            {% endif %}
            <input type="hidden" name="idpessoal" value="{{ idpessoal }}">
        </div>
    </div>
    <div class="article-card-footer magenta">
        <i class="bi bi-x-circle i-button js-fecha-formulario"
        title="Fechar"></i>
        <button type="submit" class="bi bi-save i-button"
        title="Salva Telefone"></button>
    </div>
</form>
