<form class="js-gera-conta" method="post" action="">
    {% csrf_token %}
    <div class="article-card-titulo magenta">
        <span>CADASTRO CONTA</span>
    </div>
    <div class="article-card-body">
        <div class="itens-cadastro">
            <div class="item-form">
                <div class="button" title="Banco">
                    <i class="bi bi-building i-button-null"></i>
                </div>
                {% if conta_form %}
                <div class="item-field">
                    <input type="text" class="form-control" name="banco"
                    value="{{ conta_form.banco }}"
                    placeholder="BANCO">
                </div>
                {% else %}
                <div class="item-field">
                    <input type="text" class="form-control" name="banco"
                    placeholder="BANCO">
                </div>
                {% endif %}
            </div>
            <div class="item-form">
                {% if erro_banco %}
                <div class="error">
                    <span>{{ erro_banco }}</span>
                </div>
                {% endif %}
            </div>
            <div class="item-form">
                <div class="button" title="Agência">
                    <i class="bi bi-bank i-button-null"></i>
                </div>
                {% if conta_form %}
                <div class="item-field">
                    <input type="text" class="form-control" name="agencia"
                    value="{{ conta_form.agencia }}"
                    placeholder="AGÊNCIA">
                </div>
                {% else %}
                <div class="item-field">
                    <input type="text" class="form-control" name="agencia"
                    placeholder="AGÊNCIA">
                </div>
                {% endif %}
            </div>
            <div class="item-form">
                {% if erro_agencia %}
                <div class="error">
                    <span>{{ erro_agencia }}</span>
                </div>
                {% endif %}
            </div>
            <div class="item-form">
                <div class="button" title="Conta">
                    <i class="bi bi-file-binary i-button-null"></i>
                </div>
                {% if conta_form %}
                <div class="item-field">
                    <input type="text" class="form-control" name="conta"
                    value="{{ conta_form.conta }}"
                    placeholder="CONTA">
                </div>
                {% else %}
                <div class="item-field">
                    <input type="text" class="form-control" name="conta"
                    placeholder="CONTA">
                </div>
                {% endif %}
            </div>
            <div class="item-form">
                {% if erro_numero_conta %}
                <div class="error">
                    <span>{{ erro_numero_conta }}</span>
                </div>
                {% endif %}
            </div>
            <div class="item-form">
                <div class="button" title="Tipo da Conta">
                    <i class="bi bi-credit-card-2-front i-button-null"></i>
                </div>
                <div class="item-field">
                    <select class="form-control" id="tipo_conta" name="tipo_conta">
                        <option value="0">SELECIONE TIPO CONTA</option>
                        {% for i in tipo_conta %}
                        {% if conta_form %}
                            {% if conta_form.tipo_conta == i %}
                            <option value="{{ i }}" selected>{{ i }}</option>
                            {% else %}
                            <option value="{{ i }}">{{ i }}</option>
                            {% endif %}
                        {% else %}
                            <option value="{{ i }}">{{ i }}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="item-form">
                {% if erro_tipo_conta %}
                <div class="error">
                    <span>{{ erro_tipo_conta }}</span>
                </div>
                {% endif %}
            </div>
            <div class="item-form">
                <div class="button" title="Titular da Conta">
                    <i class="bi bi-person i-button-null"></i>
                </div>
                {% if conta_form %}
                <div class="item-field">
                    <input type="text" class="form-control" name="titular"
                    value="{{ conta_form.titular }}"
                    placeholder="TITULAR DA CONTA">
                </div>
                {% else %}
                <div class="item-field">
                    <input type="text" class="form-control" name="titular"
                    placeholder="TITULAR DA CONTA">
                </div>
                {% endif %}
            </div>
            <div class="item-form">
                {% if erro_titular %}
                <div class="error">
                    <span>{{ erro_telefone }}</span>
                </div>
                {% endif %}
            </div>
            <div class="item-form">
                <div class="button" title="CPF do Titular">
                    <i class="icofont-ui-v-card i-button-null"></i>
                </div>
                {% if conta_form %}
                <div class="item-field">
                    <input type="text" class="form-control" name="documento"
                    value="{{ conta_form.documento }}" placeholder="CPF DO TITULAR">
                </div>
                {% else %}
                <div class="item-field">
                    <input type="text" class="form-control" name="documento"
                    value="" placeholder="CPF DO TITULAR">
                </div>
                {% endif %}
            </div>
            <div class="item-form">
                <div class="button" title="Chave PIX">
                    <i class="i-button-null i-button-null-text">PIX</i>
                </div>
                {% if conta_form %}
                <div class="item-field">
                    <input type="text" class="form-control" name="pix"
                    value="{{ conta_form.pix }}" placeholder="CHAVE PIX">
                </div>
                {% else %}
                <div class="item-field">
                    <input type="text" class="form-control" name="pix"
                    value="" placeholder="CHAVE PIX">
                </div>
                {% endif %}
            </div>
            <div class="item-form">
                {% if erro_pix %}
                <div class="error">
                    <span>{{ erro_pix }}</span>
                </div>
                {% endif %}
            </div>
            {% if conta_form %}
            <input type="hidden" name="idcontapessoal" value="{{ conta_form.idcontapessoal }}">
            {% endif %}
            <input type="hidden" name="idpessoal" value="{{ idpessoal }}">
        </div>
    </div>
    <div class="article-card-footer magenta">
        <i class="bi bi-x-circle i-button js-fecha-formulario"
        title="Fechar"></i>
        <button type="submit" class="bi bi-save i-button"
        title="Salva Telefone"></button>
    </div>
</form>
