<form class="js-gera-documento" method="post" action="">
    {% csrf_token %}
    <div class="article-card-titulo magenta">
        <span>CADASTRO DOCUMENTO</span>
    </div>
    <div class="article-card-body">
        <div class="itens-cadastro">
            <div class="item-form">
                <div class="button" title="Tipo de Documento">
                    <i class="icofont-ui-v-card i-button-null"></i>
                </div>
                <div class="item-field">
                    <select class="form-control" id="tipo_doc" name="tipo_doc">
                        <option value="0">SELECIONE TIPO DOCUMENTO</option>
                        {% for i in tipo_doc %}
                        {% if documento_form %}
                            {% if documento_form.tipo_doc == i %}
                            <option value="{{ i }}" selected>{{ i }}</option>
                            {% else %}
                            <option value="{{ i }}">{{ i }}</option>
                            {% endif %}
                        {% else %}
                            <option value="{{ i }}">{{ i }}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="item-form">
                {% if erro_tipo_doc %}
                <div class="error">
                    <span>{{ erro_tipo_doc }}</span>
                </div>
                {% endif %}
            </div>
            <div class="item-form">
                <div class="button" title="Número do Documento">
                    <i class="bi bi-file-binary i-button-null"></i>
                </div>
                {% if documento_form %}
                <div class="item-field">
                    <input type="text" class="form-control" name="numero_doc"
                    value="{{ documento_form.numero_doc }}"
                    placeholder="NÚMERO DOCUMENTO">
                </div>
                {% else %}
                <div class="item-field">
                    <input type="text" class="form-control" name="numero_doc"
                    placeholder="NÚMERO DOCUMENTO">
                </div>
                {% endif %}
            </div>
            <div class="item-form">
                {% if erro_documento %}
                <div class="error">
                    <span>{{ erro_documento }}</span>
                </div>
                {% endif %}
            </div>
            <div class="item-form">
                <div class="button" title="Data Emissão/Vencimento do Documento">
                    <i class="bi bi-calendar i-button-null"></i>
                </div>
                {% if documento_form %}
                <div class="item-field">
                    <input type="date" class="form-control" name="data_doc"
                    value="{{ documento_form.data_doc }}">
                </div>
                {% else %}
                <div class="item-field">
                    <input type="date" class="form-control" name="data_doc"
                    value="{{ hoje }}">
                </div>
                {% endif %}
            </div>
            {% if documento_form %}
            <input type="hidden" name="iddocpessoal" value="{{ documento_form.iddocpessoal }}">
            {% endif %}
            <input type="hidden" name="idpessoal" value="{{ idpessoal }}">
        </div>
    </div>
    <div class="article-card-footer magenta">
        <i class="bi bi-x-circle i-button js-fecha-formulario"
        title="Fechar"></i>
        <button type="submit" class="bi bi-save i-button"
        title="Salva Documento"></button>
    </div>
</form>
