<form class="js-gera-documento" method="post" action="">
    {% csrf_token %}
    <div class="article-card-titulo">
        <span>CADASTRO DOCUMENTO</span>
    </div>
    <div class="article-card-body">
        <div class="itens-cadastro">
            <div class="item-form">
                <div class="button" title="Tipo de Documento">
                    <i class="icofont-ui-v-card i-button-null"></i>
                </div>
                <div class="item-field">
                    <select class="form-control" id="tipo_doc" name="tipo_doc">
                        <option value="">SELECIONE TIPO DOCUMENTO</option>
                        <option value="RG">RG</option>
                        <option value="CPF">CPF</option>
                        <option value="HABILITAÇÃO">HABILITAÇÃO</option>
                        <option value="RESERVISTA">RESERVISTA</option>
                        <option value="PIS/PASEP">PIS/PASEP</option>
                    </select>
                </div>
            </div>
            <div class="item-form">
                <div class="button" title="Número do Documento">
                    <i class="bi bi-file-binary i-button-null"></i>
                </div>
                <div class="item-field">
                    <input type="text" class="form-control" name="numero_doc"
                    placeholder="NÚMERO DOCUMENTO">
                </div>
            </div>
            <div class="item-form">
                <div class="button" title="Data Emissão/Vencimento do Documento">
                    <i class="bi bi-calendar i-button-null"></i>
                </div>
                <div class="item-field">
                    <input type="date" class="form-control" name="data_doc"
                    value="{{ hoje }}" placeholder="DATA EMISSÃO OU VENCIMENTO">
                </div>
            </div>
        </div>
    </div>
    <div class="article-card-footer">
        <i class="bi bi-x-circle i-button js-fecha-formulario"
        title="Fechar"></i>
        <button type="submit" class="bi bi-save i-button"
        title="Salva Documento"></button>
    </div>
</form>
