<div class="article-card-titulo">
    <span>FÉRIAS</span>
</div>
<div class="article-card-body">
    <div class="itens-ferias">
        <div class="item-titulo">
            <span>PERIODO </span>
        </div>
        <div class="item-data">
            <span>{{ colaborador.data_admissao }}</span>
        </div>
        <div class="item-data">
            <span>{{ colaborador.data_completa_ano }}</span>
        </div>
        <div class="item-button">
            <i class="bi bi-plus-circle i-button js-periodo-ferias"
            title="Inserir Período de Férias"
            data-idpessoal="{{ colaborador.idpes }}"></i>
        </div>
    </div>
    {% if colaborador.ferias %}
    {% endif %}
</div>
<div class="article-card-footer">
    <a class="bi bi-printer i-button" target="_blank"
    href="{% url 'print_ferias' %}?idpes={{ colaborador.idpes }}"
    title="Imprime Férias"></a>
</div>