{% load humanize %}
<!-- Header -->
<div class="card-header titulo-icone">
    <div><span>COLABORADORES</span></div>
    <div>
        {% for it in colaboradores %}
        {% if forloop.first %}
        {% if it.status_pessoal %}
        <i class="icofont-thumbs-up i-button js-altera-lista"
        data-lista="" title="Altera para lista de colaboradores bloqueados"></i>
        {% else %}
        <i class="icofont-thumbs-down i-button js-altera-lista"
        data-lista="True" title="Altera para lista de colaboradores ativos"></i>
        {% endif %}
        {% endif %}
        {% endfor %}
    </div>
</div>
<!-- Body -->
<div class="card-body">
    {% for it in colaboradores %}
    <div class="card-body-item">
        <div class="input-group">
            <i class="bi bi-person-square
            input-group-addon
            addon-my-color
            i-button-null"></i>
            {% if it.tipo_pgto == "MENSALISTA" %}
            <span class="form-control
            input-fake
            tipo-mensalista"
                  title="{{ it.nome }}">{{ it.nome_curto }}</span>
            {% else %}
            <span class="form-control
            input-fake"
                  title="{{ it.nome }}">{{ it.nome_curto }}</span>
            {% endif %}
            <div class="input-group-addon
            addon-my-color">
                <i class="bi bi-folder-symlink
                i-button
                js-seleciona-colaborador"
                   data-idpessoal="{{ it.idpessoal }}"></i>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
<div class="card-footer">
    <div class="div-flex">
        <div>
            {% for it in colaboradores %}
            {% if forloop.last %}
            {{ forloop.counter|stringformat:"02d" }}
            COLABORADOR{{ forloop.counter|pluralize:"es"|upper }}
            {% endif %}
            {% endfor %}
        </div>
        <div></div>
        <i class="bi bi-plus-circle i-button"
        onclick="openMyModal(event); return false;"
        data-title="CADASTRO DE COLABORADOR"
        data-action="{% url 'criapessoa' %}"
        data-button-save-label="SALVAR"
        title="Adiciona Colaborador"></i>
    </div>
</div>
