{% load humanize %}
<div class="article-card-titulo">
    <span>COLABORADORES</span>
</div>
<div class="article-card-body">
    {% for it in colaboradores %}
    <div class="itens-lista">
        <div class="item-nome">
            <span data-tooltip="{{ it.nome }}"
            data-tooltip-position="right">{{ it.nome_curto }}</span>
        </div>
        <div class="item-button">
            <i class="bi bi-folder-symlink i-button js-seleciona-colaborador"
            idpessoal="{{ it.idpessoal }}"></i>
        </div>
    </div>
    {% endfor %}
</div>
<div class="article-card-footer">
    <div class="itens-lista">
        <div class="item-nome">
            {% for it in colaboradores %}
                {% if forloop.last %}
                {{ forloop.counter|stringformat:"02d" }}
                COLABORADOR{{ forloop.counter|pluralize:"es"|upper }}
                ATIVO{{ forloop.counter|pluralize|upper }}
                {% endif %}
            {% endfor %}
        </div>
        <div class="item-button">
            <i class="bi bi-plus-circle i-button js-adiciona-colaborador"></i>
        </div>
    </div>
</div>