<div class="article-card-titulo">
    <span>MULTAS</span>
</div>
<div class="article-card-body">
    {% for i in multas %}
    {% if i.vale %}
    <div class="item-multas">
        <div class="item-dia" title="Data e Hora da Multa">
            <i class="bi bi-calendar i-button-null"></i> {{ i.data }} {{ i.hora }}
        </div>        
    </div>
    <div class="itens-multas">
        <div class="item-infracao">
            <i class="bi bi-question-diamond i-button-null"></i> {{ i.infracao|slice:"0:35" }}
        </div>        
    </div>
    <div class="itens-multas">
        <div class="item-local">
            <i class="bi bi-geo-alt i-button-null"></i> {{ i.local|slice:"0:35" }}
        </div>        
    </div>
    <div class="itens-multas">
        <div class="AIT">
            <i class="icofont-bill-alt i-button-null"></i> {{ i.vale }}
        </div>        
        <div class="AIT">
            R$ {{ i.valor }}
        </div>        
    </div>
    <div class="linha-divisoria"></div>
    {% endif %}
    {% endfor %}
</div>
<div class="article-card-footer"></div>