<!-- Header -->
<div class="card-header div-flex">
    <div class="input-group-addon
    addon-my-color"></div>
    <span>MULTAS</span>
    <i class="icofont-square-down
    js-toggle-multas
    i-button"></i>
</div>
<!-- Body -->
<div class="card-body">
    {% for i in multas %}
    {% if i.vale %}
    <div class="card-body-item">
        <div class="input-group">
            <i class="bi bi-calendar
            i-button-null
            input-group-addon
            addon-my-color"
               title="Data e Hora da Infração"></i>
            <span class="form-control input-fake">
                {{ i.data }} {{ i.hora }}
            </span>
            {% if a == a %}
            <div class="input-group-addon
            addon-my-color">
                <i class="icofont-tick-boxed i-button-null"></i>
            </div>
            {% else %}
            <div class="input-group-addon
            addon-my-color">
                <i class="icofont-square i-button-null"></i>
            </div>
            {% endif %}
        </div>
        <div class="input-group js-mostra-dados-multa">
            <i class="bi bi-question-diamond
            i-button-null
            input-group-addon
            addon-my-color"
               title="Tipo de Infração"></i>
            <span class="form-control input-fake font-menor">
                {{ i.infracao|slice:"0:70" }}
            </span>
            <div class="input-group-addon
            addon-my-color">
                <i class="bi bi-check"></i>
            </div>
        </div>
        <div class="input-group js-mostra-dados-multa">
            <i class="bi bi-geo-alt
            i-button-null
            input-group-addon
            addon-my-color"
               title="Local da Infração"></i>
            <span class="form-control input-fake">
                {{ i.local|slice:"0:70" }}
            </span>
            <div class="input-group-addon
            addon-my-color">
                <i class="bi bi-check"></i>
            </div>
        </div>
        <div class="input-group js-mostra-dados-multa">
            <i class="icofont-pay
            i-button-null
            input-group-addon
            addon-my-color"
               title="Vale Registrado"></i>
            <span class="form-control input-fake">
                  {{ i.vale }}
            </span>
            <div class="input-group-addon
            addon-my-color">
                <i class="bi bi-check"></i>
            </div>
        </div>
        <div class="input-group js-mostra-dados-multa">
            <i class="icofont-bill-alt
            i-button-null
            input-group-addon
            addon-my-color"
               title="Valor da Multa"></i>
            <span class="form-control input-fake">
                R$ {{ i.valor }}
            </span>
            <div class="input-group-addon
            addon-my-color">
                <i class="bi bi-check"></i>
            </div>
        </div>
    </div>
    {% endif %}
    {% endfor %}
</div>
<!-- Footer -->
<div class="card-footer">
	<div class="input-group">
		<i class="icofont-rounded-left-down input-group-addon
		addon-my-color"></i>
		<div class="div-flex div-form-control">
			<div class="tamanho-80 text-left">
				<span></span>
			</div>
			<div class="tamanho-20 text-right">
				<span></span>
			</div>
		</div>
		<i class="icofont-rounded-right-down input-group-addon
		addon-my-color"></i>
	</div>
</div>
