{% load static %}
{% load humanize %}
<!-- Header -->
<div class="card-header">
	<div class="input-group">
		<div class="input-group-addon addon-my-color">
			<i class="icofont-rounded-left-up"></i>
		</div>
		<div class="div-form-control">
            <span>DOCS - FONE - BANCO</span>
		</div>
		<div class="input-group-addon addon-my-color">
			<i class="icofont-simple-down i-button js-body-dados-colaborador-toggle"></i>
		</div>
		<div class="input-group-addon addon-my-color">
			<i class="icofont-rounded-right-up"></i>
		</div>
	</div>
</div>
<!-- Body -->
<div class="card-body body-dados-colaborador">
    {% for x in colaborador.documentos %}
    <div class="card-body-item">
        <div class="input-group">
            <i class="icofont-ui-v-card
            i-button-null
            input-group-addon
            addon-my-color"
               title="Documento"></i>
            {% if x.tipo == "HABILITAÇÃO" %}
            <span class="form-control input-fake font-menor">
                CNH: {{ x.documento }}
            </span>
            {% else %}
            <span class="form-control input-fake font-menor">                
                {{ x.tipo }}: {{ x.documento }}
            </span>
            {% endif %}
            <div class="input-group-addon
            addon-my-color">
                <i class="bi bi-pencil-square
                i-button
                js-altera-documento-colaborador"
                   data-iddocpessoal="{{ x.iddoc }}"
                   data-idpessoal="{{ colaborador.idpes }}"></i>
            </div>
            <div class="input-group-addon
            addon-my-color">
                <i class="bi bi-trash
                i-button
                js-exclui-documento-colaborador"
                   data-iddocpessoal="{{ x.iddoc }}"></i>
            </div>
        </div>
    </div>
    {% endfor %}
    {% for x in colaborador.telefones %}
    <div class="card-body-item">
        <div class="input-group">
            <i class="icofont-ui-dial-phone
            i-button-null
            input-group-addon
            addon-my-color"
               title="Telefone"></i>
            <span class="form-control input-fake font-menor">
                {{ x.tipo }}: {{ x.fone }}
                {% if x.contato %}
                - {{ x.contato }}
                {% endif %}
            </span>
            <div class="input-group-addon
            addon-my-color">
                <i class="bi bi-pencil-square
                i-button
                js-altera-telefone-colaborador"
                   data-idfonepessoal="{{ x.idfone }}"
                   data-idpessoal="{{ colaborador.idpes }}"></i>
            </div>
            <div class="input-group-addon
            addon-my-color">
                <i class="bi bi-trash
                i-button
                js-exclui-telefone-colaborador"
                   data-idfonepessoal="{{ x.idfone }}"></i>
            </div>
        </div>
    </div>
    {% endfor %}
    {% for x in colaborador.bancos %}
    <div class="card-body-item">
        <div class="input-group">
            <div class="input-group-addon addon-my-color">
                <i class="icofont-bank i-button-null"
                   title="Chave PIX"></i>
            </div>
            {% if x.pix %}
            <span class="form-control input-fake font-menor linha-4">
                CHAVE PIX: {{ x.pix }}
            </span>
            {% else %}
            <span class="form-control input-fake font-menor linha-4">
                {{ x.banco }}: AG: {{ x.agencia }}
                {% if x.tipo == "CORRENTE" %}
                 - C/C:
                {% else %}
                 - C/P:
                {% endif %}
                {{ x.conta }}
            </span>
            {% endif %}
            <div class="input-group-addon addon-my-color">
                <i class="icofont-pen-alt-1 i-button"
                   onclick="openMyModal(event); return false;"
                   data-title="EDITA CONTA BANCÁRIA"
                   data-action="{% url 'altera_conta_colaborador' %}"
                   data-idcontapessoal="{{ x.idconta }}"
                   data-button-save-label="SALVAR"
                   title="Edita conta bancária"></i>
            </div>
            <div class="input-group-addon addon-my-color">
                <i class="icofont-trash i-button js-exclui-conta-colaborador"
                   data-idcontapessoal="{{ x.idconta }}"></i>
            </div>
        </div>
    </div>
    {% if x.titular %}
    <div class="card-body-item">
        <div class="input-group">
            <div class="input-group-addon addon-my-color">
                <i class="icofont-waiter-alt i-button-null"
                   title="Titular da Conta"></i>
            </div>
            <span class="form-control input-fake font-menor-2 text-left linha-4">
                {{ x.titular }}
                {% if x.documento %}
                - {{ x.documento }}
                {% endif %}
            </span>
            <div class="input-group-addon addon-my-color">
                <i class="icofont-check i-button-null"></i>
            </div>
        </div>
    </div>
    {% endif %}
    {% endfor %}
</div>
<!-- Card Footer -->
<div class="card-footer">
	<div class="input-group">
		<div class="input-group-addon addon-my-color">
			<i class="icofont-rounded-left-down"></i>
		</div>
		<div class="div-form-control div-flex">
			<div class="tamanho-100 text-left">
				<span class="font-menor"></span>
			</div>
		</div>
		<div class="input-group-addon addon-my-color">
			<i class="icofont-rounded-right-down"></i>
		</div>
	</div>
</div>
