{% load humanize %}
<!-- Header -->
<div class="card-header div-flex">
	<div class="input-group-addon
    addon-my-color"></div>
    <span>DÉCIMO TERCEIRO</span>
	<i class="icofont-square-up
    js-toggle-decimo-terceiro
    i-button"></i>
</div>
<!-- Body -->
<div class="card-body">
    {% for item in decimo_terceiro %}
    <div class="card-body-item js-mostra-decimo-terceiro">
        <div class="input-group">
            <i class="bi bi-check
            input-group-addon
            addon-my-color"></i>
            <div class="div-flex div-form-control">
                <div class="tamanho-30 text-left">
                    <span>{{ item.Ano }}</span>
                </div>
                <div class="tamanho-30 text-center">
                    <span>{{ item.Dozeavos|stringformat:"02d" }}/12</span>
                </div>
                <div class="tamanho-40 text-right">
                    <span>R$ {{ item.Valor|intcomma }}</span>
                </div>
            </div>
            <i class="bi bi-check
            input-group-addon
            addon-my-color"></i>
        </div>
    </div>
    {% endfor %}
    {% for y in i.parcelas %}
        <div class="itens-parcelas">
            <div class="item-parcela">
                <span>{{ y.Parcela }}ª PARCELA</span>
            </div>
            <div class="item-valor">
                <span>R$ {{ y.Valor }}</span>
            </div>
            <div class="item-button">
                <a class="bi bi-printer i-button" target="_blank"
                href="{% url 'print_decimo_terceiro' %}?idparcela={{ y.idParcelasDecimoTerceiro }}&idpes={{ colaborador.idpes }}"
                ></a>
            </div>
            <div class="item-button">
                {% if y.Pago %}
                <i class="bi bi-check-circle"></i>
                {% else %}
                <i class="bi bi-currency-dollar i-button js-form-paga-decimo-terceiro"
                title="Pagamento da Parcela" data-idpessoal="{{ colaborador.idpes }}"
                data-idparcela="{{ y.idParcelasDecimoTerceiro }}"></i>
                {% endif %}
            </div>
        </div>
    {% endfor %}
</div>
<!-- Footer -->
<div class="card-footer">
	<div class="input-group">
		<i class="icofont-rounded-left-down input-group-addon
		addon-my-color"></i>
		<div class="div-flex div-form-control">
			<div class="tamanho-80 text-left">
				<span></span>
			</div>
			<div class="tamanho-20 text-right">
				<span></span>
			</div>
		</div>
		<i class="icofont-rounded-right-down input-group-addon
		addon-my-color"></i>
	</div>
</div>
