{% extends 'pessoas/basepessoas.html' %}
{% block mainpessoal %}
<main class="section-grid grid-colaborador">
    <section class="grid-column">
        <article class="card card-categorias-colaborador">
            {% include "pessoas/card_categoria_colaborador.html" %}
        </article>
        <article class="card card-colaboradores">
            {% include "pessoas/card_colaboradores.html" %}
        </article>
    </section>
    <section class="grid-column">
        <article class="card card-foto-colaborador"></article>
        <article class="card card-cartao-ponto-colaborador"></article>
    </section>
    <section class="grid-column duas_colunas">
        <article class="card card-contra-cheque-colaborador"></article>
        <article class="card card-rescisao-colaborador"></article>
        <div class="sub-grid">
            <section class="grid-column">
                <article class="card card-eventos-rescisorios-colaborador"></article>
                <article class="card card-vales-colaborador"></article>
                <article class="card card-decimo-terceiro-colaborador"></article>
                <article class="card card-ferias-colaborador"></article>
                <article class="card card-form-colaborador"></article>
            </section>
            <section class="grid-column">
                <article class="card card-docs-colaborador"></article>
                <article class="card card-fones-colaborador"></article>
                <article class="card card-contas-colaborador"></article>
                <article class="card card-salario-colaborador"></article>
            </section>
        </div>
    </section>
            {% comment %} <article class="card card-verbas-rescisoria"></article> {% endcomment %}
            {% comment %} <article class="card card-multas-colaborador"></article> {% endcomment %}
            {% comment %} <article class="card card-decimo-terceiro"></article> {% endcomment %}
            {% comment %} <article class="card card-recibos-colaborador"></article> {% endcomment %}
        <!--
        {% comment %} {% now "n" as mes %} {% endcomment %}
        {% comment %} {% if mes|add:0 > 10 %} {% endcomment %}
        <article class="article-card">
            <i class="i-button custonBtn radius-all button-decimo-terceiro js-atualiza-decimo-terceiro"
            title="Atualiza 13º dos colaboradores">13º</i>
        </article>
        {% comment %} {% endif %} {% endcomment %}
        -->
        {% comment %} <article class="card card-info-colaborador"></article> {% endcomment %}
        {% comment %} <article class="card card-dados-colaborador"></article> {% endcomment %}
</main>
<!-- DIV MODAL -->
<div class="modal fade bd-example-modal-lg" id="MyModal" tabindex="-1">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title"><b>CADASTRO DE COLABORADORES</b></h4>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">FECHAR</button>
                <button type="submit" class="btn btn-success btn-save">CRIAR</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}
