{% extends 'pessoas/basepessoas.html' %}

{% block mainpessoal %}
    <div class="lista_conteudo">
        <header>
            <h4>CADASTRO DE COLABORADORES</h4>
        </header>
        <div class="nav_filtro">
            <div>
                <div class="filtro">
                    <form>
                        <input type="text" class="filtrotexto" placeholder="FILTRAR NOME..." name="filtronome"/>
                        <button type="submit" class="btn btn-info glyphicon glyphicon-search"></button>
                    </form>
                </div>
                <div class="filtro filtroadicional">
                    <form>
                        <select class="filtrotexto" name="filtrofuncao">
                            <option value="" disable selected>FILTRAR FUNÇÃO...</option>
                            {% for itens in categorias %}
                                <option value="{{ itens.Categoria }}">{{ itens.Categoria }}</option>
                            {% endfor %}
                        </select>
                        <button type="submit" class="btn btn-info glyphicon glyphicon-search"></button>
                    </form>
                </div>
            </div>
            <div class="add_registro">
                <button type="button" class="btn btn-success glyphicon glyphicon-plus"
                        onclick="openMyModal(event); return false;" data-title="CADASTRO DE COLABORADOR"
                        data-action="{% url 'criapessoa' %}" data-button-save-label="SALVAR"></button>
            </div>
        </div>
        {{ minuta }}
        <div>
            <table class="tabela">
                <thead>
                    <tr class="tabelatitulo">
                        <th class="primeiracoluna">NOME</th>
                        <th>FUNÇÃO</th>
                        <th>NASCIMENTO</th>
                        <th>STATUS</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for itens in pessoal %}
                        <tr class="tabelalinha">
                            <td class="primeiracoluna"> {{ itens.Nome }}</td>
                            <td>{{ itens.Categoria }}</td>
                            <td>{{ itens.DataNascimento }}</td>
                            {% if itens.StatusPessoal %}
                            <td class="status_pessoa"><b>ATIVO</b></td>
                            <td class="seleciona-registo">
                                <div class="seleciona-registro-botoes">
                                    <button class="btn btn-primary btn-xs glyphicon glyphicon-folder-open"
                                            onclick="window.location.href = '{% url 'consultapessoa' itens.idPessoal %}'">
                                    </button>
                                    <button class="btn btn-success btn-xs glyphicon glyphicon-thumbs-up"
                                            onclick="window.location.href = '{% url 'bloqueiapessoa' itens.idPessoal %}'">
                                    </button>
                                </div>
                            </td>
                            {% else %}
                            <td class="status_pessoa"><b>BLOQUEADO</b></td>
                            <td class="seleciona-registo">
                                <div class="seleciona-regitro-botoes">
                                    <button class="btn btn-danger btn-xs glyphicon glyphicon-thumbs-down"
                                            onclick="window.location.href = '{% url 'bloqueiapessoa' itens.idPessoal %}'">
                                    </button>
                                </div>

                            </td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <footer>
            {% for itens in pessoal %}
                {% if forloop.last %}
                    <h5> {{ forloop.counter }} Registros de colaboradores listados.</h5>
                {% endif %}
            {% endfor %}
        </footer>
    </div>

    <!-- DIV MODAL -->
    <div class="modal fade" id="modal-formulario" >
        <div class="modal-dialog">
            <div class="modal-content">

            </div>
        </div>
    </div>
    <!-- DIV MODAL -->
    <div class="modal fade bd-example-modal-lg" id="MyModal" tabindex="-1">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title"><b>CADASTRO DE COLABORADORES</b></h4>
                </div>
                <div class="modal-body">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">FECHAR</button>
                    <button type="submit" class="btn btn-success btn-save">CRIAR</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
