<form class="row g-3" method="post" action="{{ adiciona_vale_colaborador }}">
{% csrf_token %}
    <div class="col-md-12">
        <label for="id_descricao" class="form-label">DESCRIÇÃO:</label>
    	{{ form.Descricao }}
        {{ form.Descricao.errors }}
    </div>
    <div class="col-md-4">
        <label for="id_data" class="form-label">DATA:</label>
        {{ form.Data }}
        {{ form.Data.errors }}
    </div>
    <div class="col-md-4">
        <label for="id_valor" class="form-label">VALOR:</label>
        {{ form.Valor }}
        {{ form.Valor.errors }}
    </div>
    <div class=" col-md-4">
        <label for="id_parcela" class="form-label">PARCELAS</label>
        <input class="form-control" name="Parcela" id="id_parcela" type="number" value="1", step="0">
    </div>
    <input type="hidden" name="idpessoal" value="{{ idpessoal }}">
</form>
