{% load humanize %}
<form class="row g-3" method="post" action="{% url 'pagar_contra_cheque' %}">
    {% csrf_token %}
    <div class="col-md-8">
        <label for="id_data" class="form-label">DESCRIÇÃO:</label>
        <input type="text" class="form-control" tabindex="-1"
               readonly value="{{ contra_cheque.Descricao }}">
    </div>
    <div class="col-md-4">
        <label for="id_data" class="form-label">MÊS/ANO REFERENCIA:</label>
        <input type="text" class="form-control" tabindex="-1" readonly
               value="{{ contra_cheque.MesReferencia }}/{{ contra_cheque.AnoReferencia }}">
    </div>
    <div class="col-md-8">
        <label for="id_data" class="form-label">COLABORDOR:</label>
        <input type="text" class="form-control" tabindex="-1"
               readonly value="{{ contra_cheque.idPessoal }}">
    </div>
    <div class="col-md-4">
        <label for="id_valor" class="form-label">VALOR DO PAGAMENTO</label>
        <input type="number"class="form-control"name="valor" readonly tabindex="-1"
               id="id_valor" value="{{ saldo }}">
    </div>

    <input type="hidden"name="id_contra_cheque"
           value="{{ contra_cheque.idContraCheque }}">
    <input type="hidden" name="id_pessoal" value="{{ id_pessoal }}">
</form>
