<form method="post" action="">
    {% csrf_token %}
    <div class="card-body">
        <div class="itens-cadastro">
            <div class="item-form">
                <span>
                    CONFIRMA EXCLUSÃO DO VALE
                </span>
            </div>
            <div class="item-form">
                <span>
                    {{ vale.Data }} - {{ vale.Descricao }} - {{ vale.Valor }}
                </span>
            </div>
            <input type="hidden" name="idvale" value="{{ vale.idVales }}">
            <input type="hidden" name="idpessoal" value="{{ idpessoal  }}">
        </div>
    </div>
</form>
