<form class="row g-3" method="post" action="{% url 'adicionar_ou_atualizar_doc_colaborador' %}">
    {% csrf_token %}
    <div class="col-md-3">
        <label for="id_tipo_doc" class="form-label">TIPO DE DOCUMENTO:</label>
        <select class="form-control" name="categoria" id="id_tipo_doc">
            <option value="" disabled selected>Escolha uma Opção</option>
            {% for tipo in tipos_docs %}
            <option value="{{ tipo }}"
                    {% if tipo == documento.TipoDocumento %}
                    selected
                    {% endif %}>{{ tipo }}</option>
            {% endfor %}
        </select>
    </div>

    <div class="col-md-5">
        <label for="id_documento" class="form-label">NÚMERO DO DOCUMENTO:</label>
        <input type="text" class="form-control" id="id_docuemtno" name="documento"
               maxlength="50" required="" placeholder="Digite o Número"
               value="{{ documento.Documento }}">
    </div>

    <div class="col-md-4">
        <label for="id_data" class="form-label">DATA EMISSÃO/VALIDADE:</label>
        <input type="date" class="form-control" name="data" id="id_data"
               value="{% if documento %}{{ documento.Data|date:"Y-m-d" }}{% else %}{{ hoje }}{% endif %}">
    </div>

    <input type="hidden" name="id_pessoal" value="{{ colaborador.id_pessoal }}">
    <input type="hidden" name="id_documento" value="{{ documento.idDocPessoal }}">
</form>
