{% extends 'base.html' %}

{% block title %} Módulo Veículos {% endblock %}

{% block main %}
    <header class="header-base">
        <h1>MÓDULO VEÍCULO</h1>
    </header>
    <div class="conteudo-base">
        {% block mainveiculos %}
        {% endblock %}
    </div>
{% endblock %}

{% block script %}
    <script>
        $(document).ready(function(){
            $("#botaook").show();
            $("#botaotabelaveiculo").hide();
            $("#tabelaveiculo").hide();

            <!-- JQuery da Janela Modal -->
            $("#modal-formulario").on('shown.bs.modal', function () {
                setTimeout(function(){                          <!-- Delay para função loadCubagem, após janela estar carregada -->
                    var loadCubagem = function(){
                        var altura = parseFloat($("#id_MedidaAltura").val());
                        var comprimento = parseFloat($("#id_MedidaComprimento").val());
                        var largura = parseFloat($("#id_MedidaLargura").val());
                        var cubagem = (altura * comprimento * largura).toFixed(2)
                        $("#id_Cubagem").val(cubagem);
                    };

                    loadCubagem();                              <!-- Chama a função loadCubagem -->
                    $("#id_Marca").focus();                     <!-- Configura o foco inicial -->

                    $("#id_MedidaAltura").on("change keyup mouseup", loadCubagem);
                    $("#id_MedidaComprimento").on("change keyup mouseup", loadCubagem);
                    $("#id_MedidaLargura").on("change keyup mouseup", loadCubagem);

                }, 800);
            });

            var loadForm = function(){
                var obj = $(this);
                idveiculo = $(this).attr('idveiculo')

                $.ajax({
                    url: obj.attr("data-url"),
                    type: 'get',
                    dataType: 'json',
                    data: {
                        idveiculo: idveiculo,
                    },
                    beforeSend: function(){
                        $("#modal-formulario .modal-content").html("");
                        $("#modal-formulario").modal("show");
                    },
                    success: function(data){
                        $("#modal-formulario .modal-content").html(data.html_form);
                        $(".js-edita-veiculo-form").attr('action', "{% url 'editaveiculo' 0 %}".replace(/0/, idveiculo));
                        $(".js-exclui-veiculo-form").attr('action', "{% url 'excluiveiculo' 0 %}".replace(/0/, idveiculo));
                    }
                });
            };

            $(".js-criaveiculo").click(loadForm);
            $(".js-editaveiculo").click(loadForm);
            $(".js-excluiveiculo").click(loadForm);

        });
    </script>
{% endblock %}