{% extends 'veiculos/baseveiculos.html' %}

{% block title %}
    Módulo Veículos
{% endblock %}

{% block mainveiculos %}
    <div class="consulta">
        <header class="consulta_header">
            {% for itens in veiculo %}
                <div class="consulta_headertitulo">
                    <p><b>{{ itens.Categoria }} - {{ itens.Placa }}</b></p>
                </div>
                <div class="consulta_headerbtn">
                    <button class="btn btn-success js-editaveiculo" idveiculo="{{ itens.idVeiculo }}" data-url="{% url 'editaveiculo' itens.idVeiculo %}">
                        <span class="glyphicon glyphicon-edit"></span>
                    </button>
                    <button class="btn btn-danger js-excluiveiculo" idveiculo="{{ itens.idVeiculo }}" data-url="{% url 'excluiveiculo' itens.idVeiculo %}">
                        <span class="glyphicon glyphicon-trash"></span>
                    </button>
                </div>
                <div class="consulta_headerdados">
                    <p><b>Marca/Modelo: {{ itens.Marca }} - {{ itens.Modelo }}</b></p>
                    <p><b>Renavam: {{ itens.Renavam }}</b></p>
                    <p><b>Ano: {{ itens.Ano }} - Cor: {{ itens.Cor }}</b></p>
                </div>
            {% endfor %}
        </header>

        <div class="consulta_coluna1">
            <div>
                {% for itens in proprietario %}
                    <p><b>{{ itens.Nome }}</b></p>
                    <p><b>{{ itens.Endereco }} - {{ itens.Bairro }} - {{ itens.Cidade }} - {{ itens.Estado }}</b></p>
                    <p><b>{{ itens.Categoria }}</b></p>
                    <p><b>{{ itens.TipoPgto }}</b></p>
                {% endfor %}
            </div>
            <div>
                {% if proprietario.idPessoal != motorista.idPessoal %}
                    {% for itens in motorista %}
                        <p><b>{{ itens.Nome }}</b></p>
                        <p><b>{{ itens.Endereco }} - {{ itens.Bairro }} - {{ itens.Cidade }} - {{ itens.Estado }}</b></p>
                        <p><b>{{ itens.Categoria }}</b></p>
                        <p><b>{{ itens.TipoPgto }}</b></p>
                    {% endfor %}
                {% endif %}
            </div>
            <div>

                {% for itens in docproprietario %}
                    <p><b>{{ itens.TipoDocumento }}</b></p>
                    <p><b>{{ itens.Documento }}</b></p>
                {% endfor %}

            </div>

            <!-- DIV MODAL -->
            <div class="modal fade" id="modal-formulario" >
                <div class="modal-dialog">
                    <div class="modal-content">

                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}