{% extends 'veiculos/baseveiculos.html' %}

{% block title %}
    Módulo Veículos
{% endblock %}

{% block mainveiculos %}
    <form method="POST" class="formulario">
        {% csrf_token %}
        <h1 class="tituloformulario"><b>CADASTRO DE CATEGORIA</b></h1>
        <div class="divformulario">
            {% for field in form %}
                {{ field }}
            {% endfor %}
        </div>
        <button type="submit" class="meubotao botaosave">Salvar</button>
    </form>
{% endblock %}
