{% extends 'veiculos/baseveiculos.html' %}

{% block title %}
    Módulo Veículos
{% endblock %}

{% block mainveiculos %}
    <div class="card_categoriaexcluir">
        <h3><b>EXCLUSÃO</b></h3>
        <h3><b>CATEGORIA</b></h3>
        <p>Você tem certeza que quer excluir a categoria</p>
        <p><b>{{ categoria.Categoria }}?</b></p>
        <form method="post">
            {% csrf_token %}
            <div>
                <a class="btn btn-info" href="{% url 'lista_categoria_veiculos' %}">Cancelar</a>
                {% if not veiculos_list %}
                    <button class="btn btn-danger">Excluir</button>
                {% endif %}
            </div>
            {% if veiculos_list %}
            <P><b>Esta categoria não pode ser excluida porque está em uso</b></P>
            {% endif %}
        </form>
    </div>
{% endblock %}
