{% extends 'veiculos/baseveiculos.html' %}

{% block mainveiculos %}
    <div class="lista_conteudo">
        <header>
            <h4>CADASTRO DE VEÍCULOS</h4>
        </header>
        <div class="nav_filtro">
            <div>
                <div class="filtro">
                    <form>
                        <select class="filtrotexto" name="filtrocategoria">
                            <option value="" disable selected>FILTRAR CATEGORIA...</option>
                            {% for itens in categoria %}
                                <option value="{{ itens.Categoria }}">{{ itens.Categoria }}</option>
                            {% endfor %}
                        </select>
                        <button type="submit" class="btn btn-info glyphicon glyphicon-search"></button>
                    </form>
                </div>
            </div>
            <div class="add_registro">
                <button type="button" class="btn btn-success glyphicon glyphicon-plus js-criaveiculo" data-url="{% url 'criaveiculo' %}"></button>
            </div>
        </div>
        <div>
            <table class="tabela">
                <thead>
                    <tr class="tabelatitulo">
                        <th class="primeiracoluna">PLACA</th>
                        <th>CATEGORIA</th>
                        <th>MARCA</th>
                        <th>MODELO</th>
                        <th>ANO</th>
                        <th>MOTORISTA</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for itens in veiculo %}
                        <tr class="tabelalinha">
                            <td class="primeiracoluna"> {{ itens.Placa }}</td>
                            <td>{{ itens.Categoria }}</td>
                            <td>{{ itens.Marca }}</td>
                            <td>{{ itens.Modelo }}</td>
                            <td>{{ itens.Ano }}</td>
                            <td>{{ itens.Motorista }}</td>
                            <td class="seleciona_registo">
                                <button class="btn btn-info btn-xs" onclick="window.location.href = '{% url 'consultaveiculo' itens.idVeiculo %}'">
                                    <span class="glyphicon glyphicon-phone-alt"></span>
                                </button>
                                <button class="btn btn-primary btn-xs" onclick="window.location.href = '{% url 'consultaveiculo' itens.idVeiculo %}'">
                                    <span class="glyphicon glyphicon-folder-open"></span>
                                </button>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <footer>
            {% for itens in veiculo%}
                {% if forloop.last %}
                    <h5> {{ forloop.counter }} Registros de veículos listados.</h5>
                {% endif %}
            {% endfor %}
        </footer>
    </div>

    <!-- DIV MODAL -->
    <div class="modal fade" id="modal-formulario" >
        <div class="modal-dialog">
            <div class="modal-content">

            </div>
        </div>
    </div>
{% endblock %}
