.btn-sidebar {
  color: #a9a9a9;
  background-color: #363636;
  border-color: #1c1c1c;
}
.btn-sidebar:focus,
.btn-sidebar.focus {
  color: #a9a9a9;
  background-color: #FF211D;
  border-color: #1c1c1c;
}
.btn-sidebar:hover {
  color: #a9a9a9;
  background-color: #FF211D;
  border-color: #1c1c1c;
}
.btn-sidebar:active,
.btn-sidebar.active,
.open > .dropdown-toggle.btn-sidebar {
  color: #a9a9a9;
  background-color: #FF211D;
  border-color: #1c1c1c;
}
.btn-sidebar:active:hover,
.btn-sidebar.active:hover,
.open > .dropdown-toggle.btn-sidebar:hover,
.btn-sidebar:active:focus,
.btn-sidebar.active:focus,
.open > .dropdown-toggle.btn-sidebar:focus,
.btn-sidebar:active.focus,
.btn-sidebar.active.focus,
.open > .dropdown-toggle.btn-sidebar.focus {
  color: #a9a9a9;
  background-color: #1c1c1c;
  border-color: #1c1c1c;
}
.btn-sidebar:active,
.btn-sidebar.active,
.open > .dropdown-toggle.btn-sidebar {
  background-image: none;
}
.btn-sidebar.disabled:hover,
.btn-sidebar[disabled]:hover,
fieldset[disabled] .btn-sidebar:hover,
.btn-sidebar.disabled:focus,
.btn-sidebar[disabled]:focus,
fieldset[disabled] .btn-sidebar:focus,
.btn-sidebar.disabled.focus,
.btn-sidebar[disabled].focus,
fieldset[disabled] .btn-sidebar.focus {
  background-color: #363636;
  border-color: #1c1c1c;
}
.btn-sidebar .badge {
  color: #363636;
  background-color: #a9a9a9;
}



.btn-topmenu {
  color: #a9a9a9;
  background-color: #1c1c1c;
  border-color: #9703E8;
}
.btn-topmenu:focus,
.btn-topmenu.focus {
  color: #a9a9a9;
  background-color: #722EFF;
  border-color: #9703E8;
}
.btn-topmenu:hover {
  color: #a9a9a9;
  background-color: #722EFF;
  border-color: #9703E8;
}
.btn-topmenu:active,
.btn-topmenu.active,
.open > .dropdown-toggle.btn-topmenu {
  color: #a9a9a9;
  background-color: #722EFF;
  border-color: #9703E8;
}
.btn-topmenu:active:hover,
.btn-topmenu.active:hover,
.open > .dropdown-toggle.btn-topmenu:hover,
.btn-topmenu:active:focus,
.btn-topmenu.active:focus,
.open > .dropdown-toggle.btn-topmenu:focus,
.btn-topmenu:active.focus,
.btn-topmenu.active.focus,
.open > .dropdown-toggle.btn-topmenu.focus {
  color: #a9a9a9;
  background-color: #9703E8;
  border-color: #9703E8;
}
.btn-topmenu:active,
.btn-topmenu.active,
.open > .dropdown-toggle.btn-topmenu {
  background-image: none;
}
.btn-topmenu.disabled:hover,
.btn-topmenu[disabled]:hover,
fieldset[disabled] .btn-topmenu:hover,
.btn-topmenu.disabled:focus,
.btn-topmenu[disabled]:focus,
fieldset[disabled] .btn-topmenu:focus,
.btn-topmenu.disabled.focus,
.btn-topmenu[disabled].focus,
fieldset[disabled] .btn-topmenu.focus {
  background-color: #1c1c1c;
  border-color: #9703E8;
}
.btn-topmenu .badge {
  color: #1c1c1c;
  background-color: #a9a9a9;
}
