{% load static %}
:root {
    --corprincipal: #083c5d; /* #333a56 */
    --corsecundaria: #d7cec7; /* #eac67a #C0C0C0 */
    --corsidebar: #CD6090;
    --corfundo: white;
}
/* Arquivo base.html */
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body {
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

body .container {
	margin: 0;
	padding: 0;
    width: 100%;
    height: auto;
	display: flex;
    align-items: center;
    justify-content: flex-start;    
	background-image: url("/static/website/img/wallpaper.jpg");
	background-position: center center;
	background-repeat: no-repeat;
    -webkit-backgroud-size: cover;
    -moz-background-size: cover;
    -moz-background-size:cover;
    background-size: cover;
    background-attachment: fixed; 
    overflow: visible;
}

nav {
    width: 180px;
    min-width: 180px;
    height: 100vh;
    background-color: var(--corsecundaria);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    z-index: 9998 ;
}

nav header {
    background-color: var(--corprincipal);
    color: var(--corsecundaria);
    width: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 5px;
}

nav header h6 {
    font-size: 14px;
}

nav .menu {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

nav ul {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    padding-left: 15px;
    margin: 0;
}

nav .menu a {
    font-size: 17px;
    color: var(--corprincipal);
    transition: .4s;
}
nav .menu li:hover a {
    color: deeppink;
    padding-left: 15px;
    text-decoration: none;
}

nav .menu i {
    margin: 0;
    padding: 0;
}

nav footer {
    background-color: var(--corprincipal);
    color: var(--corsecundaria);
    width: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 5px;
}

nav footer h6 {
    font-size: 14px;
    margin:  5px;
    padding: 0;
}

.menu-icone label {
    position: fixed;
    margin-left: 0px;
    top: 0;
    font-size: 35px;
    font-weight: bold;
    padding: 0px;
    padding-top: 5px;;
    width: 50px;
    height: 50px;
    text-align: center;
    color: deeppink;
    cursor: pointer;
    transition: all .4s;
    z-index: 9999;
}

.menu-icone label:hover {
    background-color: var(--corprincipal);
    color: deeppink;
}

#chk:checked ~ .container nav {
    display: flex;
    transition: 0.4s ease all;
}

#chk:checked ~ .container .conteudo {
    margin-left: 180px;
}

#chk:checked ~ .menu-icone label {
    margin-left: 180px;
    display: none;
}

#chk:checked ~ .container .conteudo .header-base {
    padding-left: 20px;
}

#chk {
    display: none;
}

@media screen and (max-width: 360px) {
    .sidebar {
        width: 100%;
    }
    .header_website {
        width: 100%;
    }
    .footer_website {
        width: 100%;
    }
}

.conteudo {
    width: 100vw;
    /* height: 100vh; */
	padding: 0;
    margin: 0;
    margin-left: 0;
    /* overflow: visible; */
}
/* CSS COMPARTILHADOS - Arquivos index.html */
.conteudo_base {
    background-color: var(--corsecundaria);
    height: auto;
    overflow: hidden;
    margin: 10px;
    box-shadow: 5px 5px 2px var(--corsecundaria);
	border: 2px solid var(--corprincipal);
}
.lista_conteudo {
    background-color: var(--corprincipal);
    width: 100%;
    height: auto;
    overflow: hidden;
    margin: 0px;
}
.lista_conteudo header h4 {
    width: 100%;
    height: 50px;
    color: #fff;
    padding: 10px;
    margin: 0px;
    text-align: left;
}
.lista_conteudo footer {
    background-color: var(--corprincipal);
    width: 100%;
    float: left;
}
.lista_conteudo footer h5 {
    color: var(--corsecundaria);
    text-align: center;
    font-size: 14px;
}
.nav_filtro {
    background-color: var(--corsecundaria);
    width: 100%;
    height: auto;
    overflow: hidden;
}
.add_registro {
    margin: 7px 5px 3px 5px;
	float: right;
}
.tabela {
    width: 100%;
    float: left;
}
.tabelatitulo {
    background-color: var(--corprincipal);
    color: var(--corsecundaria);
    height: 40px;
    padding: 10px;
}
.tabelalinha {
    background-color: var(--corsecundaria);
    font-size: 14px;
    text-align: left;
    color: var(--corprincipal);
    height: 40px;
}
.tabelalinha:hover {
    background-color: #66CDAA;
    font-size: 14px;
    text-align: left;
    color: var(--corprincipal);
    height: 40px;
}
.primeiracoluna {
    padding-left: 5px;
}
.seleciona_registo {
    float: right;
    margin: 10px 10px 0 0;
}
.filtro {
	margin: 5px;
	border: 2px solid var(--corprincipal);
	float: left;
}
.filtroadicional {
	margin: 5px 5px 5px 20px;
}
.filtrotexto {
	border: 0;
	background: var(--corfundo);
	color: #000;
	width: 180px;
	height: 36px;
	margin: 0 auto;
	padding: 5px 0 5px 5px;
	float: left;
	line-height: 36px;
}
main .consulta .consulta-header {
    width: 100%;
    margin: 0;
}
.consulta_headertitulo {
    background: var(--corprincipal);
    color: #fff;
    height: 45px;
    width: 85%;
    font-size: 20px;
    text-align: left;
    padding: 8px 5px 0 5px;
    margin: 0;
    float: left;
    border-bottom: 1px solid var(--corsecundaria);
}
.consulta_headerbtn {
    background: var(--corprincipal);
    height: 45px;
    width: 15%;
    text-align: right;
    padding: 5px 5px;
    margin: 0;
    float: right;
    border-bottom: 1px solid var(--corsecundaria);
}
.consulta-header-dados {
    background: var(--corprincipal);
    color: white;    
    width: 100%;
    height: auto;
    font-size: 12px;
    line-height: 8px;
    float: left;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    padding-left: 5px;
 /*   padding: 8px 5px;*/
}

/* clientes/index.html */
.status_cliente {
    color: #3CB371;
}
.tabelaveiculo {
    background-color: var(--corprincipal);
    color: var(--corsecundaria);
    border: solid 1px var(--corsecundaria);
    margin: 0 0 0 10px;
    text-align: left;
    width: 98%;
    float: center;
    border: 2px solid var(--corprincipal);
}
.tabelaveiculo thead {
    background-color: #a9a9a9;
    color: var(--corprincipal);
    font-size: 18px;
    height: 30px;
}
.tabelaveiculo th {
    font-family: verdana;
    font-size: 16px;
    text-align: center;
    padding: 5px;
}
.tabelaveiculo td {
    font-family: verdana;
    font-size: 16px;
    height: 30px;
}
.alinhaesquerda {
    text-align: left;
    padding: 0 0 0 5px;
}
.alinhacenter {
    text-align: center;
}
.alinhadireita {
    text-align: right;
}
.col1 {
    width: 23%;
    _width: 23%;
}
.col2 {
    width: 23%;
    _width: 23%;
}
.col3 {
    width: 23%;
    _width: 23%;
}
.col3 {
    width: 23%;
    _width: 23%;
}
.col5 {
    width: 8%;
    _width: 8%;
}
.botaomenu {
    background: var(--corprincipal);
    width: 100%;
    height: 40px;
    font-size: 14px;
    text-align: left;
    color: var(--corsecundaria);
    padding: 5px;
    margin: 0px;
}
.botaomenu:hover {
    background: #66CDAA;
    color: var(--corprincipal);
}
.botaomenu:focus {
    color: var(--corsecundaria);
    outline: none;
}
.botaomenu span {
    float: right;
}

/* minutas/index.html */

/* pessoas/index.html */
.containerimg {
    width: 100%;
    height: auto;
    margin: 0;
}
.containerimg img {
    max-width: 100%;
    min-width: auto;
    max-height: 150px;
    min-height: auto;
    background-size: 100%;
    background-repeat: no-repeat;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
}

/* veiculos/index.html */

/* CSS FORMULÁRIOS */
.modal-header {
    background-color: var(--corsecundaria);
    color: var(--corprincipal);
    text-align: center;
}
.close {
    color: var(--corprincipal);
}
.modal-footer {
    background-color: var(--corsecundaria);
}
.divformulario label {
    color: var(--corprincipal);
    margin: 2px 0 0 0;
}
.divformulario h4 {
    text-align: center;
}
.formfields,
.formfieldstexto {
	background: var(corfundo);
	color: #000;
	font-size: 18px;
	width: 100%;
	height: 25px;
	line-height: 18px;
	margin: 2px 0px;
	border: 1px solid #000;
	padding: 0px 5px;
}
.formfields:focus,
.formfieldstexto:focus {
	background: #a8a8a8;
	color: #000;
	box-shadow: 0 0 5px #fff;
	border: 3px solid #305a72;
}
.formfieldstexto {
	height: 50px;
	line-height: 18px;
}
.fieldsfinaliza {
    width: 82px;
    text-align: right;
    margin-left: 10px;
}

input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
	-webkit-text-fill-color: #000;
	-webkit-box-shadow: 0 0 0px 1000px #e8e8e8 inset;
}
::placeholder {
	color: #a9a9a9;
}

/* */
.excluidocfone {
    background: var(--corsecundaria);
    max-width: 12%;
    min-width: 12%;
    height: 26px;
    float: right;
}
.excluicategoria {
    background: var(--corsecundaria);
    max-width: 12%;
    min-width: 12%;
    height: 26px;
    float: right;
}

main .consulta {
    background-color: white;
    border: 3px solid black;
    margin: 0;    
    margin-bottom: 20px;
    padding: 0;
    width: 100%;
    height: auto;
    overflow: hidden;
}
/*.consulta {
    background: var(--corsecundaria);
    height: auto;
    overflow: hidden;

    margin: 0px;
}*/


main .consulta .consulta-body {
    width: 100%;
    float: left;
    overflow: hidden;
    border-right: 2px solid var(--corprincipal);
}

.btnswitch {
    margin: 0 30px 0 0;
    float: right;
}

.consulta_cliente_modulo {
    height: auto;
}
.consulta_pessoafone,
.consulta_pessoadoc,
.consulta_pessoaconta,
.consulta_contatofone,
.consulta_contatoemail {
    width: 88%;
    height: 26px;
    float: left;
    margin: 0;
    padding: 7px 0;
}
.consulta_pessoaconta, {
    height: 65px;
}

.consulta_coluna1 {
    background-color: var(--corsecundaria);
    height: auto;
}

.consulta_coluna1 h20 {
    width: 100%;
    font-size: 18px;
    text-align: left;
    margin: 0;
    padding: 5px 5px 0 5px;
    border-bottom: 1px solid #363636;
}
.consulta_cliente {
    width: 100%;
    margin: 0;
    border-bottom: 1px solid #fff;
}
.consulta_clientetitulo {
    height: auto;
    overflow: hidden;
    margin: 10px 0 0 0;
}
.consulta_clientetitulo h2 {
    background: var(--corprincipal);
    font-size: 18px;
    text-align: center;
    color: #fff;
    width: 100%;
    height: 30px;
    float: left;
    margin: 0;
    padding: 5px;
    border-bottom: 1px solid #fff;
}
.consulta_subtitulo {
    background: var(--corsecundaria);
    font-size: 18px;
    text-align: left;
    color: var(--corprincipal);
    width: 97%;
    height: 30px;
    float: left;
    margin: 5px 0;
    padding: 5px 5px 0 5px;
    border-bottom: 1px solid var(--corprincipal);
    border-top: 1px solid var(--corprincipal);
}
.subtitulo2 {
    width: 100%;
}
.metade1 {
    width: 48%;
}
.metade2 {
    padding: 5px 5px 0 20px;
    width: 49%;
}
.consulta_pessoafone p,
.consulta_pessoadoc p,
.consulta_pessoaconta p,
.consulta_contatofone p,
.consulta_contatoemail p {
    font-size: 16px;
    text-align: left;
    line-height: 12px;
    padding: 0 5px;
}
.consulta_cobranca {
    width: 88%;
    height: 60px;
    float: left;
    margin: 0;
    padding: 7px 0;
}
.consulta_cobranca p {
    font-size: 14px;
    text-align: left;
    line-height: 10px;
    padding: 0 5px;
}
.consulta_tabela {
    width: 100%;
    height: auto;
    overflow: hidden;
    float: left;
    margin: 0;
    padding: 0;
}
.consulta_tabela p {
    font-size: 16px;
    text-align: left;
    padding: 0 5px;
    margin: 0;
}
.consulta_tabelaveiculomenu {
    width: 25%;
    float: left;
}
.consulta_tabelaveiculomenu ul {
	padding: 0;
	margin: 0;
	font-family: verdana;
	font-size: 16px;
	text-align: left;
	color: #FFF;
	list-style: none;
	text-indent: 5px;
}
.consulta_tabelaveiculo {
 /*   background: yellow;*/
    width: 75%;
    height: auto;
    overflow: hidden;
    float: left;
}

.botaoadicionar {
    background: var(--corsecundaria);
    font-size: 10px;
    text-align: right;
    color: var(--corprincipal);
    width: 3%;
    height: 30px;
    float: right;
    margin: 4px 0;
    padding: 9px 5px 0 5px;
    border-bottom: 1px solid var(--corprincipal) ;
    border-top: 1px solid var(--corprincipal) ;
}


.consulta_formatualiza {
    margin: 0px 0px 5px 5px;
    padding: 0px;
}


.switch {
    position: absolute;
    margin-left: -9999px;
    visibility: hidden;
}

.switch + label {
    display: block;
    position: relative;
    cursor: pointer;
    outline: none;
    user-select:none;
}

.switch--shadow + label {
    padding: 2px;
    width: 40px;
    height: 20px;
    background: var(--corprincipal);
    border-radius: 20px;
}

.switch--shadow + label:before,
.switch--shadow + label:after {
    display: block;
    position: absolute;
    top: 1px;
    left: 1px;
    bottom: 1px;
    content: '';
}

.switch--shadow + label:before {
    right: 1px;
    background-color: var(--corsecundaria);
    border: 1px solid;
    border-radius: 20px;
    transition: all 0.4s;
}

.switch--shadow + label:after {
    width: 18px;
    background-color: dodgerblue;
    border-radius: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    transition: all 0.4s;
}

.switch--shadow:checked + label:before {
    background-color: var(--corprincipal);
}

.switch--shadow:checked + label:after {
    transform: translateX(20px);
}

.switch-titulo {
    padding: 0 10px 0 5px;
}

.tableswitch {
    margin-left: 5px;
    width: 50%;
    float: left;
}

.switchminuta {
    background: red;
    min-height: 20px;
    margin: 20px;
}

/* TABELA RECEBIVEIS */
.tb-recebe {
    width: 100%;
    margin-right: 5px;
}
.tb-recebe tr {
    height: 30px;
}
.tb-descricao {
    width: 60%;
    padding-left: 5px;
}
.tb-switch {
    padding-top: 3px;
    height: 26px;
}
.tb-valor {
    width: 30%;
    text-align: right;
    padding-right: 5px;
}
.tb-despesas {
    padding-right: 22px;
}

.porcentagem {
    max-width: 70px;
}

.demonstrativo {

}

.tb-demo-recebe {
    width: 100%;
    font-size: 14px;
}

.titulo {
    font-size: 16px;
    text-align: center;
    background-color: var(--corprincipal);
    color: var(--corsecundaria);
    border: 1px solid;
}

.tb-coluna1 {
    min-width: 170px;
    max-width: 170px;
    padding-left: 5px;
}

.tb-coluna2 {
    padding-top: 5px;
    padding-left: 2px;
    border-left: 1px solid;
}

.tb-coluna3 {
    min-width: 100px;
    max-width: 100px;
    text-align: right;
}

.tb-coluna4 {
    min-width: 100px;
    max-width: 100px;
    text-align: right;
}

.tb-coluna5 {
    min-width: 80px;
    max-width: 80px;
    text-align: right;
    padding-right: 2px;
}

.tb-demo-recebe {

}

.demonstrativo-input {
    width: 75%;
    text-align: right;
}

.btnfinalizaminuta {
    float: right;
    margin: 5px;
    width: 15%;
}

.saldo-minuta {
    float: left;
    padding: 7px 25px;
    font-size: 18px;
    font-weight: bold;
    color: var(--corprincipal);
    width: 70%;
}
.consulta_itens {
    width: 88%;
    height: inherit;
    float: left;
    margin: 0;
    padding: 0 0 0 50px;
    font-size: 14px;
}
.consulta_atualizacoes {
    width: 100%;
    float: left;
}

#id_Comentarios {
    width: 100%;
    padding: 0 10px;
    font-size: 18px;
    color: --var(corprincipal)
    resize: none;
}

.div_cometarios form button {
    width: 100%;
    float: center;
    margin: 50px;
    padding: 50px;
}
.comentarios {
	line-height: 18px;
}
.comentarios:focus{
	background: var(--corsecundaria);
	color: var(--corprincipal);
	box-shadow: 0 0 5px #fff;
	border: 3px solid #305a72;
}

.informa-entrega {
    color: red;
    font-size: 12px;
    text-align: center;
}

/* Arquivo Base */
.header-base {
    background-color: var(--corprincipal);
	width: 100vw;
    height: 50px;
    position: fixed;
    top: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: start;
    padding-left: 70px;
    z-index: 9997;
}

.header-base h1 {
    margin: 0;
    padding: 0;
    color: deeppink;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 24px;
    font-weight: bold;
}

/* Modulo Faturamento */
.conteudo-base {
    min-height: 100vh;
    overflow: hidden;
    margin: 70px 20px;
    padding: 0px;
}

/* index.html */
main .faturas {
    background-color: white;
    border: 3px solid black;
    margin: 0;    
    margin-bottom: 20px;
    padding: 0;
}

main .faturas header {
    background: var(--corprincipal);
    color: var(--corsecundaria);
    width: 100%;
    text-align: center;
    padding: 5px 0;
}

main .faturas header h2 {
    margin: 0;
    padding: 0;
    font-size: 24px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
}

main .faturas main,
main .consulta main {
    background: white;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 0px;
    padding: 5px;
}

main .faturas .card-faturada {
    background: var(--corsecundaria);
    color: var(--corprincipal);
    border: 2px solid var(--corprincipal);
    width: 200px;
    min-width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 5px;
}

main .faturas .card-faturada header {
    background: var(--corprincipal);
    color: var(--corsecundaria);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main .faturas .card-faturada footer {
    background: #a1a1a1;
    width: 100%;
    padding: 5px 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/* Usado nos Modulo Faturameno e Modulo Minuta */
main .card-base1 {
    background: var(--corsecundaria);
    color: var(--corprincipal);
    border: 2px solid var(--corprincipal);
    width: 200px;
    min-width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 5px;
}

main .card-email {
    width: 300px;
    min-width: 300px;
}

main .card-endereco {
    width: auto;
    min-width: 300px;
}

main .card-base1 header {
    background: var(--corprincipal);
    color: var(--corsecundaria);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
}

main .card-base1 section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: auto;
    min-height: 50px;
}

main .card-clientes section {
    flex-direction: column;
    height: auto;
    min-height: 50px;
}

main .card-base1 section .section-itens {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 5px;
}

main .card-base1 form {
    width: 100%;
}

main .card-base1 footer {
    background: #a1a1a1;
    width: 100%;
    padding: 5px 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

main .card-base2 {
    background: var(--corsecundaria);
    color: var(--corprincipal);
    border: 2px solid var(--corprincipal);
    width: 20%;
    min-width: 290px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 5px;
}

main .card-base2 header {
    background: var(--corprincipal);
    color: var(--corsecundaria);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
}

main .card-base2 section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: auto;
    min-height: 50px;
}

main .card-base2 section .despesa-itens {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3px 5px;
}

main .card-base3 section .tipo-cobranca {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

main .card-base3 section article {
    background-color: steelblue;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

main .card-base3 section article .teste {
    background-color: tomato;
    display: flex;
    
    width: 100%;
    margin-top: 5px;
}

main .card-base2 section .section-itens,
main .card-base3 section article .teste .switch-itens {
    background-color: yellow;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3px 5px;
}




main .card-base2 section .tabela-itens {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3px 5px;
}

main .card-base3 section .switch-itens {
    padding: 0 5px;
}

main .card-base2 form {
    width: 100%;
}

main .card-base2 form select {
    margin-top: 5px;
}

main .card-base2 form input {
    margin-top: 5px;
    margin-bottom: 5px;
}

main .card-base2 footer {
    background: #a1a1a1;
    width: 100%;
    padding: 5px 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

main .card-base3 {
    background: var(--corsecundaria);
    color: var(--corprincipal);
    border: 2px solid var(--corprincipal);
    width: 70%;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 5px;
}

main .card-base3 header {
    background: var(--corprincipal);
    color: var(--corsecundaria);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
}

main .card-base3 section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: auto;
}

main .card-base3 section .entregas-itens {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3px 5px;
}

main .card-base3 form {
    width: 100%;
}

main .card-base3 form span {
    margin-bottom: 5px;
}

main .card-base3 form input {
    margin-bottom: 5px;
}

main .card-base3 footer {
    background: #a1a1a1;
    width: 100%;
    padding: 5px 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

main .card-base3 .seta {
    font-size: 24px;
    padding: 0;
}

main .consulta-comentario form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main .consulta-comentario form button {
    margin: 5px;
}

main .consulta-concluir section {
    background-color: var(--corsecundaria);
    color: var(--corprincipal);
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main .consulta-concluir footer {
    background-color: #a1a1a1;
    display: flex;
    align-items: center;
    justify-content: center;
}

main .consulta-concluir footer button {
    margin: 10px;
}

main .consulta .consulta-header-despesas-entregas {
    background-color: var(--corprincipal);
    color: white;
    font-size: 20px;
    text-align: center;
    width: 100%;
    margin: 0;
    padding: 3px;
}

main .consulta .consulta-header-tabelas {
    background-color: var(--corprincipal);
    color: white;
    font-size: 20px;
    text-align: center;
    width: 100%;
    margin: 0;
    padding: 3px;
}

main .faturas .rodape {
    background: var(--corsecundaria);
    color: var(--corprincipal);
    width: 100%;
    margin: 0;
    padding: 0 10px;;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

main .faturas .rodape h5 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    margin: 0;
    padding: 5px 0;
}

main .faturas-pagas {
    display: flex;
}

main .faturas table thead {
    background-color: var(--corprincipal);
}

main .faturas table th {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
    color: var(--corsecundaria);
}

main .faturas table tbody {
    background-color: var(--corsecundaria);
}

main .faturas table td {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
    color: var(--corprincipal);
}

main .faturas table tbody tr:hover {
    background-color: #66CDAA;
}

.esquerda {
    text-align: left;
}

.direita {
    text-align: right;
}

.centro {
    text-align: center;
}

@media screen and (max-width: 360px) {
    .sidebar {
        display: none;
    }

    .conteudo {
        width: 100%;
        padding: 0;
        margin: 0;
    }

    main .faturas header h2 {
        font-size: 14px;
    }

    main .faturas .card-faturar {
        width: 100%;
    }

    main .faturas .ca rd-faturada {
        width: 100%;
    }

    main .faturas .rodape h5 {
        font-size: 10px;
    }
}

/* minutafaturarcliente.html */

main .minutas-faturar  {
    border: 3px solid black;
    width: 100%;
    height: auto;
    margin: 0;    
    margin-bottom: 20px;
    padding: 0;
}

main .minutas-faturar header form {
    background-color: var(--corprincipal);
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 17px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    margin: 0;
    padding: 5px 10px 8px;
}

main .minutas-faturar header .input-fatura {
    width: 150px;
    text-align: right;
    padding-right: 5px;
}

main .minutas-faturar header .input-cria-fatura {
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: space-between;    
}

main .minutas-faturar header .input-cria-fatura-vencimento {
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
}

main .minutas-faturar header .input-cria-fatura-vencimento span {
    color: var(--corsecundaria);
    margin-right: 5px;
}

main .minutas-faturar header .botao-cria-fatura {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

main .minutas-faturar main{
    background-color: white;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;    
}

main .seleciona-minuta {
    background: var(--corprincipal);
    min-width: 180px;
    max-width: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-top: 5px;
    margin-left: 5px;
    margin-bottom: 5px;
}

main .seleciona-minuta .titulo-seleciona-minuta {
    margin: 0;
    padding: 0;
    color: var(--corsecundaria);
    width: 100%;
    text-align: center;
}

main .seleciona-minuta .tb-select-minuta {
    background: var(--corsecundaria);
    border: 4px solid var(--corprincipal);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0px;
}

main .seleciona-minuta .tb-select-minuta-col1 {
    color: var(--corsecundaria);
    width: 60px;
    font-size: 40px;
    text-align: center;
    cursor: pointer;
}

main .seleciona-minuta .tb-select-minuta-col2 {
    margin: 0;
    padding: 0;
    color: var(--corprincipal);
    width: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

main .seleciona-minuta .tb-select-minuta-col1 p,
.seleciona-minuta .tb-select-minuta-col2 p {
    margin: 0;
    padding: 0;
}

main .seleciona-minuta .checked {
    background-color: green;
}

main .seleciona-minuta .nochecked {
    background-color: red;
}

main .minutas-selecionadas {
    width: 80%;
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
}

main .minutas-selecionadas .auto-minuta {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
}

main .minutas-selecionadas .auto-minuta .dados-minuta {
    background-color: var(--corprincipal);
    color: var(--corsecundaria);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

main .minutas-selecionadas .auto-minuta span {
    padding-left: 5px;
    padding-right: 5px;;
}

main .minutas-selecionadas .auto-minuta .minuta-fatura {
    width: 100%;
    text-align: left;
}

main .minutas-selecionadas .auto-minuta .itens-minuta {
    margin: 0;
    padding: 0;
    width: max-content;
    height: 20px;
    display: inline-block;
    vertical-align: center;
}

main .minutas-selecionadas .auto-minuta .comentarios-fatura {
    background: deeppink;
    width: 100%;
}

main .minutas-selecionadas .auto-minuta .comentarios-fatura p {
    margin: 0;
    padding: 0;
}

.tela-login {
    display: flex;
    align-items: flex-center;
    justify-content: center;
}

main .usuario {
    background-color: white;
    color: var(--corprincipal);
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main .usuario header {
    background-color: var(--corprincipal);
    color: var(--corsecundaria);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

main .usuario header span {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    font-size: 24px;
    padding: 10px;
}

main .usuario form {
    width: 100%;
}

main .usuario section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

main .usuario label {
    padding: 0;
    margin: 0;
}

main .usuario input {
    width: 300px;
    margin-bottom: 10px;
}

main .usuario ul {
    margin: 0 5px 5px 5px;
}

main .usuario span {
    margin: 0 5px 5px 5px;
}

main .usuario footer {
    background-color: #a1a1a1;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

main .usuario-out {
    text-align: center;
    margin-bottom: 10px;
    font-size: 10px;
}


@media only screen and (max-width: 1600px) {
    main .card-columns {
        column-count: 4;
        column-gap: 5px;
    }
}

@media only screen and (max-width: 1260px) {
    main .card-columns {
        column-count: 3;
        column-gap: 5px;
    }
}

@media only screen and (max-width: 960px) {
    main .card-columns {
        column-count: 2;
        column-gap: 5px;
    }
}

@media only screen and (max-width: 660px) {
    main .card-columns {
        column-count: 1;
    }
}

.card {
    display: inline-block;
    -webkit-column-break-inside: avoid ;
}

.modal {
    z-index: 10000;
    align-items: center;
    justify-content: center;
}

.modal-dialog {
    width: 800px;
}

.modal-header {
    background-color: deeppink;
    color: white;
    text-align: center;
    font-size: 50px;
}

.modal label {
    color: var(--corprincipal);
    padding-top: 10px;
}

.modal input {
    background-color: snow;
    color: var(--corprincipal);
    padding: 10px;
}

.modal-footer {
    background-color: deeppink;
}