<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
    <title>TRANSEFETIVA Transportes</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body style="margin: 0; padding: 0;">

    <table align="center" width="600" border="1">
        <tr width="100%">
            <td>
                Aqui
            </td>
        </tr>
        <tr width="100%">
            <td>
                Ali
            </td>
        </tr>
        <tr>
                <tr>
                    <td>
                        Coluna1
                    </td>
                    <td>
                        Coluna2
                    </td>
                </tr>
        </tr>
    </table>

</body>
</html>
