<div class="article-card-titulo">
    <span>MULTAS A PAGAR</span>
</div>
<div class="article-card-body">
    {% for multa in multas %}
    <div class="item-multa">
        <div class="item-vencimento" title="Data de Vencimento">
            <i class="bi bi-calendar-date i-button-null"></i> {{ multa.vencimento }}
        </div>
        <div class="item-valor" title="Valod da Multa">
            <i class="bi bi-currency-dollar i-button-null"></i> R$ {{ multa.valor }}
        </div>
        <div class="item-doc" title="Número Penalidade">
            <i class="bi bi-file-richtext i-button-null"></i> {{ multa.doc }}
        </div>
        <div class="item-ait" title="Número AIT">
            <i class="bi bi-file-earmark-binary i-button-null"></i> {{ multa.ait }}
        </div>
        <div class="item-data" title="Data e Hora da Multa">
            <i class="bi bi-calendar i-button-null"></i> {{ multa.data }} {{ multa.hora }}
        </div>
        <div class="item-veiculo" title="Placa do Veículo Multado">
            <i class="bi bi-truck i-button-null"></i> {{ multa.placa }}
        </div>
    </div>
    <div class="item-multa">
        <div class="item-infracao" title="Tipo de Infração">
            <i class="bi bi-question-diamond i-button-null"></i> {{ multa.infracao }} 
        </div>
    </div>
    <div class="item-multa">
        <div class="item-infracao" title="Localização">
            <i class="bi bi-geo-alt i-button-null"></i> {{ multa.local }}
        </div>
    </div>
    <div class="item-multa" title="Linha Digitável">
        <div class="item-linha">
            {% if multa.digitavel_sp %}
            <i class="bi bi-upc-scan i-button-null"></i>
            {{ multa.digitavel_sp|slice:"0:11" }}.{{ multa.digitavel_sp|slice:"11:12" }}
            {{ multa.digitavel_sp|slice:"12:23" }}.{{ multa.digitavel_sp|slice:"23:24" }}
            {{ multa.digitavel_sp|slice:"24:35" }}.{{ multa.digitavel_sp|slice:"35:36" }}
            {{ multa.digitavel_sp|slice:"36:47" }}.{{ multa.digitavel_sp|slice:"47:" }}
            {% endif %}
        </div>
        <div class="item-button">
            <i class="bi bi-upc-scan i-button
            js-copia-linha" title="Cópia Linha Digitável"></i>
            <i class="bi bi-pencil-square i-button
            js-edita-multas" title="Edita Multa"
            data-idmulta={{ multa.id_multa }}></i>
            <i class="bi bi-trash i-button
            js-exclui-multas" title="Exlui Multa"
            data-idmulta={{ multa.id_multa }}></i>
        </div>
    </div>
    <div class="item-multa">
        <div class="item-desconta" title="Quem Paga">
            <i class="bi bi-currency-dollar i-button-null"></i>
            {% if multa.desconta %}
            MOTORISTA
            {% else %}
            EMPRESA
            {% endif %}
        </div>
        <div class="item-motorista" title="Motorista Infrator">
            <i class="bi bi-person-square i-button-null"></i>
            {{ multa.motorista }}
        </div>
        <div class="item-vale">
            {% if multa.vale %}
            <i class="icofont-bill-alt i-button-null"></i>
            {{ multa.vale_mensagem }}
            {% if multa.vale.Pago %}
            <i class="bi bi-check-circle i-button-null"
            title="Vale Pago"
            data-idvale="{{ multa.vale.idVales }}"></i>
            {% else %}
            <i class="bi bi-trash i-button"
            title="Excluir Vale"
            data-idvale="{{ multa.vale.idVales }}"></i>
            {% endif %}
            {% endif %}
        </div>
    </div>
    <div class="linha-divisoria"></div>
    {% endfor %}
</div>
<div class="article-card-footer">
    {% if multas %}
        <div class="quantidade">
        {% for multa in multas %}
        {% if forloop.last %}
        <span><b>{{ forloop.counter|stringformat:"02d" }} MULTA{{ forloop.counter|pluralize|upper }}</b></span>
        {% endif %}
        {% endfor %}
        </div>
        <div class="botoes">
            <i class="bi bi-printer i-button js-imprime-multas"
            title="Imprime Relatório de Multas" data-filtro="SEM FILTRO"
            data-parametro=""></i>
        </div>
        <div class="quantidade">
        </div>
    {% endif %}
</div>