<form class="js-gera-multas" method="post" action="">
    {% csrf_token %}
    <div class="article-card-titulo">
        <i class="bi bi-plus-circle i-button js-mostra-body-multa"></i>
        <i class="bi bi-dash-circle i-button js-oculta-body-multa"></i>
        <span class="titulo-retrai-card">MULTAS</span>
    </div>
    <div class="article-card-body body-multa">
        <div class="item-multa">
            <div class="item-form">
                <div class="button">
                    <i class="bi bi-truck i-button-null"></i>
                </div>
                <div class="item-field item-veiculo">
                    <select class="form-control" name="veiculo" id="veiculo">
                        <option value="0">SELECIONE UM VEICULO</option>
                        {% for veiculo in veiculos %}
                        {% if multa %}
                            {% if multa.idveiculo == veiculo.idveiculo %}
                            <option value="{{ veiculo.idveiculo }}" selected>{{ veiculo.placa }}</option>
                            {% else %}
                            <option value="{{ veiculo.idveiculo }}">{{ veiculo.placa }}</option>
                            {% endif %}
                        {% else %}
                            <option value="{{ veiculo.idveiculo }}">{{ veiculo.placa }}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="item-form">
                {% if erro_veiculo %}
                <div class="error">
                    <span>{{ erro_veiculo }}<span>
                </div>
                {% endif %}
            </div>
        </div> 
        <div class="item-multa">
            <div class="item-form">
                <div class="button">
                    <i class="bi bi-calendar i-button-null"></i>
                </div>
                <div class="item-field item-data">
                    {% if multa %}
                    <input class="form-control" name="data" type="date"
                    value={{ multa.data_multa }} id="data">
                    {% else %}
                    <input class="form-control" name="data" type="date"
                    value={{ hoje }} id="data">
                    {% endif %}
                </div>
            </div>
            <div class="item-form">
                {% if erro_data %}
                <div class="error">
                    <span>{{ erro_data }}<span>
                </div>
                {% endif %}
            </div>
        </div>    
        <div class="item-multa">
            <div class="item-form">
                <div class="button">
                    <i class="bi bi-clock i-button-null"></i>
                </div>
                <div class="item-field item-hora">
                    {% if multa %}
                    <input class="form-control" name="hora" type="time"
                    value="{{ multa.hora_multa }}" id="hora">
                    {% else %}
                    <input class="form-control" name="hora" type="time"
                    value="07:00" id="hora">
                    {% endif %}
                </div>
            </div>
        </div>   
        <div class="item-multa">
            <div class="item-form">
                <div class="button">
                    <i class="bi bi-file-richtext i-button-null"></i>
                </div>
                <div class="item-field item-doc">
                    {% if multa %}
                    <input class="form-control" name="doc" type="text"
                    value="{{ multa.numero_doc }}"
                    id="doc" placeholder="NÚMERO NOTIF./PENALIDADE">
                    {% else %}
                    <input class="form-control" name="doc" type="text"
                    id="doc" placeholder="NÚMERO NOTIF./PENALIDADE">
                    {% endif %}
                </div>
            </div>
            <div class="item-form">
                {% if erro_doc %}
                <div class="error">
                    <span>{{ erro_doc }}<span>
                </div>
                {% endif %}
            </div>
        </div>    
        <div class="item-multa">
            <div class="item-form">
                <div class="button">
                    <i class="bi bi-file-earmark-binary i-button-null"></i>
                </div>
                <div class="item-field item-ait">
                    {% if multa %}
                    <input class="form-control" name="ait" type="text"
                    value="{{ multa.numero_ait }}"
                    id='ait' placeholder="NÚMERO AIT">
                    {% else %}
                    <input class="form-control" name="ait" type="text"
                    id='ait' placeholder="NÚMERO AIT">
                    {% endif %}
                </div>
            </div>
            <div class="item-form">
                {% if erro_ait %}
                <div class="error">
                    <span>{{ erro_ait }}<span>
                </div>
                {% endif %}
            </div>
        </div>    
        <div class="item-multa">
            <div class="item-form">
                <div class="button">
                    <i class="bi bi-question-diamond i-button-null"></i>
                </div>
                <div class="item-field item-infracao">
                    {% if multa %}
                    <textarea class="form-control" name="infracao"
                    id="infracao" cols="40" rows="2"
                    placeholder="INFRAÇÃO">{{ multa.infracao }}</textarea>
                    {% else %}
                    <textarea class="form-control" name="infracao" id="infracao"
                    cols="40" rows="2" placeholder="INFRAÇÃO"></textarea>
                    {% endif %}
                </div>
            </div>
            <div class="item-form">
                {% if erro_infracao %}
                <div class="error">
                    <span>{{ erro_infracao }}<span>
                </div>
                {% endif %}
            </div>
        </div>    
        <div class="item-multa">
            <div class="item-form">
                <div class="button">
                    <i class="bi bi-geo-alt i-button-null"></i>
                </div>
                <div class="item-field item-local">
                    {% if multa %}
                    <textarea class="form-control" name="local"
                    id="local" cols="40" rows="2"
                    placeholder="LOCAL DA INFRAÇÃO">{{ multa.local }}</textarea>
                    {% else %}
                    <textarea class="form-control" name="local" id="local"
                    cols="40" rows="2" placeholder="LOCAL DA INFRAÇÃO"></textarea>
                    {% endif %}
                </div>
            </div>
            <div class="item-form">
                {% if erro_local %}
                <div class="error">
                    <span>{{ erro_local }}<span>
                </div>
                {% endif %}
            </div>
        </div>    
        <div class="item-multa">
            <div class="item-form">
                <div class="button">
                    <i class="bi bi-currency-dollar i-button-null"></i>
                </div>
                <div class="item-field item-valor">
                    {% if multa %}
                    <input class="form-control" name="valor" type="number"
                    value="{{ multa.valor_multa }}" step="0.01" id="valor">
                    {% else %}
                    <input class="form-control" name="valor" type="number"
                    value="0.00" step="0.01" id="valor">
                    {% endif %}
                </div>
            </div>
            <div class="item-form">
                {% if erro_valor %}
                <div class="error">
                    <span>{{ erro_valor }}<span>
                </div>
                {% endif %}
            </div>
        </div>    
        <div class="item-multa">
            <div class="item-form">
                <div class="button">
                    <i class="bi bi-calendar-date i-button-null"></i>
                </div>
                <div class="item-field item-vencimento">
                    {% if multa %}
                    <input class="form-control" name="vencimento" type="date"
                    value={{ multa.vencimento }} id="vencimento">
                    {% else %}
                    <input class="form-control" name="vencimento" type="date"
                    value={{ hoje }} id="vencimento">
                    {% endif %}
                </div>
            </div>
            <div class="item-form">
                {% if erro_vencimento %}
                <div class="error">
                    <span>{{ erro_vencimento }}<span>
                </div>
                {% endif %}
            </div>
        </div>    
        <div class="item-multa">
            <div class="item-form">
                <div class="button">
                    <i class="bi bi-credit-card i-button-null"></i>
                </div>
                <div class="item-field item-desconta">
                    <select class="form-control" name="desconta" id="desconta">
                        {% if multa %}
                            {% if multa.desconta_motorista %}
                                <option value="">SELECIONE QUEM PAGA</option>
                                <option value="False">EMPRESA</option>
                                <option value="True" selected>MOTORISTA</option>
                            {% elif not multa.desconta_motorista %}
                                <option value="">SELECIONE QUEM PAGA</option>
                                <option value="False" selected>EMPRESA</option>
                                <option value="True">MOTORISTA</option>
                            {% endif %}
                        {% else %}
                            <option value="">SELECIONE QUEM PAGA</option>
                            <option value="False">EMPRESA</option>
                            <option value="True">MOTORISTA</option>
                        {% endif %}
                    </select>
                </div>
            </div>
            <div class="item-form">
                {% if erro_desconta %}
                <div class="error">
                    <span>{{ erro_desconta }}<span>
                </div>
                {% endif %}
            </div>
        </div>
        {% comment %} TODO Linha digitavel Boletos {% endcomment %}
        {% comment %} <div class="item-multa">
            <div class="item-form">
                <div class="button">
                    <i class="bi bi-upc"></i>
                </div>
                <div class="item-field item-linha">
                    <div class="linha-digitavel">
                        {% if error %}
                        <input class="form-control" name="linha1" type="text"
                        id="linha1" maxlength="37"
                        value="{{ request.POST.linha1 }}"
                        placeholder="00000.00000 00000.000000 00000.000000">
                        <input class="form-control" name="linha2" type="text"
                        id="linha2" maxlength="16"
                        value="{{ request.POST.linha2 }}"
                        placeholder="0 00000000000000">
                        {% else %}
                        <input class="form-control" name="linha1" type="text"
                        id="linha1" maxlength="37" value=""
                        placeholder="00000.00000 00000.000000 00000.000000">
                        <input class="form-control" name="linha2" type="text"
                        id="linha2" maxlength="16" value=""
                        placeholder="0 00000000000000">
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="item-form">
                {% if erro_linha %}
                <div class="error">
                    <span>{{ erro_linha }}<span>
                </div>
                {% endif %}
            </div>
        </div>     {% endcomment %}
        <div class="item-multa">
            <div class="item-form">
                <div class="button">
                    <i class="bi bi-upc-scan i-button-null"></i>
                </div>
                <div class="item-field item-linha">
                    <div class="linha-digitavel">
                        {% if multa%}
                        <input class="form-control" name="linhasp1" type="text"
                        id="linhasp1" maxlength="27"
                        value="{{ multa.linha_digitavel_sp|slice:'0:24' }}"
                        placeholder="00000000000.0 00000000000.0">
                        <input class="form-control" name="linhasp2" type="text"
                        id="linhasp2" maxlength="27"
                        value="{{ multa.linha_digitavel_sp|slice:'24:' }}"
                        placeholder="00000000000.0 00000000000.0">
                        {% else %}
                        <input class="form-control" name="linhasp1" type="text"
                        id="linhasp1" maxlength="27" value=""
                        placeholder="00000000000.0 00000000000.0">
                        <input class="form-control" name="linhasp2" type="text"
                        id="linhasp2" maxlength="27" value=""
                        placeholder="00000000000.0 00000000000.0">
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="item-form">
                {% if erro_linha_sp %}
                <div class="error">
                    <span>{{ erro_linha_sp }}<span>
                </div>
                {% endif %}
            </div>
        </div>   
        <input type="hidden" name="idpessoal" value="" id="idpessoal"> 
        <input type="hidden" name="idMulta" value="{{ multa.idmulta }}" id="idMulta"> 
    </div>
    <div class="article-card-footer">
        <button class='bi bi-save2 i-button body-multa'></button>
    </div>
</form>