<form class="js-gera-categorias" method="post" action="">
    {% csrf_token %}
    <div class="article-card-titulo">
        <span>SUB-CATEGORIAS</span>
    </div>
    <div class="article-card-body">
        <div class="item-categoria">
            <div class="item-form">
                <div class="button">
                    <i class="bi bi-tag i-button-null"></i>
                </div>
                <div class="item-field">
                    <select class="form-control" name="categoria" id="categoria">
                        <option value="0">SELECIONE UMA CATEGORIA</option>
                        {% for categoria in categorias %}
                        {% if multa %}
                            {% if multa.idveiculo == veiculo.idVeiculo %}
                            <option value="{{ veiculo.idVeiculo }}" selected>{{ veiculo.Placa }}</option>
                            {% else %}
                            <option value="{{ veiculo.idVeiculo }}">{{ veiculo.Placa }}</option>
                            {% endif %}
                        {% else %}
                            <option value="{{ categoria.idCategoria }}">{{ categoria.Categoria }}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="item-form">
                {% if erro_categoria %}
                <div class="error">
                    <span>{{ erro_categoria }}<span>
                </div>
                {% endif %}
            </div>
        </div>
        <div class="item-categoria">
            <div class="item-form">
                <div class="button">
                    <i class="bi bi-tags i-button-null"></i>
                </div>
                <div class="item-field">
                    <input class="form-control" type="text"
                    name="subcategoria" placeholder="SUB-CATEGORIA">
                </div>
            </div>
            <div class="item-form">
                {% if erro_subcategoria %}
                <div class="error">
                    <span>{{ erro_subcategoria }}<span>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="article-card-footer">
        <button class="bi bi-save2 i-button"></button>
    </div>
</form>