<form class="js-gera-despesas" method="post" action="">
    {% csrf_token %}
    <div class="article-card-titulo">
        <span>DESPESAS</span>
    </div>
    <div class="article-card-body">
        <div class="item-despesa">
            <div class="item-form">
                <div class="button">
                    <i class="bi bi-building i-button-null"></i>
                </div>
                <div class="item-field">
                    {% if despesa %}
                    <input class="form-control" type="text"
                    name="cedente" placeholder="CEDENTE"
                    value="{{ despesa.cedente }}">
                    {% else %}
                    <input class="form-control" type="text"
                    name="cedente" placeholder="CEDENTE">
                    {% endif %}
                </div>
            </div>
            <div class="item-form">
                {% if erro_cedente %}
                <div class="error">
                    <span>{{ erro_cedente }}<span>
                </div>
                {% endif %}
            </div>
        </div>
        <div class="item-despesa">
            <div class="item-form">
                <div class="button">
                    <i class="bi bi-tag i-button-null"></i>
                </div>
                <div class="item-field">
                    <select class="form-control js-categoria" name="categoria" id="categoria">
                        <option value="0">SELECIONE UMA CATEGORIA</option>
                        {% for categoria in categorias %}
                        {% if despesa %}
                            {% if despesa.categoria == categoria.idcategoria %}
                            <option value="{{ categoria.idcategoria }}" selected>
                                {{ categoria.categoria }}
                            </option>
                            {% else %}
                            <option value="{{ categoria.idcategoria }}">
                                {{ categoria.categoria }}
                            </option>
                            {% endif %}
                        {% else %}
                            <option value="{{ categoria.idcategoria }}">
                                {{ categoria.categoria }}
                            </option>
                        {% endif %}
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="item-form">
                {% if erro_categoria %}
                <div class="error">
                    <span>{{ erro_categoria }}<span>
                </div>
                {% endif %}
            </div>
        </div>
        <div class="item-despesa">
            <div class="item-form">
                <div class="button">
                    <i class="bi bi-tags i-button-null"></i>
                </div>
                <div class="item-field">
                    <select class="form-control" name="subcategoria" id="subcategoria">
                        <option value="0">SELECIONE UMA SUB-CATEGORIA</option>
                        {% for subcategoria in subcategorias %}
                        {% if despesa %}
                            {% if despesa.subcategoria == subcategoria.idsubcategoria %}
                            <option value="{{ subcategoria.idsubcategoria }}" selected>
                                {{ subcategoria.subcategoria }}
                            </option>
                            {% else %}
                            <option value="{{ subcategoria.idsubcategoria }}">
                                {{ subcategoria.subcategoria }}
                            </option>
                            {% endif %}
                        {% else %}
                            <option value="{{ subcategoria.idsubcategoria }}">
                                {{ subcategoria.subcategoria }}
                            </option>
                        {% endif %}
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="item-form">
                {% if erro_subcategoria %}
                <div class="error">
                    <span>{{ erro_subcategoria }}<span>
                </div>
                {% endif %}
            </div>
        </div>
        <div class="item-despesa">
            <div class="item-form">
                <div class="button">
                    <i class="bi bi-file-text i-button-null"></i>
                </div>
                <div class="item-field">
                    {% if despesa %}
                    <textarea class="form-control" type="text"
                    name="descricao" placeholder="DESCRIÇÃO">{{ despesa.descricao }}
                    </textarea>
                    {% else %}
                    <textarea class="form-control" type="text"
                    name="descricao" placeholder="DESCRIÇÃO"></textarea>
                    {% endif %}
                </div>
            </div>
            <div class="item-form">
                {% if erro_descricao %}
                <div class="error">
                    <span>{{ erro_descricao }}<span>
                </div>
                {% endif %}
            </div>
        </div>
        <div class="item-despesa">
            <div class="item-form">
                <div class="button">
                    <i class="bi bi-currency-dollar i-button-null"></i>
                </div>
                <div class="item-field">
                    {% if despesa %}
                    <input class="form-control" type="number"
                    name="valor" step="0.01" value="{{ despesa.valor }}">
                    {% else %}
                    <input class="form-control" type="number"
                    name="valor" step="0.01" value="0.00">
                    {% endif %}
                </div>
            </div>
            <div class="item-form">
                {% if erro_valor %}
                <div class="error">
                    <span>{{ erro_valor }}<span>
                </div>
                {% endif %}
            </div>
        </div>
        <div class="item-despesa">
            <div class="item-form">
                <div class="button">
                    <i class="bi bi-calendar-date i-button-null"></i>
                </div>
                <div class="item-field">
                    {% if despesa %}
                    <input class="form-control" type="date"
                    name="vencimento" value="{{ despesa.vencimento }}">
                    {% else %}
                    <input class="form-control" type="date"
                    name="vencimento" value="{{ hoje }}">
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="article-card-footer">
        <button class="bi bi-save2 i-button"></button>
    </div>
</form>