{% extends 'despesas/basedespesas.html' %}

{% block maindespesa %}
<main class='article'>
    <div>
        <article class="article-card card-multas">
            {% include 'despesas/html_form_multas.html' %}
        </article>
        <article class="article-card card-filtro-despesas-multa">
            {% include 'despesas/html_filtro_despesas_multa.html' %}
        </article>
    </div>
    <div>
        <article class="article-card card-minutas-multa">
            {% include 'despesas/html_minutas_multa.html' %}
        </article>
        <article class="article-card card-multas-pagar">
            {% include 'despesas/html_multas_pagar.html' %}
        </article>
    </div>
    <article class="article-card card-despesas">
        {% include 'despesas/html_form_despesas.html' %}
    </article>
    <article class="article-card card-despesas-pagar">
        {% include 'despesas/html_despesas_pagar.html' %}
    </article>
    <div>
        <article class="article-card card-categoria">
            {% include 'despesas/html_form_categorias.html' %}
        </article>
        <article class="article-card card-subcategoria">
            {% include 'despesas/html_form_subcategorias.html' %}
        </article>
    </div>
</main>
{% endblock %}
