{% extends 'despesas/basedespesas.html' %}

{% block maindespesa %}
<main>
    <div>
        <header>

        </header>
        <main>
            {% for itens in contexto %}
            {% endfor %}
        </main>
        <footer>
            <button type="button" class="btn btn-success glyphicon glyphicon-plus"
                    onclick="openMyModal(event); return false;" data-title="CADASTRO DE ABASTECIMENTO"
                    data-action="{% url 'cria_abastecimento' %}" data-button-save-label="SALVAR"></button>
        </footer>
    </div>
    <!-- DIV MODAL -->
    <div class="modal fade" id="modal-formulario" >
        <div class="modal-dialog">
            <div class="modal-content">

            </div>
        </div>
    </div>
</main>
{% endblock %}
