{% extends 'usuarios/baseusuarios.html' %}
{% load static %}

{% block mainusuario %}
<main class="article form-login">
    <div class="article-card">
        <div class="article-card-titulo">
            <span>CADASTRO</span>
        </div>
        <form method="post">
            <div class="article-card-body">
                {% csrf_token %}
                <div class="item-form">
                    {{ form }}
                </div>
                <div class="item-form">
                    {{ form.username }}
                </div>
                <div class="item-form">
                    <label for='id_password' class="form-label">SENHA:</label>
                </div>
                <div class="item-form">
                    {{ form.password }}
                </div>
            </div>
            <div class="article-card-footer">
                <button type="submit" class="bi bi-person-check-fill i-button">
                </button>
            </div>
        </form>
    </div>
</main>
{% endblock %}
