{% extends 'usuarios/baseusuarios.html' %}
{% load static %}

{% block mainusuario %}
<main class="tela-login">
    <div class="usuario">
        <header>
            <span>{{ titulo }}</span>
        </header>
        <form method="post">
            {% csrf_token %}
            <section>
            {{ form }}
            </section>
            <footer>
                <button type="submit" class="btn btn-primary">
                    ACESSAR
                </button>
            </footer>
        </form>
    </div>
</main>
{% endblock %}
