{% extends 'usuarios/baseusuarios.html' %}
{% load static %}

{% block mainusuario %}
<main class="tela-login">
    <div class="usuario">
        <header>
            <span>LOGIN</span>
        </header>
        <form method="post">
            <section class="form-row">
            {% csrf_token %}
                <div class="usuario-row">
                    <label class="usuario-label" for="id_username">USUÁRIO</label>
                    <input id="id_username" type="text" name="username" autofocus="", autocapitalize="none"
                           autocomplete="username" maxlength="150" required="">
                </div>
                <div class="usuario-row">
                    <label class="usuario-label" for="id_password">SENHA</label>
                    <input id="id_password" type="password" name="password", autocomplete="current-password"
                           required="">
                </div>
            </section>
            <footer>
                <button type="submit" class="btn btn-primary">
                    ACESSAR
                </button>
            </footer>
        </form>
    </div>
</main>
{% endblock %}
