{% extends 'usuarios/baseusuarios.html' %}
{% load static %}

{% block mainusuario %}
<main class="tela-login">
    <div class="usuario">
        <header>
            <span>LOGOUT</span>
        </header>
        <section>
        {% csrf_token %}
            <div class="usuario-out">
                <h3>{{ user }} você está logado!</h3>
                <span><a href="{% url 'senha' %}">ALTERAR SUA SENHA</a></span>
            </div>
        </section>
        <footer>
            <button class="btn btn-primary">
                <a href="{% url 'sair' %}">SAIR</a>
            </button>
        </footer>
    </div>
</main>
{% endblock %}
