{% extends 'usuarios/baseusuarios.html' %}
{% load static %}

{% block mainusuario %}
<main class="article form-logout">
    <div class="article-card">
        <div class="article-card-titulo">
            <span>LOGOUT</span>
        </div>
        <form method="post">
            <div class="article-card-body">
                {% csrf_token %}
                <div class="item-form">
                    <span>{{ user }}</span>
                </div>
                <div class="item-form">
                    <span>Você está logado!</span>
                </div>
                <div class="item-form">
                    <a href="{% url 'senha' %}" class="bi bi-key i-button">
                        mudar senha
                    </a>
                </div>
            </div>
            <div class="article-card-footer">
                <a href="{% url 'sair' %}" class="bi bi-door-open i-button"></a>
            </div>
        </form>
    </div>
</main>
{% endblock %}
