{% extends 'usuarios/baseusuarios.html' %}
{% load static %}

{% block mainusuario %}
<main class="tela-login">
    <div class="usuario">
        <header>
            <span>ALTERAR SENHA</span>
        </header>
        <div class="row">
            <div class=teste">
                <form method="post">
                    <!-- Todo formulário tem que ter essa validação -->
                    {% csrf_token %}
                    <!-- Gera o formulário -->
                    {{ form }}
                    <button type="submit" class="btn btn-primary">
                        Entrar
                    </button>
                </form>
            </div>
        </div>
    </div>
</main>
{% endblock %}
