<form class="row g-3" method="post" action="{{ c_url }}">
{% csrf_token %}
{% if c_view == 'cria_orcamento' or c_view == 'edita_orcamento' %}
    <div class="col-md-3">
        <label for="id_Data" class="form-label">DATA:</label>
        {{ form.DataOrcamento }}
        {{ form.DataOrcamento.error }}
    </div>

    <div class="col-md-5">
        <label for="id_Solicitante" class="form-label">EMPRESA:</label>
        {{ form.Solicitante }}
        {{ form.Solicitante.errors }}
    </div>

    <div class="col-md-4">
        <label for="id_Contato" class="form-label">CONTATO:</label>
        {{ form.Contato }}
    </div>

    <div class="col-md-5">
        <label for="id_Email" class="form-label">E-MAIL:</label>
        {{ form.Email }}
        {{ form.Email.errors }}
    </div>

    <div class="col-md-3">
        <label for="id_Telefone" class="form-label">TELEFONE:</label>
        {{ form.Telefone }}
        {{ form.Telefone.errors }}
    </div>

    <div class="col-md-4">
        <label for="id_idCategoriaVeiculo" class="form-label">VEÍCULO:</label>
        {{ form.idCategoriaVeiculo }}
        {{ form.idCategoriaVeiculo.errors }}
    </div>

    <div class="col-md-6">
        <label for="id_Destino" class="form-label">DESTINO:</label>
        {{ form.Destino }}
    </div>

    <div class="col-md-2">
        <label for="id_TaxaExpedicao" class="form-label">R$ EXPEDIÇÃO:</label>
        {{ form.TaxaExpedicao }}
    </div>

    <div class="col-md-2">
        <label for="id_KM" class="form-label">KM:</label>
        {{ form.KM }}
    </div>

    <div class="col-md-2">
        <label for="id_Perimetro" class="form-label">% PERIMETRO:</label>
        {{ form.Perimetro }}
    </div>

    <div class="col-md-2">
        <label for="id_QuantidadeAjudante" class="form-label">QT AJUDANTE:</label>
        {{ form.QuantidadeAjudantes }}
    </div>

    <div class="col-md-2">
        <label for="id_Ajudante" class="form-label">R$ AJUDANTE:</label>
        {{ form.Ajudantes }}
    </div>

    <div class="col-md-2">
        <label for="id_ValorTabela" class="form-label">R$ VEÍCULO:</label>
        {{ form.ValorTabela }}
    </div>

    <div class="col-md-2">
        <label for="id_Pedagio" class="form-label">R$ PEDÁGIO:</label>
        {{ form.Pedagio }}
    </div>

    <div class="col-md-2">
        <label for="id_Despesas" class="form-label">R$ DESPESAS:</label>
        {{ form.Despesas }}
    </div>

    <div class="col-md-2">
        <label for="id_Valor" class="form-label">VALOR TOTAL:</label>
        {{ form.Valor }}
    </div>

    <div class="col-md-12">
        <label for="id_Comentario" class="form-label">COMENTÁRIOS:</label>
        {{ form.Comentario }}
    </div>
    {{ form.StatusOrcamento }}
{% endif %}

{% if c_view == 'exclui_orcamento' %}
    <div class="col-md-12">
        <h4>Você tem certeza que deseja excluir o registro abaixo?</h4>
        <br>
        <p>EMPRESA: <b>{{ c_queryset.Solicitante }}</b>
        {% if c_queryset.Contato %}
         - CONTATO: <b>{{ c_queryset.Contato }}
        {% endif %}
        </b>.</p>
        {% if c_queryset.Valor %}
        <p>VALOR: <b>{{ c_queryset.Valor }}</b>.</p>
        {% endif %}
    </div>
{% endif %}
</form>