{% extends 'orcamentos/baseorcamentos.html' %}
{% load permission_tags %}

{% block mainorcamento %}
<div class="orcamento-conteudo">
    <header>
        <h3>ORÇAMENTOS</h3>
    </header>
    <div class="orcamento-nav">
        <div class="orcamento-filtro">
            <!--<div class="filtro">-->
                <!--<form>-->
                    <!--<input type="text" class="filtrotexto" placeholder="FILTRAR FANTASIA..." name="filtrofantasia"/>-->
                    <!--<button type="submit" class="btn btn-info glyphicon glyphicon-search"></button>-->
                <!--</form>-->
            <!--</div>-->
            <!--<div class="filtro filtroadicional">-->
                <!--<form>-->
                    <!--<input type="text" class="filtrotexto" placeholder="FILTRAR NOME..." name="filtronome"/>-->
                    <!--<button type="submit" class="btn btn-info glyphicon glyphicon-search"></button>-->
                <!--</form>-->
            <!--</div>-->
        </div>
        <div class="orcamento-add-registro">
            <button type="button" class="btn btn-primary glyphicon glyphicon-plus"
                    onclick="openMyModal(event); return false;" data-title="CADASTRO ORÇAMENTO"
                    data-action="{% url 'criaorcamento' %}" data-button-save-label="SALVAR">
            </button>
        </div>
    </div>
    <div class="orcamento-base-card">
        {% for itens in orcamento %}
        <div class="orcamento-container-card">
            <div class="orcamento-card">
                <header class="orcamento-titulo"><p>{{ itens.Solicitante|slice:"0:20" }}</p></header>
                <diV class="orcamento-data"><p>DATA:</p><p>{{ itens.DataOrcamento }}</p></diV>
                <diV class="orcamento-data"><p>CONTATO:</p><p>{{ itens.Contato|slice:"0:20" }}</p></diV>
                <diV class="orcamento-data"><p>E-MAIL:</p><p>{{ itens.Email|slice:"0:25" }}</p></diV>
                <diV class="orcamento-data"><p>TELEFONE:</p><p>{{ itens.Telefone }}</p></diV>
                <diV class="orcamento-data"><p>DESTINO:</p><p>{{ itens.Destino|slice:"0:25" }}</p></diV>
                <diV class="orcamento-data"><p>VEÚCULO:</p><p>{{ itens.idCategoriaVeiculo }}</p></diV>
                <diV class="orcamento-data"><p>VALOR VEICULO:</p><p>R${{ itens.ValorTabela }}</p></diV>
                <diV class="orcamento-data"><p>KMs:</p><p>{{ itens.KM }}</p></diV>
                <diV class="orcamento-data"><p>PERIMETRO:</p><p>{{ itens.Perimetro }}%</p></diV>
                <diV class="orcamento-data"><p>PEDÁGIO:</p><p>R$ {{ itens.Pedagio }}</p></diV>
                <diV class="orcamento-data"><p>DESPESAS:</p><p>R$ {{ itens.Despesas }}</p></diV>
                <diV class="orcamento-data"><p>Nº AJUDANTES:</p><p>{{ itens.QuantidadeAjudantes }}</p></diV>
                <diV class="orcamento-data"><p>AJUDANTES:</p><p>R$ {{ itens.Ajudantes }}</p></diV>
                <diV class="orcamento-data"><p>TAXA DE EXPEDIÇÃO:</p><p>R$ {{ itens.TaxaExpedicao }}</p></diV>
                <diV class="orcamento-data"><p>FORMA PAGAMENTO:</p><p>{{ itens.idFormaPagamento }}</p></diV>
                <diV class="orcamento-data"><p><b>VALOR TOTAL</b>:</p><p><b>R$ {{ itens.Valor }}</b></p></diV>
                <footer class="orcamento-footer-card">
                    <div>
                        <button class="btn btn-success btn-xs glyphicon glyphicon-edit"
                                onclick="openMyModal(event); return false;" data-title="EDITA CADASTRO ORÇAMENTO"
                                data-action="{% url 'editaorcamento' itens.idOrcamento %}" data-modo="edita_orcamento"
                                data-button-save-label="EDITAR">
                        </button>
                        {% if itens.StatusOrcamento == 'CRIADO' %}
                        <button class="btn btn-primary btn-xs glyphicon glyphicon-send"
                                onclick="window.location.href = '{% url 'emailorcamento' itens.idOrcamento %}'">
                        </button>
                        {% else %}
                        <button class="btn btn-primary btn-xs glyphicon glyphicon-envelope"
                                onclick="window.location.href = '{% url 'emailorcamento' itens.idOrcamento %}'">
                        </button>
                        {% endif %}
                        <button class="btn btn-danger btn-xs glyphicon glyphicon-trash"
                                onclick="openMyModal(event); return false;" data-title="EXCLUI CADASTRO ORÇAMENTO"
                                data-action="{% url 'excluiorcamento' itens.idOrcamento %}"
                                data-button-save-label="EXCLUIR">
                        </button>
                    </div>
                </footer>
            </div>
        </div>
        {% endfor %}
    </div>
    <footer>
    </footer>
</div>
<!-- DIV MODAL -->
<div class="modal fade bd-example-modal-lg" id="MyModal" tabindex="-1">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title"><b>CADASTRO ORCAMENTO</b></h4>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">FECHAR</button>
                <button type="submit" class="btn btn-success btn-save">CRIAR</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}
